<div>
	<div  style="max-height: 810px; height:680px; overflow: auto">
		<table class="table table-bordered table-striped p-0 m-0 table-condensed">
			<thead>
				<tr>
					<th>Review Term</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
				<tr>
					<th>
					<button (click)="InsertNewRow()"
							class="btn btn-sm btn-outline-primary">Add New Term</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let term of ReviewTermsServ.TermsList">
					<td>
						<input class="form-control d-table-cell" type="text" [(ngModel)]="term.reviewerTerm" />
					</td>
					<td>
						<button [disabled]="!HasWriteRights" class="btn btn-sm btn-outline-info"
								(click)="Update(term)">
							Update
						</button>
					</td>
					<td>
						<button class="btn btn-sm btn-outline-danger"
							(click)="Remove(term)">
							Delete
						</button> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>