<div>
	<div style="max-height: 810px; height:680px; overflow: auto" >
		<div>
			<button (click)="OpenRowPanel()"
					class="btn btn-sm btn-outline-primary">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Open new term panel
			</button>
		</div>
		<div *ngIf="ShowNewTermPanel" style="min-width: 250px;">
			<div class="row">
				<div class="m-2">

				</div>
				<input class="form-control col-md-6 " type="text" [(ngModel)]="newReviewTerm" />
				<input class="form-control col-md-1" type="checkbox" [(ngModel)]="newReviewIncluded" />
				<button [disabled]="newReviewTerm == ''"
						class="btn btn-small btn-outline-primary" (click)="InsertNewRow()">
					Add Term
				</button>
			</div>
		</div>
		<table class=" table-condensed border p-0 m-0" >
			<thead>
				<tr>
					<th>Review Term</th>
					<th>Inc/Exc</th>
					<th>Save</th>
					<th>Delete</th>
				</tr>

			</thead>
			<tbody id="box">
				<tr  *ngFor="let term of ReviewTermsServ.TermsList">
					<td>
						<input class="form-control" type="text"
							   [(ngModel)]="term.reviewerTerm" />
					</td>
					<td>
						<input class="form-control" type="checkbox" [(ngModel)]="term.included" />
					</td>
					<td>
						<button [disabled]="!HasWriteRights"
								class="btn btn-sm btn-outline-info"
								(click)="Update(term)">
							<i class="fa fa-save" aria-hidden="true"></i>
						</button>
					</td>
					<td>
						<button [disabled]="!HasWriteRights"
								class="btn btn-sm btn-outline-danger"
								(click)="Remove(term)">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>