<div>
	<div style="max-height: 810px; height:680px; overflow: auto" >
		<table class=" table-condensed border p-0 m-0" >
            <thead>
                <tr *ngIf="!ShowNewTermPanel">
                    <td colspan="4">
                        <button (click)="OpenRowPanel()"
                                class="btn btn-sm btn-outline-primary">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            New term
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Review Term</th>
                    <td class="small font-weight-bold">Relevant?</td>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngIf="ShowNewTermPanel" class="border border-info rounded">
                    <td><input class="form-control" type="text" [(ngModel)]="newReviewTerm" /></td>
                    <td><input class="form-control" type="checkbox" [(ngModel)]="newReviewIncluded" /></td>
                    <td>
                        <button [disabled]="newReviewTerm == ''" title="Save new term"
                                class="btn btn-sm btn-outline-primary" (click)="InsertNewRow()">
                            <i class="fa fa-save"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger" title="Cancel" (click)="OpenRowPanel()">
                            <i class="fa fa-close"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngFor="let term of TermsList">
                    <td>
                        <input class="form-control" type="text"
                               [(ngModel)]="term.reviewerTerm" />
                    </td>
                    <td>
                        <input class="form-control" type="checkbox" [(ngModel)]="term.included" />
                    </td>
                    <td>
                        <button [disabled]="!HasWriteRights" title="Update"
                                class="btn btn-sm btn-outline-info"
                                (click)="Update(term)">
                            <i class="fa fa-save" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button [disabled]="!HasWriteRights" title="Delete"
                                class="btn btn-sm btn-outline-danger"
                                (click)="Remove(term)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
		</table>
	</div>
</div>