<!--<div class="container-fluid" >
    <div class="row">
        <div class="row col-md-6">
            <h4 class="col-md-4">Coding Only Interface</h4>
            <div class="col-md-8">
                You are {{ReviewerIdentityServ.reviewerIdentity.name}}.
                Review ID = {{ReviewerIdentityServ.reviewerIdentity.reviewId}}
            </div>
        </div>
        <div class="row col-md-6">
            Your account expires on: {{ReviewerIdentityServ.reviewerIdentity.accountExpiration}}
            Current review expires on {{ReviewerIdentityServ.reviewerIdentity.reviewExpiration}}
        </div>
    </div>
    <div class="row d-flex border border-info">
        <div class="col-md-6 ">
            <ItemListComp></ItemListComp>
        </div>
        <div class="row col-md-6 border border-info ">
            <div class="row border border-dark col-md-12">UserData</div>
            <div class=" border border-dark">
                <WorkAllocationContactListComp (criteriaChange)='LoadWorkAllocList($event)'></WorkAllocationContactListComp>
            </div>
            <div >
                <readonlyreviews (OpeningNewReview)="Reload()"></readonlyreviews>
            </div>
        </div>
    </div>
</div>-->

<div class="container-fluid" >
    <h4 class="text-dark font-weight-bold">Coding Only Interface</h4>
    <!--<div class="row col-md-12">
         </div>-->
    <div class="row">
        <div class="col-sm-6 py-2">
            <div class="card card-body  bg-secondary">
                <ItemListComp   style="max-height: 820px;"></ItemListComp>
            </div>
        </div>
        <div class="col-sm-6 py-2">
            <div class="card text-white bg-danger">
                <div class="card-body">
                    <h3 class="card-title">Work Allocation List</h3>
                    <p class="card-text">
                        <WorkAllocationContactListComp (criteriaChange)='LoadWorkAllocList($event)'></WorkAllocationContactListComp>
                    </p>
                </div>
            </div>
            <div class="card card-body bg-info" >
                <readonlyreviews style="max-height: 520px;" (OpeningNewReview)="Reload()"></readonlyreviews>
            </div>
        </div>
        <div class="col-sm-12 py-2">
            <div class="card card-body bg-warning">
                <p class="text-left"> You are {{ReviewerIdentityServ.reviewerIdentity.name}}.
                | Review Name: {{ReviewInfoService.ReviewInfo.reviewName}}
                | Your account expires on: {{ReviewerIdentityServ.reviewerIdentity.accountExpiration}}
                | Current review expires on {{ReviewerIdentityServ.reviewerIdentity.reviewExpiration}}</p>
            </div>
        </div>
    </div>
</div>
