<div class="container-fluid pr-0 pl-0"  resizable>
    <HeaderComponent [Context]="HelpAndFeebackContext" PageTitle=""></HeaderComponent>
    <div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 0%;"></div>
    <div class="mt-1 ">
        <kendo-splitter orientation="horizontal">
            <kendo-splitter-pane [collapsible]="false" class="">
            <kendo-splitter-pane>
                <kendo-tabstrip #tabstrip [keepTabContent]="true"
                                (tabSelect)="onTabSelect($event)">
                    <kendo-tabstrip-tab [selected]="true" [title]="'Review home'">
                        <ng-template kendoTabContent>
                            <div class="containsAtoolbar">
                                <kendo-toolbar class="customk-toolbar">
                                    <kendo-toolbar-splitbutton [text]="'Import Items'" (buttonClick)="GoToSources()"
                                                               [data]="ImportOrNewDDData"
                                                               style="border-color: #04070b;background-color: #e1e4eb;"></kendo-toolbar-splitbutton>
                                    <kendo-toolbar-button [text]="'Coding Tools'" (click)="EditCodeSets()"></kendo-toolbar-button>
                                    <kendo-toolbar-button *ngIf="ReviewerIdentityServ.HasWriteRights" [text]="'Import Coding Tools'" (click)="ImportCodesetClick()"></kendo-toolbar-button>
                                </kendo-toolbar>
                            </div>
                            <div class="row m-1">
                                <div class="col-md-7 p-0 pr-1">
                                    <reviewStatisticsComp (tabSelectEvent)="GoToItemList()"></reviewStatisticsComp>
                                </div>
                                <div class="col-md-5 p-0">
                                    <div class="card card-body ReviewsBg  mt-2 ">
                                        <div class="row p-0">
                                            <button type="button" class="btn btn-outline-primary m-1" (click)="toggleReviewPanel()"
                                                    [attr.aria-expanded]="!isReviewPanelCollapsed">
                                                My Reviews <span [innerHTML]="ReviewPanelTogglingSymbol"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-primary m-1" (click)="toggleWorkAllocationsPanel()"
                                                    [attr.aria-expanded]="!isWorkAllocationsPanelCollapsed">
                                                My Work <span [innerHTML]="WorkAllocationsPanelTogglingSymbol"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-primary m-1" (click)="toggleSourcesPanel()"
                                                    [attr.aria-expanded]="!isSourcesPanelCollapsed">
                                                Sources <span [innerHTML]="SourcesPanelTogglingSymbol"></span>
                                            </button>
                                        </div>
                                        <readonlyreviews id="readOnlyReviews" [ngbCollapse]="!isReviewPanelCollapsed" class="mt-1"
                                                         style="max-height: 520px;"></readonlyreviews>
                                        <WorkAllocationContactListComp #WorkAllocationContactList 
																	   (criteriaChange)='LoadContactWorkAllocList($event)'
                                                                       (AllocationClicked)="GoToItemList()"
                                                                       [ngbCollapse]="!isWorkAllocationsPanelCollapsed"
                                                                       resizable r-directions="['right']" r-flex="true"
                                                                       class="mt-2"
                                                                       Context="FullUI"
                                                                       style="max-height: 420px;"></WorkAllocationContactListComp>
                                        <ROSourcesList *ngIf="isSourcesPanelVisible" class="mt-1"
                                                       style="max-height: 420px;"></ROSourcesList>
                                    </div>
                                    <div class="card card-body mt-2 bg-light ">
                                        {{MyAccountMessage}}
                                        <br />
                                        {{MyReviewMessage}}
                                        <NewReviewComp></NewReviewComp>
                                        <div>
                                            <siteadminEntry *ngIf="IsSiteAdmin" class="row p-1 mx-0"></siteadminEntry>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'References'">
                        <ng-template kendoTabContent>
                            <div class="containsAtoolbar">
                                <kendo-toolbar class="small" style="background-color: #f5f6fa;">
                                    <kendo-toolbar-splitbutton [text]="'Import Items'" (buttonClick)="GoToSources()"
                                                               [data]="ImportOrNewDDData"
                                                               style="border-color: #04070b;background-color: #e1e4eb;"></kendo-toolbar-splitbutton>
                                    <!--<kendo-toolbar-button [text]="'Build Model'" (click)="BuildModel()"></kendo-toolbar-button>-->
                                    <kendo-toolbar-splitbutton [text]="'With this Code'" (buttonClick)="ListItemsWithThisCode(true)"
                                                               [disabled]="!CanGetItemsWithThisCode"
                                                               [data]="ItemsWithThisCodeDDData"
                                                               style="border-color: #04070b;background-color: #e1e4eb;"></kendo-toolbar-splitbutton>
                                    <kendo-toolbar-splitbutton [text]="'Assign Code'" (buttonClick)="BulkAssignRemoveCodes(true)"
                                                               [disabled]="!CanBulkAssignRemoveCodes"
                                                               [data]="AddRemoveItemsDDData"
                                                               style="border-color: #04070b;background-color: #e1e4eb;"></kendo-toolbar-splitbutton>
                                    <kendo-toolbar-button [text]="'Cluster'" [title]="'Automatically generate codes'"
                                                          (click)="ShowHideClusterCommand()"></kendo-toolbar-button>
                                    <kendo-toolbar-splitbutton [text]="'Coding Report'" (buttonClick)="ShowHideQuickReport()"
                                                               [disabled]="!HasSelectedItems"
                                                               [data]="QuickReportsDDData"
                                                               style="border-color: #04070b;background-color: #e1e4eb;"></kendo-toolbar-splitbutton>

                                    <kendo-toolbar-button [text]="'Export to RIS'"
                                                          [disabled]="!HasSelectedItems" (click)="ToRis()"></kendo-toolbar-button>
                                </kendo-toolbar>
                            </div>
                            <quickcodingreport *ngIf="ShowQuickReport" (PleaseCloseMe)="CloseQuickReport()"></quickcodingreport>
                            <quickcodingreport *ngIf="ShowQuickQuestionReport" Aim="QuickQuestionReport" (PleaseCloseMe)="CloseQuickReport()"></quickcodingreport>
                            <RunLingo3G *ngIf="ShowClusterCommand" (PleaseCloseMe)="CloseClusterCommand()" (PleaseOpenTheCodes)="OpenCodesPanel()"></RunLingo3G>
                            <div class="card card-body bg-light p-1" style="min-height:300px;">
                                <ItemListComp #ItemList  Context="FullUI" [ShowItemsTable]="ShowItemsTable" resizable r-directions="['right']" r-flex="true"></ItemListComp>
                            </div>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'Frequencies'">
                        <ng-template kendoTabContent>
                            <frequencies #FreqComp></frequencies>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'Crosstabs'">
                        <ng-template kendoTabContent>
                            <crosstab #CrosstabsComp></crosstab>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'Search & Classify'">
                        <ng-template kendoTabContent>
                            <SearchComp #SearchComp class="bg-light" (PleaseOpenTheCodes)="OpenCodesPanel()"></SearchComp>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'Collaborate'">
                        <ng-template kendoTabContent>
                            <WorkAllocationComp #WorkAllocationCollaborateList 
												(AllocationClicked)="GoToItemList()"
                                                (criteriaChange)='LoadWorkAllocList($event)' 
												class="bg-light"></WorkAllocationComp>
                        </ng-template>
                    </kendo-tabstrip-tab>
                </kendo-tabstrip>
                    <button *ngIf="!CodesAreCollapsed" class="btn btn-success p-1 vertical-text" (click)="ShowHideCodes()">
                        <div class="small">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            Codes
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button *ngIf="CodesAreCollapsed" class="btn btn-success p-1 vertical-text" (click)="ShowHideCodes()">
                        <div class="small">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            Codes
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </div>
                    </button>
                </kendo-splitter-pane>
            </kendo-splitter-pane>
            <kendo-splitter-pane [collapsed]="CodesAreCollapsed" size="30%" class="bg-light">
                <button *ngIf="this.reviewSetsService.ReviewSets && this.reviewSetsService.ReviewSets.length > 0 && ReviewerIdentityServ.HasWriteRights"
                        class="btn btn-outline-success btn-sm ml-1 p-0 pr-1 pl-1 " (click)="EditCodeSets()">Edit Coding Tool(s)</button>
                <codesetTreeMain [MaxHeight]="700"></codesetTreeMain>
                <div *ngIf="(!this.reviewSetsService.ReviewSets || this.reviewSetsService.ReviewSets.length == 0) && !IsServiceBusy && ReviewerIdentityServ.HasWriteRights" >
                    <button class="btn btn-success btn-sm p-0 mb-1" (click)="ImportCodesetClick()"><span class="ml-1 mr-1">Click Here</span></button> to Import Coding Tools from templates.
                </div>
            </kendo-splitter-pane>
        </kendo-splitter>
        <statusbar class="col-sm-12 card-body pb-0" resizable></statusbar>
    </div>
</div>

