<div class="h-100 mh-100" style="max-height: 200px;">
    <div class="row">
        <h4>Coding Only Interface</h4>
        You are {{ReviewerIdentityServ.reviewerIdentity.name}}.
        Review ID = {{ReviewerIdentityServ.reviewerIdentity.reviewId}}
    </div>

    <div class="row d-flex border border-info" >
        <div class="col-md-6 h-100">
            <ItemListComp></ItemListComp>
        </div>
        <div class="col-md-6 border border-info" style="max-height: 800px;">
            <div class="row border border-dark">UserData</div>
            <div class="row border border-dark">
                <WorkAllocationContactListComp (criteriaChange)='LoadWorkAllocList($event)'></WorkAllocationContactListComp>
            </div>
            <div class="row border border-dark h-100">
                <readonlyreviews (OpeningNewReview)="Reload()"></readonlyreviews>
            </div>
        </div>
    </div>
</div>