<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>
<div class="container col-12">
	<div class="col-12 row card-footer">
		<div class="col-12 col-md-3 font-weight-light text-sm-left text-black-50 align-content-center">
			<h3><b>ERWeb Objects </b></h3>
			<i>(When items are available below press push to send them to Zotero)</i>
		</div>
		<div class="col-12 col-md-2">
			<button 
					class="col-md-5 btn btn-warning m-1 p-1"
					(click)="PushERWebItems()">
				&nbsp;&nbsp;
				<i class="fa fa-long-arrow-right">PUSH &nbsp;</i>
			</button>
		</div>
		<div class="col-12 col-md-3 font-weight-light text-sm-left align-content-lg-start text-black-50 row p-2 ml-2">
			<h3><b>&nbsp;Zotero Objects</b></h3>
			<i>(When items are available below press pull to insert them into ERWeb)</i>

		</div>
		<div class="col-12 col-md-2">
			<button *ngIf="!IsServiceBusy" class="col-md-6 btn btn-success mx-1 mt-auto "
							[disabled]="!HasRunMetaInfo"
							(click)="PullConfirmZoteroItems()">
				<i class="fa fa-long-arrow-left" aria-hidden="true">PULL &nbsp;</i>
			</button>
		</div>
	</div>

	<div class="col-12 row card-footer container-fluid">
		<div ngbDropdown class="col-12 col-md-4 row">
			<div class="col-md-6 font-weight-light text-sm-left text-white align-content-center">
			</div>
			<div class="col-12 col-md-12 row">
				<div class="col-md-8">
					<ol>
						<li>The left table will show items in ERWeb only</li>
						<li>The middle table will show items that are in both Zotero and ERWeb</li>
						<li>The right table will show items in Zotero only</li>
					</ol>
				</div>
				<button class="btn btn-primary m-2 p-1 col-md-5"
								(click)="getErWebObjects()">
					&nbsp;Current Status&nbsp;
				</button>

				<div class="col-md-1">
				</div>

			</div>
			<button ngbDropdownAnchor class="btn btn-primary dropdown-toggle col-md-5 p-1 m-1" id="dropdownTree"
							(click)="isCollapsed = !isCollapsed; dropdownBasic1 = false"
							[attr.aria-expanded]="!isCollapsed" aria-controls="collapseCodeTree" style="min-width: 50px;">
				&nbsp;{{CurrentDropdownSelectedCode?.name}}
			</button>
			<div ngbDropdownMenu class="dropdown-menu" id="collapseCodeTree" [ngbCollapse]="!isCollapsed">
				<codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" #WithOrWithoutCodeSelector
												 (selectedNodeInTree)="CloseCodeDropDown()" [rootsOnly]="!CanOnlySelectRoots()"></codesetSelector>
			</div>
		</div>
		<div *ngIf="itemsWithThisCode.length > 0" class="font-weight-bold text-sm-left text-black-50 align-content-center col-md-12">
			Items With this Code has {{ObjectsInERWebNotInZotero.length}} items
		</div>
		<div class="col-12 col-md-4">
		</div>
		<div class="col-12 col-md-4">
		</div>
	</div>
	<div class="col-12 row">
		<div class="col-md-6 flex-column pull-left">
			<div class="col-md-12 alert-primary card" *ngIf="ZoteroERWebReviewItemList.length > 0">
				<h6><b>Items with this code</b></h6>
				<div class="row p-0 m-0 w-100" style="max-height:600px; overflow:auto;">
					<table class="table table-sm table-striped p-2 m-2">
						<thead>
							<tr>
								<th>ItemId</th>
								<th>Short Title</th>
								<th>attach?</th>
								<th>state</th>
							</tr>
						</thead>
						<tbody *ngFor="let object of ZoteroERWebReviewItemList; index as i">
							<tr>
								<td>
									{{ object.itemID}}
								</td>
								<td>
									{{ object.shortTitle}}
								</td>
								<td>
									{{ object.HasPdf}}
								</td>
								<td>
									<ng-container [ngSwitch]="object.syncState">
										{{object.syncState}}
										<div *ngSwitchCase="0" class="">N/A</div>
										<div *ngSwitchCase="1" class="k-icon k-i-success k-color-success"></div>
										<div *ngSwitchCase="2" class="k-icon k-i-arrow-right k-color-info"></div>
										<div *ngSwitchCase="3" class="k-icon k-i-arrow-left k-color-info"></div>
									</ng-container>
								</td>

							</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6 flex-column pull-right">
			<div *ngIf="_zoteroService.hasPermissions">
				<div class="col-12 alert-primary  card" *ngIf="ObjectZoteroList.length > 0">
					<h6><b>Items in the Zotero group </b></h6>
					<div class="row p-0 m-0 w-100" style="max-height:600px; overflow:auto;">
						<table class="table table-sm table-striped p-2 m-2">
							<thead>
								<tr>
									<th>Object Key</th>
									<!--<th>Version</th>-->
									<th>Short Title</th>
									<th>ItemType</th>
									<!--<th>Library name</th>
									<th>Library type</th>-->
									<th>Sync State</th>
									<th>Attachment</th>
								</tr>
							</thead>
							<tbody *ngFor="let object of ObjectZoteroList">
								<!--<tr *ngIf="ObjectTypeValidity(object)">-->
								<tr>
									<td width="6">
										{{object.key}}
									</td>
									<!--<td width="6">
										{{object.version}}
									</td>-->
									<td>
										{{object.shortTitle}}
									</td>
									<td>
										{{object.itemType}}
									</td>
									<!--<td width="6">
										{{object.library.name}}
									</td>
									<td width="6">
										{{object.library.type}}
									</td>-->
									<td width="6">

										<span class="bg-danger" *ngIf="getSyncStateOfObject(object.key) === 0">
											Object does not exist locally&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</span>
										<span class="bg-warning" *ngIf="getSyncStateOfObject(object.key) === 1">
											Local object behind Zotero&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</span>
										<span class="bg-primary" *ngIf="getSyncStateOfObject(object.key) === 2">
											Up to date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</span>
										<span class="bg-success" *ngIf="getSyncStateOfObject(object.key) === 3">
											Local Object ahead of Zotero&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</span>
									</td>
									<td>
										<span class="bg-warning" *ngIf="object.attachments.length === 0">
											No Attachment
										</span>
										<span class="bg-success" *ngIf="object.attachments.length > 0">
											Attachment
										</span>
									</td>
								</tr>
						</table>
					</div>
				</div>
			</div>
			<ng-template #elseBlock>Content to render when value is null.</ng-template>
		</div>
	</div>
</div>
