<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>
<div class="container col-12">
  <div class="col-12 px-1 my-1 row">
    <div class="rounded border border-info alert-info mx-auto  px-2">
      This page allows to exchance data with a <strong>Zotero group library</strong>.<br />
      To <strong>avoid accidental deletions</strong>, data is not deleted on either side: pulling and pushing will create or update records, depending on their status.
    </div>
  </div>
  <div class="col-12 row mx-0 px-1">
    <div class="col-12 col-md-6 px-0 ">
      <div>To push items, select a code from the dropdown.</div>
      <div class="row mx-0">
        <div class=" border border-info p-1 rounded bg-light row ml-0 mr-auto mb-1">
          <div class="my-auto">Select a code:</div>
          <div ngbDropdown>
            <button ngbDropdownAnchor class="btn btn-primary dropdown-toggle p-1 m-1" id="dropdownTree"
                    (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseCodeTree" style="min-width: 100px;">
              {{CurrentDropdownSelectedCode?.name}}
            </button>
            <div ngbDropdownMenu class="dropdown-menu" id="collapseCodeTree" [ngbCollapse]="!isCollapsed">
              <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" #WithOrWithoutCodeSelector
                               (selectedNodeInTree)="CloseCodeDropDown()" [rootsOnly]="false"></codesetSelector>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-12 col-md-6 px-0 ">
      <div>
        To pull items, click on the pull button. <br />
        New items will be imported as part of a "new source".
      </div>
      <div class="row mx-0 mb-1">
        <div *ngIf="NameOfCurrentLibrary != '[Unknown]'" class="border col-auto rounded border-info bg-light my-auto px-1">
          Library: <strong>{{NameOfCurrentLibrary}}</strong>
        </div>
      </div>

    </div>

  </div>
  <!--<div class="col-auto border border-info p-1 rounded bg-light ml-1">
    <div>Step 2: click "Get Status"</div>
    <button class="btn btn-primary m-2 p-1"
            (click)="getErWebObjects()">
      Get Status
    </button>
  </div>-->

  <div *ngIf="BusyMessage != ''" class="col-12 row mx-0 px-1">
    <div class="rounded bg-light p-1 mx-auto mb-1">
      <div class="alert alert-warning border-warning border mb-0" [innerHTML]="BusyMessage"></div>
    </div>
  </div>
  <div class="col-12 row mx-0 px-1">
    <div class="col-12 col-md-6 pl-0 pr-1 mx-0 row">
      <div class="col-md-12 alert-primary card">
        <div class="row mt-1">
          <div class="my-auto mx-2 h5 font-weight-bold">Items with this code</div>
          <button *ngIf="!IsServiceBusy" class="btn btn-success my-auto ml-auto mr-1 px-1 py-0" (click)="PushERWebItems()"
                  [disabled]="ItemsToPushCount < 1">
            <span class="my-auto mx-1">Push</span>
            <span *ngIf="HasSelections1" class="my-auto mx-1">(sel: {{SelectedList1.length}})</span>
            <span class="k-icon k-i-arrow-right k-color-info k-icon-md"></span>
          </button>
        </div>
        <div *ngIf="ZoteroERWebReviewItemList.length > 0" class="small">
          There are {{ZoteroERWebReviewItemList.length}} "Items With this Code". Of these, <strong>{{ItemsToPushCount}} item(s)</strong> can be pushed (including those that only have a pusheable uploaded document).
        </div>

        <div *ngIf="PagedList1.length > 0" class="mt-1 mx-auto">
          <div class="row mx-0 p-1 rounded bg-light">
            <div class="small px-1 mx-1 mt-1 d-inline-block">
              Paging:
              <select class="select" [(ngModel)]="PageSize1">
                <option *ngFor="let n of PagingDD1" [ngValue]="n" [selected]="n == PageSize1">{{n}}</option>
              </select>
            </div>
            <div *ngIf="TotPages1 > 1">
              <button class="btn py-0 px-1 border-primary border" (click)="FirstPage1()" [disabled]="!CanPageDown1">
                <span class="mb-1  k-icon k-i-seek-w" aria-label="Go to the previous page"></span>
              </button>
              <button class="btn py-0 px-1 border-primary border" (click)="PageDown1()" [disabled]="!CanPageDown1">
                <span class="mb-1 k-icon k-i-arrow-w" aria-label="Go to the previous page"></span>
              </button>
              Page: {{CurrentPage1}} of {{TotPages1}}
              <button class="btn py-0 px-1 border-primary border" (click)="PageUp1()" [disabled]="!CanPageUp1">
                <span class="mb-1 k-icon k-i-arrow-e" aria-label="Go to the next page"></span>
              </button>
              <button class="btn py-0 px-1 border-primary border" (click)="LastPage1()" [disabled]="!CanPageUp1">
                <span class="mb-1  k-icon k-i-seek-e" aria-label="Go to the next page"></span>
              </button>
            </div>
            <button class="btn-sm btn btn-outline-primary py-0" (click)="ShowMore1 = !ShowMore1">{{ShowMore1txt}}</button>
          </div>
        </div>
        <div *ngIf="ShowMore1" class="rounded bg-light my-1 px-0 mx-1">
          <div class="row mx-1 px-1">
            <div class="d-inline-block">
              Filter:
              <select class="select" [(ngModel)]="ActiveFilter1">
                <option *ngFor="let n of Filter1DD" [ngValue]="n" [selected]="n == ActiveFilter1">{{n}}</option>
              </select>
            </div>
            <div *ngIf="ActiveFilter1 != 'No filter'" class="ml-1 px-1">Filtered list has {{FilteredList1.length}} of {{ZoteroERWebReviewItemList.length}} items</div>
          </div>
          <div class="d-inline-block ml-1 border-top">
            Show Zotero ID: <input type="checkbox" [(ngModel)]="showItemKeys" />
          </div>
        </div>

        <div *ngIf="ZoteroERWebReviewItemList.length > 0" class="row p-0 m-0 w-100" style="max-height:600px; overflow:auto;">
          <table class="table table-sm table-striped p-2 m-2">
            <thead>
              <tr>
                <th (click)="SortBy1('itemID')" style="cursor:pointer">
                  ItemId<span [innerHTML]="SortingSymbol1('itemID')"></span>
                </th>
                <th (click)="SortBy1('shortTitle')" style="cursor:pointer">
                  Short Title<span [innerHTML]="SortingSymbol1('shortTitle')"></span>
                </th>
                <th *ngIf="showItemKeys" (click)="SortBy1('itemKey')" style="cursor:pointer">
                  Zotero ID<span [innerHTML]="SortingSymbol1('itemKey')"></span>
                </th>
                <th (click)="SortBy1('pdfList')" style="cursor:pointer">
                  Docs?<span [innerHTML]="SortingSymbol1('pdfList')"></span>
                </th>
                <th (click)="SortBy1('syncState')" style="cursor:pointer">
                  state<span [innerHTML]="SortingSymbol1('syncState')"></span>
                </th>
                <th style="width: 25px; max-width: 25px; border-left: solid 1px white;" class="">
                  <ng-container [ngSwitch]="HasSelectionsDetail1">
                    <input *ngSwitchCase="0" type="checkbox" (click)="SelectAll1()" title="No items selected"/>
                    <input *ngSwitchCase="1" type="checkbox" (click)="UnSelectAll1()" checked class="linear-fade" title="Some pushable items are selected"/>
                    <input *ngSwitchDefault type="checkbox" checked (click)="UnSelectAll1()" title="All pushable items are selected"/>
                  </ng-container>
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let object of PagedList1; index as i">
              <tr [ngClass]="{'text-black-50': object.syncState != 2}" class="">
                <td>
                  {{ object.itemID}}
                </td>
                <td>
                  {{ object.shortTitle}}
                </td>
                <td *ngIf="showItemKeys">{{object.itemKey}}</td>
                <td>
                  <div class="bg-warning" *ngIf="!object.HasPdf">
                    No Docs
                  </div>
                  <div class="bg-success" *ngIf="object.HasPdf">
                    Doc(s)
                    <ng-container [ngSwitch]="object.HasPdfToPush">
                      <div *ngSwitchCase="true" class="k-icon k-i-arrow-right k-color-info" title="Contains documents that can be pushed"></div>
                      <div *ngSwitchCase="false" class="k-icon k-i-success k-color-info mb-1" title="Documents are Up to Date"></div>
                      <div *ngSwitchDefault>Uh??</div>
                    </ng-container>
                  </div>
                </td>
                <td>
                  <ng-container [ngSwitch]="object.syncState">
                    <div *ngSwitchCase="0" class="">N/A</div>
                    <div *ngSwitchCase="1" class="k-icon k-i-success k-color-success mb-1" title="Reference is Up to Date"></div>
                    <div *ngSwitchCase="2" class="k-icon k-i-arrow-right k-color-info" title="Reference can be pushed"></div>
                    <div *ngSwitchCase="3" class="k-icon k-i-arrow-left k-color-info" title="Reference can be pulled"></div>
                  </ng-container>
                </td>
                <td class="border-left">
                  <div *ngIf="object.syncState == 2 || object.HasPdfToPush">
                    <input type="checkbox" [(ngModel)]="object.ClientSelected" />
                  </div>
                </td>
              </tr>
          </table>
        </div>
        <div *ngIf="ZoteroERWebReviewItemList.length == 0" class="m-2 rounded alert-dark border  border-info small p-1">
          No items to show, please change the selected code above and try again, this will list "items with this code" along with their Sync status.
        </div>
      </div>

    </div>
    <div class="col-12 col-md-6 pl-0 pr-1 mx-0 row">
      <div class="col-12 alert-primary card">
        <div class="row mt-1">
          <button *ngIf="!IsServiceBusy" class="btn btn-success my-auto ml-1 mr-auto px-1 py-0" [disabled]="ItemsToPullCount <1 || HasWriteRights == false"
                  (click)="PullConfirmZoteroItems()">
            <span class="k-icon k-i-arrow-left k-color-info k-icon-md"></span>
            <span class="my-auto mx-1">Pull</span>
            <span *ngIf="HasSelections2" class="my-auto mx-1">(sel: {{SelectedList2.length}})</span>
          </button>
          <div class="my-auto mx-2 h5 font-weight-bold">
            Items in Zotero
          </div>

          <button class="btn btn-sm btn-outline-success mx-1 my-auto pb-1 px-1 " (click)="RefreshBothTables()" title="Refresh list of Zotero references">
            <span class="k-icon k-i-refresh-sm" style="font-weight:bold"></span>
          </button>
        </div>


        <div *ngIf="ZoteroItems.length > 0" class=" small">
          There are {{ZoteroItems.length}} references in the Zotero Group Library. Of these, <strong>{{ItemsToPullCount}} item(s)</strong> can be pulled (including those that only have a pulleable uploaded document).
        </div>
        <div *ngIf="ZoteroItems.length == 0" class="m-2 rounded alert-dark border  border-info small p-1">
          No items to show, there may be no references in the Zotero Library.
        </div>

        <div *ngIf="PagedList2.length > 0" class="mt-1 mx-auto">
          <div class="row mx-0 p-1 rounded bg-light">
            <div class="small px-1 mx-1 mt-1 d-inline-block">
              Paging:
              <select class="select" [(ngModel)]="PageSize2">
                <option *ngFor="let n of PagingDD2" [ngValue]="n" [selected]="n == PageSize2">{{n}}</option>
              </select>
            </div>
            <div *ngIf="TotPages2 > 1">
              <button class="btn py-0 px-1 border-primary border" (click)="FirstPage2()" [disabled]="!CanPageDown2">
                <span class="mb-1  k-icon k-i-seek-w" aria-label="Go to the previous page"></span>
              </button>
              <button class="btn py-0 px-1 border-primary border" (click)="PageDown2()" [disabled]="!CanPageDown2">
                <span class="mb-1 k-icon k-i-arrow-w" aria-label="Go to the previous page"></span>
              </button>
              Page: {{CurrentPage2}} of {{TotPages2}}
              <button class="btn py-0 px-1 border-primary border" (click)="PageUp2()" [disabled]="!CanPageUp2">
                <span class="mb-1 k-icon k-i-arrow-e" aria-label="Go to the next page"></span>
              </button>
              <button class="btn py-0 px-1 border-primary border" (click)="LastPage2()" [disabled]="!CanPageUp2">
                <span class="mb-1  k-icon k-i-seek-e" aria-label="Go to the next page"></span>
              </button>
            </div>
            <button class="btn-sm btn btn-outline-primary py-0" (click)="ShowMore2 = !ShowMore2">{{ShowMore2txt}}</button>
          </div>
        </div>
        <div *ngIf="ShowMore2" class="rounded bg-light my-1 px-0 mx-1">
          <div class="row mx-1 px-1">
            <div class="d-inline-block">
              Filter:
              <select class="select" [(ngModel)]="ActiveFilter2">
                <option *ngFor="let n of Filter2DD" [ngValue]="n" [selected]="n == ActiveFilter2">{{n}}</option>
              </select>
            </div>
            <div *ngIf="ActiveFilter2 != 'No filter'" class="ml-1 px-1">Filtered list has {{FilteredList2.length}} of {{ZoteroItems.length}} items</div>
          </div>
        </div>

        <div *ngIf="ZoteroItems.length > 0" class="row p-0 m-0 w-100" style="max-height:600px; overflow:auto;">
          <table class="table table-sm table-striped p-2 m-2">
            <thead>
              <tr>
                <th style="width:25px;max-width:25px; border-right:solid 1px white;" class="">
                  <ng-container [ngSwitch]="HasSelectionsDetail2">
                    <input *ngSwitchCase="0" type="checkbox" (click)="SelectAll2()" title="No items selected" />
                    <input *ngSwitchCase="1" type="checkbox" (click)="UnSelectAll2()" checked class="linear-fade" title="Some pullable items are selected" />
                    <input *ngSwitchDefault type="checkbox" checked (click)="UnSelectAll2()" title="All pullable items are selected" />
                  </ng-container>
                </th>
                <th (click)="SortBy2('syncState')" style="cursor:pointer">
                  State<span [innerHTML]="SortingSymbol2('syncState')"></span>
                </th>
                <th (click)="SortBy2('attachments')" style="cursor:pointer">
                  Docs?<span [innerHTML]="SortingSymbol2('attachments')"></span>
                </th>
                <th (click)="SortBy2('key')" style="cursor:pointer">
                  Zotero ID<span [innerHTML]="SortingSymbol2('key')"></span>
                </th>
                <th (click)="SortBy2('shortTitle')" style="cursor:pointer">
                  Short Title<span [innerHTML]="SortingSymbol2('shortTitle')"></span>
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let object of PagedList2">
              <tr [ngClass]="{'text-black-50': object.syncState != 3}">
                <td class="border-right">
                  <div *ngIf="object.syncState == 3 || object.HasAttachmentsToPull">
                    <input type="checkbox" [(ngModel)]="object.ClientSelected" />
                  </div>
                </td>
                <td>
                  <ng-container [ngSwitch]="object.syncState">
                    <div *ngSwitchCase="0" class="">N/A</div>
                    <div *ngSwitchCase="1" class="k-icon k-i-success k-color-success mb-1" title="Reference is Up to Date"></div>
                    <div *ngSwitchCase="2" class="k-icon k-i-arrow-right k-color-info" title="Reference can be pushed"></div>
                    <div *ngSwitchCase="3" class="k-icon k-i-arrow-left k-color-info" title="Reference can be pulled"></div>
                  </ng-container>
                </td>
                <td>
                  <div class="bg-warning" *ngIf="!object.HasAttachments">
                    No Docs
                  </div>
                  <div class="bg-success" *ngIf="object.HasAttachments">
                    <ng-container [ngSwitch]="object.HasAttachmentsToPull">
                      <div *ngSwitchCase="true" class="k-icon k-i-arrow-left k-color-info ml-1" title="Contains documents that can be pulled"></div>
                      <div *ngSwitchCase="false" class="k-icon k-i-success k-color-info mb-1 ml-1" title="Documents are Up to Date"></div>
                      <div *ngSwitchDefault>?</div>
                    </ng-container>
                    Doc(s)
                  </div>
                </td>
                <td>
                  {{object.key}}
                </td>
                <td>
                  {{object.shortTitle}}
                </td>
                <!--<td>
    {{object.itemType}}
  </td>-->
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
