<!-- Editable table -->
<div class="card">
	<h5 class="card-header text-center font-weight-bold py-4">Study timepoints</h5>
	<div class="card-body">
		<div id="table" class="table-editable">
			<div class="table-add float-left mb-3 mr-2 col-md-6 row">
				Enter a frequency and unit of a timepoint:
				<div class="row col-md-12">
					<input #titleModel="ngModel"
						   required
						   pattern="^(?!\s*$).+" class="form-control"
						   type="text" [(ngModel)]="timepointFreq" />

				</div>
				<div *ngIf="titleModel.invalid && (titleModel.dirty || titleModel.touched)"
					 class="alert small alert-danger p-1">

					<div *ngIf="titleModel.errors.required">
						time point unit is required.
					</div>
				</div>
				</div>
				<div class="form-group">
					<label>Time Unit </label>
					<select #unit class="form-control col-md-6" (change)="TimePointChanged($event.target.value)">
						<option [ngValue]="unit" *ngFor="let unit of Units">
							{{unit.name}}
						</option>
					</select>
				</div>
				<div>
					<button *ngIf="!titleModel.invalid" [disabled]="!HasWriteRights"
							class="btn btn-success mt-1 p-1 m-1" (click)="add(timepointFreq)">
						Add New Time Point
					</button>
					<button *ngIf="!titleModel.invalid"
							class="btn btn-danger mt-1 p-1 m-1"
							(click)="ClearAndCancelAdd()">
						Cancel
					</button>
				</div>
			<!---->
			<table class="table table-bordered table-responsive-md table-striped text-sm-center">
				<tr>
					<th class="text-sm-center">Timepoint</th>
					<th class="text-sm-center" style="max-width: 10px;">Edit</th>
					<th class="text-sm-center" style="max-width: 10px;">Remove</th>
				</tr>
				<tr *ngFor="let timepoint of timePointsList; let key = index">
					<td style="width: 150px;">{{timepoint.timepointValue}}  {{timepoint.timepointMetric}}</td>
					<td style="width: 15px; white-space:nowrap;">
						<span class="table-remove">
							<button (click)="editTitle=true; setTimePoint(timepoint, key)"
									[disabled]="!HasWriteRights"
									type="button" rounded="true" size="sm" class="btn btn-info">
								Edit
							</button>
						</span>
					</td>
					<td style="width: 15px; white-space:nowrap;">
						<span class="table-remove">
							<button type="button" rounded="true" size="sm" class="btn btn-danger"
									[disabled]="!HasWriteRights" (click)="removeWarning(key)">
								Remove
							</button>
						</span>
					</td>
				</tr>
			</table>
			<div *ngIf="editTitle">
				<input class="form-control" type="text" name="titleChange" id="titleChange" [(ngModel)]="currentTitle" />
				<button class="btn btn-primary mt-1 p-1 m-1" (click)="updateList(currentTimePoint)">Confirm Change</button>
				<button class="btn btn-danger mt-1 p-1 m-1" (click)="ClearAndCancelEdit()">Cancel Change</button>
			</div>
		</div>
	</div>
</div>