<!-- Editable table -->
<div class="card">
	<h5 class="card-header text-center font-weight-bold py-4">Timepoints</h5>
	<div class="col-md-12">
		<div class="col-md-10"></div>
		<button class="btn btn-outline-primary btn-sm px-1 py-0 m-0 mb-1 float-right"
				(click)="ShowTimePoints = !ShowTimePoints">
			{{ShowTimePointsBtnText}}
		</button>
	</div>
	<div class="card-body">
		<div id="table" class="table-editable" *ngIf="ShowTimePoints">
			<div class="table-add float-left mb-3 mr-2 col-md-12 row">
				<div class="col-md-6">
					Enter a frequency and unit of a timepoint
					<div class="row col-md-12">
						<input #timepointModel="ngModel"
							   required
							   pattern="^[0-9]+$" class="form-control"
							   type="text" [(ngModel)]="timepointFreq" />
					</div>
					<div *ngIf="timepointModel.invalid && (timepointModel.dirty || timepointModel.touched)"
						 class="alert small alert-danger p-1">

						<div *ngIf="timepointModel.errors.required">
							time point unit is required.
						</div>
						<div *ngIf="timepointModel.errors.pattern">
							Frequency of a time point has to be a number
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
				<div class="form-group col-md-4">
					<label class="m-0 p-0">Time Unit</label>
					<select #unitM="ngModel" [(ngModel)]="unitModel"
							class="form-control col-md-12"
							(change)="TimePointChanged(unitModel)">
						<option value="" selected="selected">Choose time point metric</option>
						<option [ngValue]="unit" *ngFor="let unit of Units">
							{{unit.name}}
						</option>
					</select>
				</div>
				<div class="col-md-12 row">
					<button *ngIf=" !timepointModel.invalid && unitModel !='' && edit == false"
							[disabled]="!HasWriteRights"
							class="btn btn-success mt-1 p-1 m-1" (click)="add(timepointFreq)">
						Add Time Point
					</button>
					<button *ngIf=" !timepointModel.invalid &&
							edit == true
							&& unitModel !=''"
							[disabled]="!HasWriteRights"
							class="btn btn-warning mt-1 p-1 m-1" (click)="UpdateList()">
						Update Time Point
					</button>
					<button *ngIf="!timepointModel.invalid && unitModel !=''"
							class="btn btn-danger mt-1 p-1 m-1"
							(click)="ClearAndCancelAdd()">
						Cancel
					</button>
				</div>
			</div>
			<!---->
			<table class="table table-bordered table-responsive-md table-striped text-sm-center">
				<tr>
					<th class="text-sm-center">Timepoint</th>
					<th class="text-sm-center" style="max-width: 10px;">Edit</th>
					<th class="text-sm-center" style="max-width: 10px;">Remove</th>
				</tr>
				<tr *ngFor="let timepoint of timePointsList; let key = index">
					<td style="width: 150px;">{{timepoint.timepointValue}}  {{timepoint.timepointMetric}}</td>
					<td style="width: 15px; white-space:nowrap;">
						<span class="table-remove">
							<button (click)="edit=true; setTimePoint(timepoint, key)"
									[disabled]="!HasWriteRights"
									type="button" rounded="true" size="sm" class="btn btn-info">
								Edit
							</button>
						</span>
					</td>
					<td style="width: 15px; white-space:nowrap;">
						<span class="table-remove">
							<button type="button" rounded="true" size="sm" class="btn btn-danger"
									[disabled]="!HasWriteRights" (click)="removeWarning(key)">
								Remove
							</button>
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>