<p *ngIf="!codesetStatsServ.ReviewStats"><em>Loading...</em></p>
<div class="card bg-light mt-2 col-md-12">
	<div class="font-weight-bold text-xl-left m-1 rounded p-1 pl-2 alert alert-info">Review Items</div>
	<div class="row m-0 p-0" *ngIf="codesetStatsServ.ReviewStats">
		<div class="col-3 mb-2">
			<b>
				Included:
				<span class="btn btn-link border-0 pt-0 pb-1 pl-1 font-weight-bold" (click)="IncludedItemsList()">{{ codesetStatsServ.ReviewStats.itemsIncluded}}</span>
			</b>
		</div>
		<div class="col-3">
			<b>
				Excluded: <span class="btn btn-link border-0 pt-0 pb-1 pl-1 font-weight-bold" (click)="ExcludedItemsList()">{{ codesetStatsServ.ReviewStats.itemsExcluded}}</span>
			</b>
		</div>
		<div class="col-3">Deleted: {{ codesetStatsServ.ReviewStats.itemsDeleted}}</div>
		<div class="col-3">Duplicates: {{ codesetStatsServ.ReviewStats.duplicateItems}}</div>
	</div>
</div>
<div class="card bg-light mt-2 mb-1 col-md-12" style="max-height:500px; overflow-y: auto;">
    <div class="font-weight-bold text-xl-left mt-1 mr-1 mb-1 ml-0 rounded p-1 alert alert-info row col-12">
        <div class="m-1">Coding Progress</div>
        <button *ngIf="!IsServiceBusy" class="btn btn-sm btn-outline-success m-1 p-0 px-2" (click)="RefreshStats()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
        <div class="ml-2 mt-1 pl-1">
            <i *ngIf="IsServiceBusy" class="fa fa-spinner fa-spin text-success " style=""></i>
        </div>
    </div>
    <!--<div class="font-weight-bold text-xl-left mt-1 mr-1 mb-1 ml-0 rounded p-1 alert alert-info row col-12">
        <div class="m-1">Coding Progress</div>
        <div>
            <i class="fa fa-spinner fa-spin text-success " style=""></i>
        </div>
    </div>-->
    <div *ngIf="ScreeningSets.length > 0" class="text-success">Screening Tools:</div>
    <div *ngFor="let item of ScreeningSets">
        <div class="rounded mt-1 mr-1 mb-1 ml-0 p-1 alert alert-info col-12 d-flex container justify-content-around">
            <div class="bg-white page-link col-6 mr-1 py-1 pl-2 pr-1 justify-content-start rounded" (click)="ShowDetailsForSetId(item.setId)">
                <img *ngIf="item.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                <img *ngIf="!item.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                <span class="font-weight-bold text-success">
                    {{ item.setName }}
                </span>
            </div>
            <div class="bg-white col-2 mr-1 rounded btn-block" title="Items with completed coding for '{{item.setName}}'">
                <img class="thumbnail" src="../assets/CodingComplete.png"/>
                &nbsp;{{ item.countCompleted}}
            </div>
            <div class="bg-white col-2 mr-1 rounded" title="Items with incomplete coding for '{{item.setName}}'">
                <img class="thumbnail" src="../assets/CodingNotComplete.png"/>
                &nbsp; {{ item.countIncomplete}}
            </div>
        </div>
        <div *ngIf="DetailsForSetId == item.setId" class="container pr-0 mb-1">
            <div *ngFor="let singleContact of item.ReviewerStats" class="rounded mt-0 mr-1 mb-0 ml-0 px-1 py-0 col-12 d-flex container justify-content-around">
                <div class="bg-white page-link text-dark col-6 mr-1 rounded" (click)="ShowDetailsForSetId(item.setId)">
                    {{singleContact.ContactName}}
                </div>
                <div class="bg-white col-2 mr-1 rounded" style="border: 1px solid #dee2e6;" title="Items with completed coding by '{{singleContact.ContactName}}'">
                    <img class="thumbnail btn" o src="../assets/CodingComplete.png" (click)="CompleteCoding(item.setId,singleContact.ContactId,  'false')" />
                    <span class="btn btn-link border-0 pt-0 pb-0 pl-1 font-weight-bold" (click)="CompletedBySetAndContact(singleContact, item.setName)">{{singleContact.CompletedCount}}</span>
                </div>
                <div class="bg-white col-2 mr-1 rounded" style="border: 1px solid #dee2e6;" title="Items with incomplete coding by '{{singleContact.ContactName}}'">
                    <img class="thumbnail btn" src="../assets/CodingNotComplete.png" (click)="CompleteCoding(item.setId, singleContact.ContactId,  'true')" />
                    <span class="btn btn-link border-0 pt-0 pb-0 pl-1 font-weight-bold" (click)="IncompleteBySetAndContact(singleContact, item.setName)">{{singleContact.IncompleteCount}}</span>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="StandardSets.length > 0" class="">Standard Tools:</div>
    <div *ngFor="let item of StandardSets">
        <div class="rounded mt-1 mr-1 mb-1 ml-0 p-1 alert alert-info col-12 d-flex container justify-content-around">
            <div class="bg-white page-link col-6 mr-1 py-1 pl-2 pr-1 rounded" (click)="ShowDetailsForSetId(item.setId)">
                <img *ngIf="item.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                <img *ngIf="!item.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                <span class="font-weight-bold text-dark">
                    {{ item.setName }}
                </span>
            </div>
            <div class="bg-white col-2 mr-1 rounded" title="Items with completed coding for '{{item.setName}}'">
                <img class="thumbnail" src="../assets/CodingComplete.png"  />
                &nbsp;{{ item.countCompleted}}
            </div>
            <div class="bg-white col-2 mr-1 rounded" title="Items with incomplete coding for '{{item.setName}}'">
                <img class="thumbnail" src="../assets/CodingNotComplete.png"  />
                &nbsp; {{ item.countIncomplete}}
            </div>
        </div>
        <div *ngIf="DetailsForSetId == item.setId" class="container pr-0 mb-1">
            <div *ngFor="let singleContact of item.ReviewerStats" class="rounded mt-0 mr-1 mb-0 ml-0 px-1 py-0 col-12 d-flex container justify-content-around">
                <div class="bg-white page-link text-dark col-6 mr-1 rounded" (click)="ShowDetailsForSetId(item.setId)">
                    {{singleContact.ContactName}}
                </div>
                <div class="bg-white col-2 mr-1 rounded" style="border: 1px solid #dee2e6;" title="Items with completed coding by '{{singleContact.ContactName}}'">
                    <img class="thumbnail" src="../assets/CodingComplete.png" (click)="CompleteCoding(item.setId,singleContact.ContactId,  'false')" />
                    <span class="btn btn-link border-0 pt-0 pb-0 pl-1 font-weight-bold" (click)="CompletedBySetAndContact(singleContact, item.setName)">{{singleContact.CompletedCount}}</span>
                </div>
                <div class="bg-white col-2 mr-1 rounded" style="border: 1px solid #dee2e6;" title="Items with incomplete coding by '{{singleContact.ContactName}}'">
                    <img class="thumbnail" src="../assets/CodingNotComplete.png" (click)="CompleteCoding(item.setId,singleContact.ContactId,  'true')" />
                    <span class="btn btn-link border-0 pt-0 pb-0 pl-1 font-weight-bold" (click)="IncompleteBySetAndContact(singleContact, item.setName)">{{singleContact.IncompleteCount}}</span>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="AdminSets.length > 0" class="text-primary">Administration Tools:</div>
    <div *ngFor="let item of AdminSets">
        <div class="rounded mt-1 mr-1 mb-1 ml-0 p-1 alert alert-info col-12 d-flex container justify-content-around">
            <div class="bg-white page-link col-6 mr-1 py-1 pl-2 pr-1 rounded" (click)="ShowDetailsForSetId(item.setId)">
                <img *ngIf="item.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                <img *ngIf="!item.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                <span class="font-weight-bold text-primary">
                    {{ item.setName }}
                </span>
            </div>
            <div class="bg-white col-2 mr-1 rounded" title="Items with completed coding for '{{item.setName}}'">
                <img class="thumbnail" src="../assets/CodingComplete.png" />
                &nbsp;{{ item.countCompleted}}
            </div>
            <div class="bg-white col-2 mr-1 rounded" title="Items with incomplete coding for '{{item.setName}}'">
                <img class="thumbnail" src="../assets/CodingNotComplete.png" />
                &nbsp; {{ item.countIncomplete}}
            </div>
        </div>
        <div *ngIf="DetailsForSetId == item.setId" class="container pr-0 mb-1">
            <div *ngFor="let singleContact of item.ReviewerStats" class="rounded mt-0 mr-1 mb-0 ml-0 px-1 py-0 col-12 d-flex container justify-content-around">
                <div class="bg-white page-link text-dark col-6 mr-1 rounded" (click)="ShowDetailsForSetId(item.setId)">
                    {{singleContact.ContactName}}
                </div>
                <div class="bg-white col-2 mr-1 rounded" style="border: 1px solid #dee2e6;" title="Items with completed coding by '{{singleContact.ContactName}}'">
                    <img class="thumbnail" src="../assets/CodingComplete.png" (click)="CompleteCoding(item.setId,singleContact.ContactId,  'false')" />
                    <span class="btn btn-link border-0 pt-0 pb-0 pl-1 font-weight-bold" (click)="CompletedBySetAndContact(singleContact, item.setName)">{{singleContact.CompletedCount}}</span>
                </div>
                <div class="bg-white col-2 mr-1 rounded" style="border: 1px solid #dee2e6;" title="Items with incomplete coding by '{{singleContact.ContactName}}'">
                    <img class="thumbnail" src="../assets/CodingNotComplete.png" (click)="CompleteCoding(item.setId,singleContact.ContactId,  'true')" />
                    <span class="btn btn-link border-0 pt-0 pb-0 pl-1 font-weight-bold" (click)="IncompleteBySetAndContact(singleContact, item.setName)">{{singleContact.IncompleteCount}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

