<!--<p *ngIf="!_codesetService.Codesets"><em>Loading...</em></p>


<div class="table-responsive" style="max-height: 500px;">
    <table class="table" *ngIf="_codesetService.Codesets">
        <thead>
            <tr>
                <th>Codeset</th>
                <th>Total Items</th>
                <th>Number Included</th>
                <th>Number Excluded</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let codeset of _codesetService.Codesets">
                <td>{{ codeset.title }}</td>
                <td>{{ codeset.total }}</td>
                <td>{{ codeset.Included }}</td>
                <td>{{ codeset.Excluded }}</td>
            </tr>
        </tbody>
    </table>
</div>-->
