<p *ngIf="!HasReviewStats"><em>Loading...</em></p>
<div *ngIf="IsReportsServiceBusy" class="k-loading-image" style="position: fixed; top: 0%;"></div>
<div class="card bg-light mt-0 col-md-12">
  <div class="font-weight-bold text-xl-left m-1 rounded p-1 pl-2 alert alert-info containsAtoolbar">
    Review Items
    <kendo-splitbutton class="ml-1" (buttonClick)="GoToSources()"
                       [data]="ImportOrNewDDData"
                       style="border-color: #04070b;background-color: #e1e4eb;">
      Import Items
    </kendo-splitbutton>
    <button kendoButton class="ml-1" title="Manage Duplicates"
            (click)="GoToDuplicates()">
      Duplicates
    </button>
    <button kendoButton class="ml-1 " title="go to Meta-Analysis Page"
            (click)="GoToMetaAnalysis()">Meta-A<span class="ml-1"><img src="assets/Images/MA.png" width="18" height="18" style="margin-top: -2px; margin-bottom:-2px;"></span>
    </button>
    <button kendoButton class="ml-1" *ngIf="ReviewIsMagEnabled"
            (click)="OpenMAG()">
      Update review
    </button>
    <button kendoButton class="ml-1" *ngIf="ReviewIsZoteroEnabled"
            (click)="OpenZotero()">
      Zotero
    </button>
  </div>
  <!--<div class="containsAtoolbar">

  </div>-->
  <div class="row m-0 p-0" *ngIf="HasReviewStats">
    <div class="col-3 mb-2">
      <b>
        Included:
        <span class="btn btn-link border-0 pt-0 pb-1 pl-1 font-weight-bold" (click)="IncludedItemsList()">{{ codesetStatsServ.ReviewStats.itemsIncluded}}</span>
      </b>
    </div>
    <div class="col-3">
      <b>
        Excluded: <span class="btn btn-link border-0 pt-0 pb-1 pl-1 font-weight-bold" (click)="ExcludedItemsList()">{{ codesetStatsServ.ReviewStats.itemsExcluded}}</span>
      </b>
    </div>
    <div class="col-3">Deleted: {{ codesetStatsServ.ReviewStats.itemsDeleted}}</div>
    <div class="col-3">
      Duplicates: <span class="btn btn-link border-0 pt-0 pb-1 pl-1 font-weight-bold" (click)="GoToDuplicates()">{{ codesetStatsServ.ReviewStats.duplicateItems}}</span>
    </div>
  </div>
</div>
<div class="card bg-light mt-2 mb-1 col-12">
  <div class="font-weight-bold containsAtoolbar text-left my-2 mx-0 py-2 px-0 rounded alert alert-info row col-12">

    <div class="m-0 px-0 col-12 row">
      <div class="col-auto ml-1 mr-0 px-0">
        Coding Progress
        <kendo-splitbutton class="ml-1 mb-auto" (buttonClick)="EditCodeSets()"
                           [data]="CodingToolsDDData"
                           style="border-color: #04070b;background-color: #e1e4eb;">
          Coding Tools
        </kendo-splitbutton>
        <button *ngIf="!IsServiceBusy" class="btn btn-sm btn-outline-success ml-1 mr-0 my-0 pt-1 pb-0 px-2" (click)="RefreshStats()">
          <!--<i class="fa fa-refresh" aria-hidden="true"></i>-->
          <fa-icon [icon]="faArrowsRotate" class="my-0"></fa-icon>
        </button>
        <div *ngIf="IsServiceBusy" class="mx-2 mt-1 pl-1 " style="display:inline-block;position:relative; top:0.10em;">
          <fa-icon [icon]="faSpinner" [spin]="true" class="text-success mt-1 "></fa-icon>
        </div>

      </div>
      <div *ngIf="WillNotAutoRefreshCodingStats && !HasSkippedFullStats" class="col mx-1 my-auto px-0 " style="min-width:180px;">
        <div class="font-weight-normal small mr-auto my-auto d-inline text-wrap ">
          <div class="alert-danger rounded text-wrap my-auto py-1 px-2">
            This is a large review; click refresh (<fa-icon [icon]="faArrowsRotate" class="my-0"></fa-icon>) to update the coding stats.
          </div>
        </div>
        <div class="col-auto mx-0 px-0 "></div>
      </div>
      <div *ngIf="HasAdminRights && HasWriteRights" class="col-auto ml-auto mr-1 p-0">
        <div class="p-0 "
             style="border: 1px solid white; border-radius: 3px; float: right; cursor: pointer; position: relative; top: 15%; margin-left: 2px;"
             title="Advanced: bulk-delete" (click)="OpenBulkDeletePanel()">
          <span class="k-icon k-i-trash alert-danger" size="xsmall" style="position: relative; top:-2px;"></span>
        </div>
        <div class="p-0 "
             style="border:1px solid white; border-radius: 3px; float:right; cursor:pointer; position:relative; top:15%; margin-left:2px;"
             title="Advanced: bulk-complete" (click)="changePanel('true')">
          <img class="mb-1" src="assets/CodingComplete.png" width="14" />
        </div>
        <div class="p-0 "
             style="border:1px solid white; border-radius: 3px; float:right; cursor:pointer; position:relative; top:15%;"
             title="Advanced: bulk-uncomplete" (click)="changePanel('false')">
          <img class="mb-1" src="assets/CodingNotComplete.png" width="14" />
        </div>
      </div>
    </div>
    <div *ngIf="HasSkippedFullStats" class="row p-0 m-0 col-12">
      <div class="p-1 bg-white rounded mx-auto my-auto">
        <div class="font-weight-normal alert-danger rounded px-2 text-wrap">
          This is a large review; please click refresh (<fa-icon [icon]="faArrowsRotate" class="my-0" style="color:green"></fa-icon>) to view the coding stats.
        </div>
      </div>
    </div>
  </div>

  <div id="BulkCompleteSection" *ngIf="PanelName == 'BulkCompleteSection'" class="col-12 p-0 mb-0">
    <div class="card container-fluid mt-1 bg-light border border-danger rounded m-1 p-1">
      <div class="col-12">
        <h3>Advanced Bulk {{complete}}</h3>
        This dialog allows you to <b>{{complete}}</b> the coding of specified items in bulk. Please be aware that this operation can significantly disrupt the intended workflow so please use with care.
        If in doubt, please contact us at EPPISupport@ucl.ac.uk.
        <div>
          <div class="form-group row mt-2 border-bottom">
            <label class="col-12 col-sm-5" for="codeSET">{{complete}} the coding in this code set: </label>
            <select class="col-12 col-sm-7 form-control mb-1" (change)="DropdownChange()"
                    name="codeSET" [(ngModel)]="selectedCodeSet">
              <option *ngFor="let item of CodeSets" name="codeSET"
                      [ngValue]="item" [selected]="item == selectedCodeSet">
                {{item.name}}
              </option>
            </select>
          </div>
          <div *ngIf="complete == 'Complete'" class="form-group row border-bottom">
            <label class="col-12 col-sm-5" for="rev1">Reviewer: </label>
            <select class="col-12 col-sm-7 form-control mb-1" name="rev1" (change)="DropdownChange()"
                    [(ngModel)]="selectedReviewer1">
              <option *ngFor="let member of Contacts"
                      [ngValue]="member" [selected]="member == selectedReviewer1">
                {{member.contactName}}
              </option>
            </select>
          </div>
          <div class="bg-warning border border-dark m-1 p-1 rounded col-12" *ngIf="showPreviewMessage" innerHTML="{{PreviewMsg}}"></div>
          <div class="form-group">
            <div ngbDropdown class="col--md-12 m-0 p-0" style="min-width:150px;">
              <button ngbDropdownAnchor class="btn btn-outline-primary dropdown-toggle col-12 p-2 m-2" id="dropdownTree3"
                      (click)="isCollapsedCodeStudies = !isCollapsedCodeStudies;"
                      [attr.aria-expanded]="!isCollapsedCodeStudies"
                      aria-controls="collapseCodeTreeCodeStudies" style="min-width: 50px;">
                {{DropdownSelectedCodeStudies?.name}}
              </button>
              <div ngbDropdownMenu class="dropdown-menu"
                   id="collapseCodeTreeCodeStudies"
                   [ngbCollapse]="!isCollapsedCodeStudies">
                <codesetSelector [IsMultiSelect]="false"
                                 [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" #CodeStudiesTreeOne
                                 (selectedNodeInTree)="CloseCodeDropDownStudies()"
                                 [rootsOnly]="false">
                </codesetSelector>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button [disabled]="!CanPreview()"
                  class="pt-1 m-1 btn btn-outline-success"
                  style="min-width:150px;"
                  (click)="Preview(
							'true' )">
            Preview
          </button>
        </div>

        <div class="alert-success border border-dark m-1 p-1 rounded" *ngIf="showMessage" innerHTML="{{msg}}">
        </div>
        <div class="col-12 row">
          <button [disabled]="!CanCompleteOrNot()"
                  class="pt-1 m-1 rounded btn btn-outline-danger"
                  style="min-width:110px;" (click)="CompleteOrUncomplete()">
            {{complete}}!
          </button>
          <button class="pt-1 m-1 btn btn-outline-info"
                  style="min-width:150px;" (click)="changePanel('')">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="PanelName == 'BulkDeleteSection'" class="col-12 p-0 mb-0">
    <div class="col-12 px-0">
      <div class="card container-fluid mt-1 bg-light border border-danger rounded m-1 p-1">
        <div>
          <h3>Advanced Bulk Delete</h3>
          This dialog allows you to <strong>delete</strong> coding in bulk, on a per-person, per coding tool basis.<br />
          Please be aware that this operation <strong><span class="k-icon k-i-warning"></span> destroys data <span class="k-icon k-i-warning"></span></strong> in bulk so please use with care. <br />
          If in doubt, please contact us at EPPISupport@ucl.ac.uk.
        </div>


        <div>
          <div class="form-group row mt-2 mx-0 border-bottom">
            <label class="col-12 col-sm-5" for="codeSET">Delete the coding in this code set: </label>
            <select class="col-12 col-sm-7 form-control mb-1" (change)="DropdownDeleteChangeCodingToolSelection()"
                    name="codeSET" [(ngModel)]="selectedCodeSet">
              <option *ngFor="let item of AllCodeSets" name="codeSET"
                      [ngValue]="item" [selected]="item == selectedCodeSet">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row mx-0 border-bottom">
          <label class="col-12 col-sm-5" for="rev1">Delete coding from this Reviewer: </label>
          <select class="col-12 col-sm-7 form-control mb-1" name="rev1" (change)="DropdownDeleteChangeReviewerSelection()"
                  [(ngModel)]="selectedReviewer4BulkDelete">
            <option ngValue="" ></option>
            <option *ngFor="let member of CodersForCodingToolToDelete"
                    [ngValue]="member" [selected]="member == selectedReviewer4BulkDelete">
              {{member.contactName}}
            </option>
          </select>
        </div>
        <div class="bg-warning border border-dark m-1 p-1 rounded col-12" *ngIf="!CanPreviewBulkDelete && PreviewMsg != ''" innerHTML="{{PreviewMsg}}"></div>

        <div class="row mx-1 px-0">
          <button [disabled]="!CanPreviewBulkDelete"
                  class="pt-1 col-auto mx-2 btn btn-outline-success py-2 my-auto"
                  style="min-width:150px;"
                  (click)="PreviewDelete()">
            Preview
          </button>
          <div class="col-12 col-lg alert-info p-1 mt-1 ml-0 mr-1 rounded border border-info small">
            It's <strong>necessary</strong> to collect "preview" data because the headline per-person figures do not provide the full picture.<br />
            Specifically, items with incomplete coding, which however have coding completed by someone else, do not participate in the "coding progress" per-person "incomplete" counts.
            Moreover, the "coding progress" figures <strong>ignore duplicates and deleted items</strong>, but, if present, their coding will be deleted too!<br />
            Thus, before you can "bulk delete" coding, we will collect and show <em>the complete figures</em> below.<br />
            Please note that for practical reasons <strong>we do not count how many "Full Text Selections" and "Outcome Measures"</strong> will be deleted along with all the other coding data!
          </div>
        </div>

        <div class="row border alert-warning border-danger my-1 mx-0 p-1 rounded" *ngIf="showMessage">
          <strong class="col-12">Deletion preview:</strong>
          <div class="mx-auto rounded py-1 px-2 col-12 alert-dark mt-1 row px-0 mx-0 mb-1 w-100">
            Figures collected for the coding done by&nbsp;<strong>"{{selectedReviewer4BulkDelete?.contactName}}"</strong>&nbsp;against the&nbsp;<strong>"{{selectedCodeSet.set_name}}"</strong>&nbsp;coding tool.
          </div>
          <div class="border-bottom mt-1 row px-0 mx-0 w-100">
            <div class="col-12 col-sm-4 row px-0 mx-0 my-auto">
              Total count:
              <div class="px-1 ml-1 bg-white border border-dark font-weight-bold">{{BulkDeleteCodingCommand.totalItemsAffected}}</div>
            </div>
            <div class="col-12 col-sm-8 px-0">
              <div class="mx-1 px-1 mb-1 rounded text-danger alert-light">Shows the total items on which the coding will be deleted, this includes all items involved. All figures here include duplicates and deleted items.</div>
            </div>
          </div>
          <div class="border-bottom mt-1 row px-0 mx-0 w-100">
            <div class="col-12 col-sm-4 row px-0 mx-0 my-auto">
              Completed coding:
              <div class="px-1 ml-1 bg-white border border-dark font-weight-bold">{{BulkDeleteCodingCommand.completedCodingToBeDeleted}}</div>
            </div>
            <div class="col-12 col-sm-8 px-0">
              <div class="mx-1 px-1 mb-1 rounded text-danger alert-light">Shows number of items on which the coding will be deleted, where the coding that will be deleted is complete (and thus: public/visible to all).</div>
            </div>
          </div>
          <div class="border-bottom mt-1 row px-0 mx-0 w-100">
            <div class="col-12 col-sm-4 row px-0 mx-0 my-auto">
              Incomplete coding:
              <div class="px-1 ml-1 bg-white border border-dark font-weight-bold">{{BulkDeleteCodingCommand.incompletedCodingToBeDeleted}}</div>
            </div>
            <div class="col-12 col-sm-8 px-0">
              <div class="mx-1 px-1 mb-1 rounded text-danger alert-light">
                Shows the total items on which the coding will be deleted, where the coding that will be deleted is incomplete and no complete version exists.<br />
                This corresponds to the per-tool, per-person "incomplete" figures shown below as "Coding Progress".
              </div>
            </div>
          </div>
          <div class="border-bottom mt-1 row px-0 mx-0 w-100">
            <div class="col-12 col-sm-4 row px-0 mx-0 my-auto">
              Additional incomplete coding:
              <div class="px-1 ml-1 bg-white border border-dark font-weight-bold">{{BulkDeleteCodingCommand.hiddenIncompletedCodingToBeDeleted}}</div>
            </div>
            <div class="col-12 col-sm-8 px-0">
              <div class="mx-1 px-1 mb-1 rounded text-danger alert-light">
                Shows the total items on which the coding will be deleted, where the coding that will be deleted is incomplete, but for which a complete (and thus public) version <strong>does exist</strong>.<br />
                This figure <strong>does not appear</strong> in the per-tool, per-person "incomplete" figures shown below as "Coding Progress".
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 row">
          <button class="pt-1 m-1 btn btn-outline-info"
                  style="min-width:150px;" (click)="CloseBulkDeletePanel()">
            Cancel
          </button>
          <button *ngIf="showMessage && BulkDeleteCodingCommand.totalItemsAffected"
                  [disabled]="!HasAdminRights || !HasWriteRights"
                  class="pt-1 m-1 rounded btn btn-outline-danger"
                  style="min-width:110px;" (click)="ConfirmDeleteCoding()">
            Delete!
          </button>
        </div>
      </div>
    </div>
  </div>

    
    <div class="col-12 p-0 mb-1" style="max-height:55vh;overflow:auto;">
      <div *ngIf="ScreeningSets.length > 0" class="text-success">Screening Tools:</div>
      <div *ngFor="let item of ScreeningSets">
        <div class="rounded mt-1 mr-1 mb-1 ml-0 p-1 alert alert-info col-12 d-flex container justify-content-around">
          <div class="bg-white page-link col-6 mr-1 py-1 pl-2 pr-1 justify-content-start rounded" (click)="ShowDetailsForSetId(item.setId)">
            <img *ngIf="item.codingIsFinal" title="Normal Mode: single data entry for all users" src="assets/person.png" class="mr-1" />
            <img *ngIf="!item.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="assets/team.png" class="mr-1" />
            <span class="font-weight-bold text-success">
              {{ item.setName }}
            </span>
          </div>
          <div class="bg-white row col-2 mr-1 px-1 align-content-center justify-content-center rounded" title="Items with completed coding for '{{item.setName}}'">
            <img class="my-auto mr-1" src="assets/CodingComplete.png" />
            <span class="mt-1">{{item.numItemsCompleted}}</span>
          </div>
          <div class="bg-white row col-2 mr-1 px-1 align-content-center justify-content-center rounded" title="Items with incomplete coding for '{{item.setName}}'">
            <img class="my-auto mr-1" src="assets/CodingNotComplete.png" />
            <span class="mt-1">{{item.numItemsIncomplete}}</span>
          </div>
        </div>

        <div *ngIf="DetailsForSetId == item.setId" class="container pr-0 mb-1">
          <ng-container *ngTemplateOutlet="CodesetDetails; context:{item : item}"></ng-container>
        </div>
      </div>

      <div *ngIf="StandardSets.length > 0" class="">Standard Tools:</div>
      <div *ngFor="let item of StandardSets">
        <div class="rounded mt-1 mr-1 mb-1 ml-0 p-1 alert alert-info col-12 d-flex container justify-content-around">
          <div class="bg-white page-link col-6 mr-1 py-1 pl-2 pr-1 rounded" (click)="ShowDetailsForSetId(item.setId)">
            <img *ngIf="item.codingIsFinal" title="Normal Mode: single data entry for all users" src="assets/person.png" class="mr-1" />
            <img *ngIf="!item.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="assets/team.png" class="mr-1" />
            <span class="font-weight-bold text-dark">
              {{ item.setName }}
            </span>
          </div>
          <div class="bg-white row col-2 mr-1 px-1 align-content-center justify-content-center rounded" title="Items with completed coding for '{{item.setName}}'">
            <img class="my-auto mr-1" src="assets/CodingComplete.png" />
            <span class="mt-1">{{item.numItemsCompleted}}</span>
          </div>
          <div class="bg-white row col-2 mr-1 px-1 align-content-center justify-content-center rounded" title="Items with incomplete coding for '{{item.setName}}'">
            <img class="my-auto mr-1" src="assets/CodingNotComplete.png" />
            <span class="mt-1">{{item.numItemsIncomplete}}</span>
          </div>
        </div>
        <div *ngIf="DetailsForSetId == item.setId" class="container pr-0 mb-1">
          <ng-container *ngTemplateOutlet="CodesetDetails; context:{item : item}"></ng-container>
        </div>
      </div>
      <div *ngIf="AdminSets.length > 0" class="text-primary">Administration Tools:</div>
      <div *ngFor="let item of AdminSets">
        <div class="rounded mt-1 mr-1 mb-1 ml-0 p-1 alert alert-info col-12 d-flex container justify-content-around">
          <div class="bg-white page-link col-6 mr-1 py-1 pl-2 pr-1 rounded" (click)="ShowDetailsForSetId(item.setId)">
            <img *ngIf="item.codingIsFinal" title="Normal Mode: single data entry for all users" src="assets/person.png" class="mr-1" />
            <img *ngIf="!item.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="assets/team.png" class="mr-1" />
            <span class="font-weight-bold text-primary">
              {{ item.setName }}
            </span>
          </div>
          <div class="bg-white row col-2 mr-1 px-1 align-content-center justify-content-center rounded" title="Items with completed coding for '{{item.setName}}'">
            <img class="my-auto mr-1" src="assets/CodingComplete.png" />
            <span class="mt-1">{{item.numItemsCompleted}}</span>
          </div>
          <div class="bg-white row col-2 mr-1 px-1 align-content-center justify-content-center rounded" title="Items with incomplete coding for '{{item.setName}}'">
            <img class="my-auto mr-1" src="assets/CodingNotComplete.png" />
            <span class="mt-1">{{item.numItemsIncomplete}}</span>
          </div>
        </div>
        <div *ngIf="DetailsForSetId == item.setId" class="container pr-0 mb-1">
          <ng-container *ngTemplateOutlet="CodesetDetails; context:{item : item}"></ng-container>
        </div>
      </div>
    </div>
    <ng-template #CodesetDetails let-item="item">
      <div *ngFor="let singleContact of item.reviewerStatistics" class="rounded mt-0 mr-1 mb-0 ml-0 px-1 py-0 col-12 d-flex container justify-content-around">
        <div class="bg-white page-link text-dark col-6 mr-1 rounded" (click)="ShowDetailsForSetId(item.setId)">
          {{singleContact.contactName}}
        </div>
        <div class="bg-white row col-2 mr-1 px-1 align-content-center justify-content-center rounded" style="border: 1px solid #dee2e6;" title="Items with completed coding by '{{singleContact.contactName}}'">
          <img *ngIf="HasWriteRights" class="thumbnail btn px-0 py-1 mx-0 my-auto" o src="assets/CodingComplete.png" title="Items with completed coding (change to incomplete)"
               (click)="CompleteCoding(singleContact.ContactName, item.setName, item.setId,singleContact.contactId,  'false')" />
          <img *ngIf="!HasWriteRights" class="thumbnail btn px-0 py-1 mx-0 my-auto" o src="assets/CodingComplete.png" title="Items with completed coding by '{{singleContact.contactName}}'" />
          <span class="btn btn-link border-0 my-auto px-1 font-weight-bold" title="List items with completed coding by '{{singleContact.contactName}}'"
                (click)="CompletedBySetAndContact(singleContact, item.setName)">{{singleContact.numItemsCompleted}}</span>
        </div>
        <div class="bg-white row col-2 mr-1 px-1 align-content-center justify-content-center rounded" style="border: 1px solid #dee2e6;" title="Items with incomplete coding by '{{singleContact.contactName}}'">
          <img *ngIf="HasWriteRights" class="thumbnail btn px-0 py-1 mx-0 my-auto" src="assets/CodingNotComplete.png" title="Items with incomplete coding (change to complete)"
               (click)="CompleteCoding(singleContact.ContactName, item.setName, item.setId, singleContact.contactId,  'true')" />
          <img *ngIf="!HasWriteRights" class="thumbnail btn px-0 py-1 mx-0 my-auto" src="assets/CodingNotComplete.png" title="Items with incomplete coding by '{{singleContact.contactName}}'" />
          <span class="btn btn-link border-0 my-auto px-1 font-weight-bold" title="List items with incomplete coding by '{{singleContact.contactName}}'"
                (click)="IncompleteBySetAndContact(singleContact, item.setName)">{{singleContact.numItemsIncomplete}}</span>
        </div>
      </div>
      <div *ngIf="HasAdminRights" class="col-12 mx-0 px-0">
        <div class="small rounded border border-primary alert-info m-2 px-2">
          Get "all coding" report for this tool
          <button (click)="GetAndSaveCodingReport(item)"
                  title="Save as Html (Supports opening in Word)"
                  type="button" class="btn btn-sm btn-outline-primary  ml-1 mr-1 py-0 my-1">
            <span class="k-icon k-i-save"></span>
          </button>
          <button (click)="GetAndSaveJsonCodingReport(item)"
                  title="Save as Json (for data analysis)"
                  type="button" class="btn btn-sm btn-outline-info  ml-1 mr-1 py-0 my-1">
            <span class="k-icon k-i-data-json"></span> Json
          </button>
          <button (click)="showAllCodingReportOptions = !showAllCodingReportOptions" class="btn btn-sm btn-outline-info  ml-1 mr-1 py-0 my-1">{{showAllCodingReportOptionsText}}</button>
        </div>
        <div *ngIf="showAllCodingReportOptions" class="rounded border border-info  m-2 px-2">
          <div class="border-bottom border-info col-12 mx-0 px-0 bg-light">
            <div class="col-12 px-0 mx-0">
              <div class="row mx-1 border-bottom">
                <div class="col-9 px-0 mx-0">Only use Colour-Coding to distinguish complete/incomplete coding:</div>
                <div class="col-3 px-0 mx-0"><input [(ngModel)]="AllCodingReportOptions.UseOnlyColourCodingForCompletion" type="checkbox" /></div>
              </div>
              <div class="row mx-1 border-bottom">
                <div class="col-12 px-0 mx-0">
                  Labels used in the main spreadsheet, to indicate coding status (out of 3 possibilities).
                  When using only "Colour Coding", the labels are fixed: "1" for any coding (completed or incomplete) and "0" for no coding.
                </div>
                <div class="col-12 row px-0 mx-0">
                  <div class="col-4 px-0">
                    Completed:
                    <input [(ngModel)]="AllCodingReportOptions.labelForCompletedCoding" class="w-100" maxlength="6"
                           type="text" [disabled]="AllCodingReportOptions.DisableLabels" style="max-width: 3em;" />
                  </div>
                  <div class="col-4 px-0">
                    Incomplete:
                    <input [(ngModel)]="AllCodingReportOptions.labelForIncompleteCoding" class="w-100" maxlength="6"
                           type="text" [disabled]="AllCodingReportOptions.DisableLabels" style="max-width: 3em;" />
                  </div>
                  <div class="col-4 px-0">
                    No Coding
                    <input [(ngModel)]="AllCodingReportOptions.labelForNoCoding" class="w-100" maxlength="6"
                           type="text" [disabled]="AllCodingReportOptions.DisableLabels" style="max-width: 3em;" />
                  </div>
                </div>
              </div>
              <div *ngIf="AllCodingReportOptions.LabelsAreNumbers" class="row mx-1 border-bottom">
                <div class="col-9 px-0 mx-0">Save labels as numbers (not strings):</div>
                <div class="col-3 px-0 mx-0"><input [(ngModel)]="AllCodingReportOptions.saveLabelsAsNumbers" type="checkbox" /></div>
              </div>
              <div class="row mx-1 border-bottom">
                <div class="col-9 px-0">
                  Separator used between lines: this is used within a single cell to separate PDF-text selections and Arms (if shown).
                </div>
                <div class="col-3 px-0">
                  <input [(ngModel)]="AllCodingReportOptions.linesSeparator" type="text" maxlength="16"
                         style="max-width: 8em;" />
                </div>
              </div>
              <div class="row mx-1 border-bottom">
                <div class="col-4 px-0">
                  Show Full Title:
                  <input [(ngModel)]="AllCodingReportOptions.showFullTitle" type="checkbox" />
                </div>
                <div class="col-4 px-0">
                  Include Sheets for Arms:
                  <input [(ngModel)]="AllCodingReportOptions.includeArms" type="checkbox" />
                </div>
                <div class="col-4 px-0">
                  Include Outcomes Sheet:
                  <input [(ngModel)]="AllCodingReportOptions.includeOutcomes" type="checkbox" />
                </div>
              </div>
            </div>

            <div class="border-bottom border-info col-12 mx-0 px-0 alert-info">
              <button (click)="GetAndSaveXLSCodingReport(item)"
                      title="Save as Excel"
                      type="button" class="btn btn-sm btn-outline-info  ml-1 mr-1 py-0 my-1">
                <span class="k-icon k-i-excel"></span> Excel
              </button>
              <button (click)="showAllCodingReportOptions = !showAllCodingReportOptions"
                      title="Close"
                      type="button" class="btn btn-sm btn-outline-dark ml-1 mr-1 py-0 my-1">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

