<p *ngIf="!_readonlyreviewsService.ReadOnlyReviews"><em>Loading...</em></p>
<div class="" style="max-height: 500px; overflow-y:scroll;">
    <kendo-grid [data]="DataSource" [height]="480"
                [sortable]="{
                    allowUnsort: allowUnsort,
                    mode: 'single'
                    }"
                style="min-width:570px; " class="km-horizontal-scrollbar"
                [sort]="sort"
                (sortChange)="sortChange($event)">
        <!--<kendo-grid-column title="Main" [style]="{'width':'75px', 'padding':'0.25rem'}" [headerStyle]="{'width':'75px'}" >
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <form #f="ngForm" (ngSubmit)="onFullSubmit(r_id.value)" novalidate>
                    <input type="hidden" #r_id name="review_id" value="{{ dataItem.reviewId }}">
                    <button class="btn btn-info p-1 w-100" data-placement="top">Main</button>
                </form>
            </ng-template>
        </kendo-grid-column>-->
        <kendo-grid-column field="reviewId" [style]="{'width':'78px'}" [headerStyle]="{'width':'78px'}" title="ID" >
        </kendo-grid-column>
        <kendo-grid-column [style]="{'min-width':'150px', 'overflow': 'visible'}"
                           [headerStyle]="{'min-width':'150px', 'overflow': 'visible'}" field="reviewName" title="Review Name">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-link p-0 ml-0 border-0" title="Open full Review" (click)="onFullSubmit(dataItem)"
                     [disabled]="HasCodingOnlyRole(dataItem)"
                        style="white-space:normal;text-align: left;">{{dataItem.reviewName}}</button>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="lastAccess" [style]="{'width':'145px'}" [headerStyle]="{'width':'145px'}" title="Last Access:">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{FormatDate(dataItem.lastAccess)}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Coding UI" [style]="{'width':'108px'}" [headerStyle]="{'width':'108px'}" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <form #f="ngForm" (ngSubmit)="onSubmit(r_id.value)" novalidate>
                    <input type="hidden" #r_id name="review_id" value="{{ dataItem.reviewId }}">
                    <button class="btn btn-info p-1" data-placement="top">Coding UI</button>
                </form>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>