<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="00:06:00" processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false">
      <environmentVariables />
    </aspNetCore>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>