<div class="bg-light p-1">
    <HeaderComponent *ngIf="IsStandalone" PageTitle="Import Codesets"></HeaderComponent>
    <div *ngIf="IsServiceBusy()" class="k-loading-image" style="position: fixed; top: 0%;"></div>
    <button *ngIf="IsStandalone" class="page-link pt-0 pb-1 mb-1 float-right" style="position:absolute; right: 0; z-index:2000;" (click)="BackToMain()">
        Close/back
    </button>
    <div class="container m-1 p-0">
        <div *ngIf="WizStep == 1" class="row">
            <p class="font-weight-bold col-12">This wizard will help you set up the codesets in your review in just a few clicks.</p>
            <p class="col-12">
                You can pick your codesets from a list of templates or manually copy individual codesets into your review.<br />
                In EPPI-Reviewer codesets (or coding tools) are used to store most of the reviewing data so configuring your codesets correctly is an important step in setting up your review.<br />
                Codesets can be designed for all stages of the review process. They are used as create screening (inclusion/exclusion) tools,
                data extraction tools, quality assessment tools, risk of bias tools and virtually any other coding needed. <br />
                Codesets can are also be used to organise the review workflow and can be used to group together references according to organisational needs.<br />
                Codesets come in three types: Screening, Administrative and Normal, the latter being used for data-extraction and similar tasks.<br />
                Below you will find a list of Review Templates along with a description. Each template consists of a number of codesets.
            </p>

            <div class="row m-0">
                <div class="col-6">
                    <div class="font-weight-bold">Please pick One Option:</div>
                    <div>
                        <div class="btn-group-vertical">
                            <button *ngFor="let template of TemplateReviews" role="group" type="button" class="btn"
                                    [ngClass]="{'font-weight-bold btn-info' : (SelectedTemplate && SelectedTemplate.templateId && SelectedTemplate.templateId == template.templateId)
                                    ,'btn-outline-info' :(!SelectedTemplate || !SelectedTemplate.templateId || SelectedTemplate.templateId != template.templateId)}"
                                    (click)="SelectTemplate(template.templateId)">
                                {{template.templateName}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="font-weight-bold">Description:</div>
                    <div class="border border-info bg-white p-1">
                        <div *ngIf="SelectedTemplate">
                            {{SelectedTemplate.templateDescription}}
                        </div>
                        <div *ngIf="SelectedTemplate && SelectedTemplate.templateId && SelectedTemplate.templateId < 999" class="small mt-1">
                            Contains {{SelectedTemplate.reviewSetIds.length}} codesets...
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-bottom justify-content-center col-12">
                <button class="btn btn-outline-secondary ml-1"
                        (click)="CancelActivity()" style="width:200px;">
                    Cancel
                </button>
                <button type="submit" (click)="ProceedClicked()" class="btn btn-success ml-2 mr-2"
                        [ngClass]="{disableThisAndChildren:!CanWrite()}"
                        [disabled]="1==2">
                    Proceed <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div *ngIf="WizStep > 2">
            <div *ngIf="WizStep == 2.1" class="row m-0">
                Pick from public sets
            </div>
            <div *ngIf="WizStep == 2.2" class="row m-0">
                Pick from personal sets
            </div>
            <div class="row m-0">
                <div class="col-12 col-sm-4">
                    <button *ngFor="let set of ReviewSets4Copy" role="group" type="button" class="btn"
                            [ngClass]="{'font-weight-bold btn-info' : (SelectedSet4Copy && SelectedSet4Copy.set_id && SelectedSet4Copy.set_id == set.set_id)
                                    ,'btn-outline-info' :(!SelectedSet4Copy || !SelectedSet4Copy.set_id || SelectedSet4Copy.set_id != set.set_id)}"
                            (click)="SelectSet4Copy(set)">
                        {{set.set_name}}
                    </button>
                </div>
                <div class="col-12 col-sm-4">
                    <div>Codeset Preview:</div>
                    <codesetTree4Copy [SelectedCodeset]="SelectedSet4Copy"></codesetTree4Copy>
                </div>
                <div class="col-12 col-sm-4"><codesetTreeMain></codesetTreeMain></div>
            </div>
            <div class="row align-bottom justify-content-center col-12">
                <button class="btn btn-outline-secondary ml-1"
                        (click)="CancelActivity()" style="width:200px;">
                    Cancel
                </button>
                <button type="submit" (click)="ImportSelectedSet()" class="btn btn-success ml-2 mr-2"
                        [ngClass]="{disableThisAndChildren:!CanWrite()}"
                        [disabled]="!SelectedSet4Copy">
                    Import Selected!
                </button>
            </div>
        </div>
    </div>
    </div>