<div class="row mx-1 px-0 bg-light">
    <div class="alert alert-success py-0 my-1">
        Browse Disagreements:
        <button (click)="FirstDisagreement()"
                class="btn btn-sm btn-outline-success my-auto">
            First
        </button>
        <button (click)="PreviousDisagreement()"
                class="btn btn-sm btn-outline-success my-auto">
            Previous
        </button>
        <button (click)="NextDisagreement()"
                class="btn btn-sm btn-outline-success my-auto">
            Next
        </button>
        <button (click)="LastDisagreement()"
                class="btn btn-sm btn-outline-success my-auto">
            Last
        </button>
    </div>
</div>
<div class="row mx-1 px-0 bg-light" *ngIf="nodes && nodes.length > 0 " [ngStyle]="{'max-height.px': MaxHeight}" style="overflow-y:auto;">
    <div class="col">
        <div class="row" [ngClass]="ReconcilingItem.IsCompleted ? 'bg-comp' : ''" style="min-height:31px;">
            <div class="col my-auto">
                {{CurrentComparison.contactName1}}
            </div>
            <div class="col-auto" *ngIf="!ReconcilingItem.IsCompleted && ReconcilingItem.CodesReviewer1.length > 0">
                <button (click)="Complete(ReconcilingItem, CurrentComparison.contactId1)"
                        class="btn btn-sm btn-success mr-1">
                    Complete
                </button>
                <button (click)="CompleteAndLock(ReconcilingItem, CurrentComparison.contactId1)"
                        class="btn btn-sm btn-info">
                    Complete & Lock
                </button>
            </div>
            <div *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId1" class="col-auto">
                <button (click)="UnComplete(ReconcilingItem)"
                        class="btn btn-sm btn-danger">
                    Un-Complete
                </button>
            </div>
        </div>
        <tree-root #SingleCodeSetTree1 class="" *ngIf="nodes" [nodes]="nodes" [(state)]="NodesState" [options]="options"
                   (activate)="NodeSelected($event.node.data)">
            <ng-template #treeNodeTemplate let-node let-index="index" >
                <span *ngIf="node.data.nodeType == 'ReviewSet'">
                    <img *ngIf="node.data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                    <img *ngIf="!node.data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                    <img *ngIf="!node.data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
                </span>
                <input class="m-1" type="checkbox" id="attributeID-{{node.data.id}}"
                       [checked]="node.data.Reviewer1Coding.length > 0"
                       [disabled]="true"
                       *ngIf="node.data.showCheckBox" (change)="CheckBoxClicked($event.target.checked, node.data)" />

                <span [ngClass]="AgreementClass(node.data)">{{node.data.name}}</span> {{AgrSt}}
            </ng-template>
        </tree-root>
    </div>
    <div class="col border-left border-dark">
        <div class="row" [ngClass]="ReconcilingItem.IsCompleted ? 'bg-comp' : ''" style="min-height:31px;">
            <div class="col my-auto">
                {{CurrentComparison.contactName2}}
            </div>
            <div class="col-auto" *ngIf="!ReconcilingItem.IsCompleted && ReconcilingItem.CodesReviewer2.length > 0">
                <button (click)="Complete(ReconcilingItem, CurrentComparison.contactId2)"
                        class="btn btn-sm btn-success mr-1">
                    Complete
                </button>
                <button (click)="CompleteAndLock(ReconcilingItem, CurrentComparison.contactId2)"
                        class="btn btn-sm btn-info">
                    Complete & Lock
                </button>
            </div>
            <div *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId2" class="col-auto">
                <button (click)="UnComplete(ReconcilingItem)"
                        class="btn btn-sm btn-danger">
                    Un-Complete
                </button>
            </div>
        </div>
        <tree-root #SingleCodeSetTree2 class="" *ngIf="nodes" [nodes]="nodes" [(state)]="NodesState" [options]="options"
                   (activate)="NodeSelected($event.node.data)">
            <ng-template #treeNodeTemplate let-node let-index="index">
                <span *ngIf="node.data.nodeType == 'ReviewSet'">
                    <img *ngIf="node.data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                    <img *ngIf="!node.data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                    <img *ngIf="!node.data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
                </span>
                <input class="m-1" type="checkbox" id="attributeID-{{node.data.id}}"
                       [checked]="node.data.Reviewer2Coding.length > 0"
                       [disabled]="true"
                       *ngIf="node.data.showCheckBox" (change)="CheckBoxClicked($event.target.checked, node.data)" />

                <span [ngClass]="AgreementClass(node.data)">{{node.data.name}}</span>
            </ng-template>
        </tree-root>
    </div>
    <div *ngIf="CurrentComparison.contactName3 != ''" class="col border-left border-dark">
        <div class="row" [ngClass]="ReconcilingItem.IsCompleted ? 'bg-comp' : ''" style="min-height:31px;">
            <div class="col my-auto">
                {{CurrentComparison.contactName3}}
            </div>
            <div class="col-auto" *ngIf="!ReconcilingItem.IsCompleted && ReconcilingItem.CodesReviewer3.length > 0">
                <button (click)="Complete(ReconcilingItem, CurrentComparison.contactId3)"
                        class="btn btn-sm btn-success mr-1">
                    Complete
                </button>
                <button (click)="CompleteAndLock(ReconcilingItem, CurrentComparison.contactId3)"
                        class="btn btn-sm btn-info">
                    Complete & Lock
                </button>
            </div>
            <div *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId3" class="col-auto">
                <button (click)="UnComplete(ReconcilingItem)"
                        class="btn btn-sm btn-danger">
                    Un-Complete
                </button>
            </div>
        </div>
        <tree-root #SingleCodeSetTree3 class="bg-dark" *ngIf="nodes" [nodes]="nodes" [(state)]="NodesState" [options]="options"
                   (activate)="NodeSelected($event.node.data)">
            <ng-template #treeNodeTemplate let-node let-index="index">
                <span *ngIf="node.data.nodeType == 'ReviewSet'">
                    <img *ngIf="node.data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                    <img *ngIf="!node.data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                    <img *ngIf="!node.data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
                </span>
                <input class="m-1" type="checkbox" id="attributeID-{{node.data.id}}"
                       [checked]="node.data.Reviewer3Coding.length > 0"
                       [disabled]="true"
                       *ngIf="node.data.showCheckBox" (change)="CheckBoxClicked($event.target.checked, node.data)" />

                <span [ngClass]="AgreementClass(node.data)">{{node.data.name}}</span>
            </ng-template>
        </tree-root>
    </div>
</div>
