<div class="row mx-1 px-0 bg-white">
    <div class="border rounded border-success text-success px-2 py-0 my-1 mx-auto">
        <div class="row mx-0 px-0">
            <div class="mx-1 my-1">Browse Disagreements:</div>
            <button (click)="FirstDisagreement()" [disabled]="FindingDisagreements || Disagreements.length == 0"
                    class="btn btn-sm btn-outline-success my-1 py-0 mr-1">
                First
            </button>
            <button (click)="PreviousDisagreement()" [disabled]="FindingDisagreements || (SelectedNode != null && DisagreementPosition(SelectedNode) == 0)"
                    class="btn btn-sm btn-outline-success my-1 py-0 mr-1">
                Previous
            </button>
            <button (click)="NextDisagreement()" [disabled]="FindingDisagreements || (SelectedNode != null && DisagreementPosition(SelectedNode) == Disagreements.length - 1)"
                    class="btn btn-sm btn-outline-success my-1 py-0 mr-1">
                Next
            </button>
            <button (click)="LastDisagreement()" [disabled]="FindingDisagreements || Disagreements.length == 0"
                    class="btn btn-sm btn-outline-success my-1 py-0 mr-1">
                Last
            </button>
            <div *ngIf="FindingDisagreements" class="mx-2 mt-1 pl-1 " style="display:inline-block;position:relative; top:0.10em;">
                <i class="fa fa-spinner fa-spin text-success mt-1 " style=""></i>
            </div>
        </div>
        <div *ngIf="DisagreementPosition(SelectedNode) >= 0; else NoDisagreementSelected" class="row mx-1 my-1">
            <div class="mx-auto my-0 small">
                Selected: disagreement {{DisagreementPosition(SelectedNode) + 1}} of {{Disagreements.length}}
            </div>
        </div>
        <ng-template #NoDisagreementSelected>
            <div class="row  mx-1 my-1">
                <div class="mx-auto my-0 small">
                    Selected: no disagreement selected ({{Disagreements.length}} disagreements)
                </div>
            </div>
        </ng-template>
    </div>
    <div class="mr-1 my-auto">
        <div>Show PDFCoding? <input type="checkbox" [(ngModel)]="LoadPDFCoding" /></div>
        <div>Show Outcomes? <input type="checkbox" [(ngModel)]="ShowOutcomes" /></div>
    </div>
</div>
<div class="mx-1 px-0 bg-light" *ngIf="nodes && nodes.length > 0 ">
    <div class="row mx-0 px-0" [ngClass]="ReconcilingItem.IsCompleted ? 'bg-comp' : ''" style="min-height:31px;">
        <div class="col row mx-0 px-1 my-auto">
            <div class="col my-auto text-info font-weight-bold rounded border border-info">
                {{CurrentComparison.contactName1}}
            </div>
            <div class="col-auto" *ngIf="!ReconcilingItem.IsCompleted && ReconcilingItem.CodesReviewer1.length > 0">
                <button (click)="Complete(ReconcilingItem, CurrentComparison.contactId1)"
                        class="btn btn-sm btn-success mr-1">
                    Complete
                </button>
                <button (click)="CompleteAndLock(ReconcilingItem, CurrentComparison.contactId1)"
                        class="btn btn-sm btn-info">
                    Complete & Lock
                </button>
            </div>
            <div *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId1" class="col-auto">
                <button (click)="UnComplete(ReconcilingItem)"
                        class="btn btn-sm btn-danger">
                    Un-Complete
                </button>
            </div>
        </div>
        <div class="col row mx-0 px-1 my-auto">
            <div class="col my-auto text-info font-weight-bold rounded border border-info">
                {{CurrentComparison.contactName2}}
            </div>
            <div class="col-auto" *ngIf="!ReconcilingItem.IsCompleted && ReconcilingItem.CodesReviewer2.length > 0">
                <button (click)="Complete(ReconcilingItem, CurrentComparison.contactId2)"
                        class="btn btn-sm btn-success mr-1">
                    Complete
                </button>
                <button (click)="CompleteAndLock(ReconcilingItem, CurrentComparison.contactId2)"
                        class="btn btn-sm btn-info">
                    Complete & Lock
                </button>
            </div>
            <div *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId2" class="col-auto">
                <button (click)="UnComplete(ReconcilingItem)"
                        class="btn btn-sm btn-danger">
                    Un-Complete
                </button>
            </div>
        </div>
        <div *ngIf="CurrentComparison.contactName3 != ''" class="col row mx-0 px-1 my-auto">
            <div class="col my-auto text-info font-weight-bold rounded border border-info">
                {{CurrentComparison.contactName3}}
            </div>
            <div class="col-auto" *ngIf="!ReconcilingItem.IsCompleted && ReconcilingItem.CodesReviewer3.length > 0">
                <button (click)="Complete(ReconcilingItem, CurrentComparison.contactId3)"
                        class="btn btn-sm btn-success mr-1">
                    Complete
                </button>
                <button (click)="CompleteAndLock(ReconcilingItem, CurrentComparison.contactId3)"
                        class="btn btn-sm btn-info">
                    Complete & Lock
                </button>
            </div>
            <div *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId3" class="col-auto">
                <button (click)="UnComplete(ReconcilingItem)"
                        class="btn btn-sm btn-danger">
                    Un-Complete
                </button>
            </div>
        </div>
    </div>
    <div class="row mx-0 px-0" style="max-height:40vh;overflow-y:auto;">
        <div class="col">
            <tree-root #SingleCodeSetTree1 class="" *ngIf="nodes" [nodes]="nodes" [(state)]="NodesState" [options]="options"
                       (activate)="NodeSelected($event.node.data)">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <span *ngIf="node.data.nodeType == 'ReviewSet'">
                        <img *ngIf="node.data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                        <img *ngIf="!node.data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                        <img *ngIf="!node.data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
                        <img *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId1" title="Coding complete: these codes can appear in reports and be found in searches" src="../assets/CodingComplete.png"
                              class="mr-1" />
                    </span>
                    <input class="m-1" type="checkbox" id="attributeID-{{node.data.id}}"
                           [checked]="node.data.Reviewer1Coding.length > 0"
                           [disabled]="true"
                           *ngIf="node.data.showCheckBox" (change)="CheckBoxClicked($event.target.checked, node.data)" />

                    <span [ngClass]="AgreementClass(node.data)" [id]="node.data.id">{{node.data.name}}</span>
                </ng-template>
            </tree-root>
        </div>
        <div class="col border-left border-dark">
            <tree-root #SingleCodeSetTree2 class="" *ngIf="nodes" [nodes]="nodes" [(state)]="NodesState" [options]="options"
                       (activate)="NodeSelected($event.node.data)">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <span *ngIf="node.data.nodeType == 'ReviewSet'">
                        <img *ngIf="node.data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                        <img *ngIf="!node.data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                        <img *ngIf="!node.data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
                        <img *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId2" title="Coding complete: these codes can appear in reports and be found in searches" src="../assets/CodingComplete.png"
                             class="mr-1" />
                    </span>
                    <input class="m-1" type="checkbox" id="attributeID-{{node.data.id}}"
                           [checked]="node.data.Reviewer2Coding.length > 0"
                           [disabled]="true"
                           *ngIf="node.data.showCheckBox" (change)="CheckBoxClicked($event.target.checked, node.data)" />

                    <span [ngClass]="AgreementClass(node.data)">{{node.data.name}}</span>
                </ng-template>
            </tree-root>
        </div>
        <div *ngIf="CurrentComparison.contactName3 != ''" class="col border-left border-dark">
            <tree-root #SingleCodeSetTree3 class="bg-dark" *ngIf="nodes" [nodes]="nodes" [(state)]="NodesState" [options]="options"
                       (activate)="NodeSelected($event.node.data)">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <span *ngIf="node.data.nodeType == 'ReviewSet'">
                        <img *ngIf="node.data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
                        <img *ngIf="!node.data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
                        <img *ngIf="!node.data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
                        <img *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId3" title="Coding complete: these codes can appear in reports and be found in searches" src="../assets/CodingComplete.png"
                              class="mr-1" />
                    </span>
                    <input class="m-1" type="checkbox" id="attributeID-{{node.data.id}}"
                           [checked]="node.data.Reviewer3Coding.length > 0"
                           [disabled]="true"
                           *ngIf="node.data.showCheckBox" (change)="CheckBoxClicked($event.target.checked, node.data)" />

                    <span [ngClass]="AgreementClass(node.data)">{{node.data.name}}</span>
                </ng-template>
            </tree-root>
        </div>
    </div>
    <ng-template #PdfCodingTemplate let-coding="coding">
        <div *ngIf="LoadPDFCoding && coding.PDFCoding != null">
            <div *ngFor="let pdft of coding.PDFCoding" class="small">
                <span class="font-weight-bold">[Doc: {{PDFNameFromId(pdft.itemDocumentId)}}, Page {{pdft.page}}]</span> <span *ngFor="let ips of pdft.inPageSelections" class="text-monospace"> {{ips.selTxt}}<br /></span>
            </div>
        </div>
    </ng-template>
    <div *ngIf="SelectedNode != null" class="col-12 bg-white border-success border-top mb-1">
        Details for code: 
        <span class="" [innerHTML]="HtmlPathForReconcilingSetAttribute(SelectedNode)"></span>
    </div>
    <div *ngIf="SelectedNode != null && (SelectedNode.Reviewer1Coding.length > 0 ||SelectedNode.Reviewer2Coding.length > 0 ||SelectedNode.Reviewer3Coding.length > 0)"
         class="row mx-0 px-1 border-success border-bottom mb-1" style="max-height:40vh;overflow-y:auto;">
        <div class="col ml-0 mr-1 px-1 border border-info rounded mb-1">
            <b *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId1; else ReviewerName1incomplete" 
               class="mx-0 text-success px-0 border-bottom border-success">
                <img title="Coding complete: these codes can appear in reports and be found in searches" src="../assets/CodingComplete.png"
                     class="mb-1" />
                {{CurrentComparison.contactName1}}
            </b>
            <ng-template #ReviewerName1incomplete>
                <b class="mx-0 px-0 border-bottom border-info">
                    {{CurrentComparison.contactName1}}
                </b>
            </ng-template>
            <ul *ngIf="SelectedNode.Reviewer1Coding.length > 0" class="pl-4">
                <li *ngIf="CodingWholeStudy(SelectedNode.Reviewer1Coding).length > 0">
                    <b>Whole Study</b>
                    <div *ngFor="let coding of CodingWholeStudy(SelectedNode.Reviewer1Coding)">
                        <div *ngIf="coding.InfoBox != ''" class="small mt-1 p-1 bg-white border border-dark">
                            <b>[Info Box]</b> {{coding.InfoBox}}
                        </div>
                        <ng-container *ngTemplateOutlet="PdfCodingTemplate; context:{coding : coding}"></ng-container>
                    </div>
                </li>
                <li *ngFor="let arm of ReconcilingItem.Item.arms" [hidden]="CodingByArmId(SelectedNode.Reviewer1Coding, arm.itemArmId).length == 0">
                    <div *ngFor="let coding of CodingByArmId(SelectedNode.Reviewer1Coding, arm.itemArmId)">
                        <b>{{arm.title}}</b>
                        <div *ngIf="coding.InfoBox != ''" class="small mt-1 p-1 bg-white border border-dark">
                            <b>[Info Box]</b> {{coding.InfoBox}}
                        </div>
                        <ng-container *ngTemplateOutlet="PdfCodingTemplate; context:{coding : coding}"></ng-container>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col ml-0 mr-1 px-1 border border-info rounded mb-1">
            <b *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId2; else ReviewerName2incomplete"
               class="mx-0 text-success px-0 border-bottom border-success">
                <img title="Coding complete: these codes can appear in reports and be found in searches" src="../assets/CodingComplete.png"
                     class="mb-1" />
                {{CurrentComparison.contactName2}}
            </b>
            <ng-template #ReviewerName2incomplete>
                <b class="mx-0 px-0 border-bottom border-info">
                    {{CurrentComparison.contactName2}}
                </b>
            </ng-template>
            <ul *ngIf="SelectedNode.Reviewer2Coding.length > 0" class="pl-4">
                <li *ngIf="CodingWholeStudy(SelectedNode.Reviewer2Coding).length > 0">
                    <b>Whole Study</b>
                    <div *ngFor="let coding of CodingWholeStudy(SelectedNode.Reviewer2Coding)">
                        <div *ngIf="coding.InfoBox != ''" class="small mt-1 p-1 bg-white border border-dark">
                            <b>[Info Box]</b> {{coding.InfoBox}}
                        </div>
                        <ng-container *ngTemplateOutlet="PdfCodingTemplate; context:{coding : coding}"></ng-container>
                    </div>
                </li>
                <li *ngFor="let arm of ReconcilingItem.Item.arms" [hidden]="CodingByArmId(SelectedNode.Reviewer2Coding, arm.itemArmId).length == 0">
                    <div *ngFor="let coding of CodingByArmId(SelectedNode.Reviewer2Coding, arm.itemArmId)">
                        <b>{{arm.title}}</b>
                        <div *ngIf="coding.InfoBox != ''" class="small mt-1 p-1 bg-white border border-dark">
                            <b>[Info Box]</b> {{coding.InfoBox}}
                        </div>
                        <ng-container *ngTemplateOutlet="PdfCodingTemplate; context:{coding : coding}"></ng-container>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col ml-0 mr-1 px-1 border border-info rounded mb-1" *ngIf="CurrentComparison.contactName3 != ''">
            <b *ngIf="ReconcilingItem.IsCompleted && ReconcilingItem.CompletedByID == CurrentComparison.contactId3; else ReviewerName3incomplete"
               class="mx-0 text-success px-0 border-bottom border-success">
                <img title="Coding complete: these codes can appear in reports and be found in searches" src="../assets/CodingComplete.png"
                     class="mb-1" />
                {{CurrentComparison.contactName3}}
            </b>
            <ng-template #ReviewerName3incomplete>
                <b class="mx-0 px-0 border-bottom border-info">
                    {{CurrentComparison.contactName3}}
                </b>
            </ng-template>
            <ul *ngIf="SelectedNode.Reviewer3Coding.length > 0" class="pl-4">
                <li *ngIf="CodingWholeStudy(SelectedNode.Reviewer3Coding).length > 0">
                    <b>Whole Study</b>
                    <div *ngFor="let coding of CodingWholeStudy(SelectedNode.Reviewer3Coding)">
                        <div *ngIf="coding.InfoBox != ''" class="small mt-1 p-1 bg-white border border-dark">
                            <b>[Info Box]</b> {{coding.InfoBox}}
                        </div>
                        <ng-container *ngTemplateOutlet="PdfCodingTemplate; context:{coding : coding}"></ng-container>
                    </div>
                </li>
                <li *ngFor="let arm of ReconcilingItem.Item.arms" [hidden]="CodingByArmId(SelectedNode.Reviewer3Coding, arm.itemArmId).length == 0">
                    <div *ngFor="let coding of CodingByArmId(SelectedNode.Reviewer3Coding, arm.itemArmId)">
                        <b>{{arm.title}}</b>
                        <div *ngIf="coding.InfoBox != ''" class="small mt-1 p-1 bg-white border border-dark">
                            <b>[Info Box]</b> {{coding.InfoBox}}
                        </div>
                        <ng-container *ngTemplateOutlet="PdfCodingTemplate; context:{coding : coding}"></ng-container>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="ShowOutcomes && (ReconcilingItem.OutcomesReviewer1.length > 0 || ReconcilingItem.OutcomesReviewer2.length > 0 || ReconcilingItem.OutcomesReviewer3.length > 0)" 
         class="row mx-0 px-1 border-success border-top border-bottom mb-1" style="max-height:40vh;overflow-y:auto;">
        <div class="border-bottom border-info col-12">
            Outcomes for {{CurrentComparison.contactName1}} <br />
            <div *ngIf="ReconcilingItem && ReconcilingItem.OutcomesReviewer1.length > 0" [innerHTML]="OutcomeHTMLtable(ReconcilingItem.OutcomesReviewer1)"></div>
        </div>
        <div class="border-bottom border-info col-12">
            Outcomes for {{CurrentComparison.contactName2}} <br />
            <div *ngIf="ReconcilingItem && ReconcilingItem.OutcomesReviewer2.length > 0" [innerHTML]="OutcomeHTMLtable(ReconcilingItem.OutcomesReviewer2)"></div>
        </div>
        <div *ngIf="CurrentComparison.contactName3 != ''" class="col-12">
            Outcomes for {{CurrentComparison.contactName3}} <br />
            <div *ngIf="ReconcilingItem && ReconcilingItem.OutcomesReviewer3.length > 0" [innerHTML]="OutcomeHTMLtable(ReconcilingItem.OutcomesReviewer3)"></div>
        </div>
    </div>
</div>