<HeaderComponent PageTitle="Edit codesets"></HeaderComponent>
<button class="page-link pt-0 pb-1 mb-1 float-right" style="position:absolute; right: 0; z-index:2000;" (click)="BackToMain()">
    Close/back
</button>
<div *ngFor="let type of SetTypes">
    ID: {{type.setTypeId}} - Name: {{type.setTypeName}} - allowed types N: {{type.allowedCodeTypes.length}}
</div>
<kendo-splitter orientation="horizontal">
    <kendo-splitter-pane>
        <div *ngIf="IsServiceBusy()" class="k-loading-image"></div>
    </kendo-splitter-pane>
    <kendo-splitter-pane size="30%">
        <codesetTreeEdit [CanWrite]="CanWrite()" [IsServiceBusy]="IsServiceBusy()"></codesetTreeEdit>
    </kendo-splitter-pane>
</kendo-splitter>
