<p *ngIf="IsServiceBusy"><em>Loading...</em></p>
<p *ngIf="(!nodes || nodes.length == 0) && !IsServiceBusy"><em>Review Contains no Coding Tools...</em></p>


<div class="bg-light" *ngIf="nodes && nodes.length > 0 " [ngStyle]="{'max-height.px': MaxHeight}" style="overflow-y:auto;">
	<tree-root #SingleCodeSetTree  class="bg-dark" *ngIf="nodes" [nodes]="nodes" [options]="options"
			   (activate)="NodeSelected($event.node.data)">
		<ng-template class="bg-warning" #treeNodeTemplate let-node let-index="index">
			<span *ngIf="node.data.nodeType == 'ReviewSet'">
				<img *ngIf="node.data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
				<img *ngIf="!node.data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
				<img *ngIf="!node.data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
			</span>
			<input class="m-1" type="checkbox" id="attributeID-{{node.data.id}}" 
				   [checked]="IsAttributeInOutcome(node.data)"
				   [disabled]="!ReviewSetsService.CanWriteCoding(node.data)"
				   *ngIf="node.data.showCheckBox" (change)="CheckBoxClicked($event.target.checked, node.data)" />

			<span [ngClass]="{'ScreeningSet' : node.data.subTypeName == 'Screening',
                            'AdminSet' : node.data.subTypeName == 'Administration',
                            'ExcludeCode' : node.data.subTypeName == 'Exclude'
                            }">{{node.data.name}}</span>
		</ng-template>
	</tree-root>
</div>

<div class="mt-2" *ngIf="SelectedCodeDescription != ''">
	<div class="card card-title mb-0 font-weight-bold">Code description:</div>
	<div class="card card-body mt-0 p-1 bg-white" style="max-height:150px; overflow-y:scroll" [innerHTML]="SelectedCodeDescription">
	</div>
</div>
