<HeaderComponent Context="advancedMAG"></HeaderComponent>
<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>
<MAGHeaderBar></MAGHeaderBar>

<div class="container col-12">

    <div class="row" style="vertical-align:top">

        <div class="col-lg-6">
            <h2 class="card-title"></h2>
            <table>
                <tr>
                    <td>
                        <h1 class="font-weight-light"> Research And Development for MAG</h1>
                    </td>
                    <td style="padding-left:10px">
                        <a class="btn btn-dark btn-sm text-white" data-toggle="collapse"
                           href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                            more details <i class="fa fa fa-plus-square"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <!--<div class="col-lg-6">
            <div class="card-footer">
                <h5 class="font-weight-light text-sm-left">
                    Current Microsoft Academic Graph Dataset:<br />
                     <i>{{_magAdvancedService.MagCurrentInfo.magVersion}}  </i>
                </h5>
            </div>
        </div>-->

    </div>


    <div class="row" style="vertical-align:top">
        <div class="col-sm-12 col-lg-10">
            <div class="collapse multi-collapse" id="collapseExample3">
                <div class="card card-footer">
                    <p>
                        The algorithm to find new and related studies to the ones you have already identified depends on correctly matching your existing records
                        into the Microsoft Academic dataset. While this process can be automated up to a point, some records cannot be matched with 100% confidence,
                        and some cannot be matched at all.
                    </p>
                    <p>
                        In order to improve performance, it can be helpful to check the lower confidence automatic matches for accuracy
                        Below test the performance of the various algorithms for identifying relevant studies against the data already in your review.
                    </p>
                    <p>
                        There are three ways of splitting your data between 'seed' and 'test' records:
                    </p>
                    <ol>
                        <li>year of publication</li>
                        <li>the date a study entered the MAG</li>
                        <li>database and items under a specific code.</li>
                    </ol>

                    <p>
                        <i>NB: Please see the documentation for further information.</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container col-12">
    <p>
        <button class="btn btn-info btn-sm text-white" data-toggle="collapse" href="#collapseExample1"
                role="button" aria-expanded="false" aria-controls="collapseExample1">
            Seed and Test MAG <i class="fa fa-plus-square"></i>
        </button>
    </p>


    <div class="collapse multi-collapse" id="collapseExample1">
        <div class="card card-footer ">

            <div class="row col-12 p-0">

                <div class="col-sm-12 col-lg-5 mb-5">
                    <div class=""><b>Search based on</b></div>
                    <div class="">
                        <label style="display:block">
                            <input type="radio" value="Year" name="magSearchRadio"
                                   [(ngModel)]="splitDataOn">	Year
                        </label>
                        <label style="display:block">
                            <input type="radio" value="CreatedDate" name="magSearchRadio"
                                   [(ngModel)]="splitDataOn">	Created date
                        </label>
                        <label style="display:block">
                            <input type="radio" value="WithThisCode" name="magSearchRadio"
                                   [(ngModel)]="splitDataOn">	With this code
                        </label>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            <div  *ngIf="splitDataOn == 'CreatedDate' || splitDataOn == 'Year'">

                                <b>Start date</b><br />
                                <div class="example-wrapper" style="min-height: 100px">
                                    <kendo-datepicker [(value)]="kendoDateValue"></kendo-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <div  *ngIf="splitDataOn == 'CreatedDate' || splitDataOn == 'Year'">
                                <b>End date</b><br />
                                <div class="example-wrapper" style="min-height: 100px">
                                    <kendo-datepicker [(value)]="kendoEndDateValue"></kendo-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=""><b>Filter</b></div>
                    <div class="">
                        <input type="radio" value="true" name="filterOn"
                               [(ngModel)]="filterOn"> Filter
                        <input type="radio" value="false" name="filterOn"
                               [(ngModel)]="filterOn"> No filter
                    </div>


                    <div class="" *ngIf="splitDataOn == 'WithThisCode' || filterOn == 'true'">
                        <b>Select code</b><br />
                        <table style="width:100%;">
                            <tr>
                                <td style="padding-right: 25px;">
                                    <div ngbDropdown style="min-width:150px;" class="col-sm-12 col-lg-6">
                                        <button ngbDropdownAnchor class="btn alert-primary dropdown-toggle w-100"
                                                style="min-width: 250px; white-space:normal" [attr.aria-expanded]="!isCollapsed3"
                                                id="dropdownBasic3"
                                                (click)="isCollapsed3 = !isCollapsed3; dropdownBasic3 = false">
                                            {{CurrentDropdownSelectedCode3?.name}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownBasic3" [ngbCollapse]="!isCollapsed3">
                                            <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'"
                                                             [MaxHeight]="500" #WithOrWithoutCodeSelector3
                                                             (selectedNodeInTree)="CloseCodeDropDown3()" [rootsOnly]="false">
                                            </codesetSelector>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>



                </div>


                <div class="col-sm-12 col-lg-5 mb-5">

                    <b>Search method</b>
                    <table style="width:100%;">
                        <tr>
                            <td style="padding-right: 25px;">
                                <div ngbDropdown class="col-sm-12 col-lg-6">
                                    <select class="col-12 form-control mb-1" name="SearchMethod"
                                            [(ngModel)]="SearchMethod">
                                        <option *ngFor="let item of SearchMethods"
                                                [ngValue]="item" [selected]="item == SearchMethod">
                                            {{item}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <b>Study type classifier</b>
                    <table style="width:100%;">
                        <tr>
                            <td style="padding-right: 25px;">
                                <div ngbDropdown class="col-sm-12 col-lg-6">
                                    <select class="col-12 form-control mb-1" name="StudyTypeClassifier"
                                            [(ngModel)]="StudyTypeClassifier">
                                        <option *ngFor="let item of StudyTypeClassifiers"
                                                [ngValue]="item" [selected]="item == StudyTypeClassifier">
                                            {{item}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <b>User Defined Classifier</b>
                    <table style="width:100%;">
                        <tr>
                            <td style="padding-right: 25px;">
                                <div ngbDropdown class="col-sm-12 col-lg-6">
                                    <select [(ngModel)]="currentClassifierContactModel" class="form-control" name="currentClassifierContactModel">
                                        <option *ngFor="let item of _magAdvancedService.ClassifierContactModelList"
                                                [ngValue]="item" [selected]="item == currentClassifierContactModel">
                                            {{item.modelTitle}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <div class="row">
                        <div class="col-sm-12 col-lg-3 p-2 m-2 small">
                            <h6>Score threshold</h6>
                            <kendo-numerictextbox [(ngModel)]="ScoreThreshold"
                                                  [min]="0"
                                                  [step]="stepScore"
                                                  [max]="1"
                                                  [autoCorrect]="true"
                                                  class="border border-dark rounded"
                                                  style="width: 110px;"></kendo-numerictextbox>
                        </div>
                        <div class="col-sm-12 col-lg-3  p-2 m-2 small">
                            <h6>FoS threshold</h6>
                            <kendo-numerictextbox [(ngModel)]="FoSThreshold"
                                                  [min]="0"
                                                  [step]="stepFoS"
                                                  [max]="1"
                                                  [autoCorrect]="true"
                                                  class="border border-dark rounded"
                                                  style="width: 110px;"></kendo-numerictextbox>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row col-12 p-0">
                <!--[disabled]="!CanAddSimulation()"-->
                <button (click)="AddSimulation()"
                        class="btn btn-success p-2 m-2  fa fa-plus">
                    Add Simulation
                </button>
            </div>

        </div>
    </div>
</div>






<div class="container col-12">

    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Simulations</h4>
            <div class="col-12 alert-secondary p-2 m-2 card">
                <table class="table align-middle table-responsive table-striped" style="min-width:150px;max-height:600px;overflow:auto;">
                    <thead>
                        <tr>
                            <th width="15">Method</th>
                            <th width="15">Status</th>
                            <th width="15">Seed method</th>
                            <th width="15">(Filter)</th>
                            <th width="15">Thresholds</th>
                            <th width="15">Network Stat</th>
                            <th width="15">Study classifier</th>
                            <th width="15">User classifier</th>
                            <th width="15"> ROC  </th>
                            <th width="15">Seeds</th>
                            <th width="1">TP</th>
                            <th width="1">FP</th>
                            <th width="1">FN</th>
                            <th width="1">TN</th>
                            <th width="5"> Delete Simulation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of MagSimulationList">
                            <td>{{item.searchMethod}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.searchMethod}}</td>
                            <td>{{item.filteredByAttribute}}</td>
                            <td>{{item.thresholds}}</td>
                            <td> {{item.networkStatistic}}</td>
                            <td>{{item.studyTypeClassifier}}</td>
                            <td>{{item.userClassifierModel}}</td>
                            <td class="btn btn-link " width="1" (click)="ShowGraph()"> ROC </td>
                            <td>{{item.status}}</td>
                            <td class="btn btn-link " width="1" (click)="OpenResultsInReview('MagSimulationTP', item.magSimulationId)">{{item.tp}}</td>
                            <td width="1">{{item.fp}}</td>
                            <td class="btn btn-link" width="1" (click)="OpenResultsInReview('MagSimulationFN', item.magSimulationId)">{{item.fn}}</td>
                            <td width="1">{{item.tn}}</td>
                            <td><button class="btn btn-danger btn-sm text-white align-content-center  fa fa-trash" (click)="DeleteSimulation(item)">  </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<statusbar></statusbar>
