<div class="containsAtoolbar">
	<kendo-toolbar>
		<kendo-toolbar-button [text]="'Selected'" (click)="Selected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
		<kendo-toolbar-button [text]="'Clear Selected'" (click)="ClearSelected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
		<kendo-toolbar-button [text]="'Import Selected'" (click)="ImportSelected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
		<!--<kendo-toolbar-button [text]="'Auto-update home'" (click)="AutoUpdateHome()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
		<kendo-toolbar-button [text]="'Advanced features'" (click)="AdvancedFeatures()" [disabled]="!HasWriteRights"></kendo-toolbar-button>-->
		<kendo-toolbar-button [text]="'Show history'" (click)="ShowHistory()" [disabled]="HasWriteRights"></kendo-toolbar-button>
		<kendo-toolbar-button [text]="'Admin'" (click)="Admin()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Back'" (click)="Back()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
    </kendo-toolbar>
</div>
<div class="col-6 p-2 m-2 card">
    <h5>Current Microsoft Academic Graph Dataset:<i> {{_magAdvancedService.MagCurrentInfo.lastUpdated}} </i></h5>
    
</div>
<div class="col-12 row bg-light">
    <div class="col-5 card p-1 m-1 h-25">
        <h4 class="p-1 m-1 ">Research And Development for Microsoft Academic Graph</h4>
        <p class="m-2 p-2 card bg-info">
            The algoirthm to find new and related studies to those already identified depends on
            correctly matching your existing studies with the MAG dataset.
            This can be somewhat automated; some studies cannot be matched
            with 100% confidence and some not at all.
            In order to improve the matching accuracy, a check of the lower
            confidence level of automatic matches can be made.
        </p>
        <div class="col-2">
         
        </div>
        <div class="col-6">
            <button class="btn btn-primary" data-toggle="collapse" href="#collapseExample"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                Seed and Test MAG
            </button>
        </div>

    </div>
    <div class="col-6 card p-1 m-1">
        <h4 >Browse Dataset</h4>
        <div class="col-12">
            <div>
                All matched included records
                <div class="btn btn-link p-0 m-0 col-4" (click)="MAGBroswer('MatchedIncluded')">
                    {{_magAdvancedService.magMatchedIncluded}}
                </div>
                <div class="btn btn-link  p-0 m-0 c" (click)="OpenMatchesInReview('MatchedIncluded')">
                    (list)
                </div>
            </div>
            <div>
                All matched excluded records
                <div class="btn btn-link p-0 m-0 col-4" (click)="MAGBroswer('MatchedExcluded')">
                    {{_magAdvancedService.magMatchedExcluded}}
                </div>
                <div class="btn btn-link  p-0 m-0 c" (click)="OpenMatchesInReview('MatchedExcluded')">
                    (list)
                </div>
            </div>
            <div>
                All matched records in review
                <div class="btn btn-link p-0 m-0 col-4"  (click)="MAGBroswer('MatchedAll')">
                    {{_magAdvancedService.magMatchedAll}}
                </div>
            </div>
            <div>
                All matched records with this code:
                <div class="btn btn-link p-0 m-0 col-3"  (click)="MAGBroswer('MatchedWithThisCode')">
                    {{_magAdvancedService.magMatchedWithThisCode}}
                </div>
            </div>
            <div class="col-12 row">
                GoTo Microsoft Academic Paper ID:
                <input type="text" name="magPaperId" id="magPaper" [(ngModel)]="magPaperId"
                       class="form-control col-4 p-0 m-0 text-center" />
                <button class="btn btn-warning">Get MAG paper</button>
            </div>
            <div class="col-12 card bg-secondary">
                <textarea>Search for topics in the box above.  Wildcards work e.g. physic* 
                </textarea>
            </div>
        </div>

        </div>
</div>

<div class="col-12  card collapse p-1 m-1" id="collapseExample">

    <div class="col-12  row">
        <div class="col-12">
            <button (click)="RunMatchingAlgo()" class="btn btn-outline-success">Run Matching Algorithm</button>
            <p><i>NB: The matching algorithm should be run before the simulations below.</i></p>
        </div>
        <div class="col-5">
            <p class="card bg-info">
                Below test the performance of the various algorithms for identifying
                relevant studies against the data already in your review.
                There are three ways of splitting your data between 'seed' and 'test'
                records:
                year of publication, the date a study entered the MAG
                database and items under a specific code.

                <i>NB: Please see the documentation for further information.</i>
            </p>
            <div class=" col-12"></div>
        </div>

        <div class="col-1"></div>
        <div class="col-6 m-1 p-1">
            <div class="3"><b>Search based on</b></div>
            <div class="9">
                <input type="radio" value="Year" name="magSearchRadio"
                       [(ngModel)]="splitDataOn">	Year
                <input type="radio" value="CreatedDate" name="magSearchRadio"
                       [(ngModel)]="splitDataOn">	Created date
                <input type="radio" value="WithThisCode" name="magSearchRadio"
                       [(ngModel)]="splitDataOn">	With this code
            </div>
            <div class="col-6 m-1 p-1" *ngIf="splitDataOn == 'CreatedDate'">
                <div class="m-1 p-1"><b>Items Dated From</b></div>
                <div>
                    <div class="example-wrapper p-2 m-2" style="min-height: 100px">
                        <p>Select a date:</p>
                        <kendo-datepicker [(value)]="value"></kendo-datepicker>
                        <p>(use Alt+↓ to open the calendar, ← and →  to navigate, ↑ to increment and ↓ to decrement the value)</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="splitDataOn == 'WithThisCode'" class="m-1 p-1 col-6">

            <div class="col-12 row">
                <div class="col-3 p-1 m-1"><b>Select code</b></div>
                    <div ngbDropdown class="col-9 p-1 m-1">
                        <button style="min-width: 250px; white-space:normal" [attr.aria-expanded]="!isCollapsed"
                                class="btn alert-primary col-12 p-2 m-0" id="dropdownBasic1"
                                ngbDropdownToggle (click)="isCollapsed = !isCollapsed; dropdownBasic1 = false">
                            {{CurrentDropdownSelectedCode?.name}}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" [ngbCollapse]="!isCollapsed">
                            <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'"
                                             [MaxHeight]="500" #WithOrWithoutCodeSelector
                                             (selectedNodeInTree)="CloseCodeDropDown()" [rootsOnly]="false">
                            </codesetSelector>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-12 row">
            <div class="col-1 p-1 m-1"><b>Search method</b></div>
            <div ngbDropdown class="col-3 p-0 m-0">
                <select class="col-12 form-control mb-1" name="SearchMethod" 
                        [(ngModel)]="SearchMethod">
                    <option *ngFor="let item of SearchMethods"
                            [ngValue]="item" [selected]="item == SearchMethod">
                        {{item}}
              
                </option>
               </select>

            </div>
            <div class="col-1"></div>
            <div class="col-1 p-1 m-1"><b>Network Statistic</b></div>
            <div ngbDropdown class="col-3 p-0 m-0">
                <select class="col-12 form-control mb-1" name="NetworkStat"
                        [(ngModel)]="NetworkStat">
                    <option *ngFor="let item of NetworkStats"
                            [ngValue]="item" [selected]="item == NetworkStat">
                        {{item}}
                    </option>
                </select>              
            </div>
        </div>

            <div class="col-12 row">
                <div class="col-1 m-1 p-1"><b>Study type classifier</b></div>
                <div ngbDropdown class="col-3 p-0 m-0">
                   
                    <select class="col-12 form-control mb-1" name="StudyTypeClassifier"
                            [(ngModel)]="StudyTypeClassifier">
                        <option *ngFor="let item of StudyTypeClassifiers"
                                [ngValue]="item" [selected]="item == StudyTypeClassifier">
                            {{item}}

                        </option>
                    </select>
                </div>
                <div class="col-1"></div>
                <div class="m-1 p-1 col-1"><b>User Defined Classifier</b></div>
                <div class="col-3 p-0 m-0 dropdown">
                    <select [(ngModel)]="UserDefinedClassifier" class="form-control" name="ClassifierContactModelList">
                        <option *ngFor="let item of _magAdvancedService.ClassifierContactModelList" 
                                [ngValue]="item" [selected]="item == UserDefinedClassifier">
                            {{item.modelTitle}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

    </div>

<div style="min-width:250px; overflow:auto;" >
        <table class="card col-12 small table table-border  table-striped bg-light">
            <thead>
                <tr>
                    <th width="15">Method</th>
                    <th width="40">Status</th>
                    <th width="140">Seed method</th>
                    <th width="140">(Filter)</th>
                    <th width="140">Network Stat</th>
                    <th width="140">Study classifier</th>
                    <th width="140">User classifier</th>
                    <th width="140">  </th>
                    <th width="140">Seeds</th>
                    <th width="140">TP</th>
                    <th width="140">FP</th>
                    <th width="140">FN</th>
                    <th width="140">TN</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let item of _magAdvancedService.MagSimulationList">
                    <td>{{item.searchMethod}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.searchMethod}}</td>
                    <td>{{item.filteredByAttribute}}</td>
                    <td> {{item.networkStatistic}}</td>
                    <td>{{item.studyTypeClassifier}}</td>
                    <td>{{item.userClassifierModel}}</td>
                    <td>  </td>
                    <td>{{item.status}}</td>
                    <td class="p-0">{{item.TP}}</td>
                    <td class="p-0 ">{{item.FP}}</td>
                    <td class="p-0">{{item.FN}}</td>
                    <td class="p-0">{{item.TN}}</td>
                </tr>
            </tbody>
        </table>
    </div>
