<HeaderComponent Context="basicMAG"></HeaderComponent>

<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>
<div class="containsAtoolbar">
    <kendo-toolbar>
        <kendo-toolbar-button [text]="'Selected'" (click)="Selected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Clear Selected'" (click)="ClearSelected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Import Selected'" (click)="ImportSelected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Advanced features'" (click)="AdvancedFeatures()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Show history'" (click)="ShowHistory()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Admin'" (click)="Admin()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Back'" (click)="Back()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Forward'" (click)="Forward()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
    </kendo-toolbar>
</div>
<div class="col-8 p-2 m-2 card bg-info" style="min-width:450px; overflow:auto;">
    <h4>Find related papers and set up review auto-updates</h4>
    <p>
        <a class="btn btn-outline-primary" data-toggle="collapse"
           href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Add new MAG search/auto-update
        </a>
    </p>
</div>
<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>
<div class="col-xs-12 col-lg-8 card collapse" id="collapseExample" style="min-width:750px;">
    <div class="col-12" style="min-width:750px;">

        <div class="row col-12">
            <div class="col-5  m-1 p-1">
                <div class=""><b>Description</b></div>
                <input required minlength="4" type="text" id="descName" name="descName" #descName="ngModel" class="form-control col-12"
                       [(ngModel)]="description" />
                <div *ngIf="descName.invalid && (descName.dirty || descName.touched)"
                     class="alert alert-danger">

                    <div *ngIf="descName.errors.required">
                        Description is required.
                    </div>
                    <div *ngIf="descName.errors.minlength">
                        Description must be at least 4 characters long.
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5 m-1 p-1">
                <div class=" "><b>Search based on</b></div>
                <div class="">
                    <input type="radio" value="true" name="searchAll"
                           [(ngModel)]="searchAll">	All included items
                    <input type="radio" value="false" name="searchAll"
                           [(ngModel)]="searchAll">	Items with specified code
                </div>
            </div>
        </div>

        <div class="row col-12" *ngIf="searchAll == 'false'">
            <div class="col-1"></div>
            <div class="m-1 p-1 col-5">
            </div>
            <div class="m-1 p-1 col-5">
                <div class=""><b>Select code</b></div>

                <div ngbDropdown class="" style="min-width:150px;">
                    <button ngbDropdownAnchor class="btn btn-outline-primary dropdown-toggle w-100"
                            style="min-width: 250px; white-space:normal" [attr.aria-expanded]="!isCollapsed"
                            id="dropdownBasic1"
                            (click)="isCollapsed = !isCollapsed; dropdownBasic1 = false">
                        {{CurrentDropdownSelectedCode?.name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownBasic1" [ngbCollapse]="!isCollapsed">
                        <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'"
                                         [MaxHeight]="500" #WithOrWithoutCodeSelector
                                         (selectedNodeInTree)="CloseCodeDropDown()" [rootsOnly]="false">
                        </codesetSelector>
                    </div>
                </div>



            </div>
        </div>

        <div class="row col-12">
            <div class="col-5 m-1 p-1">
                <div class=""></div>
                <div class="">
                    <input type="checkbox" class="" value="Auto-Update" name="magSearchCheck" [(ngModel)]="magSearchCheck" />
                    Auto-Update
                    <input type="radio" class="" name="magDateRadio" value="true"
                           [(ngModel)]="magDateRadio" />
                    No date restriction
                    <input type="radio" class="" name="magDateRadio" value="false"
                           [(ngModel)]="magDateRadio" />
                    Items dated:
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5 m-1 p-1">
                <div class=""><b>RCT Filter</b></div>
                <div class="">
                    <input type="radio" class="m-1 p-1" value="NoFilter" name="magRCTRadio" [(ngModel)]="magRCTRadio" />
                    No Filter
                    <input type="radio" class="m-1 p-1" value="HighSensitivity" name="magRCTRadio" [(ngModel)]="magRCTRadio" />
                    High Sensitivity
                    <input type="radio" class="m-1 p-1" value="HigherSpecificity" name="magRCTRadio" [(ngModel)]="magRCTRadio" />
                    Higher specificity
                </div>
            </div>
        </div>

        <div class="col-12 m-1 p-1" *ngIf="magDateRadio == 'false'">
            <div class="m-1 p-1"><b>Items Dated From</b></div>
            <div>
                <div class="example-wrapper p-2 m-2" style="min-height: 100px">
                    <p>Select a date:</p>
                    <kendo-datepicker [(value)]="valueKendoDatepicker"></kendo-datepicker>
                    <p>(use Alt+↓ to open the calendar, ← and →  to navigate, ↑ to increment and ↓ to decrement the value)</p>
                </div>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-5 m-1 p-1">
                <div class=""><b>Search mode</b></div>
                <div ngbDropdown class="col-12 p-0 m-0">
                    <button style="min-width: 50px; white-space:normal"
                            class="btn alert-primary col-12 p-2 m-0"
                            id="dropdownBasic1" ngbDropdownToggle
                            (click)="isCollapsed=false ">
                        {{magMode}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" [ngbCollapse]="ShowPanel">
                        <button (click)="ClickSearchMode('1')" class="dropdown-item">Papers 'recommended' by known items ('Recommended by')</button>
                        <button (click)="ClickSearchMode('2')" class="dropdown-item">Papers that 'recommended' known items ('That recommend')</button>
                        <button (click)="ClickSearchMode('3')" class="dropdown-item">Bi-directional recomendation relationships ('Recommendations')</button>
                        <button (click)="ClickSearchMode('4')" class="dropdown-item">Papers in the bibliography of know items ('Bibliography')</button>
                        <button (click)="ClickSearchMode('5')" class="dropdown-item">Papers that cite known items ('Cited by')</button>
                        <button (click)="ClickSearchMode('6')" class="dropdown-item">Bi-directional citation relationships </button>
                        <button (click)="ClickSearchMode('7')" class="dropdown-item">Bi-directional recomendation AND citation relationships ('Bi-Citation AND Recommendations')</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 m-1 p-1 row">
        <div class="col-10"><b>           </b></div>
        <button [disabled]="!CanAddNewMAGSearch()" (click)="AddNewMAGSearch()"
                class="btn btn-warning p-2 m-2">
            Add new search
        </button>
    </div>
    <div class="card bg-light" style="min-width:250px; overflow:auto;" *ngIf="_basicMAGService.MagRelatedPapersRunList.length > 0">
        <table class="col-12 small table table-border  table-striped ">
            <thead>
                <tr>
                    <th width="15">Description</th>
                    <th width="40">Mode</th>
                    <th width="140">Date from</th>
                    <th width="140">Date run</th>
                    <th width="140">All included</th>
                    <th width="140">With this code</th>
                    <th width="140">Filtered</th>
                    <th width="140">Re-run?</th>
                    <th width="140">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let item of _basicMAGService.MagRelatedPapersRunList">
                    <td>{{item.userDescription}}</td>
                    <td>{{item.mode}}</td>
                    <td>{{item.dateFrom}}</td>
                    <td>Date run</td>
                    <td>
                        <input [disabled]="true" class="m-1" type="checkbox" [(ngModel)]="item.allIncluded" />
                    </td>
                    <td>{{item.attributeName}}</td>
                    <td>{{item.filtered}}</td>
                    <td>
                        <input (click)="UpdateAutoReRun(item)" class="m-1" type="checkbox" [(ngModel)]="item.autoReRun" />
                    </td>
                    <td>{{item.status}}</td>
                    <td class="p-0"><button [disabled]="!CanDeleteMAGRun()" (click)="DoDeleteMagRelatedPapersRun(item.magRelatedRunId)" class="btn btn-outline-danger p-1 m-1">Delete</button></td>
                    <td class="p-0 ">
                        <button [disabled]="!CanImportMagPapers(item)" class="btn btn-outline-info p-1 m-1">
                            {{item.userStatus == '' ? 'Pending' : item.userStatus }}
                        </button>
                    </td>
                    <td class="p-0"><button (click)="ImportMagSearchPapers(item)" [disabled]="!CanImportMagPapers(item)" class="btn btn-outline-primary p-1 m-1">Import</button></td>
                    <td class="p-0"><div (click)="GetItems(item)" class="btn btn-link mt-1">{{ item.nPapers}}</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<statusbar></statusbar>