<HeaderComponent class="row p-1 m-0" style="vertical-align:top;" PageTitle="Microsoft Academic Browser" [Context]="Context"></HeaderComponent>

<MAGHeaderBar2 #NavBar2 (PleaseGoTo)="ChangeContext($event)" ></MAGHeaderBar2>

<ng-container [ngSwitch]="Context">
    <div *ngSwitchCase="'RelatedPapers'">
        <BasicMAGComp (PleaseGoTo)="ChangeContext($event)"></BasicMAGComp>
    </div>
    <div *ngSwitchCase="'KeepUpdated'">
        <MAGKeepUpToDate (PleaseGoTo)="ChangeContext($event)"></MAGKeepUpToDate>
    </div>
    <div *ngSwitchCase="'Advanced'">
        <AdvancedMAGFeatures></AdvancedMAGFeatures>
    </div>
    <div *ngSwitchCase="'History'">
        <MAGBrowserHistory (PleaseGoTo)="ChangeContext($event)"></MAGBrowserHistory>
    </div>
    <div *ngSwitchCase="'matching'">
        <MatchingMAGItems (PleaseGoTo)="ChangeContext($event)"></MatchingMAGItems>
    </div>
    <div *ngSwitchCase="'Admin'">
        <MAGAdmin></MAGAdmin>
    </div>
    <div *ngSwitchCase="'MagSearch'">
        <MAGSearch (PleaseGoTo)="ChangeContext($event)"></MAGSearch>
    </div>
    <div *ngSwitchCase="['SelectedPapers','PaperDetail','MagSearchPapersList','MagRelatedPapersRunList','BrowseTopic','MatchesIncluded','MatchesExcluded','MatchesIncludedAndExcluded','ReviewMatchedPapersWithThisCode','MagAutoUpdateRunPapersList'].includes(Context) ? Context : 'nothappening'">
        <!--to understand the above, see:https://stackoverflow.com/a/40177408-->
        <MAGBrowser></MAGBrowser>
    </div>

    <div *ngSwitchDefault>
        <h4>Error...</h4>
    </div>
</ng-container>
<statusbar></statusbar>
