<!--<HeaderComponent class="row p-1 m-0" style="vertical-align:top;" PageTitle="Microsoft Academic Browser" Context="adminMAG"></HeaderComponent>

<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>

<MAGHeaderBar Context="adminMAG"></MAGHeaderBar>-->

<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>
<div class="container col-12">

    <div class="row" style="vertical-align:top">

        <div class="col-lg-4 ">
            <div class="card-footer h-100 w-100">
                <h2 class="card-title"></h2>
                <h4 class="font-weight-light text-sm-left">Current Microsoft Academic Graph Dataset: <i>{{_magAdminService.latestMAGName}}  </i></h4>
                <h4 class="font-weight-light">Previous Microsoft Academic Graph Dataset: <i>{{_magAdminService.previousMAGName}} </i></h4>
                <div class="card-footer " style=" word-break: break-all;">
                    <h4 class="font-weight-light">Shared Access Key (SAS):</h4>
                    <p class="form-control col-12 h-25  border border-dark">
                        {{_magAdminService.latestMagSasUri}}
                    </p>
                </div>

                <div class="card-footer">
                    <h4 class="font-weight-light">MAG Release Notes:</h4>
                    <textarea style="min-height:100px" class="form-control col-12  border border-dark">
                       {{_magAdminService.releaseNotes}}
                 </textarea>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="small row col-12">
                <h4 class="card-title">Your current Microsoft Academic Graph Info</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 p-2 m-2 ">
                            MAG Folder:{{_magAdminService.MagCurrentInfo.magFolder}}
                        </div>
                        <div class="col-12  p-2 m-2 ">
                            MAKES EndPoint:{{_magAdminService.MagCurrentInfo.makesEndPoint}}
                        </div>
                        <div class="col-12  p-2 m-2 ">
                            MAKES Deployment Status: {{_magAdminService.MagCurrentInfo.makesDeploymentStatus}}
                        </div>

                        <div class="col-12 p-2 m-2 ">
                            Enter new MAG Version:<input class="form-control" type="text" id="newMagVersion" [(ngModel)]="newMagVersion" />
                        </div>
                        <div class="col-12  p-2 m-2 ">
                            Enter new MAKES EndPoint:<input class="form-control" type="text" id="newMagEndPoint" [(ngModel)]="newMagEndPoint" />
                        </div>


                        <div class="card-text small row col-12">
                            <div>
                                <span class=" p-2 m-2 small col-3" style="width: 110px;">
                                    <a class="btn btn-primary btn-sm text-white" (click)="UpdateMagInfo()">Update MAG Info</a>
                                </span>
                            </div>
                        </div>
                        <h2 class="card-title"></h2>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <h2 class="card-title"></h2>
            <h2 class="font-weight-light">Microsoft Academic Graph Admin</h2>
            <p>Click <b>ID changes</b> to check for Paper ID changes before updating your MAG current info</p>
            <a class="btn btn-warning btn-lg text-white fa fa-search-plus" (click)="DoCheckChangedPaperIds()"></a>
            <h2 class="card-title"></h2>

            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">ContReview Pipeline</h4>

                    <p class="card-text">Choose your thresholds and then kick off the Azure ML pipeline to train and infer from a set of data</p>

                </div>

                <div class="card-text small row col-12" style="overflow: hidden">

                    <div class="col-sm-12 col-lg-3 p-2 m-2 small">
                        <h6>Score threshold</h6>
                        <kendo-numerictextbox [(ngModel)]="ScoreThreshold"
                                              [min]="0"
                                              [step]="stepScore"
                                              [max]="1"
                                              [autoCorrect]="true"
                                              class="border border-dark rounded"
                                              style="width: 110px;"></kendo-numerictextbox>
                    </div>
                    <div class="col-sm-12 col-lg-3  p-2 m-2 small">
                        <h6>FoS threshold</h6>
                        <kendo-numerictextbox [(ngModel)]="FoSThreshold"
                                              [min]="0"
                                              [step]="stepFoS"
                                              [max]="1"
                                              [autoCorrect]="true"
                                              class="border border-dark rounded"
                                              style="width: 110px;"></kendo-numerictextbox>
                    </div>
                    <div class="col-sm-12 col-lg-3  p-2 m-2 small">
                        <h6>Sample size</h6>
                        <kendo-numerictextbox [(ngModel)]="SampleSize"
                                              [min]="0"
                                              [step]="stepSampleSize"
                                              [max]="100"
                                              [autoCorrect]="true"
                                              class="border border-dark rounded"
                                              style="min-width: 110px;"></kendo-numerictextbox>
                    </div>
                </div>
                <div class="card-text small row col-12">
                    <div>
                        <span class=" p-2 m-2 small col-3" style="width: 110px;">
                            <a class="btn btn-primary btn-sm text-white" (click)="CheckContReviewPipeLine()">Run Pipeline</a>
                        </span>
                    </div>
                </div>
                <h2 class="card-title"></h2>
            </div>
           
        </div>
    </div>

    <h2 class="card-title"></h2>
    <div class="row">

        <div class="col-md-4 mb-5">

            <div class="card h-100">

                <div class="card-body">

                    <h4 class="card-title">MAG Reviews</h4>
                    <table>
                        <tr>
                            <td>
                                <input  [(ngModel)]="reviewId"  type="text" class="form-control small" id="reviewID" placeholder="Review ID" width="30">
                            </td>
                            <td>
                                <a  class="btn btn-success btn-lg text-white align-content-center fa fa-plus" (click)="AddReviewWithThisId()"></a>
                            </td>
                            <td>
                                <a class="btn btn-info btn-lg text-white align-content-center fa fa-refresh" (click)="RefreshReviewList()"></a>
                            </td>
                        </tr>
                    </table>

                    <div class="col-12 alert-secondary p-2 m-2 card">

                        <table class="table table-sm text-small table-responsive table-striped" 
                               style="min-width:150px;max-height:600px;overflow:auto;">
                            <thead>
                                <tr>
                                    <th width="15">Delete</th>
                                    <th width="15">ReviewID</th>
                                    <th width="15">ReviewName</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of MagReviewList">
                                    <td>
                                        <button class="btn alert-danger"
                                                (click)="DeleteReview(item)">
                                            Delete
                                        </button>
                                    </td>
                                    <td>{{item.reviewId}}</td>
                                    <td>{{item.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-8 mb-5">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Log history</h4>
                    <a class="btn btn-info btn-lg text-white align-content-center  fa fa-refresh" (click)="RefreshLogTable()"></a>
                    <div class="col-12 alert-secondary p-2 m-2 card">

                        <table class="table table-sm text-small table-responsive table-striped" style="min-width:150px;max-height:600px; overflow:auto;">
                            <thead>
                                <tr>
                                    <th width="15">Job</th>
                                    <th width="15">Submitted by</th>
                                    <th width="15">Job Status</th>
                                    <th width="15">When submitted</th>
                                    <th width="15">When updated</th>
                                    <th width="15">Job Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of MagLogList">
                                    <td>{{item.jobType}}</td>
                                    <td>{{item.contactName}}</td>
                                    <td>{{item.jobStatus}}</td>
                                    <td>{{item.timeSubmitted}}</td>
                                    <td>{{item.timeUpdated}}</td>
                                    <td>{{item.jobMessage}}</td>
                                </tr>
                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>

<!--<statusbar></statusbar>-->