<HeaderComponent Context="MAGBrowsingHistory"></HeaderComponent>

<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>

<MAGHeaderBar></MAGHeaderBar>
<div class="col-12 p-2 m-2 card bg-light" style="min-width:450px; overflow:auto;">
    <h4>MAG Admin </h4>
</div>
<!--<div class="col-12 p-2 m-2 card bg-secondary" style="min-width:450px; overflow:auto;">
    <h5>Current Microsoft Academic Graph Dataset:<i> {{_magAdvancedService.MagCurrentInfo.lastUpdated}} </i></h5>
    <h5>Previous Microsoft Academic Graph Dataset:<i> {{_magAdvancedService.MagCurrentInfo.previousUpdated}} </i></h5>
    <button class="btn alert-info" (click)="DoCheckChangedPaperIds()">Idenitfy ID changes</button>
    <h5>Shared Access Key (SAS):</h5>
    <textarea>
            sdfgsdfgsdg

    </textarea>
    <h5>MAG Release Notes:</h5>
    <textarea>
            sdfgsdfgsdg

    </textarea>
</div>

<div class="col-12 p-2 m-2 card bg-secondary" style="min-width:450px; overflow:auto;">

    <button class="btn alert-secondary">Run the ContReview Pipeline</button>

</div>


<div class="col-12 p-2 m-2 card bg-light" style="min-width:450px; overflow:auto;">
    <h4>Log History: </h4>
    <button class="btn alert-success">Refresh Log Table</button>
    <div class="col-12 alert-info p-2 m-2 border border-dark card">
        <table class="table table-border" style="min-width:150px;overflow:auto;">
            <thead>
                <tr>
                    <th width="15">Job</th>
                    <th width="15">Submitted by</th>
                    <th width="15">Method</th>
                    <th width="15">Job Status</th>
                    <th width="15">When submitted</th>
                    <th width="15">When updated</th>
                    <th >Job Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of MagJobList">
                    <td>{{item.job}}</td>
                    <td>{{item.}}</td>
                    <td>{{item.}}</td>
                    <td>{{item.}}</td>
                    <td>{{item.}}</td>
                    <td> {{item.}}</td>
                    <td>{{item.}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->

<div class="container">



    <!-- Heading Row -->

    <div class="row align-items-center my-5">

        <div class="col-lg-7">

            <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">

        </div>

        <!-- /.col-lg-8 -->

        <div class="col-lg-5">

            <h1 class="font-weight-light">Business Name or Tagline</h1>

            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>

            <a class="btn btn-primary" href="#">Call to Action!</a>

        </div>

        <!-- /.col-md-4 -->

    </div>

    <!-- /.row -->
    <!-- Call to Action Well -->

    <div class="card text-white bg-secondary my-5 py-4 text-center">

        <div class="card-body">

            <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>

        </div>

    </div>



    <!-- Content Row -->

    <div class="row">

        <div class="col-md-4 mb-5">

            <div class="card h-100">

                <div class="card-body">

                    <h2 class="card-title">Card One</h2>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>

                </div>

                <div class="card-footer">

                    <a href="#" class="btn btn-primary btn-sm">More Info</a>

                </div>

            </div>

        </div>

        <!-- /.col-md-4 -->

        <div class="col-md-4 mb-5">

            <div class="card h-100">

                <div class="card-body">

                    <h2 class="card-title">Card Two</h2>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>

                </div>

                <div class="card-footer">

                    <a href="#" class="btn btn-primary btn-sm">More Info</a>

                </div>

            </div>

        </div>

        <!-- /.col-md-4 -->

        <div class="col-md-4 mb-5">

            <div class="card h-100">

                <div class="card-body">

                    <h2 class="card-title">Card Three</h2>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>

                </div>

                <div class="card-footer">

                    <a href="#" class="btn btn-primary btn-sm">More Info</a>

                </div>

            </div>

        </div>

        <!-- /.col-md-4 -->



    </div>

    <!-- /.row -->



</div>

<!-- /.container -->


<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>

<statusbar></statusbar>