<HeaderComponent Context="MAGBrowsingHistory"></HeaderComponent>

<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>

<MAGHeaderBar></MAGHeaderBar>
<div class="col-10 p-2 m-2 card bg-light" style="min-width:450px; overflow:auto;">
    <h4>MAG Admin </h4>
</div>
<div class="col-10 p-2 m-2 card bg-secondary" style="min-width:450px; overflow:auto;">
    <h5>Current Microsoft Academic Graph Dataset:<i> {{_magAdvancedService.MagCurrentInfo.lastUpdated}} </i></h5>
    <h5>Shared Access Key (SAS):</h5>
    <textarea>
            sdfgsdfgsdg
        
    </textarea>
    <h5>MAG Release Notes:</h5>
    <textarea>
            sdfgsdfgsdg
        
    </textarea>
</div>


<div class="col-10 p-2 m-2 card bg-light" style="min-width:450px; overflow:auto;">
    <h4>Actions: </h4>
    
</div>

<div class="col-10 p-2 m-2 card bg-light" style="min-width:450px; overflow:auto;">
    <h4>Job History: </h4>
</div>


<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>

<statusbar></statusbar>