<HeaderComponent Context="MAGBrowsingHistory"></HeaderComponent>

<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>


<div class="containsAtoolbar">
    <kendo-toolbar>
        <kendo-toolbar-button [text]="'Selected'" (click)="Selected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Clear Selected'" (click)="ClearSelected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Import Selected'" (click)="ImportSelected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Auto-update home'" (click)="AutoUpdateHome()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Advanced features'" (click)="AdvancedFeatures()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Admin'" (click)="Admin()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Back'" (click)="Back()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Forward'" (click)="Forward()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
    </kendo-toolbar>
</div>
<div class="col-6 p-2 m-2 card bg-secondary" style="min-width:450px; overflow:auto;">
    <h5>Current Microsoft Academic Graph Dataset:<i> {{_magAdvancedService.MagCurrentInfo.lastUpdated}} </i></h5>

</div>
<div class="col-6 p-2 m-2 card bg-info" style="min-width:450px; overflow:auto;">
    <h4>MAG Browsing History</h4>
</div>
<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>

<button class="btn btn-info  p-2 m-2 " (click)="ClearHistory()">Clear History </button>
<div class="col-6 bg-light card" style="min-width:450px;" >
    <table class="table table-responsive table-striped"  >
        <thead>
            <tr>
                <th class="w-25">Url
                </th>
                <th class="w-25">Go to URL
                </th>
                <th class="w-25">
                    Remove URL from history stack
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of _MAGBrowserHistoryService.getHistory()">
                <td class="w-25">{{item.url}}</td>
                <td class="w-25"><button class="btn btn-success" (click)="GoToUrl(item.url)">GO</button></td>
                <td class="w-25"><button class="btn btn-danger" (click)="RemoveUrl(item)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>

<statusbar></statusbar>