<HeaderComponent class="row p-1 m-0" style="vertical-align:top;" PageTitle="Microsoft Academic Browser" Context="MAGBrowsingHistory"></HeaderComponent>

<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:300;" (click)="Back()">
    Close/back
</button>

<MAGHeaderBar Context="MAGKeepUpToDate"></MAGHeaderBar>
<div class="container col-12">
    <div class="row">

        <div class="col-12">
            <table>
                <tr>
                    <td>
                        <h2 class="font-weight-light">Keep review up-to-date (set up review auto-updates)</h2>
                    </td>
                    <td style="padding-left:10px">
                        <div *ngIf="!basicPanel">
                            <a  class="btn btn-dark btn-sm text-white" data-toggle="collapse"
                               href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                                more details <i class="fa fa-arrow-circle-down"></i>
                            </a>
                        </div>
                        <div *ngIf="basicPanel">
                            <a class="btn btn-dark btn-sm text-white" data-toggle="collapse"
                               href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                                more details <i class="fa fa-arrow-circle-up"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="collapse multi-collapse" id="collapseExample1">
                <div class="card card-footer">
                    <p>On this page you can set up tasks to find new related papers, which will appear here, whenever MAG is updated (every two weeks, usually).</p>
                    <p>
                        Auto updates create a model of the items you will pick and apply it to new MAG references, so to indentify those new references, 
                        recently indexed in MAG, which appear to be similar to the items you currently have in this review.
                    </p>
                    <p>
                        There are two tables below: the first one shows each "auto update task" you have created (you will normally need only one).<br />
                        The second table will automatically create a new entry (for each row in the first table)
                        every time a new version of MAG is published. We call these "task runs", as they are "find new related papers" tasks that run automatically, 
                        when MAG receives an update.<br />
                        These then show as "task results" (second table) and will indicate how many new references have been found. You will then be able to:
                    </p>
                    <ul>
                        <li>List the results without importing them</li>
                        <li>Import (and then screen normally) all the items found</li>
                        <li>Refine the results, by applying additional classifiers and/or picking more stringent thresholds (before importing and screening).</li>
                    </ul>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div *ngIf="!basicSearchPanel">
            <a (click)="ToggleSearchPanel()" class="btn btn-info btn-sm text-white  p-2 m-2">
                Create new auto-update task <i class="fa fa-arrow-circle-down"></i>
            </a>
        </div>
        <div *ngIf="basicSearchPanel">
            <a (click)="ToggleSearchPanel()" class="btn btn-info btn-sm text-white  p-2 m-2">
                Adding "New auto-update task" (click to close) <i class="fa fa-arrow-circle-up"></i>
            </a>
        </div>
    </div>
    <div class="multi-collapse" [hidden]="!basicSearchPanel">
        <div class="card card-footer p-1">
            <div class="row m-0 p-1">
                <b class="my-auto mx-1">Description: </b>
                <input required minlength="4" type="text" id="descName" name="descName" #descName="ngModel" class="form-control col-12 col-sm-6 my-auto mx-1"
                       [(ngModel)]="description" />
                <div *ngIf="descName.invalid && (descName.dirty || descName.touched)"
                     class="alert-danger rounded border border-danger my-auto mx-1 py-1 px-1">

                    <div *ngIf="descName.errors.required">
                        Description is required.
                    </div>
                    <div *ngIf="descName.errors.minlength">
                        Description must be at least 4 characters long.
                    </div>
                </div>
            </div>
            <div class="row m-0 p-1">
                <b class="my-auto mx-1">Search based on: </b>
                <div class="d-inline-block my-auto">
                    <input type="radio" value="all" name="searchAll" class="mx-1 my-auto"
                           [(ngModel)]="searchAll">	All included items
                </div>
                <div class="d-inline-block my-auto ml-2">
                    <input type="radio" value="specified" name="searchAll" class="mx-1 my-auto"
                           [(ngModel)]="searchAll">	Items with this code
                </div>
            </div>
            <div *ngIf="searchAll == 'specified' || searchAll == 'child'" class="row m-0 p-1">
                <b class="my-auto mx-1 col-12 col-sm-auto">Select code: </b>
                <table class="col-12 col-sm-auto">
                    <tr>
                        <td style="padding-right: 25px;">

                            <div ngbDropdown class="" style="min-width:150px;">
                                <button ngbDropdownAnchor class="btn btn-outline-primary dropdown-toggle w-100"
                                        style="min-width: 250px; white-space:normal" [attr.aria-expanded]="!isCollapsed"
                                        id="dropdownBasic1"
                                        (click)="isCollapsed = !isCollapsed; dropdownBasic1 = false">
                                    {{CurrentDropdownSelectedCode?.name}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownBasic1" [ngbCollapse]="!isCollapsed">
                                    <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'"
                                                     [MaxHeight]="500" #WithOrWithoutCodeSelector
                                                     (selectedNodeInTree)="CloseCodeDropDown()" [rootsOnly]="false">
                                    </codesetSelector>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row m-0 p-1">
                <div class="col-12 p-0 m-0">
                    <button [disabled]="!CanAddNewMAGSearch()" (click)="CreateAutoUpdate()"
                            class="btn btn-primary btn-sm text-white">
                        <b>Add new search</b>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-12 font-weight-bold">Auto update tasks (they run when new MAG data arrives) </div>
        <div class="p-1 border-top border-bottom border-dark col-12 bg-light" style="max-height:30vh">
            <table class="col-12 table table-striped" style="max-height:30vh">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>All included?</th>
                        <th>Only with this code?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of MagAutoUpdatesList">
                        <td>{{task.userDescription}}</td>
                        <td>{{task.allIncluded}}</td>
                        <td>{{task.attributeName}}</td>
                        <td>
                            <button (click)="DeleteAutoUpdate(task)" [disabled]="!HasWriteRights" title="Delete this task" class="btn btn-outline-danger btn-sm px-1 py-1">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">Items found at each task execution </div>
        <div class="p-1 border-top border-bottom border-dark col-12 bg-light" style="max-height:30vh">
            <table class="col-12 table table-sm">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>All included?</th>
                        <th>With this code</th>
                        <th>"Study Type" classifier</th>
                        <th>User Classifier</th>
                        <th>MAG V.</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of MagAutoUpdateRunList">
                        <td>{{task.userDescription}}</td>
                        <td>{{task.allIncluded}}</td>
                        <td>{{task.attributeName}}</td>
                        <td>{{task.studyTypeClassifier}}</td>
                        <td>{{task.userClassifierDescription}}</td>
                        <td>{{task.magVersion}}</td>
                        <td>{{task.dateRun}}</td>
                        <td>
                            <button md-tooltip='delete task' (click)="RefineAndImport(task)" class="btn btn-outline-primary btn-sm " [disabled]="!HasWriteRights || task.nPapers < 1">
                                Refine/Import
                            </button>
                        </td>
                        <td>
                            <button (click)="BrowseAllItems(task)" [disabled]="!HasWriteRights || task.nPapers < 1" class="btn btn-link btn-sm">{{task.nPapers}}</button>
                        </td>
                        <td>
                            <button (click)="DeleteAutoUpdateRun(task)" title="Delete these task results" class="btn btn-outline-danger btn-sm px-1 py-1" [disabled]="!HasWriteRights">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="CurrentMagAutoUpdateRun != null" class="p-1 my-1 mx-0 row border rounded border-success col-12 bg-white">
            <div class="col-12 px-2">
                <div class="row mx-0 small px-1 my-1 mx-1 alert-info border rounded border-info">
                    <div class="ml-auto mr-auto">
                        Showing details for: <strong>"{{CurrentMagAutoUpdateRun.userDescription}}"</strong>
                        , created on: {{CurrentMagAutoUpdateRun.dateRun}}, containing <strong>{{CurrentMagAutoUpdateRun.nPapers}}</strong> MAG papers
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 border-bottom border-right border-primary">
                <kendo-chart style="max-height:260px;">
                    <kendo-chart-series>
                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item>
                                <kendo-chart-category-axis-item-labels rotation="auto">
                                </kendo-chart-category-axis-item-labels>
                            </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>
                        <kendo-chart-series-item type="column" [data]="MagAutoUpdateVisualise"
                                                 field="count" categoryField="range">
                        </kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
                <div class="mx-0 mb-1 row small">
                    <div>Show distribution of: </div>
                    <div class="row mx-1 px-1 border rounded">
                        <div class="mr-1">Auto-update model</div>
                        <input type="radio" name="ShowDistN" [(ngModel)]="ShowDist" value="AutoUpdate" class="my-auto" />
                    </div>
                    <div class="row mx-1 px-1 border rounded">
                        <div class="mr-1">Study Type Classifier</div>
                        <input type="radio" name="ShowDistN" [(ngModel)]="ShowDist" value="StudyType" class="my-auto"
                               [disabled]="CurrentMagAutoUpdateRun == null || CurrentMagAutoUpdateRun.studyTypeClassifier == ''" />
                    </div>
                    <div class="row mx-1 px-1 border rounded">
                        <div class="mr-1">User Classifier</div>
                        <input type="radio" name="ShowDistN" [(ngModel)]="ShowDist" value="User" class="my-auto"
                               [disabled]="CurrentMagAutoUpdateRun == null || CurrentMagAutoUpdateRun.userClassifierModelId < 1" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 border-bottom border-primary">
                <form #ThreshodsForm="ngForm">
                    <div class="row m-1 border-bottom">
                        <kendo-numerictextbox [(ngModel)]="ListCriteria.autoUpdateAutoUpdateScore"
                                              name="n1"
                                              [min]="0.2" [format]="'n2'"
                                              [max]="1"
                                              [step]="0.01"
                                              [autoCorrect]="true"
                                              class="border border-dark rounded mb-1"
                                              style="width: 110px;"></kendo-numerictextbox>
                        <div class="mx-1 my-auto">Auto-update model score threshold</div>
                    </div>
                    <div class="row m-1 border-bottom">
                        <kendo-numerictextbox [(ngModel)]="ListCriteria.autoUpdateStudyTypeClassifierScore"
                                              name="n2"
                                              [min]="0" [format]="'n2'"
                                              [max]="1"
                                              [step]="0.01"
                                              [autoCorrect]="true"
                                              [disabled]="CurrentMagAutoUpdateRun == null || CurrentMagAutoUpdateRun.studyTypeClassifier == ''"
                                              class="border border-dark rounded mb-1"
                                              style="width: 110px;"></kendo-numerictextbox>
                        <div class="mx-1 my-auto">"Study type" classifier score threshold</div>
                    </div>
                    <div class="row m-1 border-bottom">
                        <kendo-numerictextbox [(ngModel)]="ListCriteria.autoUpdateUserClassifierScore"
                                              name="n3"
                                              [min]="0" [format]="'n2'"
                                              [max]="1"
                                              [step]="0.01"
                                              [autoCorrect]="true"
                                              [disabled]="CurrentMagAutoUpdateRun == null || CurrentMagAutoUpdateRun.userClassifierModelId < 1"
                                              class="border border-dark rounded mb-1"
                                              style="width: 110px;"></kendo-numerictextbox>
                        <div class="mx-1 my-auto">"User classifier" score threshold</div>
                    </div>
                </form>
                <div class="row m-1 border-bottom">
                    <div class="mx-1 mt-auto mb-1">The thresholds above filter out {{ListCriteriaTotPapers - ListCriteriaFilteredPapers}} records.</div>
                    <button (click)="AutoUpdateCountResultsCommand()" class="btn btn-outline-success btn-sm px-1 py-0 mb-1 ">
                        Refresh
                    </button>
                </div>
                <div class="row m-1 border-bottom">
                    <div class="mx-1 my-auto">Import top: </div>
                    <kendo-numerictextbox [(ngModel)]="ListCriteria.autoUpdateUserTopN"
                                          [min]="1" [format]="'n0'"
                                          [max]="ListCriteriaFilteredPapers"
                                          [step]="1"
                                          [autoCorrect]="true"
                                          class="border border-primary rounded mb-1"
                                          style="min-width: 110px;"></kendo-numerictextbox>
                    <div class="mx-1 my-auto">in order of </div>
                    <select [(ngModel)]="comboAutoUpdateImportOptions" class="my-auto">
                        <option Value="AutoUpdate" [selected]="comboAutoUpdateImportOptions == 'AutoUpdate'">Auto-Update Model</option>
                        <option Value="StudyTypeClassifier" [selected]="comboAutoUpdateImportOptions == 'StudyTypeClassifier'">Study Type Classifier</option>
                        <option Value="UserClassifier" [selected]="comboAutoUpdateImportOptions == 'UserClassifier'">User Classifier</option>
                    </select>
                </div>
                <div class="row m-1 border-bottom">
                    <div class="mx-1 mt-auto mb-1">Number to import {{ListCriteria.autoUpdateUserTopN}} of {{ListCriteriaTotPapers}}</div>

                    <div (click)="GetItems(item)" class="btn btn-outline-success btn-sm px-1 py-0 mb-1">List items</div>

                </div>
                <div class="row m-1">
                    <div class="d-inline mx-auto">
                        <div (click)="CancelImportRefine()" class="btn btn-outline-dark px-3 py-1 mx-1">Cancel</div>
                        <button (click)="ImportMagRelatedPapersRun()" [disabled]="!HasWriteRights || ListCriteria.autoUpdateUserTopN < 1 || ThreshodsForm.dirty" class="btn btn-outline-danger px-2 py-1 mx-1">Import!</button>
                        <div *ngIf="ThreshodsForm.dirty" class="alert-danger small rounded m-1 p-1 d-inline">Please click "Refresh" 1st</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 py-1 border-right border-primary">
                <div class="row mx-0 px-0 my-1 ">
                    <div class="d-inline mx-3 rounded alert-info border border-info my-1 p-1">
                        You can <strong>refine</strong> your results by <em>also</em> applying a "study" type model,
                        or any one of your own "custom build models".
                        <div class="alert-warning m-2 rounded border border-danger p-1 small">
                            Beware of being "too clever", when applying machine learning models to reduce the number of new items: if your review currently "misses" some relevant studies,
                            you could be perpetuating the same mistake at each update.
                        </div>
                    </div>
                </div>
                <div class="row mx-0 px-0 my-1">
                    <select [(ngModel)]="SelectedStudyClassifier" class="select mx-1">
                        <option *ngFor="let itm of StudyClassifiers" [ngValue]="itm" [selected]="itm == SelectedStudyClassifier">{{itm}}</option>
                    </select>
                    <div class="mx-1">
                        <button (click)="RunStudyClassifier()" [disabled]="!HasWriteRights || SelectedStudyClassifier == '[Please select...]'"
                                class="btn btn-outline-primary btn-sm " style="min-width:60px;">
                            Run Study Classifier
                        </button>
                    </div>
                </div>
                <div class="row mx-0 px-0 my-1 ">
                    <select [(ngModel)]="SelectedClassifierContactModel" class="select mx-1">
                        <option [ngValue]="null" [selected]="SelectedStudyClassifier == null">[Please select...]</option>
                        <option *ngFor="let itm of ClassifierContactModelList" [ngValue]="itm" [selected]="itm == SelectedStudyClassifier">{{itm.modelTitle}} (Rev ID: {{itm.reviewId}})</option>
                    </select>
                    <div class="mx-1">
                        <button (click)="RunContactModelClassifier()" [disabled]="!HasWriteRights || SelectedClassifierContactModel == null"
                                class="btn btn-outline-dark btn-sm " style="min-width:60px;">
                            Run Your Classifier
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 py-1 ">
                <div class="row mx-0 px-0 my-1 ">
                    <div class="d-inline mx-3 rounded alert-info border border-info my-1 p-1">
                        When importing, you can also <strong>filter out</strong> any reference that contains the following strings (comma-separated):
                    </div>
                </div>
                <div class="row mx-0 px-0 mb-1 border-bottom ">
                    <div class="col small">Filter (out) from journal field: </div>
                    <input type="text" [(ngModel)]="FilterOutJournal" class="my-auto ml-1 col-auto px-1" size="60" />
                </div>
                <div class="row mx-0 px-0 mb-1 border-bottom ">
                    <div class="col small">Filter (out) from URL field: </div>
                    <input type="text" [(ngModel)]="FilterOutURL" class="my-auto ml-1 col-auto px-1" size="60" />
                </div>
                <div class="row mx-0 px-0 mb-1 border-bottom ">
                    <div class="col small">Filter (out) from DOI field: </div>
                    <input type="text" [(ngModel)]="FilterOutDOI" class="my-auto ml-1 col-auto px-1" size="60" />
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>

<statusbar></statusbar>





