

<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>
<div class="container col-12">

    <div class="row" style="vertical-align:top">
        <div class="col-12 col-md-8 px-1 card">
            <div class=" h-100 w-100">

                <div class="card-footer">
                    <h2 class="font-weight-light text-sm-left"> New search </h2>
                    <div class="col-12 row mb-2">

                        <div class="col-sm-6">
                            <div ngbDropdown>
                                <select class="col-sm-12 col-lg-12 form-control mb-1" name="WordsInSelection"
                                        [(ngModel)]="WordsInSelection">
                                    <option [value]="0" [selected]="WordsInSelection == 0">Word(s) in title</option>
                                    <option [value]="1">Word(s) in title/abstract</option>
                                    <!--<option [value]="2">Author name(s)</option>-->
                                    <option [value]="2">Topic</option>
                                    <option [value]="3">OpenAlex ID(s)</option>
                                    <!--<option [value]="5">Journal</option>
                                    <option [value]="6">Custom</option>-->
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6" *ngIf="WordsInSelection != '2'">
                            <input id="magSearchInput" name="magSearchInput" type="text" class="form-control" [(ngModel)]="magSearchInput"
                                   placeholder="Enter search text (e.g. physic*) " />


                        </div>
                    </div>

                    <div *ngIf="WordsInSelection == '2'">
                        <table width="100%">
                            <tr>
                                <td style="padding-left:15px;padding-bottom:10px; padding-right:10px">
                                    <div class="card">
                                        <div class="card-body">


                                            <div class="row m-0">1. Search OpenAlex for topics:</div>
                                            <div class="row m-0">
                                                <input class="form-control col border border-dark" type="text" id="SearchTextTopic" [(ngModel)]="magSearchInput"
                                                       placeholder="Wildcards will work, e.g. physic* " />
                                                <button (click)="UpdateTopicResults()" class="col-auto btn btn-primary btn-sm text-white" [disabled]="magSearchInput.length < 3" title="Search for topics">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>

                                            <div class="row m-0 " [ngClass]="{'font-weight-light small': SearchTextTopicsResults.length == 0}">
                                                2. Pick an OpenAlex topic:
                                            </div>
                                            <div *ngIf="SearchTextTopicsResults.length > 0" class="col-auto small my-1 mx-auto alert-info border border-info rounded">
                                                Showing topics found by searching for: <strong>{{SearchedTopic}}</strong>
                                            </div>
                                            <div *ngIf="SearchTextTopicsResults.length > 0" class="row bg-white border" style="max-height:300px;overflow:auto;">

                                                <div *ngFor="let item of SearchTextTopicsResults" class="col-auto btn border rounded p-1 m-1" (click)="SelectTopic(item)"
                                                     [ngStyle]="{ 'font-size.em': item.fontSize,'background-color': 'light-blue', 'color': 'black'}">
                                                    {{item.displayName}}
                                                </div>

                                            </div>
                                            <div class="row m-0" [ngClass]="{'font-weight-light small': SearchTextTopicDisplayName == ''}">
                                                3. Pick other options and Search:
                                            </div>
                                            <div *ngIf="SearchTextTopicDisplayName != ''" class="col-auto small my-1 mx-auto alert-info border border-info rounded">
                                                Selected OpenAlex topic is: <strong>{{SearchTextTopicDisplayName}}</strong>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="col-12 row mb-2" *ngIf="WordsInSelection != '1'">
                        <div class="row mx-0 col-sm-6">
                            <div ngbDropdown class="col-12 px-0">
                                <select class=" form-control mb-1" name="DateLimitSelection" 
                                        [(ngModel)]="DateLimitSelection">
                                    <option [ngValue]="0" [selected]="DateLimitSelection == 0">No date limit</option>
                                    <option [ngValue]="1">OpenAlex date after</option>
                                    <option [ngValue]="2">Publication date exactly</option>
                                    <option [ngValue]="3">Publication date before</option>
                                    <option [ngValue]="4">Publication date after</option>
                                    <option [ngValue]="5">Publication dates between</option>
                                    <option [ngValue]="6">Publication year exactly</option>
                                    <!--<option [ngValue]="6">Publication year before</option>
                                    <option [ngValue]="7">Publication year after</option>
                                    <option [ngValue]="8">Publication years between</option>-->
                                </select>
                            </div>
                            <div *ngIf="DateLimitSelection >0 && DateLimitSelection < 6 && DateLimitSelection != 2" 
                                 class="small rounded alert-info my-auto px-2 py-1 col-12 mx-0 ">
                                <strong>Note:</strong> date filters use "greater than" and "less than" logic.</div>
                        </div>

                        <div class="col-sm-6">
                            <div *ngIf="DateLimitSelection == 5 ">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <div class="m-1 p-1"><b>Items Dated From</b></div>
                                            <div>
                                                <div class="example-wrapper">
                                                    <kendo-datepicker [(value)]="valueKendoDatepicker1" [format]="'dd MMM yyyy'"></kendo-datepicker>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="m-1 p-1"><b>Items Dated To</b></div>
                                            <div>
                                                <div class="example-wrapper">
                                                    <kendo-datepicker [(value)]="valueKendoDatepicker2" [format]="'dd MMM yyyy'"></kendo-datepicker>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div *ngIf="DateLimitSelection == 1 || DateLimitSelection == 2 || DateLimitSelection == 3 || DateLimitSelection == 4">
                                <div class="m-1 p-1"><b>Date</b></div>
                                <div>
                                    <div class="example-wrapper">
                                        <kendo-datepicker [(value)]="valueKendoDatepicker3" [format]="'dd MMM yyyy'"></kendo-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div >
                                <div *ngIf="DateLimitSelection == 6 ">
                                    This year:
                                    <kendo-numerictextbox [(ngModel)]="valueYearPicker3"
                                                          name="n1" [format]="'#####'"
                                                          [min]="1850"
                                                          [max]="maxyear"
                                                          [step]="1"
                                                          [autoCorrect]="true"
                                                          class="border border-dark rounded mb-1"
                                                          style="width: 105px;"></kendo-numerictextbox>
                                </div>
                                <!--<div *ngIf="DateLimitSelection == 6 ">
                                    Before this year:
                                    <kendo-numerictextbox [(ngModel)]="valueYearPicker3"
                                                          name="n1" [format]="'#####'"
                                                          [min]="1850"
                                                          [max]="maxyear"
                                                          [step]="1"
                                                          [autoCorrect]="true"
                                                          class="border border-dark rounded mb-1"
                                                          style="width: 105px;"></kendo-numerictextbox>
                                </div>
                                <div *ngIf="DateLimitSelection == 7 ">
                                    After this year:
                                    <kendo-numerictextbox [(ngModel)]="valueYearPicker3"
                                                          name="n1" [format]="'#####'"
                                                          [min]="1850"
                                                          [max]="maxyear"
                                                          [step]="1"
                                                          [autoCorrect]="true"
                                                          class="border border-dark rounded mb-1"
                                                          style="width: 105px;"></kendo-numerictextbox>
                                </div>
                                <div *ngIf="DateLimitSelection == 8 ">
                                    <div class="d-block">
                                        Between year:
                                        <kendo-numerictextbox [(ngModel)]="valueYearPicker3"
                                                              name="n1" [format]="'#####'"
                                                              [min]="1850"
                                                              [max]="maxyear"
                                                              [step]="1"
                                                              [autoCorrect]="true"
                                                              class="border border-dark rounded mb-1"
                                                              style="width: 105px;"></kendo-numerictextbox>
                                    </div>
                                    <div class="d-block">
                                        and year:
                                        <kendo-numerictextbox [(ngModel)]="valueYearPicker4"
                                                              name="n2" [format]="'#####'"
                                                              [min]="valueYearPicker3"
                                                              [max]="maxyear"
                                                              [step]="1"
                                                              [autoCorrect]="true"
                                                              class="border border-dark rounded mb-1"
                                                              style="width: 105px;"></kendo-numerictextbox>
                                    </div>
                                </div>-->
                            </div>

                        </div>
                    </div>

                    <div class="col-12 row mb-2">
                        <!--<div class="col-sm-6 ">
                            <div ngbDropdown>
                                <select class="col-12 form-control mb-1" name="PublicationTypeSelection"
                                        [(ngModel)]="PublicationTypeSelection">
                                    <option [ngValue]="0" [selected]="PublicationTypeSelection == 0">All publication types</option>
                                    <option [ngValue]="1">Unknown types</option>
                                    <option [ngValue]="2">Journal article</option>
                                    <option [ngValue]="3">Patent</option>
                                    <option [ngValue]="4">Conference paper</option>
                                    <option [ngValue]="5">Book chapter</option>
                                    <option [ngValue]="6">Book</option>
                                    <option [ngValue]="7">Book reference entry</option>
                                    <option [ngValue]="8">Dataset</option>
                                    <option [ngValue]="9">Repository</option>
                                </select>
                            </div>
                        </div>-->
                        <div class="col-sm-6 pt-1">
                            <button class="btn btn-primary btn-lg btn-sm text-white"
                                    [disabled]="!CanRunSearch()"
                                    (click)="RunOpenAlexSearch()">
                                Search&nbsp;&nbsp;
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 px-1 card">
            <div class="">

                <div class="card-footer h-100">
                    <h2 class="font-weight-light text-sm-left">Combine / filter searches</h2>
                    <h5 class="font-weight-light text-sm-left">Select one or more searches</h5>

                    <div class="card-text row col-12">

                        <div class="p-2 m-2 col-12">
                            <div ngbDropdown style="min-width:90px">
                                <select class="form-control" name="LogicalOperator"
                                        [disabled]="AllSelectedItems.length < 2 || AllSelectedItems.length > 20"
                                        [(ngModel)]="LogicalOperator">
                                    <option [selected]="LogicalOperator == 'Select operator'">Select operator</option>
                                    <option [selected]="LogicalOperator == 'AND'">AND</option>
                                    <option [selected]="LogicalOperator == 'OR'">OR</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="row col-12">
                            <div class="col-auto">(optional) Filter by date:</div>
                            <div ngbDropdown class="col-auto">
                                <select class="form-control mb-1" name="DateLimitSelectionCombine" [disabled]="!CanDeleteSearch()"
                                        [(ngModel)]="DateLimitSelectionCombine">
                                    <option [ngValue]="0" [selected]="DateLimitSelectionCombine == 0">No date limit</option>
                                    <option [ngValue]="1">Publication date exactly</option>
                                    <option [ngValue]="2">Publication date before</option>
                                    <option [ngValue]="3">Publication date after</option>
                                    <option [ngValue]="4">Publication dates between</option>
                                    <option [ngValue]="5">Publication year exactly</option>
                                    <option [ngValue]="6">Publication year before</option>
                                    <option [ngValue]="7">Publication year after</option>
                                    <option [ngValue]="8">Publication years between</option>
                                </select>
                            </div>
                        </div>-->
                        <!--<div *ngIf="DateLimitSelectionCombine > 0 && CanDeleteSearch()">
                            <ng-container [ngSwitch]="DateLimitSelectionCombine">
                                <div *ngSwitchCase="1">
                                    Exact date: <kendo-datepicker [(value)]="valueKendoDatepickerCombine1" [format]="'dd MMM yyyy'"></kendo-datepicker>
                                </div>
                                <div *ngSwitchCase="2">
                                    Before date: <kendo-datepicker [(value)]="valueKendoDatepickerCombine1" [format]="'dd MMM yyyy'"></kendo-datepicker>
                                </div>
                                <div *ngSwitchCase="3">
                                    After date: <kendo-datepicker [(value)]="valueKendoDatepickerCombine1" [format]="'dd MMM yyyy'"></kendo-datepicker>
                                </div>
                                <div *ngSwitchCase="4" class="row mx-1">
                                    <div class="d-block">Between: <kendo-datepicker [(value)]="valueKendoDatepickerCombine1" [format]="'dd MMM yyyy'"></kendo-datepicker></div>
                                    <div class="d-block">and <kendo-datepicker [(value)]="valueKendoDatepickerCombine2" [format]="'dd MMM yyyy'" [min]="valueKendoDatepickerCombine1"></kendo-datepicker></div>
                                </div>
                                <div *ngSwitchCase="5">
                                    This year:
                                    <kendo-numerictextbox [(ngModel)]="valueYearPickerCombine1"
                                                          name="n1" [format]="'#####'"
                                                          [min]="1850"
                                                          [max]="maxyear"
                                                          [step]="1"
                                                          [autoCorrect]="true"
                                                          class="border border-dark rounded mb-1"
                                                          style="width: 105px;"></kendo-numerictextbox>
                                </div>
                                <div *ngSwitchCase="6">
                                    Before this year:
                                    <kendo-numerictextbox [(ngModel)]="valueYearPickerCombine1"
                                                          name="n1" [format]="'#####'"
                                                          [min]="1850"
                                                          [max]="maxyear"
                                                          [step]="1"
                                                          [autoCorrect]="true"
                                                          class="border border-dark rounded mb-1"
                                                          style="width: 105px;"></kendo-numerictextbox>
                                </div>
                                <div *ngSwitchCase="7">
                                    After this year:
                                    <kendo-numerictextbox [(ngModel)]="valueYearPickerCombine1"
                                                          name="n1" [format]="'#####'"
                                                          [min]="1850"
                                                          [max]="maxyear"
                                                          [step]="1"
                                                          [autoCorrect]="true"
                                                          class="border border-dark rounded mb-1"
                                                          style="width: 105px;"></kendo-numerictextbox>
                                </div>
                                <div *ngSwitchCase="8" class="row mx-1">
                                    <div class="d-block">
                                        Between year:
                                        <kendo-numerictextbox [(ngModel)]="valueYearPickerCombine1"
                                                              name="n1" [format]="'#####'"
                                                              [min]="1850"
                                                              [max]="maxyear"
                                                              [step]="1"
                                                              [autoCorrect]="true"
                                                              class="border border-dark rounded mb-1"
                                                              style="width: 105px;"></kendo-numerictextbox>
                                    </div>
                                    <div class="d-block">
                                        and year:
                                        <kendo-numerictextbox [(ngModel)]="valueYearPickerCombine2"
                                                              name="n2" [format]="'#####'"
                                                              [min]="valueYearPickerCombine1"
                                                              [max]="maxyear"
                                                              [step]="1"
                                                              [autoCorrect]="true"
                                                              class="border border-dark rounded mb-1"
                                                              style="width: 105px;"></kendo-numerictextbox>
                                    </div>
                                </div>
                                <div *ngSwitchDefault></div>
                            </ng-container>
                        </div>-->
                        <div class="col-12 row mt-2 mx-0 p-0">
                            <div class="col-auto">
                                <button class="btn btn-primary btn-lg btn-sm text-white"
                                        [disabled]="!CanCombineSearches()" (click)="CombineSearches()">
                                    Combine Searches
                                    <i class="ml-1 fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container col-12 px-0">

    <div class="card px-1">
        <div class="card-body row mx-1 px-0">

            <div class="col-12 col-md-8 px-1">
                <table>
                    <tr>
                        <td>
                            <h4 class="card-title">Search results</h4>
                        </td>
                        <td style="padding-left:5px;vertical-align:top">
                            <button *ngIf="!IsServiceBusy" class="btn btn-sm btn-outline-success mx-1 mt-auto " (click)="FetchMagSearches()">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>&nbsp;
                            <button class="btn btn-sm btn-danger"
                                    [disabled]="!CanDeleteSearch()"
                                    (click)="DeleteSearches()">
                                Delete&nbsp;&nbsp;<i class="fa fa-trash"></i>
                            </button>&nbsp;
                        </td>
                        <td style="padding-left:5px;vertical-align:top">
                            <div *ngIf="!basicFilterPanel">
                                <a (click)="basicFilterPanel = !basicFilterPanel" class="btn btn-info btn-sm text-white">
                                    Import filters&nbsp;&nbsp;<i class="fa fa-arrow-circle-down"></i>
                                </a>
                            </div>
                            <div *ngIf="basicFilterPanel">
                                <a (click)="basicFilterPanel = !basicFilterPanel" class="btn btn-info btn-sm text-white">
                                    Import filters&nbsp;&nbsp;<i class="fa fa-arrow-circle-up"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="" [hidden]="!basicFilterPanel">
                <div class="row mx-0 px-0 my-1 ">
                    <div class="d-inline mx-3 rounded alert-info border border-info my-1 p-1">
                        When importing, you can also <strong>filter out</strong> any reference that contains the following strings (comma-separated):
                    </div>
                </div>
                <div class="row mx-0 px-0 mb-1 border-bottom ">
                    <div class="col small">Filter (out) from journal field: </div>
                    <input type="text" [(ngModel)]="FilterOutJournal" class="my-auto ml-1 col-auto px-1" size="60" />
                </div>
                <div class="row mx-0 px-0 mb-1 border-bottom ">
                    <div class="col small">Filter (out) from URL field: </div>
                    <input type="text" [(ngModel)]="FilterOutURL" class="my-auto ml-1 col-auto px-1" size="60" />
                </div>
                <div class="row mx-0 px-0 mb-1 border-bottom ">
                    <div class="col small">Filter (out) from DOI field: </div>
                    <input type="text" [(ngModel)]="FilterOutDOI" class="my-auto ml-1 col-auto px-1" size="60" />
                </div>
                <div class="row mx-0 px-0 mb-1 border-bottom ">
                    <div class="col small">Filter (out) from title field: </div>
                    <input type="text" [(ngModel)]="FilterOutTitle" class="my-auto ml-1 col-auto px-1" size="60" />
                </div>
            </div>

            <div class="col-12 alert-secondary p-2 m-2 card">
                <div class="row p-0 m-0 w-100" style="max-height:600px; overflow:auto;">



                    <table class="table  table-sm table-striped">
                        <thead>
                            <tr>
                                <th class="" width="1">
                                    <input class="m-1" style="zoom: 1.2;"
                                           type="checkbox"
                                           name="selectAll"
                                           [ngModel]="AllItemsAreSelected"
                                           (click)="ToggleAllItemsSelected()" />
                                </th>
                                <th class="" width="1">#</th>
                                <th class="" width="6" style="min-width:50px">Name</th>
                                <th class="" width="5" style="min-width:50px">Search string</th>
                                <th class="" width="2">User</th>
                                <th class="" width="2">Date</th>
                                <th class="" width="2" style="text-align:center" title="Number of 'current' hits might be bigger, as new results appear in OpenAlex">Hits (min.)</th>
                                <th class="" width="1" style="min-width:40px;text-align:center;font-size:0.76em;">Re-run/import</th>
                                <!--<th class="" width="1" style="min-width:40px;text-align:center">Import</th>-->

                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of MagSearchList" class="small" [ngClass]="{'font-italic': !CanImportMagPapers(item), 'font-weight-bold': CanImportMagPapers(item) }">
                                <td class="">
                                    <input class="ml-1" style="zoom: 1.2;"
                                           type="checkbox"
                                           [(ngModel)]="item.add" />
                                </td>
                                <td class="">{{item.searchNo}}</td>
                                <td class="" style="overflow: hidden; text-overflow: ellipsis; word-break: break-all;" title={{item.searchText}}>{{item.searchText}}</td>
                                <td class="" style="overflow: hidden; text-overflow: ellipsis; word-break: break-all;" title={{item.magSearchText}}>{{item.magSearchText | truncate}} </td>
                                <td class="">{{item.contactName}}</td>
                                <td class="">{{FormatDate2(item.searchDate)}}</td>
                                <td class=" p-0" style="vertical-align:middle;text-align:center">
                                    <button (click)="GetItems(item)" [disabled]="item.isOASearch == false || item.hitsNo < 1" class="btn btn-link btn-sm font-weight-bold">{{ item.hitsNo}}</button>
                                </td>
                                <td class="" style="min-width:65px;text-align:center">
                                    <button *ngIf="item.isOASearch && !item.searchIdsStored" (click)="ReRunMAGSearch(item)" class="btn btn-warning btn-sm text-white align-content-center mr-1" title="Re-Run (update)">
                                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    </button>
                                    <button *ngIf="item.isOASearch" (click)="ImportMagSearchPapers(item)" [disabled]="!CanImportMagPapers(item)" title="Import"
                                            class="btn btn-primary btn-sm text-white align-content-center">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <!--<td class="small" style="min-width:40px;text-align:center">

                                </td>-->

                            </tr>
                        </tbody>

                    </table>





                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>
<!--<statusbar></statusbar>-->