<!--<HeaderComponent class="row p-1 m-0" style="vertical-align:top;" PageTitle="Microsoft Academic Browser" Context="MAGMatching"></HeaderComponent>
<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>
<MAGHeaderBar Context="MAGMatching"></MAGHeaderBar>-->

<div class="container col-12">
    <div class="row" style="vertical-align:top">

        <div class="col-sm-10 col-lg-10">
            <h2 class="card-title"></h2>
            <table>
                <tr>
                    <td>
                        <h2 class="font-weight-light">Match records in your review to Microsoft Academic</h2>
                    </td>
                    <td style="padding-left:10px">
                        <div *ngIf="!basicPanel">
                            <a class="btn btn-dark btn-sm text-white" data-toggle="collapse"
                               href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                                more details <i class="fa fa-arrow-circle-down"></i>
                            </a>
                        </div>
                        <div *ngIf="basicPanel">
                            <a class="btn btn-dark btn-sm text-white" data-toggle="collapse"
                               href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                                more details <i class="fa fa-arrow-circle-up"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="collapse multi-collapse" id="collapseExample1">
                <div class="card card-footer">
                    <p>The automated processes for bringing and keeping your review up to date depend on operations in the Microsoft Academic 'graph' (or dataset). We use the graph of relationships between publications to locate papers that are 'closest' to the papers in your review out of the 250 million other records it contains.</p>
                    <p>
                        Because we make use of this 'graph' of relationships, we need to know where the papers in your review are located in this graph. If your papers were imported from Microsoft Academic originally, the system will already know their Microsoft Academic IDs and you are ready to use the updating features available.
                    </p>
                    <p>
                        If you originally imported your records from other sources (e.g. from RIS files), then we need to find the Microsoft Academic IDs for your records. The more of your records that we can locate succesfully in Microsoft Academic, the better the automated processes will work.
                        While Microsoft Academic is an extremely comprehensive source, it does not contain all of the world's research knowledge, and there will be some papers that are not (yet) present.
                    </p>
                    <p>
                        In order to match the records in your review to their Microsoft Academic equivalents, simply click the 'run matching algorithm' button. This will start a process 'behind the scenes' that will go through each of the records in your review and look them up in the latest version of Microsoft Academic.
                        If you only have a few tens or hundreds of records to match, this will only take a few seconds. If you have tens of thousands, the process will take many minutes; you can keep track of progress by using the green 'refresh' button.
                   </p>
                    <p>
                        The matching process uses the same algorithm for matching bibliographic records as we use for duplicate checking, and where it finds possible matches, it allocates them a confidence score between zero and 1. A score above 0.8 is considered a safe match, and the automated processes operate on the assumption that these are correct.
                        Matches below 0.8 are retained, but it is recommended that you check through these manually, as they may be wrong. You can do this by clicking on the links below the 'low confidence matched items' headings. Some records can't be matched at all; these can also be identified for manual lookups - which may not be necessary for many reviews, but might be useful for methodological work.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div class="container col-12">
    <div class="row" style="vertical-align:top">
        <div class="col-lg-8 my-auto">
            <h2 class="font-weight-light"></h2>
            <button (click)="RunMatchingAlgo(0)"
                    class="btn btn-primary btn-sm text-white mx-1">
                Run Matching Algorithm
            </button>
            <button (click)="ClearAllMatching()"
                    class="btn btn-danger btn-sm text-white mx-1">
                Clear all Matches in Review
            </button>
            <button class="btn btn-sm btn-outline-success mx-1" (click)="GetMagReviewMagInfoCommand()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table align-middle table-striped table-sm text-small">
                    <thead>
                        <tr>
                            <th>All matched included records</th>
                            <th>All matched excluded records</th>
                            <th>All matched records in review</th>
                            <th>Low confidence matched items</th>
                            <th>Records that could not be matched</th>
                            <th>Records that are no longer matched</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <button [disabled]="!CanGetMatchedIncluded()" class="btn btn-link p-2 m-2 " (click)="MAGBrowser('MatchedIncluded')">
                                    {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyIncluded}}
                                </button>
                                <button [disabled]="!CanGetMatchedIncluded()" class="btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MatchedIncluded')">
                                    (List Papers)
                                </button>
                            </td>
                            <td>
                                <button [disabled]="!CanGetMatchedExcluded()" class="btn btn-link  p-2 m-2 " (click)="MAGBrowser('MatchedExcluded')">
                                    {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyExcluded}}
                                </button>
                                <button [disabled]="!CanGetMatchedExcluded()" class="btn btn-link p-2 m-2 " (click)="OpenMatchesInReview('MatchedExcluded')">
                                    (List Papers)
                                </button>
                            </td>
                            <td>
                                <button [disabled]="!CanGetMatchedAll()" class="btn btn-link  p-2 m-2  " (click)="MAGBrowser('MatchedAll')">
                                    {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyIncluded + _magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyExcluded}}
                                </button>
                            </td>
                            <td>
                                <button [disabled]="!CanGetMatchesNeedingCheckingIncluding()" class=" btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesNeedingCheckingInc')">
                                    Included: {{_magAdvancedService.AdvancedReviewInfo.nRequiringManualCheckIncluded}}
                                </button>

                                <button [disabled]="!CanGetMatchesNeedingCheckingExcluding()" class=" btn btn-link p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesNeedingCheckingExc')">
                                    Excluded:  {{_magAdvancedService.AdvancedReviewInfo.nRequiringManualCheckExcluded}}
                                </button>
                            </td>
                            <td>
                                <button [disabled]="!CanGetNotMatchedIncluded()" class=" btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesNotMatchedInc')">
                                    Included:  {{_magAdvancedService.AdvancedReviewInfo.nNotMatchedIncluded}}
                                </button>
                                <button [disabled]="!CanGetNotMatchedExcluded()" class=" btn btn-link p-2 m-2" (click)="OpenMatchesInReview('MagMatchesNotMatchedExc')">
                                    Excluded:  {{_magAdvancedService.AdvancedReviewInfo.nNotMatchedExcluded}}
                                </button>
                            </td>
                            <td>
                                <button [disabled]="!CanGetNPreviouslyMatched()" class=" btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesPreviouslyMatched')">
                                    All:  {{_magAdvancedService.AdvancedReviewInfo.nPreviouslyMatched}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>
    <div class="card">
        <div class="card-footer">

            <h4 class="font-weight-light">Actions on items with this code</h4>
            <div class="col-12 alert-secondary card" style="padding:10px">
                <div class="row">


                    <div class="col-sm-12 col-lg-4" style="vertical-align:middle;padding-bottom:10px">
                        <div ngbDropdown class="" style="min-width:150px;">
                            <button ngbDropdownAnchor class="btn btn-outline-primary dropdown-toggle w-100"
                                    style="min-width: 250px; white-space:normal" [attr.aria-expanded]="!isCollapsed2"
                                    id="dropdownBasic2"
                                    (click)="isCollapsed2 = !isCollapsed2; dropdownBasic2 = false">
                                {{CurrentDropdownSelectedCode2?.name}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownBasic2" [ngbCollapse]="!isCollapsed2">
                                <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'"
                                                 [MaxHeight]="500" #WithOrWithoutCodeSelector2
                                                 (selectedNodeInTree)="CloseCodeDropDown2()" [rootsOnly]="false">
                                </codesetSelector>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-8">
                        <button class="btn btn-primary btn-sm text-white mx-1"
                                [disabled]="!CanGetCodeMatches()"
                                (click)="MAGBrowser('MatchedWithThisCode')">
                            List (matched) Items
                        </button>
                        <button class="btn btn-primary btn-sm text-white mx-1"
                                [disabled]="!CanGetCodeMatches()"
                                (click)="RunMatchingAlgo(1)">
                            Auto-match items
                        </button>
                        <button class="btn btn-danger btn-sm text-white mx-1"
                                [disabled]="!CanGetCodeMatches()"
                                (click)="ClearMatches()">
                            Clear Matches
                        </button>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-footer">
            <div class="row col-12">

                <div class="col-sm-12 col-lg-6 mb-5">
                    <h4 class="font-weight-light">Locate by MAG Paper ID</h4>
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <div class="col-10" >
                                <input required minlength="4" type="number" id="magPaperId" name="magPaperId" #magPaper="ngModel"
                                       class="form-control text-center col-12"
                                       [(ngModel)]="magPaperId" />
                            </div>
                            <div class="col-2"
                                style="padding-left: 10px;">
                                <button [disabled]="!CanGetMagPaper()" (click)="GetMagPaper()"
                                        class="btn btn-primary btn-sm text-white">
                                    Get MAG paper
                                </button>
                            </div>
                        </div>

                        <div>
                            <div colspan="2">
                                <div *ngIf="magPaper.invalid && (magPaper.dirty || magPaper.touched)"
                                     class="alert alert-danger">

                                    <div *ngIf="magPaper.errors.required">
                                        Paper ID is required.
                                    </div>
                                    <div *ngIf="magPaper.errors.minlength">
                                        Paper ID must be at least 4 numbers long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 col-lg-5 mb-5">
                    <h4 class="font-weight-light">Search MAG by topic</h4>
                    <table class="col-sm-12">
                        <tr class="col-12">
                            <td class="col-12">
                                <input class="form-control col-12 border border-dark"  type="text" id="SearchTextTopic" [(ngModel)]="SearchTextTopic"
                                       placeholder="Search for topics here.  Entry of Wildcards work, e.g. physic* " />

                            </td>
                            <td >
                                <button [disabled]="!CanGetTopics()"
                                        (click)="UpdateTopicResults()" class="btn btn-primary btn-sm text-white"><i class="fa fa-search"></i></button>
                            </td>
                        </tr>
                    </table>
                    <div class="row " style="max-width:1450px;overflow:auto;">
                        <div *ngFor="let item of SearchTextTopicsResults" class="list-group">
                            <div (click)="FOSMAGBrowserNavigate(item.displayName, item.fieldOfStudyId)" class="col-3 btn border border-0"
                                 [ngStyle]="{ 'font-size.em': item.fontSize,'background-color': 'light-blue', 'color': 'black'}">
                                {{item.displayName}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br />
<!--<statusbar></statusbar>-->
