<HeaderComponent class="row p-1 m-0" style="vertical-align:top;" PageTitle="Microsoft Academic Browser" Context="MAGMatching"></HeaderComponent>
<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>
<MAGHeaderBar Context="MAGMatching"></MAGHeaderBar>
<div class="container col-12">
    <div class="row" style="vertical-align:top">
        <div class="col-lg-4">
            <h2 class="card-title"></h2>
            <h1 class="font-weight-light">MAG data in this review</h1>
</div>

        <div class="col-lg-8">
            <h2 class="font-weight-light"></h2>
            <button (click)="RunMatchingAlgo()"
                    class="btn btn-primary btn-sm text-white">
                Run Matching Algorithm
            </button>&nbsp;&nbsp;
            <button (click)="ClearAllMatching()"
                    class="btn btn-danger btn-sm text-white">
                Clear all Matches in Review
            </button>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table align-middle table-striped table-sm text-small">
                    <thead>
                        <tr>
                            <th>All matched included records</th>
                            <th>All matched excluded records</th>
                            <th>All matched records in review</th>
                            <th>Low confidence matched items</th>
                            <th>Records that could not be matched</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="btn btn-link p-2 m-2 " (click)="MAGBrowser('MatchedIncluded')">
                                    {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyIncluded}}
                                </div>
                                <div class="btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MatchedIncluded')">
                                    (List Papers)
                                </div>
                            </td>
                            <td>

                                <div class="btn btn-link  p-2 m-2 " (click)="MAGBrowser('MatchedExcluded')">
                                    {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyExcluded}}
                                </div>
                                <div class="btn btn-link p-2 m-2 " (click)="OpenMatchesInReview('MatchedExcluded')">
                                    (List Papers)
                                </div>
                            </td>
                            <td>

                                <div class="btn btn-link  p-2 m-2  " (click)="MAGBrowser('MatchedAll')">
                                    {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyIncluded + _magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyExcluded}}
                                </div>
                            </td>
                            <td>
                                <div class=" btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesNeedingCheckingInc')">
                                    Included: {{_magAdvancedService.AdvancedReviewInfo.nRequiringManualCheckIncluded}}
                                </div>

                                <div class=" btn btn-link p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesNeedingCheckingExc')">
                                    Excluded:  {{_magAdvancedService.AdvancedReviewInfo.nRequiringManualCheckExcluded}}
                                </div>
                            </td>
                            <td>
                                <div class=" btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesNotMatchedInc')">
                                    Included:  {{_magAdvancedService.AdvancedReviewInfo.nNotMatchedIncluded}}
                                </div>
                                <div class=" btn btn-link p-2 m-2" (click)="OpenMatchesInReview('MagMatchesNotMatchedExc')">
                                    Excluded:  {{_magAdvancedService.AdvancedReviewInfo.nNotMatchedExcluded}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>
    <div class="card">
        <div class="card-footer">

            <h4 class="font-weight-light">Actions on items with this code</h4>
            <div class="col-12 alert-secondary card" style="padding:10px">
                <div class="row">


                    <div class="col-sm-12 col-lg-4" style="vertical-align:middle;padding-bottom:10px">
                        <div ngbDropdown class="" style="min-width:150px;">
                            <button ngbDropdownAnchor class="btn btn-outline-primary dropdown-toggle w-100"
                                    style="min-width: 250px; white-space:normal" [attr.aria-expanded]="!isCollapsed2"
                                    id="dropdownBasic2"
                                    (click)="isCollapsed2 = !isCollapsed2; dropdownBasic2 = false">
                                {{CurrentDropdownSelectedCode2?.name}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownBasic2" [ngbCollapse]="!isCollapsed2">
                                <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'"
                                                 [MaxHeight]="500" #WithOrWithoutCodeSelector2
                                                 (selectedNodeInTree)="CloseCodeDropDown2()" [rootsOnly]="false">
                                </codesetSelector>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <button class="btn btn-primary btn-sm text-white"
                                [disabled]="!CanGetCodeMatches()"
                                (click)="MAGBrowser('MatchedWithThisCode')">
                            List Items
                        </button>
                        &nbsp;
                        <button class="btn btn-primary btn-sm text-white"
                                [disabled]="!CanGetCodeMatches()"
                                (click)="RunMatchingAlgo()">
                            Auto-match items
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-sm text-white"
                                [disabled]="!CanGetCodeMatches()"
                                (click)="ClearMatches()">
                            Clear Matches
                        </button>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-footer">
            <div class="row col-12">

                <div class="col-sm-12 col-lg-6 mb-5">
                    <h4 class="font-weight-light">Locate by MAG Paper ID</h4>
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <div class="col-10" >
                                <input required minlength="4" type="number" id="magPaperId" name="magPaperId" #magPaper="ngModel"
                                       class="form-control text-center col-12"
                                       [(ngModel)]="magPaperId" />
                            </div>
                            <div class="col-2"
                                style="padding-left: 10px;">
                                <button [disabled]="!CanGetMagPaper()" (click)="GetMagPaper()"
                                        class="btn btn-primary btn-sm text-white">
                                    Get MAG paper
                                </button>
                            </div>
                        </div>

                        <div>
                            <div colspan="2">
                                <div *ngIf="magPaper.invalid && (magPaper.dirty || magPaper.touched)"
                                     class="alert alert-danger">

                                    <div *ngIf="magPaper.errors.required">
                                        Paper ID is required.
                                    </div>
                                    <div *ngIf="magPaper.errors.minlength">
                                        Paper ID must be at least 4 numbers long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 col-lg-5 mb-5">
                    <h4 class="font-weight-light">Search MAG by topic</h4>
                    <table class="col-sm-12">
                        <tr class="col-12">
                            <td class="col-12">
                                <input class="form-control col-12 border border-dark"  type="text" id="SearchTextTopic" [(ngModel)]="SearchTextTopic"
                                       placeholder="Search for topics here.  Entry of Wildcards work, e.g. physic* " />

                            </td>
                            <td >
                                <button (click)="UpdateTopicResults()" class="btn btn-primary btn-sm text-white"><i class="fa fa-search"></i></button>
                            </td>
                        </tr>
                    </table>
                    <div class="row " style="max-width:1450px;overflow:auto;">
                        <div *ngFor="let item of SearchTextTopicsResults" class="list-group">
                            <div (click)="FOSMAGBrowserNavigate(item.displayName, item.fieldOfStudyId)" class="col-3 btn border border-0"
                                 [ngStyle]="{ 'font-size.em': item.fontSize,'background-color': 'light-blue', 'color': 'black'}">
                                {{item.displayName}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<statusbar></statusbar>
