<HeaderComponent Context="advancedMAG"></HeaderComponent>
<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>
<div class="containsAtoolbar">
    <kendo-toolbar>
        <kendo-toolbar-button [text]="'Selected'" (click)="Selected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Clear Selected'" (click)="ClearSelected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Import Selected'" (click)="ImportSelected()" [disabled]="HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Auto-update home'" (click)="AutoUpdateHome()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Advanced features'" (click)="AdvancedFeatures()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Show history'" (click)="ShowHistory()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <!--<kendo-toolbar-button [text]="'Admin'" (click)="Admin()" [disabled]="!HasWriteRights"></kendo-toolbar-button>-->
        <kendo-toolbar-button [text]="'Back'" (click)="Back()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Forward'" (click)="Forward()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
    </kendo-toolbar>

</div>



    <div class="col-10 p-2 m-2 card alert-primary border border-dark">
        <h4 class="p-1 m-1">Summary: MAG data in this review</h4>
        <div class="col-5">
            <button (click)="RunMatchingAlgo()"
                    class="btn alert-success p-1 m-1">
                Run Matching Algorithm
            </button>
            <button (click)="ClearAllMatching()"
                    class="btn alert-danger p-1 m-1">
                Clear all Matches in Review
            </button>
        </div>
        <div class="p-2 m-2 ">
            <table class="col-12 border border-black alert-primary tabel table-striped" >
                <thead>
                    <tr>
                        <th>All matched included records</th>
                        <th>All matched excluded records</th>
                        <th>All matched records in review</th>
                        <th>Low confidence matched items</th>
                        <th>Records that could not be matched</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn btn-link p-2 m-2 " (click)="MAGBrowser('MatchedIncluded')">
                                {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyIncluded}}
                            </div>
                            <div class="btn btn-link  p-2 m-2 col-2" (click)="OpenMatchesInReview('MatchedIncluded')">
                                (List Papers)
                            </div>
                        </td>
                        <td>

                            <div class="btn btn-link  p-2 m-2 " (click)="MAGBrowser('MatchedExcluded')">
                                {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyExcluded}}
                            </div>
                            <div class="btn btn-link p-2 m-2 col-2" (click)="OpenMatchesInReview('MatchedExcluded')">
                                (List Papers)
                            </div>
                        </td>
                        <td>

                            <div class="btn btn-link  p-2 m-2  " (click)="MAGBrowser('MatchedAll')">
                                {{_magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyIncluded + _magAdvancedService.AdvancedReviewInfo.nMatchedAccuratelyExcluded}}
                            </div>
                        </td>
                        <td>
                            <div class=" btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesNeedingCheckingInc')">
                                Included: {{_magAdvancedService.AdvancedReviewInfo.nRequiringManualCheckIncluded}}
                            </div>

                            <div class=" btn btn-link p-2 m-2 col-2" (click)="OpenMatchesInReview('MagMatchesNeedingCheckingExc')">
                                Excluded:  {{_magAdvancedService.AdvancedReviewInfo.nRequiringManualCheckExcluded}}
                            </div>
                        </td>
                        <td>
                            <div class=" btn btn-link  p-2 m-2 " (click)="OpenMatchesInReview('MagMatchesNotMatchedInc')">
                                Included:  {{_magAdvancedService.AdvancedReviewInfo.nNotMatchedIncluded}}
                            </div>
                            <div class=" btn btn-link p-2 m-2 col-2" (click)="OpenMatchesInReview('MagMatchesNotMatchedExc')">
                                Excluded:  {{_magAdvancedService.AdvancedReviewInfo.nNotMatchedExcluded}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-10 card alert-info border border-dark p-2 m-2 row " style="min-width:1050px;">
        <h4>Actions on items with this code:</h4>
        <div class="row">
            <div class="col-3">
                <div ngbDropdown class="" style="min-width:150px;">
                    <button ngbDropdownAnchor class="btn btn-outline-primary dropdown-toggle w-100"
                            style="min-width: 250px; white-space:normal" [attr.aria-expanded]="!isCollapsed2"
                            id="dropdownBasic2"
                            (click)="isCollapsed2 = !isCollapsed2; dropdownBasic2 = false">
                        {{CurrentDropdownSelectedCode2?.name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownBasic2" [ngbCollapse]="!isCollapsed2">
                        <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'"
                                         [MaxHeight]="500" #WithOrWithoutCodeSelector2
                                         (selectedNodeInTree)="CloseCodeDropDown2()" [rootsOnly]="false">
                        </codesetSelector>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button class="btn alert-success p-2 m-2 "
                        [disabled]="!CanGetCodeMatches()"
                        (click)="MAGBrowser('MatchedWithThisCode')">
                    List Items
                </button>
            </div>
            <div class="col-2">
                <button class="btn alert-success p-2 m-2 "
                        [disabled]="!CanGetCodeMatches()"
                        (click)="RunMatchingAlgo()">
                    Auto-match items
                </button>
            </div>
            <div class="col-2">
                <button class="btn alert-danger p-2 m-2 "
                        [disabled]="!CanGetCodeMatches()"
                        (click)="ClearMatches()">
                    Clear Matches
                </button>
            </div>
        </div>
    </div>
    <div class="col-10 p-2 m-2 card alert-warning border border-dark row">
            <h4 class="col-12">GoTo Microsoft Academic Paper ID:</h4>
            <div class="col-12 row p-2 m-2">
                <input required minlength="4" type="number" id="magPaperId" name="magPaperId" #magPaper="ngModel"
                       class="form-control col-3 p-1 m-1 text-center"
                       [(ngModel)]="magPaperId" />
                <div class=" col-3 ">
                    <button [disabled]="!CanGetMagPaper()" (click)="GetMagPaper()"
                            class="btn alert-primary">
                        Get MAG paper
                    </button>
                    </div>
                </div>
                <div *ngIf="magPaper.invalid && (magPaper.dirty || magPaper.touched)"
                     class="col-3 alert alert-danger">

                    <div *ngIf="magPaper.errors.required">
                        magPaperId is required.
                    </div>
                    <div *ngIf="magPaper.errors.minlength">
                        magPaperId must be at least 4 numbers long.
                    </div>
                </div>


                <div class="col-12 row alert-warning p-2 m-2">

                    <input class="col-6" type="text" id="SearchTextTopics" (change)="UpdateTopicResults($event)"
                           placeholder="Search for topics here.  Entry of Wildcards work, e.g. physic* " />

                    <div class="row " style="max-width:1450px;overflow:auto;">
                        <div *ngFor="let item of SearchTextTopicsResults" class="list-group">
                            <div (click)="FOSMAGBrowserNavigate(item.displayName, item.fieldOfStudyId)" class="col-3 btn border border-0"
                                 [ngStyle]="{ 'font-size.em': item.fontSize,'background-color': 'light-blue', 'color': 'black'}">
                                {{item.displayName}}
                            </div>
                        </div>
                    </div>
                </div>
    </div>
<statusbar></statusbar>