<div class="card p-1 m-1 alert-secondary">
    <h5 class="font-weight-bold btn-link">
        Look up this record in Microsoft Record
    </h5>
    <h5><b>magPaper.fullRecord</b></h5>
    <b>Record(s) matched from Microsoft Academic:</b>
    <div class="card col-12" style="max-height:360px;overflow:auto;">
       
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Full MAG record</th>
                    <th class="text-center">Match status</th>
                </tr>
                <tr>
                    <td style="width: 150px;">test</td>
                    <td style="width: 15px;">
                    {{ItemID}}
                    </td>
                </tr>
            </table>
        <div class="col-12 row p-2 m-2">Look up specific Microsoft Academic ID: 
            <input type="text" class="form-control col-2  p-2 m-2" />
            <button class="btn btn-outline-primary  p-2 m-2">GO</button>
        </div>
    </div>
</div>