<p *ngIf="!_workAllocationContactListService.workAllocations"><em>Loading your Allocations...</em></p>

<div class="row" *ngIf="reviewInfoService && reviewInfoService.ReviewInfo && reviewInfoService.ReviewInfo.screeningCodeSetId != 0 && reviewInfoService.ReviewInfo.screeningListIsGood">
    <div class="align-content-end p-1 m-1">Priority screening List is Enabled and Ready: <button (click)="StartScreening()" class="btn btn-outline-info">Click Here</button> to start screening.</div>
</div>
<table class='table table-responsive'  style="height: 190px;" *ngIf="_workAllocationContactListService.workAllocations">
    <thead>
        <tr>
            <th>Codes to apply</th>
            <th>Group of studies</th>
            <th>Allocated</th>
            <th>Started</th>
            <th>Remaining</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alloc of _workAllocationContactListService.workAllocations; let i = index">
            <td>{{ alloc.setName }}</td>
            <td>{{ alloc.attributeName }}</td>
            <td id="waAll-{{alloc.workAllocationId}}" [ngClass]="{'UsedWorkAllocation' : 'waAll-'+ alloc.workAllocationId == this.clickedIndex}" (click)="LoadGivenList(alloc.workAllocationId,'GetItemWorkAllocationList')">{{ alloc.totalAllocation }}</td>
            <td id="waStarted-{{alloc.workAllocationId}}" [ngClass]="{'UsedWorkAllocation' : 'waStarted-'+ alloc.workAllocationId == this.clickedIndex}" (click)="LoadGivenList(alloc.workAllocationId,'GetItemWorkAllocationListStarted')">{{ alloc.totalStarted }}</td>
            <td id="waRemaining-{{alloc.workAllocationId}}" [ngClass]="{'UsedWorkAllocation' : 'waRemaining-'+ alloc.workAllocationId == this.clickedIndex}" (click)="LoadGivenList(alloc.workAllocationId,'GetItemWorkAllocationListRemaining')">{{ alloc.totalRemaining }}</td>
        </tr>
    </tbody>
</table>
