<p *ngIf="!_workAllocationContactListService.workAllocations"><em>Loading your Allocations...</em></p>

    <table class='table table-responsive' *ngIf="_workAllocationContactListService.workAllocations">
        <thead>
            <tr>
                <th>Codes to apply:</th>
                <th>Group of studies</th>
                <th>Allocated</th>
                <th>Started</th>
                <th>Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alloc of _workAllocationContactListService.workAllocations">
                <td (click)="LoadGivenList(alloc.workAllocationId,'')">{{ alloc.setName }}</td>
                <td (click)="LoadGivenList(alloc.workAllocationId,'')">{{ alloc.attributeName }}</td>
                <td (click)="LoadGivenList(alloc.workAllocationId,'')">{{ alloc.totalAllocation }}</td>
                <td (click)="LoadGivenList(alloc.workAllocationId,'')">{{ alloc.totalStarted }}</td>
                <td (click)="LoadGivenList(alloc.workAllocationId,'')">{{ alloc.totalRemaining }}</td>
                <td hidden (click)="LoadGivenList(alloc.workAllocationId,'GetItemWorkAllocationList')">{{alloc.workAllocationId}}</td>

                <!--<form #f="ngForm" (ngSubmit)="onSubmit(r_id.value)" novalidate>
                    <input type="hidden" #r_id name="review_id" value="{{ roReview.reviewId }}">
                    <button>GO!</button>
                </form>-->
                <!--<form method="post" action="['/readonlyreviews']">
                    <input type="hidden" name="RevId" value="{{ roReview.reviewId }}" />
                    <button type="submit">GO!</button>
                </form>-->

            </tr>
        </tbody>
    </table>
