<div class="containsAtoolbar">
	<kendo-toolbar style="background-color: steelblue;">
		<kendo-toolbar-button [text]="'New Search'" (click)="NewSearch()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"></kendo-toolbar-button>
		<kendo-toolbar-button [text]="'Refresh List'" (click)="refreshSearches()" style="border-color: #04070b;background-color: indianred;"></kendo-toolbar-button>
		<kendo-toolbar-button [text]="'Delete Selected'" (click)="openConfirmationDialogDeleteSearches()" style="border-color: #04070b;background-color: aliceblue;"></kendo-toolbar-button>
		<kendo-toolbar-splitbutton [text]="'Combine'" (click)="CombineSearches()" [data]="data" ></kendo-toolbar-splitbutton>
		<kendo-toolbar-button [text]="'Classify     '" (click)="Classify()" [attr.aria-expanded]="!ModelSection" aria-controls="collapseExample3" class="btn-outline-danger"></kendo-toolbar-button>
	</kendo-toolbar>
</div>

<div id="NewSearchSection" [ngbCollapse]="!NewSearchSection" class="col-md-12">
	<div class="card">
		<div class="container-fluid card-body">
			<div class="row">
				<div class="col-md-2" style="min-width: 500px;">
					<div ngbDropdown>
						<button class="btn btn-primary col-10" id="dropdownBasic1" ngbDropdownToggle (click)="isCollapsed=false ">{{selectedSearchDropDown}}</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="mb-1">
							<button (click)="nextDropDownList(1, 'With this code')" class="dropdown-item">With this code</button>
							<button (click)="nextDropDownList(2, 'Without this code')" class="dropdown-item">Without this code</button>
							<button (click)="nextDropDownList(3, 'With these internal IDs (comma separated)')" class="dropdown-item">With these internal IDs (comma separated)</button>
							<button (click)="nextDropDownList(4, 'With these imported IDs (comma separated)')" class="dropdown-item">With these imported IDs (comma separated)</button>
							<button (click)="nextDropDownList(5, 'That have at least one code from this set')" class="dropdown-item">That have at least one code from this set</button>
							<button (click)="nextDropDownList(6, 'That dont have any codes from this set')" class="dropdown-item">That don't have any codes from this set</button>
							<button (click)="nextDropDownList(7,'Containing this text')" class="dropdown-item">Containing this text</button>
							<button (click)="nextDropDownList(8,'With at least one document uploaded')" class="dropdown-item">With at least one document uploaded</button>
							<button (click)="nextDropDownList(9, 'Without any documents uploaded')" class="dropdown-item">Without any documents uploaded</button>
							<button (click)="nextDropDownList(10,'Without an abstract')" class="dropdown-item">Without an abstract</button>
						</div>
					</div>
				</div>
				<div *ngIf="(selectedSearchDropDown == 'That have at least one code from this set'
							||	selectedSearchDropDown == 'That dont have any codes from this set') "
					 ngbDropdown class="col-md-5 mb-1" style="min-width: 500px;">
					<button class="btn btn-info col-md-7" id="dropdownBasic2" ngbDropdownToggle>{{selectedSearchCodeSetDropDown}}</button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
						<button (click)="setSearchCodeSetDropDown(item)" *ngFor="let item of CodeSets;" class="dropdown-item">{{item}}</button>
					</div>
				</div>
				<div *ngIf="(selectedSearchDropDown == 'With this code')
						||  (selectedSearchDropDown == 'Without this code' )"
					 ngbDropdown class="col-md-5 mb-1" style="min-width: 500px;">
					<button ngbDropdownAnchor class="btn btn-info  dropdown-toggle col-md-7" id="dropdownTree" 
                            (click)="isCollapsed = !isCollapsed; dropdownBasic1 = false" 
                            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseCodeTree">{{CurrentDropdownSelectedCode?.name}}</button>
					<div ngbDropdownMenu class="dropdown-menu" id="collapseCodeTree" [ngbCollapse]="!isCollapsed">
						<codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" #WithOrWithoutCodeSelector
										 (selectedNodeInTree)="CloseCodeDropDown()" [rootsOnly]="!CanOnlySelectRoots()"></codesetSelector>
					</div>
				</div>
				<div *ngIf="showTextBox" class="row col-md-6 m-0 p-0 mb-1" style="min-width: 500px;">
					<div>
						<b class="col-md-1 font-italic">Comma-Separated list of IDs:</b>
												

						<input 
							[(ngModel)]="commaIDs"
							#commaIDsModel ="ngModel"
							id="commaIDsModel" name="commaIDsModel"
							required minlength="4"
							class="col-md-12 bg-light border-dark form-control"
							type="text"
							placeholder="IDs"><br>

							 <div *ngIf="commaIDsModel.invalid  && (commaIDsModel.dirty || commaIDsModel.touched)"
								  class="alert alert-danger">

								 <div *ngIf="commaIDsModel.errors.required">
									 commaIDs are required.
								 </div>
								 <div *ngIf="commaIDsModel.errors.minlength">
								 commaIDs must be at least 4 characters long.
								 </div>

							 </div>
					</div>
				</div>
				<div class="col-md-2  mb-1" style="min-width: 500px;">
					<div *ngIf="(selectedSearchDropDown == 'Containing this text')"
						 class="col-md-10 p-0 m-0">
						<input pattern="[/.*\S.*/]*" [(ngModel)]="searchText" 
							   #searchTextModel ="ngModel"
							   id="searchTextModel" name="searchTextModel" 
							   required minlength="3" 
							   class=" bg-light border-dark form-control"
							   type="text" 
							   placeholder="search text">
						
						<div *ngIf="searchTextModel.invalid && (searchTextModel.dirty || searchTextModel.touched)"
							 class="alert alert-danger">

							<div *ngIf="searchTextModel.errors.pattern">
								Cannot be empty
							</div>

							<div *ngIf="searchTextModel.errors.required">
								search text is required.
							</div>
							<div *ngIf="searchTextModel.errors.minlength">
								search text must be at least 3 characters long.
							</div>

						</div>



						<br> &nbsp;<b>IN</b>
						<!--<h3 class=" font-italic text-center p-0 m-0">IN</h3>-->
						<div ngbDropdown class="d-inline-block col-md-12 p-0 m-0">
							<button class="btn btn-secondary col-md-12" id="dropdownBasic2" ngbDropdownToggle>{{selectedSearchTextDropDown}}</button>
							<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
								<button (click)="setSearchTextDropDown('Title and abstract')" class="dropdown-item">Title and abstract</button>
								<button (click)="setSearchTextDropDown('Title only')" class="dropdown-item">Title only</button>
								<button (click)="setSearchTextDropDown('Abstract only')" class="dropdown-item">Abstract only</button>
								<button (click)="setSearchTextDropDown('Additional text')" class="dropdown-item">Additional text</button>
								<button (click)="setSearchTextDropDown('Uploaded documents')" class="dropdown-item">Uploaded documents</button>
								<button (click)="setSearchTextDropDown('Authors')" class="dropdown-item">Authors</button>
								<button (click)="setSearchTextDropDown('PubYear')" class="dropdown-item">Publication year</button>
							</div>
						</div>

					</div>

				</div>
			</div>
			<!--<span *ngIf="_reviewSetsService.selectedNode" class="font-weight-bold col-md-6 row p-1 "> &nbsp; Current code: {{_reviewSetsService.selectedNode?.name}}</span>-->
			<div class="row" style="min-width: 500px;">
				<div class="col-md-12 mb-1">
					<table class="col-md-4">
						<tr class="col-md-4">
							<td>
								<input name="searchInclOrExclRB" type="radio" value="true" [(ngModel)]="searchInclOrExcl">

								<b>&nbsp; Included </b>
							</td>
							<td>
								<input name="searchInclOrExclRB" type="radio" value="false" [(ngModel)]="searchInclOrExcl">

								<b>&nbsp; Excluded</b>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div style="min-width: 500px;" class="col-md-2">
					<button type="button" class="btn btn-outline-primary col-md-10"
							[disabled]="!CanApplySearch()"
							(click)="callSearches(selectedSearchDropDown, selectedSearchTextDropDown, searchInclOrExcl == 'true')">
						Search
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="LogicSection" [ngbCollapse]="!LogicSection">
	<table class="table col-md-12">
		<tr>
			<td>
				<button class="btn text-dark btn-outline-warning col-md-6" (click)="getLogicSearches('AND')">&nbsp; AND</button>
			</td>
			<td>
				<button class="btn text-dark btn-outline-info col-md-6" (click)="getLogicSearches('OR')">&nbsp; OR</button>
			</td>
			<td>
				<button class="btn text-dark btn-outline-danger col-md-6" (click)="getLogicSearches('NOT')">&nbsp; NOT</button>
			</td>
			<td>
				<button class="btn text-dark btn-outline-info col-md-6" (click)="getLogicSearches('NOT (excluded)')">&nbsp; NOT (excluded)</button>
			</td>
		</tr>
	</table>
</div>
<div id="ModelSection" [ngbCollapse]="!ModelSection">

	<div class="form-group card-body col-md-12 row">
		<div class="col-md-3 col-sm-4 p-2">
			<p class="font-weight-bold">Step1:	Select a Model</p>
			<div class="btn-group-vertical" role="group" aria-label="Basic example">
				<button (click)="SetModelSelection(4)" [attr.aria-expanded]="!radioButtonApplyModelSection" role="group" type="button" class="btn" [ngClass]="{'font-weight-bold btn-info':(modelNum==4),'btn-outline-info' :(modelNum!=4)}">Cochrane RCT</button>
				<button (click)="SetModelSelection(3)" [attr.aria-expanded]="!radioButtonApplyModelSection" role="group" type="button" class="btn" [ngClass]="{'font-weight-bold btn-info':(modelNum==3),'btn-outline-info' :(modelNum!=3)}">Economic Evaluation</button>
				<button (click)="SetModelSelection(2)" [attr.aria-expanded]="!radioButtonApplyModelSection" role="group" type="button" class="btn" [ngClass]="{'font-weight-bold btn-info':(modelNum==2),'btn-outline-info' :(modelNum!=2)}">Systematic Review</button>
				<button (click)="SetModelSelection(1)" [attr.aria-expanded]="!radioButtonApplyModelSection" role="group" type="button" class="btn" [ngClass]="{'font-weight-bold btn-info':(modelNum==1),'btn-outline-info' :(modelNum!=1)}">Original RCT</button>
				<button role="group" type="button" class="btn" [ngClass]="{'font-weight-bold btn-info':(modelNum==5),'btn-outline-info' :(modelNum!=5)}" (click)="CustomModels()" [attr.aria-expanded]="!modelResultsSection" aria-controls="modelResultsSection">Show Custom Models</button>
			</div>
		</div>

		<div id="radioButtonApplyModelSection" [ngbCollapse]="!radioButtonApplyModelSection">
			<div class="col-md-8 col-sm-4 p-2">
				<p class="font-weight-bold">Step 2: Choose method to apply</p>
				<input (click)="chooseAll()" class="col-md-4" type="radio" name="ApplyRB" [(ngModel)]="mode" value="1">
				<label class="form-check-label ">
					&nbsp;&nbsp;Apply to all items in review
				</label>
				<input (click)="chooseCodeMessage()" class="col-md-4" type="radio" name="ApplyRB" [(ngModel)]="mode" value="2">
				<label class="form-check-label ">
					&nbsp;&nbsp;Apply to items with this code
				</label>

				<input (click)="chooseSourceDD()" class="col-md-4" type="radio" name="ApplyRB" [(ngModel)]="mode" value="3">
				<label class="form-check-label ">
					&nbsp;&nbsp;Apply to items from this source
				</label>
			</div>
			<div *ngIf="mode == '3' && this._sourcesService.ReviewSources != null && this._sourcesService.ReviewSources != undefined">
				<div>
					<div ngbDropdown>
						<select class="btn btn-secondary" id="dropdownBasicSources"
								ngbDropdownToggle [(ngModel)]="selected">
							<option [value]="item.source_ID" *ngFor="let item of this._sourcesService.ReviewSources">
								{{DisplayFriendlySourceNames(item)}}
							</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<span *ngIf="_reviewSetsService.selectedNode" class="p-3 m-3 font-weight-bold bg-info col-md-6 row p-1 "> &nbsp; Current code: {{_reviewSetsService.selectedNode?.name}}</span>
	</div>
	<div id="modelResultsSection" [ngbCollapse]="!modelResultsSection">
		<kendo-grid [data]="DataSourceModel"
					[selectable]="selectableSettings"
					[sort]="sort"
					[kendoGridSelectBy]="'modelId'"
					(sortChange)="sortChange($event)"
					(selectionChange)="selectedRows($event)">

			<kendo-grid-checkbox-column width="50"></kendo-grid-checkbox-column>
			<kendo-grid-column field="modelId" title="ModelID">
			</kendo-grid-column>
			<kendo-grid-column field="modelTitle" title="Title">
			</kendo-grid-column>
			<kendo-grid-column field="attributeOn" title="Applies" >
			</kendo-grid-column>
			<kendo-grid-column field="attributeNotOn" title="Compared with">
			</kendo-grid-column>
			<!--<kendo-grid-column field="accuracy" title="Accuracy">
		</kendo-grid-column>
		<kendo-grid-column field="auc" title="AUC">
		</kendo-grid-column>-->
			<kendo-grid-column field="precision" title="Precision">
			</kendo-grid-column>
			<kendo-grid-column field="recall" title="Recall">
			</kendo-grid-column>
		</kendo-grid>
	</div>
	<div class="form-group card-body col-md-12">
		<button (click)="openConfirmationDialog()" [disabled]="!CanApplyModel()"
				type="button" class="btn btn-success">
			Run Selected Model
		</button>
	</div>
</div>
<kendo-grid *ngIf="_searchService && _searchService.SearchList  && this._searchService.SearchList.length > 0 && !this._searchService.IsBusy"
				[data]="DataSourceSearches" [height]="410"
				[rowClass]="rowCallback"
				[sortable]="{
	allowUnsort: allowUnsort,
	mode: 'single'
	}"
				[sort]="sort"
				(sortChange)="sortChange($event)">

		<kendo-grid-column [sortable]="false" width="33"
						   [headerStyle]="{'text-align': 'center', 'max-width':'33px', 'min-width':'33px'}"
						   [style]="{'text-align': 'center', 'max-width':'33px', 'min-width':'33px'}">
			<!--<ng-template kendoGridHeaderTemplate let-dataItem>
				<input style="zoom: 1.2;"
					   type="checkbox"
					   name="selectAll"
					   (change)="selectAllSearchesChange($event)"
					   [checked]="allSearchesSelected" />
			</ng-template>-->
			<ng-template kendoGridCellTemplate let-dataItem>
				<input style="zoom: 1.2;" (click)="checkboxClicked(dataItem)"
					   type="checkbox"
					   field="selected"
					   [checked]="dataItem.add" />
			</ng-template>
		</kendo-grid-column>
		<kendo-grid-column field="searchNo" title="No" width="60">
		</kendo-grid-column>
		<kendo-grid-column field="title" title="Name" width="360">
		</kendo-grid-column>
		<kendo-grid-column field="contactName" title="Created By" width="140">
		</kendo-grid-column>
		<kendo-grid-column field="searchDate" title="Date" width="140">
		</kendo-grid-column>
		<kendo-grid-column width="80" class="btn btn-link font-weight-bold p-4"
						   field="hitsNo" title="Hits">
			<ng-template kendoGridCellTemplate let-dataItem>
				<div (click)="SearchGetItemList(dataItem)">
					{{dataItem.hitsNo}}
				</div>
			</ng-template>
		</kendo-grid-column>
		<kendo-grid-column field="isClassifierResult"
						   title="Classifier" width="80">
			<ng-template kendoGridCellTemplate let-dataItem>
				<div (click)="OpenClassifierVisualisation(dataItem)"
					 class="{{dataItem.isClassifierResult == true ? 'btn btn-link font-weight-bold':'btn font-weight-bold'}}">
					{{dataItem.isClassifierResult}}
				</div>
			</ng-template>
		</kendo-grid-column>
	</kendo-grid>


<div *ngIf="_searchService && _searchService.SearchList && _searchService.IsBusy">Loading items...</div>

