
<div class="card bg-light mt-2 col-md-12 mb-2 px-1" [ngClass]="{disableThisAndChildren:!CanWrite()}">
  <div *ngIf="WizPhase==1" class="row px-0 mx-1">
    <h5 class="col-12">Step 1: Choose file format and select file</h5>
    <div class="col-7 px-1 mx-0">
      <div class="font-weight-bold">Filter</div>
      <select *ngIf="ImportFilters" class="form-control my-1" (change)="FilterChanged($event)">
        <option *ngFor="let filter of ImportFilters" [value]="filter.filterID" [selected]="filter.filterID == currentFilter.filterID">
          {{filter.ruleName}}
        </option>
      </select>
      <label>Pick the file to upload:</label>
      <input type="file" #file style="display: none" (change)="onFilesAdded()"
             accept=".txt,.ris" />
      <button type="button" class="btn btn-primary m-1" (click)="addFile()">Select File</button>
    </div>
    <div class="col-5 px-1 mx-0">
      <div class="font-weight-bold">Filter Description</div>
      <div class="my-1 rounded alert alert-info p-1 small">
        {{currentFilter.description}}
      </div>
    </div>
  </div>
  <div *ngIf="WizPhase==1.5">
    Phase 1: uploading... <br /><br /><br />
  </div>
  <div *ngIf="WizPhase==2" class="row">
    <div class="col-12">
      <h5>Step 2: Preview and import:</h5><br />
      <button type="button" class="btn btn-outline-info m-1" (click)="back()">back</button>
      <button *ngIf="DataToCheck" type="button" class="btn btn-outline-primary m-1" (click)="togglePreviewPanel()">
        {{togglePreviewPanelButtonText}}
        </button>
      </div>
    <div *ngIf="DataToCheck" class="col-12">
      <div class="row">
        <div class="col-6">
          Results: Total references = <strong>{{DataToCheck.totalReferences}}</strong>
        </div>
        <div *ngIf="!PreviewResultsAreGood() && this.DataToCheck && this.DataToCheck.totalReferences == 1" class="alert alert-danger col-6">
          Parsing this file with the chosen filter ({{currentFilter.ruleName}}) found only one reference.
          <strong>Are you sure you picked the right filter?</strong>
        </div>

      </div>
      <div [ngbCollapse]="!ShowPreviewTable" style="max-height:300px; overflow-y:scroll;">
        <table class="table-striped table table-bordered small">
          <tbody>
            <tr>
              <th class="p-0" style="width:20%; min-width:50px">Journal</th>
              <th class="p-0" style="width:50%; min-width:150px">Title</th>
              <th class="p-0" style="width:10%; min-width:50px">Authors</th>
              <th class="p-0" style="width:10%; min-width:50px">Pages</th>
              <th class="p-0" style="width:10%; min-width:50px">Year</th>
            </tr>
            <tr *ngFor="let item of DataToCheck.incomingItems" class="p-0">
              <td class="p-0 align-middle justify-content-center">
                {{item.parent_title}}
              </td>
              <td class="p-1 align-middle">{{item.title}}</td>
              <td class="p-1 align-middle ">{{AuthorsString(item.authorsLi)}}</td>
              <td class="p-1 align-middle ">{{item.pages}}</td>
              <td class="p-1 align-middle ">{{item.year}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div *ngIf="!DataToCheck" class="col-12">
      The source appears to contain no references. <strong>Are you sure you picked the right filter?</strong>
    </div>
    <form *ngIf="Source4upload" class="col-12 row" (ngSubmit)="Upload()" #NewSourceForm="ngForm">
      <div class="form-group col-6">
        <label for="source_Name">Source Name</label>
        <input type="text" class="form-control" id="Sourcename"
               [(ngModel)]="Source4upload.source_Name" name="source_Name"
               #name="ngModel">
        <div [hidden]="IsSourceNameValid() != 1"
             class="alert alert-danger">
          Name is required
        </div>
        <div [hidden]="IsSourceNameValid() != 2"
             class="alert alert-danger">
          There is another source with this name, please change it.
        </div>
      </div>
      <div class="form-group col-6">
        <label for="source_Name">Date of search</label>
        <kendo-datepicker [format]="'dd-MMM-yyyy'"
                          class="form-control" id="DateOfSearch"
                          [(ngModel)]="DateOfSearch" name="DateOfSearch">
        </kendo-datepicker>
      </div>
      <div class="form-group col-12">
        <label for="searchString">Search String (optional)</label>
        <textarea class="form-control" id="searchString"
                  [(ngModel)]="Source4upload.searchString" name="searchString" rows="3"></textarea>
      </div>
      <div class="form-group col-12">
        <label for="sourceDataBase">Database (optional)</label>
        <input type="text" class="form-control" id="sourceDataBase"
               [(ngModel)]="Source4upload.sourceDataBase" name="sourceDataBase">
      </div>
      <div class="form-group col-12">
        <label for="searchDescription">Description (optional)</label>
        <input type="text" class="form-control" id="searchDescription"
               [(ngModel)]="Source4upload.searchDescription" name="searchDescription">
      </div>
      <div class="form-group col-12">
        <label for="searchnotes">Notes (optional)</label>
        <input type="text" class="form-control" id="searchnotes"
               [(ngModel)]="Source4upload.notes" name="searchnotes">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success mb-1" [disabled]="IsSourceNameValid() != 0 || !DataToCheck || DataToCheck.totalReferences == 0">Import</button>
      </div>
    </form>
  </div>
</div>
