@model BusinessLibrary.BusinessClasses.WebDbFrequencyCrosstabAndMapSelectionCriteria
@using BusinessLibrary.BusinessClasses
@using Microsoft.AspNetCore.Html;

<input type="hidden" value="@Model.nameXAxis" name="nameXAxis" id="nameXAxisCrit" />

<div class="main-panel main-panel-no-sidebar">

    <div class="page-inner">

        <div class="card">
            <div class="card-body">
                <br />
               <iframe src="@(new HtmlString(@Model.nameXAxis))" style="width:100%;height:800px;" title="eppiMapperMap"></iframe>                  
            </div>
        </div>
    </div>
</div>

