<h1>Login</h1>
<form #f="ngForm" (ngSubmit)="onLogin(c_name.value, c_password.value)" novalidate>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        Username:
      </div>
      <div class="col-sm">
        <input #c_name name="username" ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Password:
      </div>
      <div class="col-sm">
        <input #c_password type="password" name="password" ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        &nbsp;
      </div>
      <div class="col-sm">
        <button>Login</button>
      </div>
    </div>
  </div>
</form>
