<div class="container-fluid pr-0 pl-0" resizable>
  <HeaderComponent [Context]="HelpAndFeebackContext" PageTitle=""></HeaderComponent>
  <div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 0%;"></div>
  <div class="mt-1 ">
    <kendo-splitter orientation="horizontal">
      <kendo-splitter-pane [collapsible]="false" class="">
        <kendo-splitter-pane>
          <kendo-tabstrip #tabstrip [keepTabContent]="true"
                          (tabSelect)="onTabSelect($event)">
            <kendo-tabstrip-tab [selected]="true" [title]="'Review home'">
              <ng-template kendoTabContent>
                <div class="row m-0">
                  <div class="col-md-7 col-sm-12 p-0 pr-1">
                    <reviewStatisticsComp (tabSelectEvent)="GoToItemList()"></reviewStatisticsComp>
                  </div>
                  <div class="col-md-5 col-sm-12 p-0">
                    <div class="card card-body ReviewsBg  mt-md-0 mt-sm-2 ">
                      <div class="row p-0">
                        <button type="button" class="btn btn-outline-primary m-1" (click)="toggleReviewPanel()"
                                [attr.aria-expanded]="!isReviewPanelCollapsed">
                          My Reviews <span [innerHTML]="ReviewPanelTogglingSymbol"></span>
                        </button>
                        <button type="button" class="btn btn-outline-primary m-1" (click)="toggleWorkAllocationsPanel()"
                                [attr.aria-expanded]="!isWorkAllocationsPanelCollapsed">
                          My Work <span [innerHTML]="WorkAllocationsPanelTogglingSymbol"></span>
                        </button>
                        <button type="button" class="btn btn-outline-primary m-1" (click)="toggleSourcesPanel()">
                          Sources <span [innerHTML]="SourcesPanelTogglingSymbol"></span>
                        </button>
                        <!--<button *ngIf="HasAdminRights" type="button" class="btn btn-outline-primary m-1" (click)="toggleReviewersPanel()"
              >
        Reviewers <span [innerHTML]="ReviewersPanelTogglingSymbol"></span>
      </button>-->
                      </div>
                      <readonlyreviews id="readOnlyReviews" [ngbCollapse]="!isReviewPanelCollapsed" class="mt-1"
                                       style="max-height: 520px;"></readonlyreviews>
                      <!--WorkAllocationContactListComp needs to be instantiated and hidden/shown: do NOT use ngIf clause-->
                      <WorkAllocationContactListComp #WorkAllocationContactList
                                                     (criteriaChange)='LoadContactWorkAllocList($event)'
                                                     (AllocationClicked)="GoToItemList()"
                                                     [ngbCollapse]="!isWorkAllocationsPanelCollapsed"
                                                     resizable r-directions="['right']" r-flex="true"
                                                     class="mt-2"
                                                     Context="FullUI"
                                                     style="max-height: 420px;"></WorkAllocationContactListComp>
                      <ROSourcesList *ngIf="isSourcesPanelVisible" class="mt-1"
                                     style="max-height: 420px;"></ROSourcesList>
                      <reviewerList *ngIf="isReviewersPanelVisible" class="mt-1"
                                    style="max-height: 420px;"></reviewerList>
                    </div>

                    <div *ngIf="HasSreeningList && HasWriteRights">
                      <div class="border border-primary rounded align-content-end row p-1 mx-0 mt-1">
                        <div>
                          The <span class="text-primary font-weight-bold ">Priority Screening</span> List is <b>Enabled and Ready</b>:
                          <button (click)="StartScreening()" class="btn btn-primary px-1 py-0">
                            Start Screening
                          </button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="HasSreeningFromSearchList && HasWriteRights">
                      <div class="border border-primary rounded align-content-end row p-1 mx-0 mt-1">
                        <div>
                          The <span class="text-info font-weight-bold ">Screening From Search</span> List is <span class="font-weight-bold">Enabled and Ready</span>:
                          <button (click)="StartScreeningFromList()" class="btn btn-info px-1 py-0">
                            Start Screening
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="card card-body mt-1 bg-light ">
                      {{MyAccountMessage}}
                      <br />
                      <EditAccountComp></EditAccountComp>
                      <br />
                      {{MyReviewMessage}}
                      <div class="row m-0 p-0">
                        <EditReviewComp #EditReviewComp *ngIf="HasAdminRights"></EditReviewComp>
                        <NewReviewComp></NewReviewComp>
                        <button class="btn btn-outline-dark m-1" (click)="GoToPastJobs()">Automation Logs</button>
                        <div *ngIf="HasAdminRights" class="btn btn-link btn-sm my-auto" (click)="SetupWebDBs()">
                          Setup Visualisations...
                        </div>
                      </div>
                      <div>
                        <siteadminEntry *ngIf="IsSiteAdmin" class="row p-1 mx-0"></siteadminEntry>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'References'">
              <ng-template kendoTabContent>
                <div class="containsAtoolbar">
                  <kendo-toolbar class="small" style="background-color: #f5f6fa;">
                    <kendo-toolbar-splitbutton [text]="'Import Items'" (buttonClick)="GoToSources()"
                                               [data]="ImportOrNewDDData"
                                               style="border-color: #04070b;background-color: #e1e4eb;"></kendo-toolbar-splitbutton>
                    <!--<kendo-toolbar-button [text]="'Build Model'" (click)="BuildModel()"></kendo-toolbar-button>-->
                    <kendo-toolbar-button [text]="'Cluster'" [title]="'Automatically generate codes'" [selected]="RefsTabActivePanel == 'Cluster'"
                                          (click)="ShowHideClusterCommand()"></kendo-toolbar-button>
                    <kendo-toolbar-splitbutton [text]="'Coding Report'" (buttonClick)="ShowHideQuickReport()"
                                               [data]="QuickReportsDDData"
                                               [buttonClass]="ReportSplitButtonStyle('ShowHideQuickReport')"
                                               style="border-color: #04070b;background-color: #e1e4eb;"></kendo-toolbar-splitbutton>
                    <kendo-toolbar-button [icon]="'delete'" [disabled]="!HasSelectedItems || !HasWriteRights"
                                          (click)="DeleteRelevantItems()">
                    </kendo-toolbar-button>
                    <kendo-toolbar-button [text]="'In/Exclude'" [selected]="RefsTabActivePanel == 'IncludeExclude'"
                                          [disabled]="!HasWriteRights"
                                          (click)="AllocateRelevantItems()">
                    </kendo-toolbar-button>
                    <kendo-toolbar-splitbutton [text]="'Export to RIS'"
                                               (buttonClick)="ToRis()"
                                               [disabled]="!HasSelectedItems"
                                               [data]="ExportReferencesDDData"
                                               style="border-color: #04070b;background-color: #e1e4eb;">

                    </kendo-toolbar-splitbutton>

                    <kendo-toolbar-button [text]="'Run Reports'" [selected]="RefsTabActivePanel == 'RunReports'"
                                          (click)="RunConfigurableReports()">
                    </kendo-toolbar-button>
                  </kendo-toolbar>

                </div>
                <div class="rounded alert alert-info col-lg-6 col-md-8 col-sm-10 d-flex container px-1" *ngIf="RefsTabActivePanel == 'IncludeExclude'">
                  <div class="container px-1">
                    <div class="col-12 font-weight-bold p-0 text-center">Assign documents as Included or Excluded</div>
                    <div class="row mt-2 mx-1 border-bottom">
                      <label class="col-12 col-sm-5 pl-0">Assign these items:</label>
                      <select class="col-12 col-sm-7 form-control mb-1" style="min-width:190px;"
                              [disabled]="!HasWriteRights" [(ngModel)]="AllocateChoice">
                        <option> Selected documents</option>
                        <option> Documents with this code</option>
                      </select>
                    </div>
                    <div *ngIf="AllocateChoice == 'Documents with this code'" class="row mt-2 mx-1 p-0 border-bottom">
                      <label class="col-12 col-sm-5 pl-0">Using items with this code: </label>
                      <div ngbDropdown class="col-12 col-sm-7 m-0 mb-1 p-0" style="min-width:190px;">
                        <button ngbDropdownAnchor class="btn btn-outline-primary dropdown-toggle w-100 " id="dropdownTreeAllocate"
                                (click)="isCollapsedCodeAllocate = !isCollapsedCodeAllocate;"
                                [attr.aria-expanded]="!isCollapsedCodeAllocate"
                                aria-controls="collapseCodeTreeCodeAllocate"
                                style="min-width: 50px;">
                          {{DropdownSelectedCodeAllocate?.name}}
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu"
                             id="collapseCodeTreeCodeAllocate"
                             [ngbCollapse]="!isCollapsedCodeAllocate">
                          <codesetSelector [IsMultiSelect]="false"
                                           [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" #CodeTreeAllocate
                                           (selectedNodeInTree)="CloseCodeDropDownAllocate()"
                                           [rootsOnly]="false">
                          </codesetSelector>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 row p-0 my-2 mx-1 border-bottom">
                      <div class="col-3 col-sm-5 pl-0 mb-1">Assign as:</div>
                      <div class="col-9 col-sm-7 row mb-1">
                        <div class="col">
                          <input class="m-1 p-1" type="radio" value="true" name="AllocateChoiceRadio"
                                 [(ngModel)]="AssignDocs">Included
                        </div>
                        <div class="col">
                          <input class="m-1 p-1" type="radio" value="false" name="AllocateChoiceRadio"
                                 [(ngModel)]="AssignDocs">Excluded
                        </div>
                      </div>
                    </div>
                    <div class="col-12 row p-0 mx-1 justify-content-center">
                      <button type="submit" (click)="RunAssignment()" class="btn btn-success ml-2 mr-2"
                              [disabled]="!HasWriteRights || !CanAssignDocs()" style="width:80px;">
                        Assign
                      </button>
                      <button class="btn btn-outline-secondary ml-1"
                              (click)="ClosePanel()" style="width:120px;">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
                <div class="rounded alert alert-info col-12 d-flex container px-1"
                     style="min-width:500px;overflow:auto;" *ngIf="RefsTabActivePanel == 'RunReports'">
                  <configurablereport (PleaseCloseMe)="ClosePanel()"></configurablereport>
                </div>
                <quickcodingreport *ngIf="RefsTabActivePanel == 'QuickReport'" (PleaseCloseMe)="ClosePanel()"></quickcodingreport>
                <quickcodingreport *ngIf="RefsTabActivePanel == 'QuickQuestionReport'" Aim="QuickQuestionReport" (PleaseCloseMe)="ClosePanel()"></quickcodingreport>
                <RunLingo3G *ngIf="RefsTabActivePanel == 'Cluster'" (PleaseCloseMe)="ClosePanel()" (PleaseOpenTheCodes)="OpenCodesPanel()"></RunLingo3G>
                <div class="card card-body bg-light p-1" style="min-height:300px;">
                  <ItemListComp #ItemList Context="FullUI" [ShowItemsTable]="ShowItemsTable" resizable r-directions="['right']" r-flex="true"></ItemListComp>
                </div>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Reports'">
              <ng-template kendoTabContent>
                <div class="containsAtoolbar mb-1">
                  <kendo-toolbar class="">
                    <kendo-toolbar-buttongroup selection="single">
                      <kendo-toolbar-button [toggleable]="true" [text]="'Frequencies and crosstabs'" (click)="reportsShowWhat = 'AllFreq'" [selected]="reportsShowWhat == 'AllFreq'"></kendo-toolbar-button>
                      <kendo-toolbar-button [toggleable]="true" [text]="'Configurable reports'" (click)="reportsShowWhat = 'ReportsCfg'" [selected]="reportsShowWhat == 'ReportsCfg'">Configurable reports</kendo-toolbar-button>

                    </kendo-toolbar-buttongroup>
                    <kendo-toolbar-button text="Run Reports" [iconClass]="RunReportsShow2 ? 'k-icon k-i-arrow-chevron-up ml-0 mr-0' : 'k-icon k-i-arrow-chevron-down ml-0 mr-0'"
                                          (click)="RunConfigurableReports2()" [selected]="RunReportsShow2"></kendo-toolbar-button>
                    <kendo-toolbar-button *ngIf="CanShowRobotInvestigate" [text]="'Investigate'" (click)="GoToInvestigate()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
                  </kendo-toolbar>
                </div>
                <div *ngIf="RunReportsShow2" class="rounded alert alert-info col-12 d-flex container px-1"
                     style="min-width:500px;overflow:auto;">
                  <configurablereport (PleaseCloseMe)="RunReportsShow2 = false"></configurablereport>
                </div>
                <FreqXtabMaps [hidden]="reportsShowWhat !== 'AllFreq'" #FreqXtabMapsComp></FreqXtabMaps>
                <SetupConfigurableReports [hidden]="reportsShowWhat !== 'ReportsCfg'" #SetupConfigurableReports></SetupConfigurableReports>
                <!--<frequencies *ngIf="reportsShowWhat == 'OnlyFreq'" #FreqComp></frequencies>-->
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Search & Classify'">
              <ng-template kendoTabContent>
                <SearchComp #SearchComp class="bg-light" (PleaseOpenTheCodes)="OpenCodesPanel()" [autoRefreshThreshold]="SearchTabAutoRefreshThreshold"></SearchComp>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Collaborate'">
              <ng-template kendoTabContent>
                <WorkAllocationComp #WorkAllocationCollaborateList
                                    (AllocationClicked)="GoToItemList()"
                                    (criteriaChange)='LoadWorkAllocList($event)'
                                    class="bg-light"></WorkAllocationComp>
              </ng-template>
            </kendo-tabstrip-tab>
            <!--<kendo-tabstrip-tab [title]="'Investigate'" [disabled]="DisableRobotInvestigate">
              <ng-template kendoTabContent>
                <RobotInvestigate #RobotInvestigate class="bg-light"></RobotInvestigate>
              </ng-template>
            </kendo-tabstrip-tab>-->
          </kendo-tabstrip>
          <button *ngIf="!CodesAreCollapsed" class="btn btn-success p-1 CodesBtn" style="min-width: 28px;" (click)="ShowHideCodes()">
            <div class="CodesBtnContent row mx-0">
              <div class="k-icon k-i-arrow-right" style="margin-left:2px;"></div>
              Codes
              <div class="k-icon k-i-arrow-right" style="margin-left:2px;"></div>
            </div>
          </button>
          <button *ngIf="CodesAreCollapsed" class="btn btn-success p-1 CodesBtn" style="min-width: 28px;" (click)="ShowHideCodes()">
            <div class="CodesBtnContent row mx-0">
              <div class="k-icon k-i-arrow-left" style="margin-left:2px;"></div>
              Codes
              <div class="k-icon k-i-arrow-left" style="margin-left:2px;"></div>
            </div>
          </button>
        </kendo-splitter-pane>
      </kendo-splitter-pane>
      <kendo-splitter-pane [collapsed]="CodesAreCollapsed" size="30%" class="bg-light">
        <!--<button *ngIf="ReviewSets && ReviewSets.length > 0 && HasWriteRights"
                class="btn btn-outline-success btn-sm ml-1 p-0 pr-1 pl-1 " (click)="EditCodeSets()">
            Edit Coding Tool(s)
        </button>-->
        <div class="k-block containsAtoolbar p-0" look="outline">
          <button kendoButton class="my-1 ml-1 mr-0" (click)="EditCodeSets()">Edit Tools</button>
          <kendo-splitbutton [text]="'With this Code'" (buttonClick)="ListItemsWithWithoutThisCode(true, true)"
                             [disabled]="!CanGetItemsWithThisCode"
                             [data]="ItemsWithThisCodeDDData"
                             class="my-1 ml-1 mr-0"
                             style="border-color: #04070b;background-color: #e1e4eb;"></kendo-splitbutton>
          <kendo-splitbutton *ngIf="ShowItemsTable" [text]="'Assign Code'" (buttonClick)="BulkAssignRemoveCodes(true)"
                             [disabled]="!CanBulkAssignRemoveCodes"
                             [data]="AddRemoveItemsDDData"
                             class="my-1 ml-1 mr-0"
                             style="border-color: #04070b;background-color: #e1e4eb;"></kendo-splitbutton>
          <kendo-splitbutton *ngIf="ShowSearchesAssign" [text]="'Assign search(es) to code'"
                             (buttonClick)="BulkAssignRemoveCodesToSearches(true)"
                             [disabled]="!CanBulkAssignRemoveCodesToSearches"
                             [data]="AddRemoveSearchesDDData"
                             class="my-1 ml-1 mr-0"
                             style="border-color: #04070b;background-color: #e1e4eb;"></kendo-splitbutton>
          <button kendoButton [icon]="'chart-bar-stacked'" class="my-1 ml-1 mr-0" title="Get Frequencies (for children of currently selected code)" (click)="GetFrequencies()" [disabled]="!CanGetFrequencies">
          </button>
          <button kendoButton [icon]="'refresh'" class="my-1 ml-1 mr-0" *ngIf="!IsServiceBusy" title="Refresh Coding Tools" (click)="RefreshCodingTools()">
          </button>
          <button kendoButton [icon]="'print'" class="my-1 ml-1 mr-0 " title="Print coding tool" (click)="ShowPrintCodeset = !ShowPrintCodeset">
            <!--<kendo-icon name="print"></kendo-icon>-->
          </button>
          <button *ngIf="CanRunOpenAIrobot" kendoButton [icon]="'gears'" class="small my-1 ml-1"
                  title="Auto-coding with LLM(s) - requires dedicated Coding Tool"
                  [disabled]="!HasWriteRights" (click)="ShowRobotBatchJobs = !ShowRobotBatchJobs"></button>
        </div>
        <RobotBatchJobs *ngIf="CanRunOpenAIrobot && ShowRobotBatchJobs" (PleaseCloseMe)="ShowRobotBatchJobs = false"></RobotBatchJobs>
        <div *ngIf="ShowPrintCodeset" class="m-1 rounded border border-success">
          <div class="col-12 m-0 p-0 row">
            &nbsp;Print coding tool?
            <div *ngIf="selectedNode != null && selectedNode.nodeType == 'ReviewSet'" class="small px-1 mt-1 ml-1 alert-info col-auto">(Saves the result to disk)</div>
            <div *ngIf="selectedNode == null || selectedNode.nodeType != 'ReviewSet'" class="small px-1 mt-1 ml-1 alert-danger col-auto">Please select a coding tool.</div>
          </div>
          <div class="col-12 m-0 p-0">
            &nbsp;Show IDs <input type="checkbox" [(ngModel)]="printCsetShowIds" class="m-1" />
          </div>
          <div class="col-12 m-0 p-0">
            &nbsp;Show types <input type="checkbox" [(ngModel)]="printCsetShowTypes" class="m-1" />
          </div>
          <div class="col-12 m-0 p-0">
            &nbsp;Show descriptions <input type="checkbox" [(ngModel)]="printCsetShowDescriptions" class="m-1" />
          </div>
          <div class="col-12 mx-0 mb-1 p-0 row">
            <button kendoButton class="btn btn-outline-success btn-sm ml-1" title="Print coding tool" (click)="PrintCodingTool()" [disabled]="selectedNode == null || selectedNode.nodeType != 'ReviewSet'">
              Print!
            </button>
            <button kendoButton class="btn btn-dark btn-sm px-2 ml-1" title="Cancel" (click)="ShowPrintCodeset = false">
              Cancel
            </button>
          </div>
        </div>
        <codesetTreeMain [MaxHeight]="700"></codesetTreeMain>
        <div *ngIf="(!ReviewSets || ReviewSets.length == 0) && !IsServiceBusy && HasWriteRights">
          <button class="btn btn-success btn-sm p-0 mb-1" (click)="ImportCodesetClick()"><span class="ml-1 mr-1">Click Here</span></button> to Import Coding Tools from templates.
        </div>
      </kendo-splitter-pane>
    </kendo-splitter>
    <statusbar class="" resizable></statusbar>
  </div>
</div>

