<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Core" version="4.3.13" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Azure.DataLake.Store" version="1.1.19" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.5" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.5" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.DataFactory" version="4.8.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.DataLake.Analytics" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.DataLake.Store" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.ResourceManager.Fluent" version="1.31.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Common" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Data" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Service" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.4.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.4.0" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="7.5.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net461" />
</packages>