
<p *ngIf="!nodes || nodes.length == 0"><em>Loading...</em></p>
<!--style="max-height: 800px; height:680px"   ng-style="_eventEmitter.testVar == 'true' ? {'width':'250px'} : {'width':'500px'}"-->
<div class="bg-light" *ngIf="nodes && nodes.length > 0 " style="max-height: 800px; height:680px; ">
	<tree-root class="bg-dark"  *ngIf="nodes" [nodes]="nodes" [options]="options" style="max-height: 800px;"
			   (activate)="NodeSelected($event.node.data)">
		<ng-template class="bg-warning"  #treeNodeTemplate let-node let-index="index">
			<span [ngClass]="{'ScreeningSet' : node.data.subTypeName == 'Screening',
                            'AdminSet' : node.data.subTypeName == 'Administration',
                            'ExcludeCode' : node.data.subTypeName == 'Exclude'
                            }">{{node.data.name}}</span>
		</ng-template>
	</tree-root>
</div>

<div class="mt-2" *ngIf="SelectedCodeDescription != ''">
	<div class="card card-title mb-0 font-weight-bold">Code description:</div>
	<div class="card card-body mt-0 p-1 bg-white" style="max-height:150px; overflow-y:scroll" [innerHTML]="SelectedCodeDescription">
	</div>
</div>
