<HeaderComponent class="row m-0 p-1" PageTitle="Welcome to EPPI Reviewer Web" Context="intropage"></HeaderComponent>
<div class="card m-1">
  <div class="card-header bg-info text-center d-flex">
    <!--<h4 class="m-1 text-center">Welcome to EPPI-Reviewer Web</h4>-->
    <div class="rounded p-1 alert-info text-center d-block mx-auto">
      <strong>EPPI Reviewer Web</strong> supports all <strong>modern browsers</strong> and can be used on Windows, Macs, Tablets and Smartphones (iOS and Android)
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a href="https://eppi.ioe.ac.uk/cms/er4" target="_blank" title="Link to the EPPI Reviewer gateway"><img class="float-right" src="assets/Images/EPPI Reviewer - Logo.png" /></a>
        <p class="mb-1">
          Starting with version 6.15, EPPI Reviewer Web is <strong>feature-complete</strong>: it supports all functionalities available in EPPI-Reviewer 4,
          meaning that it is not <em>necessary</em> to use version 4 in order to complete any task. EPPI Reviewer Web also contains numerous functionalities not available in version 4.
          However, both versions operate on the same data, so users can decide to use one version or the other, based on their personal preference.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex">
        <p class="my-auto">
          We encourage all users to provide feedback and suggestions via the "Feedback" button above, or by contacting
          <a href="mailto:EPPISupport@ucl.ac.uk" target="_blank">EPPISupport@ucl.ac.uk</a>.
        </p>
      </div>
      <div class="col-auto">
        <NewReviewComp class="float-right"></NewReviewComp>
      </div>
    </div>
  </div>
</div>
<div class="card m-1 bg-light">
    <readonlyreviews class="pt-1"></readonlyreviews>
</div>
