



<div class="row m-1 p-0">
    <ng-template #NoCodeSet>
        <div class="border alert-danger d-inline mt-0 mb-auto px-1 px-1 font-italic" style="opacity:0.7;">Not set</div>
    </ng-template>
    <ng-template #NoCodeSetXtab>
        <div class="border alert-danger d-inline mt-0 mb-auto px-1 px-1 font-italic" style="opacity:0.7;">Not set (only used for Crosstabs)</div>
    </ng-template>
    <ng-template #NoFilterSet>
        <div class="border px-1 font-italic mt-0 mb-auto mr-auto px-1" style="opacity:70;">Not set (optional)</div>
    </ng-template>
    <div class="col-2 mt-0 pl-1 pr-1 mt-1 mb-auto" style="min-width:178px;">Rows (parent) code:&nbsp;</div>
    <div class="col-5 px-0 mt-1"><div *ngIf="selectedNodeDataY != null; else NoCodeSet" class="border px-1 mt-0 mb-auto">{{selectedNodeDataY?.name}}</div></div>
    <div class="col">
        <button (click)="setYaxis()" [disabled]="!canSetCode()" class="btn btn-primary btn-sm">Set</button>&nbsp;
        <button *ngIf="selectedNodeDataY != null" class="btn btn-sm btn-outline-primary ml-1" (click)="fetchFrequencies(selectedNodeDataY, selectedFilterAttribute?.attribute_id)"
                [disabled]="selectedNodeDataY == null">
            Get Frequencies
        </button>
    </div>
</div>
<div class="row m-1 p-0">
    <div class="col-2 mt-0 pl-1 pr-1 mt-1 mb-auto" style="min-width:178px;">Columns (parent) code:&nbsp;</div>
    <div class="col-5 px-0 mt-1"><div *ngIf="selectedNodeDataX != null; else NoCodeSetXtab" class="border px-1 mt-0 mb-auto">{{selectedNodeDataX?.name}}</div></div>
    <div class="col">
        <button (click)="setXaxis()" [disabled]="!canSetCode()" class="btn btn-primary btn-sm">Set</button>&nbsp;
    </div>
</div>
<div class="row m-1 p-0">
    <div class="col-2 mt-1 pl-1 pr-1 mt-1 mb-auto" style="min-width:178px;">Selected Filter:&nbsp;</div>
    <div class="col-5 px-0 mt-1"><div *ngIf="selectedFilterAttribute != null; else NoFilterSet" class="border px-1 mt-0 mb-auto">{{selectedFilterAttribute?.name}}</div></div>
    <div class="col">
        <button (click)="setFilter()" [disabled]="!canSetFilter()" class="btn btn-primary btn-sm"> Set Filter</button>&nbsp;
        <button (click)="clearFilter()" class="btn btn-outline-info btn-sm"> Clear Filter</button>
    </div>

</div>

<div >

    <div class="row mx-1 px-0 col-12 alert-secondary">
        <div class="p-1 d-flex col-auto">
            <button class="my-auto btn btn-primary mr-1" (click)="fetchFrequencies(selectedNodeDataY, selectedFilterAttribute?.attribute_id)"
                    [disabled]="selectedNodeDataY == null">
                Get Frequencies
            </button>

            <button class="my-auto btn btn-primary" (click)="fetchCrossTabs()" [disabled]="selectedNodeDataY == null || selectedNodeDataX == null">
                Get CrossTab
            </button>
        </div>
        <div class="d-flex col-auto mx-auto">
            <div class="px-1 col-auto row mx-auto my-auto rounded border border-info bg-light">
                <div class="my-auto border-info border-right py-1 px-2">
                    <input type="radio" value="included" name="frcrIncludeOrExclude" [(ngModel)]="crosstbIncEx">&nbsp;Included
                </div>
                <div class="my-auto border-info border-right py-1 px-2">
                    <input type="radio" value="excluded" name="frcrIncludeOrExclude" [(ngModel)]="crosstbIncEx">&nbsp;Excluded
                </div>
                <div class="my-auto py-1 px-2">
                    <input type="radio" value="bothIandE" name="frcrIncludeOrExclude" [(ngModel)]="crosstbIncEx">&nbsp;Both
                </div>
            </div>
        </div>
        <div class="p-1 d-flex justify-content-end col ">
            <div class="p-1 rounded border border-info text-wrap alert-light my-auto mx-1">
                <div *ngIf="selectedNode; else PleaseSelectAcode" class="align-self-center text-wrap small alert-info px-1 m-auto">
                    Current code:
                    <strong class="mx-1">
                        {{selectedNode?.name}}
                    </strong>
                </div>
            </div>
            <ng-template #PleaseSelectAcode>
                <div class="align-self-center small m-auto px-1 text-wrap">Please select a code from the right</div>
            </ng-template>
        </div>
    </div>
    <div class="row pb-1 mx-1 mb-1 col-12 alert-secondary" [hidden]="Frequencies.length == 0">
        <div class="p-1  my-auto">
            <b>Show results as:</b>
        </div>
        <div class="row mx-2 rounded border border-info bg-light px-1 my-auto">
            <div class="p-1">
                <input type="radio" value="table" name="FreqShowWhatNx" [(ngModel)]="FreqShowWhat">&nbsp;Table
            </div>
            <div class="p-1">
                <input type="radio" value="pie" name="FreqShowWhatNx" [(ngModel)]="FreqShowWhat">&nbsp;Pie chart
            </div>
            <div class="p-1">
                <input type="radio" value="bar" name="FreqShowWhatNx" [(ngModel)]="FreqShowWhat">&nbsp;Bar chart
            </div>
        </div>
        <div class="p-1 my-auto">
            <input type="checkbox" value="true" [(ngModel)]="NoneOfTheAboveCB" checked="checked"> Show 'None of the codes above'
        </div>
        <div class="p-1 my-auto">
            <button class="btn btn-sm btn-outline-primary my-auto py-0 px-1" (click)="FreqToExcel()" title="Export to Excel">
                Export <i class="k-icon k-i-excel my-1"></i>
            </button>
        </div>
    </div>


</div>


<div *ngIf="(xTab == null || !xTab.rows || xTab.rows.length == 0) && Frequencies.length == 0"
     class="justify-content-center row m-0">
    <div class="p-2 font-weight-bold text-info">
        No data to show.
    </div>
</div>


<div *ngIf="xTab && xTab.rows && xTab.rows.length > 0"
     class="row contentCT col-md-12" style="max-height:80vh; max-width:98vw; overflow:auto;">
    <table class="table table-striped table-bordered table-condensed mb-2">
        <thead>
            <tr>
                <td>
                    <button class="btn btn-sm btn-outline-primary my-auto py-0 px-1" (click)="CrosstabToExcel()" title="Export to Excel">
                        Export <i class="k-icon k-i-excel my-1"></i>
                    </button>
                </td>
                <td class="font-weight-bold" *ngFor="let item of xTab.columnAttNames">
                    {{item}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of xTab.rows">
                <td class="font-weight-bold">{{row.attributeName}}</td>
                <td *ngFor="let colAttName of xTab.columnAttNames; index as i; ">
                    <button (click)="xTabItemsList(xTab, row, i)" [disabled]="row.counts[i] == 0"
                            class="btn btn-link border-0 pt-0 pb-1 pl-1 font-weight-bold">
                        {{row.counts[i]}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="Frequencies.length > 0" class="col-12">
    <frequenciesResults [ChartType]="FreqShowWhat" [ShowNoneOfTheAbove]="NoneOfTheAboveCB"></frequenciesResults>
</div>

