@model BusinessLibrary.BusinessClasses.ReviewInfo

<div class="row">
    <div class="col-12 ">
        Review Name is:
        <h3>@Model.ReviewName</h3>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
        <div id="treeView"></div>
        <script>


            function Buildnode(attr) {
                var nodes = [];
                
                var res = new kendo.data.Node({
                    text: attr.setName ? attr.setName : attr.attributeName
                });
                for (var ii = 0; ii < attr.attributes.attributesList.length; ii++) {
                    res.append(Buildnode(attr.attributes.attributesList[ii]));
                }
                res.id = attr.attributeId ? attr.attributeId : attr.setId;
                res.isCodeset = false;
                res.setId = attr.setId;
                //res.items = nodes;
                //res.hasChildren = () => {
                //    return this.items.length > 0;
                //};
                return res;
            }
            function TreeViewSelection(e) {
                if (treeviewData == null) retrun;
                dataItem = treeviewData.dataItem(e.node);
                if (!dataItem) {
                    $("#CurrentNodeGoToFreq").prop("disabled", true);
                    return;
                }
                console.log("Change", dataItem.setId, dataItem.id, dataItem.text);
                $("#CurrentNodeName").text(dataItem.text);
                $("#CurrentNodeId").text(dataItem.id);
                $("#CurrentNodeSetId").text(dataItem.setId);
                $("#CurrentNodeIsCodeSet").text(dataItem.isCodeset.toString());
                if (dataItem.items && dataItem.items.length > 0)
                    $("#CurrentNodeGoToFreq").prop("disabled", false);
                else
                    $("#CurrentNodeGoToFreq").prop("disabled", true);
            }
            var treeviewData = null;
            var dataItem = null;
            $(document).ready(function() {
                $("#treeView").kendoTreeView({
                    dataSource: {
                        transport: {
                            read: {
                                url: "../ReviewSetList/FetchJSON",
                                dataType: "json"
                            }
                        },
                        schema: {
                            parse: function (response) {
                                dataItem = null;
                                var nodes = [];
                                for (var i = 0; i < response.length; i++) {
                                    var nodes2 = [];
                                    var nd = new kendo.data.Node({ text: response[i].setName });
                                    nd.id = response[i].setId;
                                    nd.isCodeset = true;
                                    nd.setId = nd.id;
                                    for (var ii = 0; ii < response[i].attributes.attributesList.length; ii++) {
                                        nd.append(Buildnode(response[i].attributes.attributesList[ii]));
                                    }
                                    nd.items = nodes2;
                                    //nd.hasChildren = () => {
                                    //        return this.items.length > 0;
                                    //    };
                                    nodes.push(nd);
                                }
                                return nodes;
                            }
                        }
                    },
                    select: TreeViewSelection
                });
                treeviewData = $("#treeView").data("kendoTreeView");
                //$("#treeView").data("kendoTreeView").bind("change", TreeViewSelection);
            });
            function tree_dataBound(e) {
                console.log("DataBound", e.node);
            }
            function GoToFreq() {
                console.log("CurrentNodeGoToFreq");
                if (!dataItem) {
                    console.log("CurrentNodeGoToFreq no data");
                    return;
                }
                console.log("Planning to go to get frequency with (codeID, setId):", dataItem.id, dataItem.setId)
            }
            function postwith(to, p) {
                //https://mentaljetsam.wordpress.com/2008/06/02/using-javascript-to-post-data-between-pages/
                var myForm = document.createElement("form");
                myForm.style.display = "none";
                myForm.method = "post";
                myForm.action = to;
                for (var k in p) {
                    var myInput = document.createElement("input");
                    myInput.setAttribute("name", k);
                    myInput.setAttribute("value", p[k]);
                    myForm.appendChild(myInput);
                }
                document.body.appendChild(myForm);
                myForm.submit();
                document.body.removeChild(myForm);
            }
            //var treeviewData = $("#treeView").data("kendoTreeView");
            //treeview.bind("change", TreeViewSelection);
        </script>
    </div>
    <div class="col-6 col-sm-8 col-md-9">
        <div class="col-12 ">
            Review Id is:
            <h5>@Model.ReviewId</h5>
        </div>
        <div class=" col">
            Screening is:
            @if (Model.ShowScreening)
            {<text>Active</text>}
        else
        {<text>Disabled</text>}
        </div>
        <div class="col-12 ">
            This web DB will only show items with this code:
            <div>@ViewBag.AttName (ID: @ViewBag.AttId)</div>
            <a class="btn btn-outline-success" asp-controller="ItemList" asp-action="Index">
                Got to list
            </a>
        </div>
        <div class="col-12 " id="CurrentNode">
            <div class="row">Selected code: <span id="CurrentNodeName"></span></div>
            <div class="row">Selected Id: <span id="CurrentNodeId"></span></div>
            <div class="row">Selected SetId: <span id="CurrentNodeSetId"></span></div>
            <div class="row">Is a coding tool: <span id="CurrentNodeIsCodeSet"></span></div>
            <button class="btn-outline-primary btn btn-sm" onclick="GoToFreq()" disabled id="CurrentNodeGoToFreq">Freq</button>
        </div>

    </div>
    

</div>
