<div class="container col-md-12 form">
	<div class="col-md-12 row card">
		<div class="card-body bg-light col-md-12 form-group">
			<div class="font-weight-bold col-md-12 form-group">
				New Review Name
				<input class="form-control col-md-7" type="text"
						id="reviewName" name="ReviewName"
						[(ngModel)]="reviewN"
						required />
				<button [disabled]="!CanCreateReview()" (click)="CreateReview()"
						class="btn btn-primary">
					Create Review
				</button>
				<button (click)="CloseNewReview()" class="btn btn-danger">Cancel</button>
			</div>
		</div>
	</div>
</div>

