
<div class="row col-12 mx-0 px-2 alert-secondary card">
    <table class="">
        <tr>
            <td width="200px">
                <div class="d-flex col-auto mx-auto">
                    <div class="px-1 col-auto row mx-auto my-auto rounded border border-info bg-light">
                        <div class="my-auto border-info border-right py-1 px-2">
                            <input type="radio" value="dateFrom" name="logDate" [(ngModel)]="visLogDate" (click)="RetrieveLogFrom()">&nbsp;From
                        </div>
                        <div class="my-auto py-1 px-2">
                            <input type="radio" value="dateUntil" name="logDate" [(ngModel)]="visLogDate" (click)="RetrieveLogUntil()">&nbsp;Between
                        </div>
                    </div>
                </div>
            </td>
            <td>
                &nbsp;<b>From</b>&nbsp;
                <kendo-datepicker [(value)]="valueKendoDatepickerFrom" [format]="'dd MMM yyyy'" (valueChange)="RetrieveLog()" [min]="fromMin" [max]="fromMax" >
                </kendo-datepicker>
            </td>
            <td>
                <div *ngIf="visLogDate=='dateUntil'">
                    &nbsp;<b>Until</b>&nbsp;
                    <kendo-datepicker [(value)]="valueKendoDatepickerUntil" [format]="'dd MMM yyyy'" (valueChange)="RetrieveLog()" [min]="untilMin" [max]="untilMax">
                    </kendo-datepicker>
                </div>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            &nbsp;<b>Log type</b>&nbsp;
                        </td>
                        <td>
                            <div ngbDropdown>
                                <select class="col-12 form-control mb-1" name="LogTypeSelection" [(ngModel)]="LogTypeSelection" (change)="RetrieveLog()">
                                    <option [ngValue]="0" [selected]="LogTypeSelection == 0">All</option>
                                    <option [ngValue]="1">Login</option>
                                    <option [ngValue]="2">Search</option>
                                    <option [ngValue]="3">GetFrequency</option>
                                    <option [ngValue]="4">GetSetFrequency</option>
                                    <option [ngValue]="5">GetFrequencyNewPage</option>
                                    <option [ngValue]="6">GetItemList</option>
                                    <option [ngValue]="7">GetMap</option>
                                    <option [ngValue]="8">ItemDetailsFromList</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div *ngIf="CurrentLogs.length > 0">
                    <button  class="btn btn-sm btn-outline-primary my-auto py-0 px-1" (click)="GridToExcel()" title="Export to Excel">
                        Export <i class="k-icon k-i-excel my-1"></i>
                    </button>
                </div>

                    <!--<button class="btn btn-primary btn-sm text-white"
                (click)="RetrieveLog()">
            Retrieve
        </button>-->
            </td>
        </tr>
    </table>
</div>



<div class="col-12 alert-secondary px-2 py-1 my-1 card">
    <div *ngIf="CurrentLogs.length == 5000">
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;Only the top 5000 entries are displayed</strong>
    </div>

    <kendo-grid *ngIf="CurrentLogs.length > 0"
                [data]="LogDataGet" [height]="420"
                [sortable]="{
	                    allowUnsort: allowUnsort,
	                    mode: 'single'
	                    }"
                [sort]="sortLogs"
                [pageSize]="pageSize"
                [skip]="skip"
                [pageable]="{
                            buttonCount: 10,
                            info: false,
                            type: 'numeric',
                            pageSizes: false,
                            previousNext: true,
                            position: 'top'
                        }"
                (pageChange)="pageChange($event)"
                (sortChange)="sortChangeLogs($event)"
                class="mt-1">


        <!--<kendo-grid-column field="webDBLogIdentity" title="No" width="60" class="px-1 py-0 m-1">
            {{webDBLogIdentity}}
        </kendo-grid-column>-->
        <kendo-grid-column field="dateTimeCreated" title="Date" width="140" class="px-1 py-0 m-1">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{FormatDate(dataItem.dateTimeCreated)}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="logType" title="Type" width="140" class="px-1 py-0 m-1">
            {{logType}}
        </kendo-grid-column>
        <kendo-grid-column field="logDetails" title="Details" width="420" class="px-1 py-0 m-1">
            {{logDetails}}
        </kendo-grid-column>


        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-totalN="total" let-skipo="skip" let-pageSizep="pageSize">
            <kendo-pager-prev-buttons *ngIf="totalPages > 1"></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons *ngIf="totalPages > 1" [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons *ngIf="totalPages > 1"></kendo-pager-next-buttons>
            <div *ngIf="totalPages == 1" class="m-0 p-0 small k-pager-info">[{{totalN}} Entries]</div>
            <div *ngIf="totalPages > 1" class="m-0 p-0 small k-pager-info">{{skipo+1}}-{{skipo+pageSizep > totalN ? totalN : skipo+pageSizep }} (of {{totalN}})</div>
        </ng-template>


    </kendo-grid>
    <div *ngIf="CurrentLogs.length == 0"><strong>&nbsp;&nbsp;&nbsp;&nbsp;No log data to display</strong></div>
</div>


