<HeaderComponent PageTitle="Setup WebDatabase(s)" Context="webdbs"></HeaderComponent>
<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 0%;"></div>

<div class=" row mx-0 mt-0 mb-1 p-0 ">


    <div class="col-12 p-0">

        <div *ngIf="WebDbs.length > 0; else CreateNewBlock" class="col-12  p-0 m-0 row ">
            <div class="m-1 font-weight-bold">Pick WebDatabase:</div>
            <select (change)="ShowDBSettingById($event.target.value)" class="d-inline mb-1">
                <option *ngFor="let db of WebDbs" [value]="db.webDBId" [selected]="CurrentDB && db.webDBId == CurrentDB.webDBId">
                    {{db.webDBName}}
                </option>
            </select>
            <button class="btn btn-outline-primary btn-sm ml-1 mb-1" (click)="Edit()">Add New...</button>
            <button class="page-link rounded pt-1 pb-1 mb-1 mr-0 ml-auto float-right" style="z-index:91;"
                    (click)="BackToMain()">
                Close/back
            </button>
            <div *ngIf="EditingSomething" style="position:absolute;top:0;z-index:90; background-color:#d8d8e2;opacity:0.35; width:100%;height:100%"></div>
        </div>
        <ng-template #CreateNewBlock>
            <div class="col-12  p-0 m-0 row ">
                <div>Create new Web Database:</div>
                <button class="page-link rounded pt-1 pb-1 mb-1 mr-0 ml-auto float-right"
                        (click)="BackToMain()">
                    Close/back
                </button>
                <div class="col-12 m-3 rounded alert-info border">
                    To get started, you will:
                    <ul>
                        <li>Create a new WebDatabase, give it a name and description (save it);</li>
                        <li>Pick other properties, such as password protections;</li>
                        <li>Define what data will be visible (what coding tools and what items).</li>
                    </ul>
                </div>
                <button class="btn btn-outline-primary btn-sm ml-1 mb-1" (click)="Edit()">Add New...</button>
            </div>
        </ng-template>

        <div *ngIf="EditingDB == null && CurrentDB !== null" class="bg-light rounded">
            <div class="row m-0 p-0 " style="" >
                <img *ngIf="CurrentDB.encodedImage1 != ''" src="data:image/jpg;base64,{{CurrentDB.encodedImage1}}" alt="image1" class=" col-3 p-0 ml-0 mr-auto my-auto" style="height:100%; object-fit: cover;" /> 
                <div class="col-6 row p-0 mx-auto my-0">
                    <h2 class=" p p-0 mx-auto my-auto ">&nbsp;{{CurrentDB.webDBName}}</h2>
                </div>
                <img *ngIf="CurrentDB.encodedImage2 != ''" src="data:image/jpg;base64,{{CurrentDB.encodedImage2}}" alt="image2" class=" col-3 p-0 mr-0 ml-auto my-auto" style="height:100%; object-fit: cover;" />
            </div>
            <div *ngIf="CanWrite" class="w-100 m-0 p-0 text-center">
                <button class="btn btn-outline-success btn-sm ml-1 mb-1" (click)="Edit(CurrentDB)" [disabled]="CurrentDB==null || EditingSomething">
                    Edit
                </button>
                <button class="btn btn-outline-danger btn-sm ml-1 mb-1" (click)="DeleteDB(CurrentDB)" [disabled]="CurrentDB==null || EditingSomething">
                    <span class="k-icon k-i-delete "></span>
                </button>
            </div>
            <div class="row col-12 p-1 mx-0 mt-2 border-bottom border-info">
                <div class="col-12 col-sm-2 row m-0 p-0">
                    <div class="col-auto">
                        ID:
                    </div>
                    <div class="rounded bg-white col w-100">
                        {{CurrentDB.webDBId}}
                    </div>
                </div>
                <div class="col-12 col-sm-6 row m-0 p-0">
                    <div class="col-auto">
                        Name:
                    </div>
                    <div class="rounded bg-white col w-100">
                        {{CurrentDB.webDBName}}
                    </div>
                </div>
                <div class="col-12 col-sm-4 row m-0 p-0">
                    <div class="col-auto">
                        Filter
                    </div>
                    <div class="rounded bg-white col w-100">
                        {{FilterName(CurrentDB.attributeIdFilter)}}
                    </div>
                </div>
            </div>
            <div class="row col-12 p-1 mx-0 mt-2 border-bottom border-info">
                <div class="col-12 col-sm-9 row m-0 p-0">
                    <div class="col-auto">
                        Description:
                    </div>
                    <div class="rounded bg-white col w-100">
                        {{CurrentDB.webDBDescription}}
                    </div>
                </div>
                <div class="col-12 col-sm-3 row m-0 p-0">
                    <div class="rounded bg-white col w-100">
                        {{CurrentDB.isOpen ? 'Open Access' : 'Password protected'}}
                    </div>
                </div>
            </div>
            <div *ngIf="CurrentDB.userName !== ''" class="row col-12 p-1 mx-0 mt-2 border-bottom border-info">
                <div class="col-12 col-sm-6 row m-0 p-0">
                    <div class="col-auto">
                        Username:
                    </div>
                    <div class="rounded bg-white col w-100">
                        {{CurrentDB.userName}}
                    </div>
                </div>
                <div class="col-12 col-sm-6 row m-0 p-0">
                    <div class="col-auto">
                        Password:
                    </div>
                    <div class="rounded bg-white col w-100">
                        ****
                    </div>
                </div>
            </div>
            
        </div>
        <div *ngIf="EditingDB !== null" class="bg-light rounded">
            <div class="w-100 m-0 p-0 text-center">
                <button class="btn btn-outline-dark btn-sm ml-1 mb-1" (click)="CancelEdit()">Cancel</button>
                <button class="btn btn-outline-danger btn-sm ml-1 mb-1" [disabled]="!CanSave" (click)="Save()">Save</button>
            </div>
            <div *ngIf="!ShowUpload && CanWrite" class="row ml-2 bg-white mr-1 p-0">
                <button class="btn btn-outline-primary btn-sm" (click)="ShowUpload = true">Upload</button>
            </div>
            <div *ngIf="ShowUpload" class="row ml-2 bg-white mr-1 p-0">
                <kendo-upload class="" [autoUpload]="true"
                              [saveUrl]="uploadSaveUrl"
                              [restrictions]="uploadRestrictions"
                              (upload)="uploadEventHandler($event)"
                              (complete)="completeEventHandler($event)">
                </kendo-upload>
                <div class="col">
                    Upload for Image 1<input type="radio" name="imageDest" [(ngModel)]="isUploadImage1" value="true" />
                    Or Image 2<input type="radio" name="imageDest" [(ngModel)]="isUploadImage1" value="false" />
                </div>
                <div class="">
                    <button class="btn btn-outline-info btn-sm  m-2" (click)="ShowUpload = false">Cancel</button>
                </div>
            </div>
            <div *ngIf="!CanSave" class="w-100 m-0 p-0 text-center">
                <span class="alert-danger rounded small border border-danger px-1">{{CantSaveMessage}}</span>
            </div>
            <div class="row col-12 p-1 mx-0 mt-2 border-bottom border-info">
                <div class="col-12 col-sm-2 row m-0 p-0">
                    <div class="col-auto">
                        ID:
                    </div>
                    <div class="rounded bg-white col w-100">
                        {{EditingDB.webDBId}}
                    </div>
                </div>
                <div class="col-12 col-sm-4 row m-0 p-0">
                    <div class="col-auto">
                        Name:
                    </div>
                    <div class="rounded bg-white col w-100">
                        <input class="p-1 w-100" type="text" [(ngModel)]="EditingDB.webDBName" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 row m-0 p-0">
                    <div class="col-auto">
                        Only items with this code?
                    </div>
                    <div class="rounded bg-white col w-100">
                        <div *ngIf="EditingDB.attributeIdFilter == 0 && !EditingFilter">
                            <button *ngIf="EditingDB.attributeIdFilter == 0" (click)="EditFilter()"
                                    class="btn btn-outline-success btn-sm ml-1 my-1">
                                Add...
                            </button>
                            (no filter)
                        </div>
                        <div *ngIf="EditingDB.attributeIdFilter > 0 && !EditingFilter">
                            <button (click)="EditFilter()"
                                    class="btn btn-outline-success btn-sm ml-1 my-1">
                                Change...
                            </button>
                            {{FilterName(EditingDB.attributeIdFilter)}}
                        </div>
                        <div *ngIf="EditingFilter">
                            <button (click)="CancelEditFilter()"
                                    class="btn btn-outline-dark btn-sm ml-1 my-1">
                                Cancel...
                            </button>
                            {{FilterName(EditingDB.attributeIdFilter)}}
                        </div>
                    </div>
                    <div *ngIf="EditingFilter" class="row col-12">
                        <div class="col-5">Pick the code:</div>
                        <div class="d-block my-1 col-7 p-0">
                            <div ngbDropdown class="">
                                <button ngbDropdownAnchor class="btn btn-outline-secondary dropdown-toggle"
                                        id="dropdownTreeRandomAllocate"
                                        style="min-width: 200px; max-width:720px;"
                                        (click)="isCollapsedFilterCode = !isCollapsedFilterCode;"
                                        [attr.aria-expanded]="!isCollapsedFilterCode" aria-controls="collapseCodeTreeWithWithout">
                                    {{DropdownWithWithoutSelectedCode?.name}}
                                </button>
                                <div ngbDropdownMenu class="dropdown-menu" id="collapseCodeTreeWithWithout" [ngbCollapse]="!isCollapsedFilterCode">
                                    <codesetSelector [IsMultiSelect]="false"
                                                     [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" #FilterCodeSelector
                                                     (selectedNodeInTree)="CloseCodeDropDownFilterCode()"></codesetSelector>
                                </div>
                            </div>
                            <button (click)="RemoveFilter()"
                                    class="btn btn-outline-dark btn-sm ml-1 my-1">
                                No filter...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 p-1 mx-0 mt-2 border-bottom border-info">
                <div class="col-12 col-sm-9 row m-0 p-0">
                    <div class="col-auto">
                        Description:
                    </div>
                    <div class="rounded bg-white col w-100">
                        <textarea class="p-1 w-100" type="text" [(ngModel)]="EditingDB.webDBDescription" rows="4"></textarea>
                    </div>
                </div>
                <div class="col-12 col-sm-3 row m-0 p-0">
                    <div class="col-auto">
                        Is open access:
                    </div>
                    <div class="rounded bg-white col w-100">
                        <span class="brightSwitch" style="zoom:75%;">
                            <kendo-switch name="showOptionalFieldsSW" class="small small mt-0"
                                          [(ngModel)]="EditingDB.isOpen"
                                          [onLabel]="'Yes'"
                                          [offLabel]="'No'"></kendo-switch>
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="!EditingDB.isOpen" class="row col-12 p-1 mx-0 mt-2 border-bottom border-info">
                <div class="col-12 col-sm-6 row m-0 p-0">
                    <div class="col-auto">
                        Username:
                    </div>
                    <div class="rounded bg-white col w-100">
                        <input class="p-1 w-100" type="text" [(ngModel)]="EditingDB.userName" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 row m-0 p-0">
                    <div class="col-auto">
                        Password:
                    </div>
                    <div class="rounded bg-white col w-100">
                        <input class="p-1 w-100" type="password" [(ngModel)]="EditingDB.password" />
                    </div>
                    <div class="rounded bg-white col w-100" [ngClass]="{'alert-danger' : ConfirmPassword.length == 0 || ConfirmPassword != EditingDB.password}">
                        <input class="p-1 w-100" type="password" [(ngModel)]="ConfirmPassword" />
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="CurrentDB !== null" class="row p-0 m-0" >
            <div class="row col-4 p-1 mx-0 mt-2 border-top border-info">
                <WebDbCcodesetTree class="w-100" MaxHeight="400" [CanChangeSelectedCode]="!EditingSomething" ></WebDbCcodesetTree>
            </div>
            <div class="row col-8 p-1 mx-0 mt-2 border-top border-info">
                <div class="bg-light w-100 rounded">
                    <div class="row col-12 p-1 mx-0 mt-2 ">
                        <div class="col-4 p-0 mt-2">
                            Add Coding Tool:
                        </div>
                        <div class="d-block my-1 col-8 p-0">
                            <div ngbDropdown class="" style="min-width:200px;">
                                <button class="btn btn-outline-secondary dropdown-toggle"
                                        style="min-width: 200px; max-width:720px;"
                                        (click)="isCollapsedAddTool = false;" [disabled]="EditingSomething"
                                        id="dropdownBasicCodingTool" ngbDropdownToggle>
                                    {{GetCodingToolName()}}
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasicCodingTool">
                                    <button (click)="SetCodeSetDropDown(item)"
                                            *ngFor="let item of AddableCodingTools;" class="dropdown-item">
                                        {{item.name}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedCodeSetDropDown != null" class="col-12 row m-0 p-0">
                            <div class="col-4 p-0 mt-2">
                                Add This Tool:
                            </div>
                            <div class="d-block my-1 col-8 p-0">
                                {{GetCodingToolName()}}
                                <button class="btn btn-outline-secondary my-1" [disabled]="!CanWrite || EditingSomething"
                                        (click)="AddCodingTool(selectedCodeSetDropDown)">
                                    Add!
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 p-1 mx-0 mt-2 ">
                        <ng-container [ngSwitch]="true">
                            <div *ngSwitchCase="SelectedNodeIsRoot === null">
                                No Code is Selected
                            </div>
                            <div *ngSwitchCase="SelectedNodeIsRoot === true" class="row col-12 m-0 p-0">
                                <div *ngIf="EditingWebDbReviewSet == null; else editingSetBlock">
                                    Selected Coding Tool: {{SelectedCodingTool.name}}
                                    <button *ngIf="CanWrite" class="btn btn-sm btn-outline-primary  px-1 m-1" (click)="EditTool(SelectedCodingTool)">
                                        Edit
                                    </button>
                                    <button *ngIf="CanWrite" class="btn btn-sm btn-outline-danger  px-1 pt-0 m-1" (click)="RemoveTool(SelectedCodingTool)">
                                        <span class="k-icon k-i-delete "></span>
                                    </button>
                                </div>
                                <ng-template #editingSetBlock>
                                    <div class="w-100">
                                        <div class="row p-0 m-0">
                                            <div class="col-4">Public name for this set:</div>
                                            <input class="col-8" type="text" [(ngModel)]="EditingWebDbReviewSet.set_name" maxlength="255" />
                                        </div>
                                        <div class="row p-0 m-0">
                                            <div class="col-4">Public description for this set:</div>
                                            <textarea class="col-8" rows="3" type="text" maxlength="2000" [(ngModel)]="EditingWebDbReviewSet.description"></textarea>
                                        </div>
                                        <div class="row m-0">
                                            <div class="mx-auto">
                                                <button class="btn btn-sm btn-outline-secondary  px-1 m-1" (click)="CancelEditTool()">
                                                    Cancel
                                                </button>
                                                <button class="btn btn-sm btn-outline-primary  px-1 m-1" (click)="SaveEditedTool()">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 m-0 p-0 border-top border-info ">
                                        <div *ngIf="MissingAttributes.length > 0" class="font-weight-bold ml-3">
                                            Hidden Codes:
                                        </div>
                                        <div *ngIf="MissingAttributes.length == 0" class="">
                                            No codes are hidden for this Coding Tool.
                                        </div>
                                        <div style="max-height:400px;overflow:auto;background-color:#d8d8e2;" class="col-12 m-1 p-1 rounded ">
                                            <div *ngFor="let missing of MissingAttributes" class="row mx-1">
                                                <div class="bg-white rounded border border-info my-1 ml-1 mr-auto px-2 ">
                                                    <span *ngIf="missing.path.length > 0">{{missing.path}}\</span><strong>{{missing.name}}</strong> <button class="btn btn-sm btn-outline-primary ml-2 py-0 my-1 small" (click)="RestoreCode(missing)">Restore...</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div *ngSwitchDefault class="row col-12 m-0 p-0">
                                <div *ngIf="EditingSetAttribute == null; else editingAttributeBlock">
                                    Selected Attribute: {{SelectedAttribute.name}}
                                    <button *ngIf="CanWrite" class="btn btn-sm btn-outline-primary  px-1 py-0 m-1" (click)="EditAttribute(SelectedAttribute)">
                                        Edit
                                    </button>
                                    <button *ngIf="CanWrite" class="btn btn-sm btn-outline-danger  px-1 pt-0 m-1" (click)="RemoveAttribute(SelectedAttribute)">
                                        <span class="k-icon k-i-delete "></span>
                                    </button>
                                </div>
                                <ng-template #editingAttributeBlock>
                                    <div class="w-100">
                                        <div class="row p-0 m-0">
                                            <div class="col-4">Public name for this Code:</div>
                                            <input class="col-8" type="text" [(ngModel)]="EditingSetAttribute.attribute_name" maxlength="255" />
                                        </div>
                                        <div class="row p-0 m-0">
                                            <div class="col-4">Public description for this Code:</div>
                                            <textarea class="col-8" rows="3" type="text" maxlength="2000" [(ngModel)]="EditingSetAttribute.attribute_set_desc"></textarea>
                                        </div>
                                        <button class="btn btn-sm btn-outline-secondary  px-2 m-1" (click)="CancelEditAttribute()">
                                            Cancel
                                        </button>
                                        <button class="btn btn-sm btn-outline-primary  px-1 m-1" (click)="SaveEditedAttribute()">
                                            Save
                                        </button>
                                    </div>
                                </ng-template>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="EditingDB !== null" style="position:absolute;top:0;z-index:90; background-color:#d8d8e2;opacity:0.55; width:100%;height:100%"></div>
            </div>
        </div>
    </div>
</div>
<statusbar class="row card p-0 ml-1 mr-1 mt-1 mb-2 card-body" resizable></statusbar>
