<!-- Editable table -->
<div class="card">
	<h5 class="card-header text-center font-weight-bold py-4">Arms</h5>
	<div class="col-md-12">
		<div class="col-md-10"></div>
		<button class="btn btn-outline-primary btn-sm px-1 py-0 m-0 mb-1 float-right"
				(click)="ShowArms = !ShowArms">
			{{ShowArmsBtnText}}
		</button>
	</div>
	<div class="card-body">
		<div id="table" class="table-editable" *ngIf="ShowArms">
			<div class="table-add float-left mb-3 mr-2 col-12 col-md-6 row">
				Create new study arm:
				<input #titleModel="ngModel"
					   required minlength="3"
					   pattern="^(?!\s*$).+" class="form-control"
					   type="text" [(ngModel)]="title" />
				<div *ngIf="titleModel.invalid && (titleModel.dirty || titleModel.touched)"
					 class="alert small alert-danger p-1">

					<div *ngIf="titleModel.errors.pattern">
						title cannot be empty
					</div>

					<div *ngIf="titleModel.errors.required">
						title is required.
					</div>
					<div *ngIf="titleModel.errors.minlength">
						title must be at least 3 characters long.
					</div>

				</div>
				<button *ngIf="!titleModel.invalid" [disabled]="!HasWriteRights"
						class="btn btn-success mt-1 p-1 m-1" (click)="add(title)">
					Add New Study Arm
				</button>
				<button *ngIf="!titleModel.invalid"
						class="btn btn-danger mt-1 p-1 m-1"
						(click)="ClearAndCancelAdd()">
					Cancel
				</button>
			</div>
			<!---->
			<table class="table table-bordered table-responsive-md table-striped text-center">
				<tr>
					<th class="text-center">Arm Title</th>
					<th class="text-center" style="max-width: 10px;">Edit</th>
					<th class="text-center" style="max-width: 10px;">Remove</th>
				</tr>
				<tr *ngFor="let arm of armsList; let key = index">
					<td style="width: 150px;">{{arm.title}}</td>
					<td style="width: 15px; white-space:nowrap;">
						<span class="table-remove">
							<button (click)="editTitle=true; setArm(arm, key)"
									[disabled]="!HasWriteRights"
									type="button" rounded="true" size="sm" class="btn btn-info">
								Edit
							</button>
						</span>
					</td>
					<td style="width: 15px; white-space:nowrap;">
						<span class="table-remove">
							<button type="button" rounded="true" size="sm" class="btn btn-danger"
									[disabled]="!HasWriteRights" (click)="removeWarning(key)">
								Remove
							</button>
						</span>
					</td>
				</tr>
			</table>
			<div *ngIf="editTitle">
				<input class="form-control" type="text" name="titleChange" id="titleChange" [(ngModel)]="currentTitle" />
				<button class="btn btn-primary mt-1 p-1 m-1" (click)="updateList(currentArm)">Confirm Change</button>
				<button class="btn btn-danger mt-1 p-1 m-1" (click)="ClearAndCancelEdit()">Cancel Change</button>
			</div>
		</div>
	</div>
	<timePointsComp [item]="item"></timePointsComp>
</div>
<!-- Editable table -->