
<div  class="container col-md-12 form p-0 ">
	<p hidden>{{selectedNode?.name}}</p>
	<div *ngIf="ShowOutcomesList" class="col-md-12 row card p-0 m-0">
		<div class="card container-fluid mt-1 bg-light border border-primary rounded m-1 p-1">
			<table class="table table-bordered table-responsive-md table-striped text-center">
				<tr>
					<th class="text-center">Outcome Title</th>
					<th class="text-center">Intervention</th>
					<th class="text-center" style="max-width: 10px;">Edit</th>
					<th class="text-center" style="max-width: 10px;">Remove</th>
				</tr>
				<tr *ngFor="let outcome of _OutcomesService.outcomesList; let key = index">
					<td style="width: 150px;">{{outcome.title}}</td>
					<td style="width: 150px;">{{outcome.intervention}}</td>
					<td style="width: 15px; white-space:nowrap;">
						<span class="table-remove">
							<button (click)="editOutcome(outcome, key)"
									[disabled]="!HasWriteRights && !IsServiceBusy"
									type="button" rounded="true"
									size="sm" class="btn btn-outline-info p-1 m-1">
								Edit
							</button>
						</span>
					</td>
					<td style="width: 15px; white-space:nowrap;">
						<span class="table-remove">
							<button type="button" rounded="true"
									size="sm" class="btn btn-outline-danger p-1 m-1"
									[disabled]="!HasWriteRights && !IsServiceBusy" 
									(click)="removeWarning(outcome, key)">
								Remove
							</button>
						</span>
					</td>
				</tr>
			</table>
			<button [disabled]="!HasWriteRights"
					class="btn btn-primary mt-1 p-1 m-1 col-md-2"
					(click)="CreateNewOutcome()">
				New Outcome
			</button>
			<button class="btn btn-danger mt-1 p-1 m-1 col-md-2"
					(click)="ClearAndCancelEdit()">
				Cancel
			</button>

		</div>
	</div>
	<div *ngIf="ShowOutcomesStatistics && outcome != null" class="col-md-12 row card p-0 m-0">
		<div class="card container-fluid mt-1 bg-light border border-primary rounded m-1 p-1">
			<div class=" col-md-12 small" >
				<div  class="row col-md-12">
					<div class="col-md-6 row form-field">
						<label class="col-md-3">Title</label>
						<input  #titleModel="ngModel" placeholder="Title" [(ngModel)]="currentOutcome.title"
							   required minlength="3"
							   value="currentOutcome.title"
							   pattern="^(?!\s*$).+"
							   type="text" class="form-control col-md-8 form-input" />
					</div>
					<div class="col-md-6 row ">
						<label class="col-md-3">Timepoint</label>
						<div class="d-inline-block col-md-8">
							<select #timePoint [(ngModel)]="currentOutcome.itemTimepointId"
									class="form-control col-md-12">
								<option [ngValue]="timepoint.itemTimepointId"
										[selected]="timepoint.itemTimepointId == currentOutcome.itemTimepointId"
										*ngFor="let timepoint of timePointsList">
									{{timepoint.timepointValue}} &nbsp; {{timepoint.timepointMetric}}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row col-md-12  p-1 m-1">
					<label class="col-md-2">Outcome Description</label>
					<input #outcomeDescriptionModel="ngModel"
						   required minlength="3"
						   value="currentOutcome.outcomeDescription"
						   pattern="^(?!\s*$).+"
						   [(ngModel)]="currentOutcome.outcomeDescription"
						   type="text" class="form-control col-md-8  form-input" />
				</div>
				<div class="row col-md-12">
					<div class="col-md-6 row">
						<label class="col-md-3">Outcome type</label>
						<div ngbDropdown class="d-inline-block col-12 col-sm-6 col-md-8">
							<select #outcomeType [(ngModel)]="currentOutcome.outcomeTypeId"
									class="form-control col-md-12">
								<option [ngValue]="outcomeT.outcomeTypeId"
										[selected]="outcomeT.outcomeTypeId == currentOutcome.outcomeTypeId"
										*ngFor="let outcomeT of OutcomeTypeList">
									{{outcomeT.outcomeTypeName}}
								</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 row">
						<label class="col-md-3">Outcome</label>
						<div ngbDropdown class="d-inline-block col-12 col-sm-6 col-md-8" placeholder="Outcomes">
							<select #outcomeDD [(ngModel)]="currentOutcome.itemAttributeIdOutcome"
									class="form-control col-md-12">
								<option [ngValue]="out.attributeId"
										[selected]="out.attributeId == currentOutcome.itemAttributeIdOutcome"
										*ngFor="let out of _OutcomesService.ReviewSetOutcomeList">
									{{out.attributeName}}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-6 row">
						<label class="col-md-3">Intervention</label>
						<div ngbDropdown class="d-inline-block col-12 col-sm-6 col-md-8">
							<select #interventionDD="ngModel" [(ngModel)]="currentOutcome.itemAttributeIdIntervention"
									class="form-control col-md-12">
								<option [ngValue]="intervention.attributeId"
										[selected]="intervention.attributeId == currentOutcome.itemAttributeIdIntervention"
										*ngFor="let intervention of _OutcomesService.ReviewSetInterventionList">
									{{intervention.attributeName}}
								</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 row">
						<label class="col-md-3">Comparison</label>
						<div ngbDropdown class="d-inline-block col-12 col-sm-6 col-md-8">
							<select #controlDD="ngModel" [(ngModel)]="currentOutcome.itemAttributeIdControl"
									class="form-control col-md-12">
								<option [ngValue]="control.attributeId"
										[selected]="control.attributeId == currentOutcome.itemAttributeIdControl"
										*ngFor="let control of _OutcomesService.ReviewSetControlList">
									{{control.attributeName}}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-6 row">
						<label class="col-md-3">Group 1 arm</label>
						<div ngbDropdown class="d-inline-block col-12 col-sm-6 col-md-8">
							<select #GroupOneArm="ngModel" [(ngModel)]="currentOutcome.itemArmIdGrp1"
									class="form-control col-md-12">
								<option [ngValue]="arm.itemArmId"
										[selected]="arm.itemArmId == currentOutcome.itemArmIdGrp1"
										*ngFor="let arm of _OutcomesService.ReviewSetItemArmList">
									{{arm.title}}
								</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 row">
						<label class="col-md-3">Group 2 arm</label>
						<div ngbDropdown class="d-inline-block col-12 col-sm-6 col-md-8">
							<select #GroupTwoArm="ngModel" [(ngModel)]="currentOutcome.itemArmIdGrp2"
									class="form-control col-md-12">
								<option [ngValue]="arm.itemArmId"
										[selected]="arm.itemArmId == currentOutcome.itemArmIdGrp2"
										*ngFor="let arm of _OutcomesService.ReviewSetItemArmList">
									{{arm.title}}
								</option>
							</select>
						</div>
					</div>
				</div>

				<!-- Need 8 sections here for the different outcomeTypes that can occur
				/* Meta-analysis types:
				*     0: Continuous: d (Hedges g)
				*     1: Continuous: r
				*     2: Binary: odds ratio
				*     3: Binary: risk ratio
				*     4: Binary: risk difference
				*     5: Binary: diagnostic test OR
				*     6: Binary: Peto OR
				*     7: Continuous: mean difference
				*/
					-->
				<!--<div *ngIf="currentOutcome.outcomeTypeId == 0">
					<p>manual entry currentOutcome.outcomeTypeId == 0</p>
				</div>
				<div *ngIf="currentOutcome.outcomeTypeId == 1">
					<p>Continuous: n, mean, SD currentOutcome.outcomeTypeId == 1</p>
				</div>
				<div *ngIf="currentOutcome.outcomeTypeId == 2">
					<p>binary 2 x 2 table currentOutcome.outcomeTypeId == 2</p>
				</div>
				<div *ngIf="currentOutcome.outcomeTypeId == 3">
					<p>n, mean SE currentOutcome.outcomeTypeId == 3</p>
				</div>
				<div *ngIf="currentOutcome.outcomeTypeId == 4">
					<p>n, mean CI currentOutcome.outcomeTypeId == 4</p>
				</div>
				<div *ngIf="currentOutcome.outcomeTypeId == 5">
					<p>N, t- or p-value currentOutcome.outcomeTypeId == 5</p>
				</div>
				<div *ngIf="currentOutcome.outcomeTypeId == 6">
					<p>diagnostic binary 2 x 2 table currentOutcome.outcomeTypeId == 6</p>
				</div>
				<div *ngIf="currentOutcome.outcomeTypeId == 7">
					<p>correlation coefficient r currentOutcome.outcomeTypeId == 7</p>
				</div>-->

				<div class="row col-md-12 p-1 m-1 ">

					<div class="row col-md-4 p-0 m-0">
						<label class="col-md-3">{{currentOutcome.data1Desc}}</label>
						<input class="form-control col-md-4" #group1NModel="ngModel"
							   [(ngModel)]="currentOutcome.data1"
							   value="currentOutcome.data1"
							   type="text" />
					</div>
					<div class="row col-md-4 p-0 m-0">
						<label class="col-md-3">{{currentOutcome.data2Desc}}</label>
						<input class="form-control col-md-4" #group2NModel="ngModel"
							   [(ngModel)]="currentOutcome.data2"
							   value="currentOutcome.data2"
							   type="text" />
					</div>
					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7">
						<label class="col-md-3">{{currentOutcome.data3Desc}}</label>
						<input #group1MeanModel="ngModel"
							   [(ngModel)]="currentOutcome.data3"
							   value="currentOutcome.data3"
							   type="text" class="form-control col-md-4" />
					</div>
					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 ">

						<label class="col-md-3">{{currentOutcome.data4Desc}}</label>
						<input #group2MeanModel="ngModel"
							   [(ngModel)]="currentOutcome.data4"
							   value="currentOutcome.data4"
							   type="text" class="form-control col-md-4" />
					</div>

					<div class="row col-md-4  p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 2">

						<label class="col-md-3">{{currentOutcome.data5Desc}}</label>
						<input #group1SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data5"
							   value="currentOutcome.data5"
							   type="text" class="form-control col-md-4" />
					</div>
					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 2">

						<label class="col-md-3">{{currentOutcome.data6Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data6"
							   value="currentOutcome.data6"
							   type="text" class="form-control col-md-4" />

					</div>

					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 3
						 && currentOutcome.outcomeTypeId != 2 && currentOutcome.outcomeTypeId != 1">

						<label class="col-md-3">{{currentOutcome.data7Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data7"
							   value="currentOutcome.data7"
							   type="text" class="form-control col-md-4" />
					</div>

					<div class="row col-md-4  p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 3
						 && currentOutcome.outcomeTypeId != 2 && currentOutcome.outcomeTypeId != 1">

						<label class="col-md-3">{{currentOutcome.data8Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data8"
							   value="currentOutcome.data8"
							   type="text" class="form-control col-md-4" />
					</div>

					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5  && currentOutcome.outcomeTypeId != 4
						 && currentOutcome.outcomeTypeId != 3 && currentOutcome.outcomeTypeId != 2
						 && currentOutcome.outcomeTypeId != 1 && currentOutcome.outcomeTypeId != 0">

						<label class="col-md-3">{{currentOutcome.data9Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data9"
							   value="currentOutcome.data9"
							   type="text" class="form-control col-md-4" />
					</div>

					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 4
						 && currentOutcome.outcomeTypeId != 3 && currentOutcome.outcomeTypeId != 2
						 && currentOutcome.outcomeTypeId != 1 && currentOutcome.outcomeTypeId != 0">
						<label class="col-md-3">{{currentOutcome.data10Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data10"
							   value="currentOutcome.data10"
							   type="text" class="form-control col-md-4 small" />
					</div>

					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 4
						 && currentOutcome.outcomeTypeId != 3 && currentOutcome.outcomeTypeId != 2
						 && currentOutcome.outcomeTypeId != 1">

						<label class="col-md-3">{{currentOutcome.data11Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data11"
							   value="currentOutcome.data11"
							   type="text" class="form-control col-md-4 small" />
					</div>

					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 4
						 && currentOutcome.outcomeTypeId != 3 && currentOutcome.outcomeTypeId != 2
						 && currentOutcome.outcomeTypeId != 1">

						<label class="col-md-3">{{currentOutcome.data12Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data12"
							   value="currentOutcome.data12"
							   type="text" class="form-control col-md-4 small" />
					</div>

					<div class="row col-md-4  p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 4
						 && currentOutcome.outcomeTypeId != 3 && currentOutcome.outcomeTypeId != 2
						 && currentOutcome.outcomeTypeId != 1">

						<label class="col-md-3">{{currentOutcome.data13Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data13"
							   value="currentOutcome.data13"
							   type="text" class="form-control col-md-4 small" />
					</div>

					<div class="row col-md-4 p-0 m-0"
						 *ngIf="currentOutcome.outcomeTypeId != 7 && currentOutcome.outcomeTypeId != 6
						 && currentOutcome.outcomeTypeId != 5 && currentOutcome.outcomeTypeId != 4
						 && currentOutcome.outcomeTypeId != 3 && currentOutcome.outcomeTypeId != 2
						 && currentOutcome.outcomeTypeId != 1">
						<label class="col-md-3">{{currentOutcome.data14Desc}}</label>
						<input #group2SDModel="ngModel"
							   [(ngModel)]="currentOutcome.data14"
							   value="currentOutcome.data14"
							   type="text" class="form-control col-md-4 small" />
					</div>
					<div class="row col-md-12 p-1 m-1">
						<label class="col-md-1">{{currentOutcome.esDesc}}</label>
						<p class="col-md-2">{{currentOutcome.es}}</p>
						<label class="col-md-1 text-capitalize">{{currentOutcome.seDesc}}</label>
						<p class="col-md-2">{{currentOutcome.sees}}</p>
					</div>
				</div>
				</div>
				<div class="row col-md-12">
					<button [disabled]="!HasWriteRights && !IsServiceBusy"
							class="btn btn-sm btn-primary mt-1 p-1 m-1 col-md-2"
							(click)="SaveOutcome()">
						Save Outcome
					</button>
					<button class="btn btn-sm btn-danger mt-1 p-1 m-1 col-md-2"
							(click)="ClearAndCancelSave()">
						Cancel
					</button>
				</div>
			</div>
		</div>
</div>

