<div class="row contentCT">
		<table
			   class="table table-striped table-bordered mb-2">
			<thead >
				<tr>
					<td> &nbsp;</td>
					<td class="font-weight-bold" *ngFor="let item of crosstabService.CrossTab.xHeaders">
						{{item}} 
					</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let subitem of crosstabService.CrossTab.yRows">
					<td>{{subitem.attributeName}}</td>
					<td *ngFor="let name of crosstabService.fieldNames">
						<b (click)="CrossTabItemsList(crosstabService.CrossTab, subitem.attributeId, name)"
						   class="btn btn-link border-0 pt-0 pb-1 pl-1 font-weight-bold">
							{{subitem[name]}}
						</b>
					</td>
				</tr>
			</tbody>
		</table>
</div>
