<div class="row m-1 p-0 d-flex justify-content-between">
    <button class="btn btn-primary" (click)="fetchCrossTabs()">
        Get CrossTabs
    </button>
    <div *ngIf="reviewSetsService.selectedNode" class="align-self-center small"> &nbsp; Current code: {{reviewSetsService.selectedNode?.name}}</div>
</div>


    <div class="row m-1 p-0">
        <div class="col-2 mt-1 pl-1 pr-1" style="min-width:168px;">Selected X-Axis Code:&nbsp;</div>
        <div class="col-5 border">{{selectedNodeDataX?.name}}</div>
        <div class="col-4">
            <button (click)="setXaxis()" [disabled]="!canSetCode()" class="btn btn-primary btn-sm">Set</button>&nbsp;
        </div>
    </div>
    <div class="row m-1 p-0">
        <div class="col-2 mt-1 pl-1 pr-1" style="min-width:168px;">Selected Y-Axis Code:&nbsp;</div>
        <div class="col-5 border">{{selectedNodeDataY?.name}}</div>
        <div class="col-4">
            <button (click)="setYaxis()" [disabled]="!canSetCode()" class="btn btn-primary btn-sm">Set</button>&nbsp;
        </div>
    </div>
    <div class="row m-1 p-0">
        <div class="col-2 mt-1 pl-1 pr-1" style="min-width:168px;">Selected Filter:&nbsp;</div>
        <div class="col-5 border">{{selectedFilterAttribute?.name}}</div>
        <div class="col-4">
            <button (click)="setFilter()" [disabled]="!canSetFilter()" class="btn btn-primary btn-sm"> Set Filter</button>&nbsp;
            <button (click)="clearFilter()" class="btn btn-outline-info btn-sm"> Clear Filter</button>
        </div>

    </div>

    <div class="row col-md-12">
        <table class="table-striped table table-light card-body">
            <tbody>
                <tr class="collapse">
                    <td>
                        <b>Get frequencies for</b>
                    </td>
                    <td>
                        <input type="radio" value="true" name="cxTabIncludeOrExclude" [(ngModel)]="crosstbIncEx"> <b>&nbsp;Included</b>
                    </td>
                    <td>
                        <input type="radio" value="false" name="cxTabIncludeOrExclude" [(ngModel)]="crosstbIncEx"><b>&nbsp; Excluded</b>
                    </td>
                    <td colspan="2"> <b class="align-self-end">&nbsp; Items</b></td>
                </tr>
                <tr class="collapse">
                    <td>
                        <b>Show results as:</b>
                    </td>
                    <td>
                        <input type="radio" value="table" name="CrosstShowWhatN" [(ngModel)]="crosstbShowWhat"><b>&nbsp;Table</b>
                    </td>
                    <td>
                        <input type="radio" value="bar" disabled name="CrosstShowWhatN" [(ngModel)]="crosstbShowWhat"><b>&nbsp;Bar chart</b>
                    </td>
                    <td>
                        <input type="radio" value="stackbar" disabled name="CrosstShowWhatN" [(ngModel)]="crosstbShowWhat"><b>&nbsp;Stacked bar chart</b>
                    </td>
                    <td>
                        <input type="radio" value="stackbar" disabled name="CrosstShowWhatN" [(ngModel)]="crosstbShowWhat"><b>&nbsp;Stacked bar chart (%)</b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div *ngIf="crosstabService && crosstabService.CrossTab && crosstabService.CrossTab.yRows && crosstabService.CrossTab.yRows.length > 0 && crosstbShowWhat=='table'"
         class="row contentCT col-md-12" style="height:460px; overflow:auto;">
        <table 
               class="table table-striped table-bordered table-condensed mb-2">
            <thead>
                <tr>
                    <td> &nbsp;</td>
                    <td class="font-weight-bold" *ngFor="let item of crosstabService.CrossTab.xHeaders">
                        {{item}}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subitem of crosstabService.CrossTab.yRows">
                    <td class="font-weight-bold">{{subitem.attributeName}}</td>
                    <td *ngFor="let fieldname of crosstabService.fieldNames">
                        <b (click)="CrossTabItemsList(crosstabService.CrossTab, subitem.attributeId, subitem.attributeName, fieldname)"
                           class="btn btn-link border-0 pt-0 pb-1 pl-1 font-weight-bold">
                            {{subitem[fieldname]}}
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!crosstabService.CrossTab || !crosstabService.CrossTab.yRows || crosstabService.CrossTab.yRows.length == 0" 
         class="justify-content-center row m-0">
        <div class="p-2 font-weight-bold" style="color:#17a2b8;">
        No data to show.
        </div>
    </div>
        
    
