.table.alpha tr {
    height: 75px;
}

.GreenIcon {
    color: green;
}
.RedIcon {
    color: red;
}
.RelevantTerm {
    color: white;
    background-color: green;
}

.IrrelevantTerm {
    color: white;
    background-color: red;
}

body {
    height: 700px;
}

.thumbnail img {
    height: 30px;
}
.ScreeningSet {
    color: #00BB00;
}

.AdminSet {
    color: #0000DD;
}

.ExcludeCode {
    color: #FF7777;
} 