body {
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
}

.basic-container {
	padding: 5px;
}

.version-info {
	font-size: 8pt;
	float: right;
}

.mat-row.hovered {
	background: #eee;
}

.mat-row.highlighted {
	background: #999;
}

/*
  This is a work around for checkbox bug in material row
  https://github.com/angular/material2/issues/8600
*/
mat-cell.mat-cell, mat-header-cell.mat-header-cell {
	overflow: visible;
}


/*.table.alpha tr {
    height: 75px;
}*/

table.table-fit {
	width: auto !important;
	table-layout: auto !important;
}

	table.table-fit thead th, table.table-fit tfoot th {
		width: auto !important;
	}

	table.table-fit tbody td, table.table-fit tfoot td {
		width: auto !important;
	}

.GreenIcon {
    color: green;
}
.RedIcon {
    color: red;
}
.RelevantTerm {
    color: white;
    background-color: green;
}

.IrrelevantTerm {
    color: white;
    background-color: red;
}

body {
    height: 700px;
}

.thumbnail img {
    height: 30px;
}
.ScreeningSet {
	color: #00BB00;
	/*color: red;*/
	/*pointer-events: none;*/
}

.AdminSet {
    color: #0000DD;
	/*color: yellow;*/
}

.ExcludeCode {
	/*color: #FF7777;*/
	color: forestgreen;
	/*pointer-events: none;*/
}

.tree-node {
	color: black;
	/*pointer-events: none;*/
}

.tree-node-disabled {
	pointer-events: none;
	color: black;
}

#container {
	display: block;
}

#row {
	display: table-row;
}

#left, #right, #middle {
	display: table-cell;
}

#contentCT {
	display: block;
	width: 80%;
	margin: auto;
}

.mat-row.hovered {
	background: #eee;
}

.mat-row.selected {
	background: #999;
}

/*
  This is a work around for checkbox bug in material row
  https://github.com/angular/material2/issues/8600
*/
mat-cell.mat-cell, mat-header-cell.mat-header-cell {
	overflow: visible;
}


.hidden-item {
	display: none;
}

.tab-content {

	width: 100%;
}

/*.tab-content > .active {

	width: 1000px;
}*/
/* MODAL STYLES
-------------------------------*/

.modal {
	/* modals are hidden by default */
	display: none;
}

.modal {
	/* modal container fixed across whole screen */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* z-index must be higher than .modal-background */
	z-index: 1000;
	/* enables scrolling for tall modals */
	overflow: auto;
}
	
.modal-body
{
	padding: 20px;
	background: #fff;
	/* margin exposes part of the modal background */
	margin: 40px;
}

.modal-background {
	/* modal background fixed across whole screen */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* semi-transparent black  */
	background-color: #000;
	opacity: 0.75;
	/* z-index must be below .modal and above everything else  */
	z-index: 900;
}
.modal-backdrop {
	z-index: 1040 !important;
}

.modal-dialog {
	margin: 2px auto;
	z-index: 1100 !important;
}


body.modal-open {
	/* body overflow is hidden to hide main scrollbar when modal window is open */
	overflow: hidden;
}

.modal-backdrop {
	/* bug fix - no overlay */
	display: none;
}
