<div class="card p-2 m-2">
	<div class="modal-header alert-info">
		<h4 class="modal-title">{{ title }}</h4>
		<!--<button type="button" class="close" aria-label="Close" (click)="dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>-->
	</div>
	<div class="modal-body bg-white p-1" [innerHTML]="message">
	</div>
	<div *ngIf="ShowInputTextWarning" class="modal-body bg-white p-1 mb-1">
		<input class="form-control rounded border border-dark " type="text" name="ShowInputTextWarning"  
		[(ngModel)] ="UserInputConfirmationText"  />
	</div>
	<div class="modal-footer bg-white">
		<button type="button" class="btn btn-outline-secondary ml-1" (click)="decline()" style="width:200px;">{{ btnCancelText }}</button>
		<button type="button" class="btn btn-danger ml-3" (click)="accept()" [disabled]="!CheckInputBoxEntry()">{{ btnOkText }}</button>
	</div>
</div>