<div *ngIf="CurrentMA" class="rounded mx-1 p-2 bg-light">
  <div class="h4 ">Add Column</div>
  <div class="mx-1 mb-1">
    <div class="row mx-1">
      <div>Column type:</div>
      <input class="m-1 p-1" type="radio" value="Answer" name="QorARadio" [disabled]="HasMaxAnswerCols" (click)="DelayedCheckSelectionState()"
             [(ngModel)]="ColumnMode">Answer

      <input class="m-1 p-1" type="radio" value="Question" name="QorARadio" [disabled]="HasMaxQuestionCols" (click)="DelayedCheckSelectionState()"
             [(ngModel)]="ColumnMode">Question
    </div>
    <div *ngIf="ColumnMode == 'Answer'" class="row mx-1">
      Answer!
      <div ngbDropdown>
        <button ngbDropdownAnchor class="btn btn-primary dropdown-toggle p-1 m-1" id="dropdownTree"
                (click)="ToggleDropDown('Question')" style="min-width: 100px;">
          {{ColumnCode?.name}}
        </button>
        <div ngbDropdownMenu class="dropdown-menu" id="collapseCodeTree" [ngbCollapse]="!ShowingCodes">
          <codesetSelector #ColCodeSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="360"
                           (selectedNodeInTree)="CloseCodeDropDown()" [rootsOnly]="false"></codesetSelector>
        </div>
      </div>
    </div>
    <div *ngIf="ColumnMode == 'Question'" class="row mx-1">
      Question!
      <div ngbDropdown>
        <button ngbDropdownAnchor class="btn btn-primary dropdown-toggle p-1 m-1" id="dropdownTree"
                (click)="ToggleDropDown('Question')" style="min-width: 100px;">
          {{ColumnCode?.name}}
        </button>
        <div ngbDropdownMenu class="dropdown-menu" id="collapseCodeTree" [ngbCollapse]="!ShowingCodes">
          <codesetSelector #ColCodeSelector [IsMultiSelect]="false" [WhatIsSelectable]="'CodeWithChildren'" [MaxHeight]="360"
                           (selectedNodeInTree)="CloseCodeDropDown()" [rootsOnly]="false"></codesetSelector>
        </div>
      </div>
    </div>
    <div *ngIf="SelectionState != 0" class="row mx-1">
      <ng-container [ngSwitch]="SelectionState">
        <div *ngSwitchCase="1" class="rounded alert alert-success">Selected code is <strong>Valid</strong></div>
        <div *ngSwitchCase="2" class="rounded alert alert-warning">Error: you already have added that column</div>
        <div *ngSwitchDefault class="rounded alert alert-warning">Error: can't add a question column for this code, as it has no child codes</div>
      </ng-container>
    </div>
    <div class="row mx-1">
      <button class="btn btn-outline-success" (click)="CloseMe()">Close</button>
      <div *ngIf="SelectionState == 1">
        <button class="btn btn-outline-danger" (click)="Add()">Add!</button>
        <div class="rounded alert-danger small">Adding the column will <strong>save</strong> the current MA</div>
      </div>
    </div>
  </div>
</div>


