<div *ngIf="CurrentMA" class="rounded mx-1 p-2 bg-light">
  <div class="h4">Moderators</div>
  <div class="ModeratorsTableContainer small mx-auto mb-1">
    <table class="table table-sm ModeratorsTable tableFixHead">
      <thead>
        <tr>
          <th>Selected?</th>
          <th>Moderator</th>
          <th>Factor?</th>
          <th>Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mod of Moderators">
          <td>
            <input type="checkbox" [(ngModel)]="mod.isSelected" />
          </td>
          <td>
            {{mod.name}}
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="mod.isFactor" />
          </td>
          <td>
            <select (change)="ChangingReference($event, mod)" class="py-1">
              <option *ngFor="let ref of mod.references" [value]="ref.name" [selected]="mod.reference == ref.name" class="py-0">
                {{ref.name}}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-outline-success" (click)="CloseMe()">Close</button>
</div>


