<div *ngIf="CurrentMA" class="rounded mx-1 p-2 bg-light">
  <div class="h4">Moderators</div>
  <div class="ModeratorsTableContainer small mx-auto mb-1">
    <table class="table table-sm ModeratorsTable tableFixHead">
      <thead>
        <tr>
          <th style="max-width:8vw;">Selected?</th>
          <th style="min-width:20vw;">Moderator</th>
          <th style="max-width:8vw;">Factor?</th>
          <th style="min-width:25vw;">Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mod of Moderators">
          <td>
            <input type="checkbox" [(ngModel)]="mod.isSelected" />
          </td>
          <td>
            {{mod.name}}
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="mod.isFactor" [disabled]="!mod.isSelected" />
          </td>
          <td>
            <select (change)="ChangingReference($event, mod)" class="py-1" [disabled]="!mod.isSelected || !mod.isFactor">
              <option *ngFor="let ref of mod.references" [value]="ref.name" [selected]="mod.reference == ref.name" class="py-0">
                {{ref.name}}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-outline-success" (click)="CloseMe()">Close</button>
</div>


