<strong class="row ">Outcomes table:</strong>
<div style="max-height: 55vh; overflow:auto; max-width:95vw;" class="small OutcomesTableContainer">
  <table class="table table-sm OutcomesTable">
    <thead>
      <tr>
        <th></th>
        <th class="sortableTH" (click)="Sort('es')" id="col-es">
          ES<span [innerHTML]="SortingSymbol('es')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('ESColumn')}" (click)="DoEditThisFilter('es', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('sees')" id="col-sees">
          SE<span [innerHTML]="SortingSymbol('sees')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('SEESColumn')}" (click)="DoEditThisFilter('sees', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th>ID</th>
        <th class="sortableTH" (click)="Sort('shortTitle')" id="col-shortTitle">
          Study<span [innerHTML]="SortingSymbol('shortTitle')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('titleColumn')}" (click)="DoEditThisFilter('shortTitle', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('title')" id="col-title">
          Outc. Desc.<span [innerHTML]="SortingSymbol('title')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('DescColumn')}" (click)="DoEditThisFilter('title', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('timepointDisplayValue')" id="col-timepointDisplayValue">
          Timepoint<span [innerHTML]="SortingSymbol('timepointDisplayValue')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('TimepointColumn')}" (click)="DoEditThisFilter('timepointDisplayValue', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('outcomeTypeName')" id="col-outcomeTypeName">
          Type<span [innerHTML]="SortingSymbol('outcomeTypeName')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('outcomeTypeName')}" (click)="DoEditThisFilter('outcomeTypeName', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('outcomeText')" id="col-outcomeText">
          Outcome<span [innerHTML]="SortingSymbol('outcomeText')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('OutcomeColumn')}" (click)="DoEditThisFilter('outcomeText', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('interventionText')" id="col-interventionText">
          Intervention<span [innerHTML]="SortingSymbol('interventionText')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('InterventionColumn')}" (click)="DoEditThisFilter('interventionText', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('controlText')" id="col-controlText">
          Comparison<span [innerHTML]="SortingSymbol('controlText')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('ComparisonColumn')}" (click)="DoEditThisFilter('controlText', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('grp1ArmName')" id="col-grp1ArmName">
          Arm 1<span [innerHTML]="SortingSymbol('grp1ArmName')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('Arm1Column')}" (click)="DoEditThisFilter('grp1ArmName', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th class="sortableTH" (click)="Sort('grp2ArmName')" id="col-grp2ArmName">
          Arm 2<span [innerHTML]="SortingSymbol('grp2ArmName')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('Arm2Column')}" (click)="DoEditThisFilter('grp2ArmName', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa1')" *ngIf="ColumnVisibility.AnswerHeaders.length > 0" class="FirstAnswer AnswerCol" id="col-aa1">
          {{ColumnVisibility.AnswerHeaders[0].Name}}<span [innerHTML]="SortingSymbol('aa1')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa1')}" (click)="DoEditThisFilter('aa1', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa2')" *ngIf="ColumnVisibility.AnswerHeaders.length > 1" class="AnswerCol" id="col-aa2">
          {{ColumnVisibility.AnswerHeaders[1].Name}}<span [innerHTML]="SortingSymbol('aa2')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa2')}" (click)="DoEditThisFilter('aa2', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa3')" *ngIf="ColumnVisibility.AnswerHeaders.length > 2" class="AnswerCol" id="col-aa3">
          {{ColumnVisibility.AnswerHeaders[2].Name}}<span [innerHTML]="SortingSymbol('aa3')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa3')}" (click)="DoEditThisFilter('aa3', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa4')" *ngIf="ColumnVisibility.AnswerHeaders.length > 3" class="AnswerCol" id="col-aa4">
          {{ColumnVisibility.AnswerHeaders[3].Name}}<span [innerHTML]="SortingSymbol('aa4')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa4')}" (click)="DoEditThisFilter('aa4', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa5')" *ngIf="ColumnVisibility.AnswerHeaders.length > 4" class="AnswerCol" id="col-aa5">
          {{ColumnVisibility.AnswerHeaders[4].Name}}<span [innerHTML]="SortingSymbol('aa5')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa5')}" (click)="DoEditThisFilter('aa5', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa6')" *ngIf="ColumnVisibility.AnswerHeaders.length > 5" class="AnswerCol" id="col-aa6">
          {{ColumnVisibility.AnswerHeaders[5].Name}}<span [innerHTML]="SortingSymbol('aa6')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa6')}" (click)="DoEditThisFilter('aa6', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa7')" *ngIf="ColumnVisibility.AnswerHeaders.length > 6" class="AnswerCol" id="col-aa7">
          {{ColumnVisibility.AnswerHeaders[6].Name}}<span [innerHTML]="SortingSymbol('aa7')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa7')}" (click)="DoEditThisFilter('aa7', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa8')" *ngIf="ColumnVisibility.AnswerHeaders.length > 7" class="AnswerCol" id="col-aa8">
          {{ColumnVisibility.AnswerHeaders[7].Name}}<span [innerHTML]="SortingSymbol('aa8')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa8')}" (click)="DoEditThisFilter('aa8', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa9')" *ngIf="ColumnVisibility.AnswerHeaders.length > 8" class="AnswerCol" id="col-aa9">
          {{ColumnVisibility.AnswerHeaders[8].Name}}<span [innerHTML]="SortingSymbol('aa9')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa9')}" (click)="DoEditThisFilter('aa9', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa10')" *ngIf="ColumnVisibility.AnswerHeaders.length > 9" class="AnswerCol" id="col-aa10">
          {{ColumnVisibility.AnswerHeaders[9].Name}}<span [innerHTML]="SortingSymbol('aa10')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa10')}" (click)="DoEditThisFilter('aa10', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa11')" *ngIf="ColumnVisibility.AnswerHeaders.length > 10" class="AnswerCol" id="col-aa11">
          {{ColumnVisibility.AnswerHeaders[10].Name}}<span [innerHTML]="SortingSymbol('aa11')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa11')}" (click)="DoEditThisFilter('aa11', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa12')" *ngIf="ColumnVisibility.AnswerHeaders.length > 11" class="AnswerCol" id="col-aa12">
          {{ColumnVisibility.AnswerHeaders[11].Name}}<span [innerHTML]="SortingSymbol('aa12')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa12')}" (click)="DoEditThisFilter('aa12', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa13')" *ngIf="ColumnVisibility.AnswerHeaders.length > 12" class="AnswerCol" id="col-aa13">
          {{ColumnVisibility.AnswerHeaders[12].Name}}<span [innerHTML]="SortingSymbol('aa13')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa13')}" (click)="DoEditThisFilter('aa13', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa14')" *ngIf="ColumnVisibility.AnswerHeaders.length > 13" class="AnswerCol" id="col-aa14">
          {{ColumnVisibility.AnswerHeaders[13].Name}}<span [innerHTML]="SortingSymbol('aa14')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa14')}" (click)="DoEditThisFilter('aa14', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa15')" *ngIf="ColumnVisibility.AnswerHeaders.length > 14" class="AnswerCol" id="col-aa15">
          {{ColumnVisibility.AnswerHeaders[14].Name}}<span [innerHTML]="SortingSymbol('aa15')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa15')}" (click)="DoEditThisFilter('aa15', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa16')" *ngIf="ColumnVisibility.AnswerHeaders.length > 15" class="AnswerCol" id="col-aa16">
          {{ColumnVisibility.AnswerHeaders[15].Name}}<span [innerHTML]="SortingSymbol('aa16')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa16')}" (click)="DoEditThisFilter('aa16', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa17')" *ngIf="ColumnVisibility.AnswerHeaders.length > 16" class="AnswerCol" id="col-aa17">
          {{ColumnVisibility.AnswerHeaders[16].Name}}<span [innerHTML]="SortingSymbol('aa17')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa17')}" (click)="DoEditThisFilter('aa17', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa18')" *ngIf="ColumnVisibility.AnswerHeaders.length > 17" class="AnswerCol" id="col-aa18">
          {{ColumnVisibility.AnswerHeaders[17].Name}}<span [innerHTML]="SortingSymbol('aa18')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa18')}" (click)="DoEditThisFilter('aa18', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa19')" *ngIf="ColumnVisibility.AnswerHeaders.length > 18" class="AnswerCol" id="col-aa19">
          {{ColumnVisibility.AnswerHeaders[18].Name}}<span [innerHTML]="SortingSymbol('aa19')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa19')}" (click)="DoEditThisFilter('aa19', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aa20')" *ngIf="ColumnVisibility.AnswerHeaders.length > 19" class="AnswerCol" id="col-aa20">
          {{ColumnVisibility.AnswerHeaders[19].Name}}<span [innerHTML]="SortingSymbol('aa20')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aa20')}" (click)="DoEditThisFilter('aa20', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>

        <th (click)="Sort('aq1')" *ngIf="ColumnVisibility.QuestionHeaders.length > 0" class="FirstQuestion QuestionCol" id="col-aq1">
          {{ColumnVisibility.QuestionHeaders[0].Name}}<span [innerHTML]="SortingSymbol('aq1')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq1')}" (click)="DoEditThisFilter('aq1', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq2')" *ngIf="ColumnVisibility.QuestionHeaders.length > 1" class="QuestionCol" id="col-aq2">
          {{ColumnVisibility.QuestionHeaders[1].Name}}<span [innerHTML]="SortingSymbol('aq2')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq2')}" (click)="DoEditThisFilter('aq2', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq3')" *ngIf="ColumnVisibility.QuestionHeaders.length > 2" class="QuestionCol" id="col-aq3">
          {{ColumnVisibility.QuestionHeaders[2].Name}}<span [innerHTML]="SortingSymbol('aq3')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq3')}" (click)="DoEditThisFilter('aq3', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq4')" *ngIf="ColumnVisibility.QuestionHeaders.length > 3" class="QuestionCol" id="col-aq4">
          {{ColumnVisibility.QuestionHeaders[3].Name}}<span [innerHTML]="SortingSymbol('aq4')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq4')}" (click)="DoEditThisFilter('aq4', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq5')" *ngIf="ColumnVisibility.QuestionHeaders.length > 4" class="QuestionCol" id="col-aq5">
          {{ColumnVisibility.QuestionHeaders[4].Name}}<span [innerHTML]="SortingSymbol('aq5')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq5')}" (click)="DoEditThisFilter('aq5', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq6')" *ngIf="ColumnVisibility.QuestionHeaders.length > 5" class="QuestionCol" id="col-aq6">
          {{ColumnVisibility.QuestionHeaders[5].Name}}<span [innerHTML]="SortingSymbol('aq6')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq6')}" (click)="DoEditThisFilter('aq6', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq7')" *ngIf="ColumnVisibility.QuestionHeaders.length > 6" class="QuestionCol" id="col-aq7">
          {{ColumnVisibility.QuestionHeaders[6].Name}}<span [innerHTML]="SortingSymbol('aq7')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq7')}" (click)="DoEditThisFilter('aq7', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq8')" *ngIf="ColumnVisibility.QuestionHeaders.length > 7" class="QuestionCol" id="col-aq8">
          {{ColumnVisibility.QuestionHeaders[7].Name}}<span [innerHTML]="SortingSymbol('aq8')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq8')}" (click)="DoEditThisFilter('aq8', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq9')" *ngIf="ColumnVisibility.QuestionHeaders.length > 8" class="QuestionCol" id="col-aq9">
          {{ColumnVisibility.QuestionHeaders[8].Name}}<span [innerHTML]="SortingSymbol('aq9')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq9')}" (click)="DoEditThisFilter('aq9', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq10')" *ngIf="ColumnVisibility.QuestionHeaders.length > 9" class="QuestionCol" id="col-aq10">
          {{ColumnVisibility.QuestionHeaders[9].Name}}<span [innerHTML]="SortingSymbol('aq10')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq10')}" (click)="DoEditThisFilter('aq10', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq11')" *ngIf="ColumnVisibility.QuestionHeaders.length > 10" class="QuestionCol" id="col-aq11">
          {{ColumnVisibility.QuestionHeaders[10].Name}}<span [innerHTML]="SortingSymbol('aq11')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq11')}" (click)="DoEditThisFilter('aq11', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq12')" *ngIf="ColumnVisibility.QuestionHeaders.length > 11" class="QuestionCol" id="col-aq12">
          {{ColumnVisibility.QuestionHeaders[11].Name}}<span [innerHTML]="SortingSymbol('aq12')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq12')}" (click)="DoEditThisFilter('aq12', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq13')" *ngIf="ColumnVisibility.QuestionHeaders.length > 12" class="QuestionCol" id="col-aq13">
          {{ColumnVisibility.QuestionHeaders[12].Name}}<span [innerHTML]="SortingSymbol('aq13')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq13')}" (click)="DoEditThisFilter('aq13', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq14')" *ngIf="ColumnVisibility.QuestionHeaders.length > 13" class="QuestionCol" id="col-aq14">
          {{ColumnVisibility.QuestionHeaders[13].Name}}<span [innerHTML]="SortingSymbol('aq14')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq14')}" (click)="DoEditThisFilter('aq14', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq15')" *ngIf="ColumnVisibility.QuestionHeaders.length > 14" class="QuestionCol" id="col-aq15">
          {{ColumnVisibility.QuestionHeaders[14].Name}}<span [innerHTML]="SortingSymbol('aq15')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq15')}" (click)="DoEditThisFilter('aq15', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq16')" *ngIf="ColumnVisibility.QuestionHeaders.length > 15" class="QuestionCol" id="col-aq16">
          {{ColumnVisibility.QuestionHeaders[15].Name}}<span [innerHTML]="SortingSymbol('aq16')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq16')}" (click)="DoEditThisFilter('aq16', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq17')" *ngIf="ColumnVisibility.QuestionHeaders.length > 16" class="QuestionCol" id="col-aq17">
          {{ColumnVisibility.QuestionHeaders[16].Name}}<span [innerHTML]="SortingSymbol('aq17')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq17')}" (click)="DoEditThisFilter('aq17', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq18')" *ngIf="ColumnVisibility.QuestionHeaders.length > 17" class="QuestionCol" id="col-aq18">
          {{ColumnVisibility.QuestionHeaders[17].Name}}<span [innerHTML]="SortingSymbol('aq18')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq18')}" (click)="DoEditThisFilter('aq18', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq19')" *ngIf="ColumnVisibility.QuestionHeaders.length > 18" class="QuestionCol" id="col-aq19">
          {{ColumnVisibility.QuestionHeaders[18].Name}}<span [innerHTML]="SortingSymbol('aq19')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq19')}" (click)="DoEditThisFilter('aq19', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('aq20')" *ngIf="ColumnVisibility.QuestionHeaders.length > 19" class="QuestionCol" id="col-aq20">
          {{ColumnVisibility.QuestionHeaders[19].Name}}<span [innerHTML]="SortingSymbol('aq20')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('aq20')}" (click)="DoEditThisFilter('aq20', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>

        <th (click)="Sort('occ1')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 0" class="FirstClassif ClassifCol" id="col-occ1">
          {{ColumnVisibility.ClassificationHeaders[0].Name}}<span [innerHTML]="SortingSymbol('occ1')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ1')}" (click)="DoEditThisFilter('occ1', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ2')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 1" class="ClassifCol" id="col-occ2">
          {{ColumnVisibility.ClassificationHeaders[1].Name}}<span [innerHTML]="SortingSymbol('occ2')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ2')}" (click)="DoEditThisFilter('occ2', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ3')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 2" class="ClassifCol" id="col-occ3">
          {{ColumnVisibility.ClassificationHeaders[2].Name}}<span [innerHTML]="SortingSymbol('occ3')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ3')}" (click)="DoEditThisFilter('occ3', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ4')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 3" class="ClassifCol" id="col-occ4">
          {{ColumnVisibility.ClassificationHeaders[3].Name}}<span [innerHTML]="SortingSymbol('occ4')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ4')}" (click)="DoEditThisFilter('occ4', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ5')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 4" class="ClassifCol" id="col-occ5">
          {{ColumnVisibility.ClassificationHeaders[4].Name}}<span [innerHTML]="SortingSymbol('occ5')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ5')}" (click)="DoEditThisFilter('occ5', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ6')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 5" class="ClassifCol" id="col-occ6">
          {{ColumnVisibility.ClassificationHeaders[5].Name}}<span [innerHTML]="SortingSymbol('occ6')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ6')}" (click)="DoEditThisFilter('occ6', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ7')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 6" class="ClassifCol" id="col-occ7">
          {{ColumnVisibility.ClassificationHeaders[6].Name}}<span [innerHTML]="SortingSymbol('occ7')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ7')}" (click)="DoEditThisFilter('occ7', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ8')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 7" class="ClassifCol" id="col-occ8">
          {{ColumnVisibility.ClassificationHeaders[7].Name}}<span [innerHTML]="SortingSymbol('occ8')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ8')}" (click)="DoEditThisFilter('occ8', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ9')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 8" class="ClassifCol" id="col-occ9">
          {{ColumnVisibility.ClassificationHeaders[8].Name}}<span [innerHTML]="SortingSymbol('occ9')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ9')}" (click)="DoEditThisFilter('occ9', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ10')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 9" class="ClassifCol" id="col-occ10">
          {{ColumnVisibility.ClassificationHeaders[9].Name}}<span [innerHTML]="SortingSymbol('occ10')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ10')}" (click)="DoEditThisFilter('occ10', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ11')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 10" class="ClassifCol" id="col-occ11">
          {{ColumnVisibility.ClassificationHeaders[10].Name}}<span [innerHTML]="SortingSymbol('occ11')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ11')}" (click)="DoEditThisFilter('occ11', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ12')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 11" class="ClassifCol" id="col-occ12">
          {{ColumnVisibility.ClassificationHeaders[11].Name}}<span [innerHTML]="SortingSymbol('occ12')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ12')}" (click)="DoEditThisFilter('occ12', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ13')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 12" class="ClassifCol" id="col-occ13">
          {{ColumnVisibility.ClassificationHeaders[12].Name}}<span [innerHTML]="SortingSymbol('occ13')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ13')}" (click)="DoEditThisFilter('occ13', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ14')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 13" class="ClassifCol" id="col-occ14">
          {{ColumnVisibility.ClassificationHeaders[13].Name}}<span [innerHTML]="SortingSymbol('occ14')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ14')}" (click)="DoEditThisFilter('occ14', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ15')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 14" class="ClassifCol" id="col-occ15">
          {{ColumnVisibility.ClassificationHeaders[14].Name}}<span [innerHTML]="SortingSymbol('occ15')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ15')}" (click)="DoEditThisFilter('occ15', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ16')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 15" class="ClassifCol" id="col-occ16">
          {{ColumnVisibility.ClassificationHeaders[15].Name}}<span [innerHTML]="SortingSymbol('occ16')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ16')}" (click)="DoEditThisFilter('occ16', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ17')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 16" class="ClassifCol" id="col-occ17">
          {{ColumnVisibility.ClassificationHeaders[16].Name}}<span [innerHTML]="SortingSymbol('occ17')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ17')}" (click)="DoEditThisFilter('occ17', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ18')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 17" class="ClassifCol" id="col-occ18">
          {{ColumnVisibility.ClassificationHeaders[17].Name}}<span [innerHTML]="SortingSymbol('occ18')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ18')}" (click)="DoEditThisFilter('occ18', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ19')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 18" class="ClassifCol" id="col-occ19">
          {{ColumnVisibility.ClassificationHeaders[18].Name}}<span [innerHTML]="SortingSymbol('occ19')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ19')}" (click)="DoEditThisFilter('occ19', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ20')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 19" class="ClassifCol" id="col-occ21">
          {{ColumnVisibility.ClassificationHeaders[19].Name}}<span [innerHTML]="SortingSymbol('occ20')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ20')}" (click)="DoEditThisFilter('occ20', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ21')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 20" class="ClassifCol" id="col-occ21">
          {{ColumnVisibility.ClassificationHeaders[20].Name}}<span [innerHTML]="SortingSymbol('occ21')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ21')}" (click)="DoEditThisFilter('occ21', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ22')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 21" class="ClassifCol" id="col-occ22">
          {{ColumnVisibility.ClassificationHeaders[21].Name}}<span [innerHTML]="SortingSymbol('occ22')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ22')}" (click)="DoEditThisFilter('occ22', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ23')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 22" class="ClassifCol" id="col-occ23">
          {{ColumnVisibility.ClassificationHeaders[22].Name}}<span [innerHTML]="SortingSymbol('occ23')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ23')}" (click)="DoEditThisFilter('occ23', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ24')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 23" class="ClassifCol" id="col-occ24">
          {{ColumnVisibility.ClassificationHeaders[23].Name}}<span [innerHTML]="SortingSymbol('occ24')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ24')}" (click)="DoEditThisFilter('occ24', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ25')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 24" class="ClassifCol" id="col-occ25">
          {{ColumnVisibility.ClassificationHeaders[24].Name}}<span [innerHTML]="SortingSymbol('occ25')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ25')}" (click)="DoEditThisFilter('occ25', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ26')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 25" class="ClassifCol" id="col-occ26">
          {{ColumnVisibility.ClassificationHeaders[25].Name}}<span [innerHTML]="SortingSymbol('occ26')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ26')}" (click)="DoEditThisFilter('occ26', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ27')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 26" class="ClassifCol" id="col-occ27">
          {{ColumnVisibility.ClassificationHeaders[26].Name}}<span [innerHTML]="SortingSymbol('occ27')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ27')}" (click)="DoEditThisFilter('occ27', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ28')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 27" class="ClassifCol" id="col-occ28">
          {{ColumnVisibility.ClassificationHeaders[27].Name}}<span [innerHTML]="SortingSymbol('occ28')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ28')}" (click)="DoEditThisFilter('occ28', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ29')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 28" class="ClassifCol" id="col-occ29">
          {{ColumnVisibility.ClassificationHeaders[28].Name}}<span [innerHTML]="SortingSymbol('occ29')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ29')}" (click)="DoEditThisFilter('occ29', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
        <th (click)="Sort('occ30')" *ngIf="ColumnVisibility.ClassificationHeaders.length > 29" class="ClassifCol" id="col-occ30">
          {{ColumnVisibility.ClassificationHeaders[29].Name}}<span [innerHTML]="SortingSymbol('occ30')"></span>
          <kendo-icon [ngClass]="{'text-primary' : IsFilteringOnThisCol('occ30')}" (click)="DoEditThisFilter('occ30', $event)" class=" filterIcon" name="filter" size="small"></kendo-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let oo of Outcomes">
        <td style="text-align: center; vertical-align: middle;">
          <input class="m-auto" type="checkbox" [(ngModel)]="oo.isSelected" [disabled]="!oo.canSelect" />
        </td>
        <td>
          <div class="alert-primary m-1">
            {{oo.esRounded}}
          </div>
        </td>
        <td>
          <div class="alert-primary m-1">
            {{oo.seesRounded}}
          </div>
        </td>
        <td>{{oo.outcomeId}}</td>
        <td>{{oo.shortTitle}}</td>
        <td>{{oo.title}}</td>
        <td>{{oo.timepointDisplayValue}}</td>
        <td>{{oo.outcomeTypeName}}</td>
        <td>{{oo.outcomeText}}</td>
        <td>{{oo.interventionText}}</td>
        <td>{{oo.controlText}}</td>
        <td>{{oo.grp1ArmName}}</td>
        <td>{{oo.grp2ArmName}}</td>

        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 0" class="FirstAnswer AnswerCol">{{oo.aa1}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 1" class="AnswerCol">{{oo.aa2}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 2" class="AnswerCol">{{oo.aa3}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 3" class="AnswerCol">{{oo.aa4}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 4" class="AnswerCol">{{oo.aa5}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 5" class="AnswerCol">{{oo.aa6}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 6" class="AnswerCol">{{oo.aa7}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 7" class="AnswerCol">{{oo.aa8}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 8" class="AnswerCol">{{oo.aa9}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 9" class="AnswerCol">{{oo.aa10}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 10" class="AnswerCol">{{oo.aa11}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 11" class="AnswerCol">{{oo.aa12}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 12" class="AnswerCol">{{oo.aa13}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 13" class="AnswerCol">{{oo.aa14}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 14" class="AnswerCol">{{oo.aa15}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 15" class="AnswerCol">{{oo.aa16}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 16" class="AnswerCol">{{oo.aa17}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 17" class="AnswerCol">{{oo.aa18}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 18" class="AnswerCol">{{oo.aa19}}</td>
        <td *ngIf="ColumnVisibility.AnswerHeaders.length > 19" class="AnswerCol">{{oo.aa20}}</td>

        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 0" class="FirstQuestion QuestionCol">{{oo.aq1}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 1" class="QuestionCol">{{oo.aq2}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 2" class="QuestionCol">{{oo.aq3}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 3" class="QuestionCol">{{oo.aq4}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 4" class="QuestionCol">{{oo.aq5}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 5" class="QuestionCol">{{oo.aq6}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 6" class="QuestionCol">{{oo.aq7}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 7" class="QuestionCol">{{oo.aq8}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 8" class="QuestionCol">{{oo.aq9}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 9" class="QuestionCol">{{oo.aq10}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 10" class="QuestionCol">{{oo.aq11}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 11" class="QuestionCol">{{oo.aq12}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 12" class="QuestionCol">{{oo.aq13}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 13" class="QuestionCol">{{oo.aq14}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 14" class="QuestionCol">{{oo.aq15}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 15" class="QuestionCol">{{oo.aq16}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 16" class="QuestionCol">{{oo.aq17}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 17" class="QuestionCol">{{oo.aq18}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 18" class="QuestionCol">{{oo.aq19}}</td>
        <td *ngIf="ColumnVisibility.QuestionHeaders.length > 19" class="QuestionCol">{{oo.aq20}}</td>

        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 0" class="FirstClassif ClassifCol">{{oo.occ1}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 1" class="ClassifCol">{{oo.occ2}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 2" class="ClassifCol">{{oo.occ3}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 3" class="ClassifCol">{{oo.occ4}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 4" class="ClassifCol">{{oo.occ5}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 5" class="ClassifCol">{{oo.occ6}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 6" class="ClassifCol">{{oo.occ7}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 7" class="ClassifCol">{{oo.occ8}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 8" class="ClassifCol">{{oo.occ9}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 9" class="ClassifCol">{{oo.occ10}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 10" class="ClassifCol">{{oo.occ11}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 11" class="ClassifCol">{{oo.occ12}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 12" class="ClassifCol">{{oo.occ13}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 13" class="ClassifCol">{{oo.occ14}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 14" class="ClassifCol">{{oo.occ15}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 15" class="ClassifCol">{{oo.occ16}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 16" class="ClassifCol">{{oo.occ17}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 17" class="ClassifCol">{{oo.occ18}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 18" class="ClassifCol">{{oo.occ19}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 19" class="ClassifCol">{{oo.occ20}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 20" class="ClassifCol">{{oo.occ21}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 21" class="ClassifCol">{{oo.occ22}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 22" class="ClassifCol">{{oo.occ23}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 23" class="ClassifCol">{{oo.occ24}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 24" class="ClassifCol">{{oo.occ25}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 25" class="ClassifCol">{{oo.occ26}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 26" class="ClassifCol">{{oo.occ27}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 27" class="ClassifCol">{{oo.occ28}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 28" class="ClassifCol">{{oo.occ29}}</td>
        <td *ngIf="ColumnVisibility.ClassificationHeaders.length > 29" class="ClassifCol">{{oo.occ30}}</td>

      </tr>
    </tbody>
  </table>
</div>
