<div *ngIf="CurrentMA" class="rounded border border-secondary mx-1 p-2 bg-light">
  <div class="row mx-1"><div class="mx-auto font-weight-bold">Meta Analysis Options</div></div>
  <div class="row mx-0 px-0">
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-4 d-flex px-1">
        <div class="ml-auto mr-0 my-auto">Model:</div>
      </div>
      <div class="col-8 px-1">
        <select class="form-control pr-1 pl-1 p-2" (change)="ChangingModel($event)"
                [(ngModel)]="CurrentMA.statisticalModel">
          <option [ngValue]=0 [selected]="CurrentMA.statisticalModel == 0">"FE": fixed effect</option>
          <option [ngValue]=1 [selected]="CurrentMA.statisticalModel == 1">"DL": DerSimonian-Laird estimator'</option>
          <option [ngValue]=2 [selected]="CurrentMA.statisticalModel == 2">"ML": Maximum-likelihood estimator</option>
          <option [ngValue]=3 [selected]="CurrentMA.statisticalModel == 3">"REML": Restricted maximum likelihood</option>
          <option [ngValue]=4 [selected]="CurrentMA.statisticalModel == 4">"EB": Empirical Bayes estimator</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-4 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">Significance Level:</div>
      </div>
      <div class="col-8 d-flex px-1">
        <input type="number" min="90" max="99.9" step="0.1" [(ngModel)]="CurrentMA.significanceLevel" class="ml-1 mr-1 my-auto" />
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-4 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">Output Style:</div>
      </div>
      <div class="col-8 px-1">
        <select class="form-control pr-1 pl-1 p-2"
                [(ngModel)]="CurrentMA.verbose">
          <option [ngValue]=0 [selected]="CurrentMA.verbose == 0">Standard</option>
          <option [ngValue]=1 [selected]="CurrentMA.verbose == 1">Verbose</option>
          <option [ngValue]=2 [selected]="CurrentMA.verbose == 2">Very Verbose</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-4 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">Decimal places:</div>
      </div>
      <div class="col-8 d-flex px-1">
        <input type="number" min="1" max="8" step="1" [(ngModel)]="CurrentMA.decPlaces" class="ml-1 mr-1 my-auto" />
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.rankCorr" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Rank correlation test for funnel plot asymmetry</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.trimFill" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Trim and Fill</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.egger" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Egger's regression Test for funnel plot asymmetry</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.knha" class="ml-1 mr-1 my-auto" [disabled]="knhaIsDisabled" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Knapp &amp; Hartung (knha) Adjustment</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.fitStats" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Display fit statistics (fitstats)</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.confint" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Display confidence intervals (confint)</div>
      </div>
    </div>
  </div>

  <div class="row mx-1"><div class="mx-auto font-weight-bold">Forest Plot Options</div></div>
  <div class="row mx-0 px-0 mb-1">
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-5 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">X Axis Title:</div>
      </div>
      <div class="col-7 d-flex px-1">
        <input type="text" maxlength="60" [(ngModel)]="CurrentMA.xAxisTitle" class="ml-1 mr-1 my-auto" />
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-5 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">Summary Estimate (Title):</div>
      </div>
      <div class="col-7 d-flex px-1">
        <input type="text" maxlength="60" [(ngModel)]="CurrentMA.summaryEstimateTitle" class="ml-1 mr-1 my-auto" />
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.showAnnotations" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Add Annotations</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.showAnnotationWeights" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Show weights along with annotations</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.fittedVals" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Show summary estimate (or fitted values for moderators)</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.credInt" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Show credibility / prediction intervals</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.showBoxplot" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Show boxplot and Q-Q graphs</div>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-1 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.showFunnel" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
      <div class="col-11 px-1">
        <div class="ml-auto mr-1 my-auto">Show funnel plots</div>
      </div>
    </div>
  </div>


  <div class="row mx-1 px-0 mb-1">
    <button class="btn btn-outline-success px-2 py-1" (click)="CloseMe()">Close</button>
    <button class="btn btn-outline-primary px-2 py-1 ml-1" (click)="Run()" [disabled]="CurrentMA.CanRun != 0"> <img src="assets/Images/RIcon5.png" style="height:18px;" class="mr-1" />Run</button>
    <button kendoButton themeColor="secondary" class="ml-1" (click)="ShowPanel('Moderators')" [selected]="ActivePanel == 'Moderators'">Moderators</button>
    <div *ngIf="CurrentMA.CanRun == 1" class="mx-1 rounded alert-warning px-1 py-0 my-auto">Can't run this MA: no (valid) outcomes are selected.</div>
    <div *ngIf="CurrentMA.CanRun == 2" class="mx-1 rounded alert-warning px-1 py-0 my-auto">Can't run this MA: Moderator selections are not valid (some selected outcomes don't contain the relevant data).</div>
  </div>
  <div *ngIf="ActivePanel == 'Moderators'" class="rounded border border-dark mx-1 p-1">
    <MAmoderatorsComp (PleaseCloseMe)="CloseActivePanel()"></MAmoderatorsComp>
  </div>
  <div *ngIf="MAreportSource" class="rounded border border-info mx-1 px-3 py-1">
    <div class="font-weight-bold border-bottom border-dark row mx-1 px-1 mb-1">
      <div class="mr-1 mb-1">MA Report:</div>
      <button (click)="SaveReport()" class="btn btn-sm btn-outline-primary px-1 py-0 mb-1"><kendo-icon name="save" size="small" class="mr-1"></kendo-icon> Save</button>
      <button *ngIf="HideReport" class="btn btn-outline-info px-1 py-0 mb-1 ml-1" (click)="HideReport = false">Show Report</button>
      <button *ngIf="!HideReport" class="btn btn-outline-info px-1 py-0 mb-1 ml-1" (click)="HideReport = true">Hide Report</button>
    </div>
    <div *ngIf="!HideReport" class="bg-white" style="max-height:50vh;overflow:auto;">
      <div [innerHTML]="MAreportHTML" id="MAreportContent"></div>
    </div>

    <!--whhooop
  <img *ngIf="MAreportSource.graphsList[0]" src="data:image/jpg;base64,{{MAreportSource.graphsList[0]}}" />-->
  </div>
</div>


