<div *ngIf="CurrentMA" class="rounded border border-secondary mx-1 p-2 bg-light">
  <div class="row mx-1"><div class="mx-auto font-weight-bold">Meta Analysis Options</div></div>
  <div class="row mx-0 px-0">
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-4 d-flex px-1">
        <div class="ml-auto mr-0 my-auto">Model:</div>
      </div>
      <div class="col-8 px-1">
        <select class="form-control pr-1 pl-1 p-2"
                [(ngModel)]="CurrentMA.nmaStatisticalModel">
          <option [ngValue]=0 [selected]="CurrentMA.nmaStatisticalModel == 0">Fixed Effect</option>
          <option [ngValue]=1 [selected]="CurrentMA.nmaStatisticalModel == 1">Random effects</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6 row mx-0 px-0">
      <div class="col-4 d-flex px-1">
        <div class="ml-auto mr-1 my-auto">Output Style:</div>
      </div>
      <div class="col-8 px-1">
        <select class="form-control pr-1 pl-1 p-2"
                [(ngModel)]="CurrentMA.nmaReference">
          <option *ngFor="let m of References" [ngValue]="m.name" [selected]="CurrentMA.nmaReference == m.name">{{m.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-auto row mx-auto my-1 border-info border bg-white rounded p-1">
      <div class="col-auto px-1">
        <div class="ml-auto mr-1 my-auto">Large values are good?</div>
      </div>
      <div class="col-auto d-flex px-1">
        <div class="mr-auto ml-1 my-auto">
          <input type="checkbox" [(ngModel)]="CurrentMA.rankCorr" class="ml-1 mr-1 my-auto" />
        </div>
      </div>
    </div>
  </div>
    


  <div class="row mx-1 px-0 mb-1">
    <button class="btn btn-outline-success px-2 py-1" (click)="CloseMe()">Close</button>
    <button class="btn btn-outline-primary px-2 py-1 ml-1" (click)="Run()"> <img src="assets/Images/RIcon5.png" style="height:18px;" class="mr-1" />Run</button>
  </div>

  <div *ngIf="MAreportSource" class="rounded border border-info mx-1 px-3 py-1">
    <div class="font-weight-bold border-bottom border-dark row mx-1 px-1 mb-1">
      <div class="mr-1 mb-1">MA Report:</div>
      <button (click)="SaveReport()" class="btn btn-sm btn-outline-primary px-1 py-0 mb-1"><kendo-icon name="save" size="small" class="mr-1"></kendo-icon> Save</button>
      <button *ngIf="HideReport" class="btn btn-outline-info px-1 py-0 mb-1 ml-1" (click)="HideReport = false">Show Report</button>
      <button *ngIf="!HideReport" class="btn btn-outline-info px-1 py-0 mb-1 ml-1" (click)="HideReport = true">Hide Report</button>
    </div>
    <div *ngIf="!HideReport" class="bg-white" style="max-height:50vh;overflow:auto;">
      <div [innerHTML]="MAreportHTML" id="MAreportContent"></div>
    </div>

    <!--whhooop
  <img *ngIf="MAreportSource.graphsList[0]" src="data:image/jpg;base64,{{MAreportSource.graphsList[0]}}" />-->
  </div>
</div>


