<HeaderComponent PageTitle="Meta-Analysis" Context="metaanalysis"></HeaderComponent>
<div *ngIf="IsServiceBusy"
     class="k-loading-image" style="position: fixed; top: 0%; z-index:300">
</div>
<button class="page-link pt-0 pb-1 mb-1 rounded float-right" style="position:absolute; right: 0; z-index:2000;" (click)="BackHome()">
  Close/back
</button>

<div class="container rounded m-1 p-2 bg-light">
  <div class="row mx-0 px-0">
    <table class="table table-bordered table-sm col-12">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tr *ngFor="let ma of MaList">
        <td>{{ma.metaAnalysisId}}</td>
        <td>{{ma.title}}</td>
        <td>{{ma.metaAnalysisTypeTitle}}</td>
      </tr>
    </table>

  </div>
</div>
<MetaAnalysisDetailsComp></MetaAnalysisDetailsComp>

<statusbar class="row card p-0 ml-1 mr-1 mt-1 mb-2 card-body" resizable></statusbar>
