
<br>
<table class="table table-bordered table-striped">
    <tr>
        <th>Your search was: </th>
        <td>
            @{
                if (Model.SearchMethod == "PubMedSearch")
                {<span>a PubMed search.</span>}
                else if (Model.SearchMethod == "PubMedIDs")
                {<span>a search via PubMedIDs.</span>}
            }
        </td>
    </tr>
    <tr>
        <th>Your search string was:</th>
        <td>
            @Model.SearchString
        </td>
    </tr>
    <tr>
        <th>Your search returned:</th>
        <td> @Model.Results.Count.ToString() results.</td>
    </tr>
</table>

