<div>Coding Tool(s) in Review:</div>
<div *ngIf="ReviewSets.length == 0">
  No Coding Tools in review.
</div>
<kendo-treeview #tree
                *ngIf="ReviewSets" [nodes]="ReviewSets"
                class="text-wrap text-break BlueTreeViewSelectable"
                [ngClass]="{disableThisAndChildren:!CanChangeSelectedCode}"
                textField="name"
                (selectionChange)="NodeSelected($event)"
                kendoTreeViewExpandable
                kendoTreeViewHierarchyBinding
                    kendoTreeViewSelectable
                    [selectedKeys]="selectedKeys"
                    selectBy="id"
                childrenField="attributes">
  <ng-template kendoTreeViewNodeTemplate let-data>
    <span *ngIf="data.nodeType == 'ReviewSet'" class="ml-0 mr-1">
      <img *ngIf="data.codingIsFinal" title="Normal Mode: single data entry for all users" src="assets/person.png" class="mr-1" />
      <img *ngIf="!data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="assets/team.png" class="mr-1" />
      <img *ngIf="!data.allowEditingCodeset" title="You can't edit this Coding Tool" src="assets/CodeSetLocked.png" class="mr-1" />
    </span>
    <fa-icon *ngIf="IsACode(data) && CanWriteAndServicesIdle" [icon]="faPlaneDeparture" class="fa-xs my-0 p-0 ml-1 mr-0 btn-link border-0"
             (click)="MoveCode(data)" style="cursor: pointer" title="Move into / Place below"></fa-icon>
    <span [ngClass]="{'ScreeningSet' : data.subTypeName == 'Screening',
                            'AdminSet' : data.subTypeName == 'Administration',
                            'ExcludeCode' : data.subTypeName == 'Exclude'
                            }" class="mx-1">
      {{data.name}}
    </span>
    <fa-icon *ngIf="CanMoveDown(data) && CanWriteAndServicesIdle" [icon]="faAngleDoubleDown" class="fa-xs my-0 p-0 ml-1 mr-0 btn-link border-0"
             (click)="MoveDownNodeFull(data)" style="cursor: pointer" title="Move to bottom"></fa-icon>
    <fa-icon *ngIf="CanMoveDown(data) && CanWriteAndServicesIdle" [icon]="faCaretDown" class="my-0 p-0 ml-1 mr-0 btn-link border-0"
             (click)="MoveDownNode(data)" style="cursor: pointer;" title="Move down"></fa-icon>

    <fa-icon *ngIf="CanMoveUp(data) && CanWriteAndServicesIdle" [icon]="faCaretUp" class="my-0 p-0 ml-1 mr-0 btn-link border-0"
             (click)="MoveUpNode(data)" style="cursor: pointer;" title="Move up"></fa-icon>
    <fa-icon *ngIf="CanMoveUp(data) && CanWriteAndServicesIdle" [icon]="faAngleDoubleUp" class="fa-xs my-0 p-0 ml-1 mr-0 btn-link border-0"
             (click)="MoveUpNodeFull(data)" style="cursor: pointer;" title="Move to top"></fa-icon>
  </ng-template>
</kendo-treeview>
<div>
  <hr />
  <fa-icon [icon]="faCaretUp" class="my-0 p-0 ml-1 mr-0 btn-link border-0"></fa-icon>&nbsp;&nbsp;Move up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <fa-icon [icon]="faCaretDown" class="my-0 p-0 ml-1 mr-0 btn-link border-0"></fa-icon>&nbsp;&nbsp;Move down<br />
  <fa-icon [icon]="faAngleDoubleUp" class="fa-xs my-0 p-0 ml-1 mr-0 btn-link border-0"></fa-icon>&nbsp;&nbsp;Move to top&nbsp;&nbsp;&nbsp;
  <fa-icon [icon]="faAngleDoubleDown" class="fa-xs my-0 p-0 ml-1 mr-0 btn-link border-0"></fa-icon>&nbsp;&nbsp;Move to bottom<br />
  <fa-icon [icon]="faPlaneDeparture" class="fa-xs my-0 p-0 ml-1 mr-0 btn-link border-0"></fa-icon>&nbsp;&nbsp;Move into / Place below
</div>

