
<div *ngIf="!IsSmall" class="card container-fluid mt-1 bg-light  m-1 p-1 form-group">
    <form class="row" #NewCodeFromCollaborate="ngForm" (ngSubmit)="onSubmit()">
        <div class="col-12">
            <div class="form-group">
                <label for="Codeset_TypeCollaborate">Code Type*</label>
                <select #CodeTypeSelectCollaborate class="form-control" name="NewCode_TypeCollaborate"
                        [disabled]="!CurrentCodeCanHaveChildren" (change)="ChangeLastSelectedCodeType($event)">
                    <option *ngFor="let type of AllowedChildTypesOfSelectedNode" [value]="type.key" [selected]="type.key == LastSelectedCodeTypeId">
                        {{type.value}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-12">
          <label for="source_NameCollaborate">Code Name*</label>&nbsp;&nbsp;&nbsp;
          <input type="checkbox" (click)="commaSeparatedEntryClicked($event)" [(ngModel)]="commaSeparatedEntry" name="multipleCodesCB">&nbsp;Enter multiple comma separated codes
          <input *ngIf="!commaSeparatedEntry" type="text" class="form-control" id="AttName" [disabled]="!CurrentCodeCanHaveChildren"
                 [(ngModel)]="NewCode.attribute_name" name="attribute_name" >
          <input *ngIf="commaSeparatedEntry" type="text" class="form-control" id="AttNames" [disabled]="!CurrentCodeCanHaveChildren"
                 [(ngModel)]="NewCode.attribute_name" name="attribute_names" placeholder="Enter comma separated code names" >
          <span *ngIf="!IsNewCodeNameValid() && NewCodeFromCollaborate.dirty"
                class="alert alert-danger small p-1">
            Name is required
          </span>
        </div>
        <div *ngIf="!commaSeparatedEntry" class="form-group col-12 mt-2">
            <label for="newSetDescriptionCollaborate">Description (optional)</label>
            <textarea class="form-control" id="newSetDescription" [disabled]="!CurrentCodeCanHaveChildren"
                      [(ngModel)]="NewCode.attribute_set_desc" name="newAttDescription" rows="3"></textarea>
        </div>
        <div class="col-12">
          <button *ngIf="!commaSeparatedEntry" type="submit" (click)="CreateNewCode()" name="CreateButton"
                  class="btn btn-success ml-2 mr-2"
                  [disabled]="!NewCodeFromCollaborate.dirty || !IsNewCodeNameValid() || !CurrentCodeCanHaveChildren">
            <span>Create</span>
          </button>
          <button *ngIf="commaSeparatedEntry" type="submit" (click)="CreateNewCodes()" name="CreateCodesButton"
                  class="btn btn-success ml-2 mr-2"
                  [disabled]="!NewCodeFromCollaborate.dirty || !IsNewCodeNameValid() || !CurrentCodeCanHaveChildren">
            <span>Create codes</span>
          </button>
          <button class="btn btn-outline-secondary ml-2 mr-2" type="button" name="CancelButton"
                  (click)="CancelActivity()">
            Cancel
          </button>
        </div>
    </form>
</div>


<form  *ngIf="IsSmall" class="row small"#NewCodeFromCollaborate="ngForm" (ngSubmit)="onSubmit()">
    <div class="col-12">
        <div class="form-group mb-1">
            <div>Code Type*</div>
            <select #CodeTypeSelectCollaborate class="p-1" name="NewCode_TypeCollaborate" (change)="ChangeLastSelectedCodeType($event)"
                    [disabled]="!CurrentCodeCanHaveChildren">
                <option *ngFor="let type of AllowedChildTypesOfSelectedNode" [value]="type.key" [selected]="type.key == LastSelectedCodeTypeId">
                    {{type.value}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group mb-1 col-12">
      <div>
        Code Name*&nbsp;&nbsp;&nbsp;
        <input type="checkbox" (click)="commaSeparatedEntryClicked($event)" [(ngModel)]="commaSeparatedEntry" name="multipleCodesCB">&nbsp;Enter multiple codes
      </div>
      <input *ngIf="!commaSeparatedEntry" type="text" class="form-control" id="AttName" [disabled]="!CurrentCodeCanHaveChildren"
             [(ngModel)]="NewCode.attribute_name" name="attribute_name">
      <input *ngIf="commaSeparatedEntry" type="text" class="form-control" id="AttNames" [disabled]="!CurrentCodeCanHaveChildren"
             [(ngModel)]="NewCode.attribute_name" name="attribute_names" placeholder="Enter comma separated codes" >
      <span *ngIf="!IsNewCodeNameValid() && NewCodeFromCollaborate.dirty"
            class="alert alert-danger small p-1">
        Name is required
      </span>
    </div>
    <div *ngIf="!commaSeparatedEntry" class="form-group col-12 mb-1">
        <div for="newSetDescriptionCollaborate">Description (optional)</div>
        <textarea class="form-control" id="newSetDescription" [disabled]="!CurrentCodeCanHaveChildren"
                  [(ngModel)]="NewCode.attribute_set_desc" name="newAttDescription" rows="2"></textarea>
    </div>
    <div class="col-12 mb-1">
      <button *ngIf="!commaSeparatedEntry" type="submit" (click)="CreateNewCode()" name="CreateButton"
              class="btn btn-sm btn-success ml-2 mr-2"
              [disabled]="!NewCodeFromCollaborate.dirty || !IsNewCodeNameValid() || !CurrentCodeCanHaveChildren">
        Create
      </button>
      <button *ngIf="commaSeparatedEntry" type="submit" (click)="CreateNewCodes()" name="CreateCodesButton"
              class="btn btn-sm btn-success ml-2 mr-2"
              [disabled]="!NewCodeFromCollaborate.dirty || !IsNewCodeNameValid() || !CurrentCodeCanHaveChildren">
        <span>Create codes</span>
      </button>
      <button class="btn btn-sm btn-outline-secondary ml-2 mr-2" type="button" name="CancelButton"
              (click)="CancelActivity()">
        Cancel
      </button>
    </div>
</form>
