
<div *ngIf="!IsSmall" class="card container-fluid mt-1 bg-light  m-1 p-1 form-group">
    <div  class="container card card-body bg-light">
        <div *ngIf="ShowPanel == 'DeleteCode'" class="alert alert-danger">
            <div *ngIf="AllocationsAffected < 1 && appliedCodes != -1">
                <div>Are you sure you want to delete '{{UpdatingCode?.attribute_name}}' and all its children?</div>
                <div *ngIf="appliedCodes == 1">This will affect <strong>one</strong> item that has been assigned to this code (this coding will be deleted)!</div>
                <div *ngIf="appliedCodes > 1">This will affect codes assigned to <strong>{{appliedCodes}}</strong> items. All this coding will be deleted!</div>
                <div>Also all codes assigned to '<strong>{{UpdatingCode?.attribute_name}}</strong>' children (if any) <strong>will be lost</strong>.</div>
                <div>
                    <button class="btn btn-outline-secondary ml-1" (click)="HideDeleteCodeset()" style="width:200px;">No</button>
                    <button class="btn btn-danger ml-1" (click)="DoDeleteCode()"
                            [disabled]="!CanWrite() "
                            style="width:80px;">
                        Yes
                    </button>
                </div>
            </div>
            <div *ngIf="AllocationsAffected > 0">
                <div class="font-weight-bold">Sorry, you cannot delete '{{UpdatingCode?.attribute_name}}' and all its children.</div>
                <div *ngIf="AllocationsAffected == 1">This is because this code is used to drive <strong>one</strong> coding assignment. You need to delete this coding assignment first.</div>
                <div *ngIf="AllocationsAffected > 1">This is because this code is used to drive <strong>{{AllocationsAffected}}</strong> coding assignments. You need to delete these coding assignments first.</div>
                <div>
                    <button class="btn btn-outline-secondary ml-1" (click)="HideDeleteCodeset()" style="width:200px;">Cancel</button>
                </div>
            </div>
            <div *ngIf="appliedCodes == -1">
                <div *ngIf="IsServiceBusy()">Loading...</div>
                <div *ngIf="!IsServiceBusy()">This check failed, cannot delete code. Please cancel.</div>
                <div>
                    <button class="btn btn-outline-secondary ml-1" (click)="HideDeleteCodeset()" style="width:200px;">Cancel</button>
                </div>
            </div>
        </div>
        <div *ngIf="ShowPanel == 'MoveCode' && ErrorMessage4CodeMove == ''" class="">
          <div class="p-1">Please select the <b>Destination Code</b> from the area below.</div>
          <div class="py-1 px-2 alert-info border border-info rounded ">
            You can move this code into <i class="k-icon k-i-import text-primary"></i> another part of its coding tool, with all its child codes (if any), without affecting coding data.<br />
            You can also place the code below <i class="k-icon k-i-arrow-drill text-primary" style="font-size: 25px;"></i> another code in the same level of hierarchy.<br />
            Not all codes can be destination codes. This is because some moves are impossible (ex. you cannot move a code into one of its children) while others would break coding tool depth restrictions.
          </div>
          <div class="border border-primary rounded p-1 m-1">
            <codesetTree4Move #codesetTree4Move [MaxHeight]="300" [SelectedCodeset]="ReviewSetOfUpdatingCode" [SelectedNode]="UpdatingCode"></codesetTree4Move>
          </div>

          <div class="p-1 mb-2">
            <button class="btn btn-outline-primary ml-1" (click)="DoMoveBranch(codesetTree4Move.DestinationBranch)" [disabled]="!codesetTree4Move.CanMoveBranchHere">Move&nbsp; <i class="k-icon k-i-import"></i>&nbsp;</button>
            &nbsp;&nbsp; <b class="rounded border border-dark background bg-white p-1">{{UpdatingCode?.name}}</b>&nbsp;&nbsp;&nbsp;
            into
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="rounded border border-dark p-1"
                                             [ngClass]="{'alert-danger' : !codesetTree4Move.CanMoveBranchHere, 'alert-success' : codesetTree4Move.CanMoveBranchHere}">{{codesetTree4Move.DestinationBranchName(true)}}</b>
          </div>
          <div class="p-1 mb-2">
            <button class="btn btn-outline-primary ml-1" (click)="DoMoveBranchBelow(codesetTree4Move.DestinationBranch)" [disabled]="!codesetTree4Move.CanMoveBranchBelowHere">Place <i class="k-icon k-i-arrow-drill" style="font-size: 24px;"></i></button>
            &nbsp;&nbsp; <b class="rounded border border-dark background bg-white p-1">{{UpdatingCode?.name}}</b>&nbsp;&nbsp;
            below
            &nbsp;&nbsp;<b class="rounded border border-dark p-1"
                           [ngClass]="{'alert-danger' : !codesetTree4Move.CanMoveBranchBelowHere, 'alert-success' : codesetTree4Move.CanMoveBranchBelowHere}">{{codesetTree4Move.DestinationBranchName(false)}}</b>
          </div>

          <button class="btn btn-outline-secondary ml-1" (click)="HideDeleteCodeset()" style="width:200px;">Cancel</button>

        </div>
        <div *ngIf="ShowPanel == 'MoveCode' && ErrorMessage4CodeMove != ''" class="alert alert-danger">
            <div class="p-1 alert alert-danger">{{ErrorMessage4CodeMove}}</div>
            <button class="btn btn-outline-secondary ml-1" (click)="HideDeleteCodeset()" style="width:200px;">Back</button>
        </div>
        <form *ngIf="ShowPanel !== 'MoveCode' && UpdatingCode" class="row" #EditCodeFrom="ngForm" (ngSubmit)="onSubmit()">
            <div class="col-12">
                <div class="form-group">
                    <label for="Codeset_Type">Code Type*</label>
                    <select #EditCodeTypeSelect class="col-md-6 form-control"
                            (change)="AttributeTypeChanged($event)" name="Code_Type"
                            [(ngModel)]="UpdatingCode.attribute_type_id">
                        <option *ngFor="let type of AllowedChildTypes" [value]="type.key" [selected]="UpdatingCode && type.key == UpdatingCode.attribute_type_id">
                            {{type.value}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-12">
                <label for="source_Name">Code Name*</label>
                <input type="text" class="form-control" id="AttName"
                       [(ngModel)]="UpdatingCode.attribute_name" name="attribute_name"
                       #name="ngModel">
                <span [hidden]="IsNewCodeNameValid()"
                      class="alert alert-danger small p-1">
                    Name is required
                </span>
            </div>
            <div class="form-group col-12">
                <label for="newSetDescription">Description (optional)</label>
                <textarea class="form-control" id="newSetDescription"
                          [(ngModel)]="UpdatingCode.attribute_set_desc" name="newAttDescription" rows="3"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" (click)="UpdateCode()" class="btn btn-success ml-2 mr-2" [disabled]="!EditCodeFrom.dirty || !IsNewCodeNameValid() || !CanWrite() ">
                    Update
                </button>
                <button *ngIf="UpdatingCode.attribute_type != 'Exclude' && UpdatingCode.attribute_type != 'Include'" class="btn btn-outline-primary ml-1" type="button"
                        (click)="ShowMoveCodeClicked()" [disabled]="!CanWrite()">
                    Move...
                </button>
                <button class="btn btn-outline-danger ml-1" (click)="ShowDeleteCodesetClicked()" type="button"
                        [disabled]="!CanWrite()">
                    Delete Code...
                </button>
                <button class="btn btn-outline-secondary ml-2" type="button"
                        (click)="CancelActivity(EditCodeFrom.dirty)" style="width:200px;">
                    Cancel
                </button>
            </div>
            <div class="col-12 small alert-info p-1 m-1" *ngIf="UpdatingCode.extURL != ''">
                <div>URL: {{UpdatingCode.extURL}}</div>
                <div>Type: {{UpdatingCode.extType}}</div>
            </div>
        </form>
    </div>
</div>


<div *ngIf="IsSmall" class="row small mx-0">

    <div *ngIf="ShowPanel == 'DeleteCode' && UpdatingCode" class="alert alert-danger">
        <div *ngIf="AllocationsAffected < 1 && appliedCodes != -1">
            <div>Are you sure you want to delete '{{UpdatingCode.attribute_name}}' and all its children?</div>
            <div *ngIf="appliedCodes == 1">This will affect <strong>one</strong> item that has been assigned to this code (this coding will be deleted)!</div>
            <div *ngIf="appliedCodes > 1">This will affect codes assigned to <strong>{{appliedCodes}}</strong> items. All this coding will be deleted!</div>
            <div>Also all codes assigned to '<strong>{{UpdatingCode.attribute_name}}</strong>' children (if any) <strong>will be lost</strong>.</div>
            <div>
                <button class="btn btn-sm btn-outline-secondary ml-1" (click)="HideDeleteCodeset()" style="width:80px;">No</button>
                <button class="btn btn-sm btn-danger ml-1" (click)="DoDeleteCode()"
                        [disabled]="!CanWrite() "
                        style="width:40px;">
                    Yes
                </button>
            </div>
        </div>
        <div *ngIf="AllocationsAffected > 0">
            <div class="font-weight-bold">Sorry, you cannot delete '{{UpdatingCode.attribute_name}}' and all its children.</div>
            <div *ngIf="AllocationsAffected == 1">This is because this code is used to drive <strong>one</strong> coding assignment. You need to delete this coding assignment first.</div>
            <div *ngIf="AllocationsAffected > 1">This is because this code is used to drive <strong>{{AllocationsAffected}}</strong> coding assignments. You need to delete these coding assignments first.</div>
            <div>
                <button class="btn btn-outline-secondary ml-1" (click)="HideDeleteCodeset()" style="width:200px;">Cancel</button>
            </div>
        </div>
        <div *ngIf="appliedCodes == -1">
            <div *ngIf="IsServiceBusy()">Loading...</div>
            <div *ngIf="!IsServiceBusy()">This check failed, cannot delete code. Please cancel.</div>
            <div>
                <button class="btn btn-outline-secondary ml-1" (click)="HideDeleteCodeset()" style="width:200px;">Cancel</button>
            </div>
        </div>
    </div>
        <form *ngIf="UpdatingCode" class="row" #EditCodeFrom="ngForm" (ngSubmit)="onSubmit()">
            <div class="col-12">
                <div class="form-group">
                    <div for="Codeset_Type">Code Type*</div>
                    <select #EditCodeTypeSelect class="p-1"
                            (change)="AttributeTypeChanged($event)" name="Code_Type"
                            [(ngModel)]="UpdatingCode.attribute_type_id">
                        <option *ngFor="let type of AllowedChildTypes" [value]="type.key" [selected]="UpdatingCode && type.key == UpdatingCode.attribute_type_id">
                            {{type.value}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-12">
                <div for="source_Name">Code Name*</div>
                <input type="text" class="form-control" id="AttName"
                       [(ngModel)]="UpdatingCode.attribute_name" name="attribute_name"
                       #name="ngModel">
                <span [hidden]="IsNewCodeNameValid()"
                      class="alert alert-danger small p-1">
                    Name is required
                </span>
            </div>
            <div class="form-group col-12">
                <div for="newSetDescription">Description (optional)</div>
                <textarea class="form-control" id="newSetDescription"
                          [(ngModel)]="UpdatingCode.attribute_set_desc" name="newAttDescription" rows="3"></textarea>
            </div>
            <div class="col-12 mb-1">
                <button type="submit" (click)="UpdateCode()" class="btn btn-sm btn-success ml-2 mr-2" [disabled]="!EditCodeFrom.dirty || !IsNewCodeNameValid() || !CanWrite() ">
                    Update
                </button>
                <button class="btn btn-sm btn-outline-secondary ml-1" type="button"
                        (click)="CancelActivity(EditCodeFrom.dirty)" style="width:60px;">
                    Cancel
                </button>
                <button class="btn btn-sm btn-outline-danger ml-3" (click)="ShowDeleteCodesetClicked()" type="button"
                        [disabled]="!CanWrite() || !IsNewCodeNameValid()">
                    Delete Code...
                </button>
            </div>
            <div class="col-12 mb-1" *ngIf="UpdatingCode.extURL != ''">
                <div>URL: {{UpdatingCode.extURL}}</div>
                <div>Type: {{UpdatingCode.extType}}</div>
            </div>
        </form>
    </div>
