<p *ngIf="IsServiceBusy"><em>Loading...</em></p>
<p *ngIf="(!nodes || nodes.length == 0) && !IsServiceBusy"><em>Review Contains no Coding Tools...</em></p>


<div class="bg-light" *ngIf="nodes && nodes.length > 0 " [ngStyle]="{'max-height.px': MaxHeight}" style="overflow-y:auto;">
  <!--<tree-root #SingleCodeSetTree class="bg-dark" *ngIf="nodes" [nodes]="nodes" [options]="options"
             (activate)="NodeSelected($event.node.data)">
    <ng-template class="bg-warning" #treeNodeTemplate let-node let-index="index">
      <span *ngIf="node.data.nodeType == 'ReviewSet'">
        <img *ngIf="node.data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
        <img *ngIf="!node.data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
        <img *ngIf="!node.data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
      </span>
      <input class="m-1" type="checkbox" id="attributeID-{{node.data.id}}"
             [checked]="IsAttributeInOutcome(node.data)"
             [disabled]="CanWriteCoding(node.data)"
             *ngIf="node.data.showCheckBox" (change)="CheckBoxClicked($event, node.data)" />

      <span [ngClass]="{'ScreeningSet' : node.data.subTypeName == 'Screening',
                            'AdminSet' : node.data.subTypeName == 'Administration',
                            'ExcludeCode' : node.data.subTypeName == 'Exclude'
                            }">{{node.data.name}}</span>
    </ng-template>
  </tree-root>-->
  <kendo-treeview [nodes]="nodes"
                  class="bg-light text-wrap text-break"
                  textField="name"
                  (selectionChange)="NodeSelected($event)"
                  kendoTreeViewExpandable
                  kendoTreeViewHierarchyBinding
                  childrenField="attributes">
    <ng-template kendoTreeViewNodeTemplate let-data>
      <span *ngIf="data.nodeType == 'ReviewSet'" class="mx-0">
        <img *ngIf="data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
        <img *ngIf="!data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
        <img *ngIf="!data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
      </span>
      <input class="m-1" type="checkbox" id="attributeID-{{data.id}}"
             [checked]="IsAttributeInOutcome(data)"
             [disabled]="!CanWriteCoding(data)"
             *ngIf="data.showCheckBox" (change)="CheckBoxClicked($event, data)" />
      <span [ngClass]="{'ScreeningSet' : data.subTypeName == 'Screening',
                            'AdminSet' : data.subTypeName == 'Administration',
                            'ExcludeCode' : data.subTypeName == 'Exclude'}" class="mx-1">
        {{data.name}}
      </span>
    </ng-template>
  </kendo-treeview>
</div>
