
<p *ngIf="IsServiceBusy"><em>Loading...</em></p>
<p *ngIf="(!nodes || nodes.length == 0) && !IsServiceBusy"><em>No Coding Tools...</em></p>
<!--style="max-height: 800px; height:680px"   ng-style="_eventEmitter.testVar == 'true' ? {'width':'250px'} : {'width':'500px'}"-->
<div class="bg-light" *ngIf="nodes && nodes.length > 0 " [ngStyle]="{'max-height.px': MaxHeight}" style="overflow-y:auto;">
	
    <div class="me">
        <kendo-treeview *ngIf="nodes" [nodes]="nodes"
                        class="bg-light text-wrap text-break"
                        textField="name"
                        [ngClass]="{disableThisAndChildren:!CanChangeSelectedCode}"
                        (selectionChange)="NodeSelected($event)"
                        kendoTreeViewExpandable
                        kendoTreeViewHierarchyBinding
                        childrenField="attributes">
          <ng-template kendoTreeViewNodeTemplate let-data>
            <span *ngIf="data.nodeType == 'ReviewSet'" class="mx-0">
              <img *ngIf="data.codingIsFinal" title="Normal Mode: single data entry for all users" src="assets/person.png" class="mr-1" />
              <img *ngIf="!data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="assets/team.png" class="mr-1" />
            </span>
            <span [ngClass]="{'ScreeningSet' : data.subTypeName == 'Screening',
                            'AdminSet' : data.subTypeName == 'Administration',
                            'ExcludeCode' : data.subTypeName == 'Exclude'}">
              {{data.name}}
            </span>
          </ng-template>
        </kendo-treeview>
        <div *ngIf="!CanChangeSelectedCode" style="position:absolute;top:0;z-index:1000; background-color:#d8d8e2;opacity:0.35; width:100%;height:100%"></div>
    </div>
</div>

<div class="mt-2" *ngIf="SelectedCodeDescription != ''">
	<div class="card card-title mb-0 font-weight-bold">Code description:</div>
  <div class="card card-body mt-0 p-1 bg-white" style="max-height:150px; overflow-y:scroll; white-space:pre-line;">
    {{SelectedCodeDescription}}
  </div>
</div>
