<div class="pagination justify-content-start d-flex flex-wrap col-12 mb-1">

	<!-- pager -->
	<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
		<li [ngClass]="{disabled:pager.currentPage === 1}">
			<button class="page-link" (click)="setPage(1)">First</button>
		</li>
		<li [ngClass]="{disabled:pager.currentPage === 1}">
			<button class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</button>
		</li>
		<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
			<button class="page-link" (click)="setPage(page)">{{page}}</button>
		</li>
		<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
			<button class="page-link" (click)="setPage(pager.currentPage + 1)">Next</button>
		</li>
		<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
			<button class="page-link" (click)="setPage(pager.totalPages)">Last</button>
		</li>
	</ul>
</div>