<div *ngIf="rowSelected == _comparisonsService.currentComparison.comparisonId ">

	<p>The statistics are based on the status of the database at the time the comparison was created</p>

	<p>
		Number of documents coded by {{_comparisonsService.currentComparison.contactName1}}: {{_comparisonsService.Statistics.RawStats.nCoded1}}
	</p>
	<p>
		Number of documents coded by {{_comparisonsService.currentComparison.contactName2}}: {{_comparisonsService.Statistics.RawStats.nCoded2}}
	</p>
	<p *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
		Number of documents coded by {{_comparisonsService.currentComparison.contactName3}}: {{_comparisonsService.Statistics.RawStats.nCoded3}}
	</p>
	<p>
		Number of documents coded by both {{_comparisonsService.currentComparison.contactName1}} and {{_comparisonsService.currentComparison.contactName2}}
		: {{_comparisonsService.Statistics.RawStats.n1vs2 }}
	</p>
	<p *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
		Number of documents coded by both {{_comparisonsService.currentComparison.contactName2}} and {{_comparisonsService.currentComparison.contactName3}}
		: {{_comparisonsService.Statistics.RawStats.n2vs3 }}
	</p>
	<p *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
		Number of documents coded by both {{_comparisonsService.currentComparison.contactName1}} and {{_comparisonsService.currentComparison.contactName3}}
		: {{_comparisonsService.Statistics.RawStats.n1vs3 }}
	</p>
	<kendo-tabstrip>
		<div *ngIf="tabSelected == 'AgreeStats'">
			<kendo-tabstrip-tab [selected]="true" [title]="'Full'">
				<ng-template kendoTabContent>
					<div class="col-12 row card bg-light card-body rounded border-success">
						<div class="col-12 row">
							<span class="col-3">
								{{_comparisonsService.currentComparison.contactName1}} versus
								{{_comparisonsService.currentComparison.contactName2}}
							</span>
							<div class="col-9 row">
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonAgree1vs2')">
									{{_comparisonsService.Statistics.Agreements1 }}  / {{_comparisonsService.Statistics.RawStats.n1vs2 }} (list)
								</button>
								<button class="btn btn-outline-info col-3" (click)="SendToComplete('1And2','ComparisonAgree1vs2')" [disabled]="!checkCanComplete1()"> Complete</button>
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree1vs2')">
									{{_comparisonsService.Statistics.RawStats.disagreements1vs2 }}  / {{_comparisonsService.Statistics.RawStats.n1vs2 }} (list)
								</button>
								<button (click)="LoadReconciliation(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree1vs2')" class="btn btn-outline-info col-3"> Reconcile</button>
							</div>
						</div>
						<div class="col-12 row"
							 *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
							<span class="col-3">
								{{_comparisonsService.currentComparison.contactName2}} versus
								{{_comparisonsService.currentComparison.contactName3}}
							</span>
							<div class="col-9 row">
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonAgree2vs3')"> {{_comparisonsService.Statistics.Agreements2 }}  / {{_comparisonsService.Statistics.RawStats.n2vs3 }} (list)</button>
								<button class="btn btn-outline-info col-3" (click)="SendToComplete('2And3', 'ComparisonAgree2vs3')" [disabled]="!checkCanComplete2()"> Complete</button>

								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree2vs3')">{{_comparisonsService.Statistics.RawStats.disagreements2vs3 }}  / {{_comparisonsService.Statistics.RawStats.n2vs3 }} (list)</button>
								<button (click)="LoadReconciliation(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree2vs3')" class="btn btn-outline-info col-3"> Reconcile</button>
							</div>
						</div>
						<div class="col-12 row"
							 *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
							<span class=" col-3">
								{{_comparisonsService.currentComparison.contactName1}} versus
								{{_comparisonsService.currentComparison.contactName3}}
							</span>
							<div class="col-9 row"
								 *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonAgree1vs3')">
									{{_comparisonsService.Statistics.Agreements3 }} / {{_comparisonsService.Statistics.RawStats.n1vs3 }} (list)
								</button>
								<button class="btn btn-outline-info col-3" (click)="SendToComplete('1And3', 'ComparisonAgree1vs3')" [disabled]="!checkCanComplete3()"> Complete</button>
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree1vs3')">
									{{_comparisonsService.Statistics.RawStats.disagreements1vs3 }}  / {{_comparisonsService.Statistics.RawStats.n1vs3 }} (list)
								</button>
								<button (click)="LoadReconciliation(_comparisonsService.currentComparison.comparisonId, 'ComparisonAgree1vs3')" class="btn btn-outline-info col-3"> Reconcile</button>
							</div>
						</div>
					</div>
				</ng-template>
			</kendo-tabstrip-tab>
		</div>
		<div *ngIf="_comparisonsService.Statistics.RawStats.isScreening">
			<kendo-tabstrip-tab [title]="'Include/Exclude Only'">
				<ng-template kendoTabContent>
					<div class="col-12 row card bg-light card-body rounded border-success">
						<div class="col-12 row">
							<span class="col-3">
								{{_comparisonsService.currentComparison.contactName1}} versus
								{{_comparisonsService.currentComparison.contactName2}}
							</span>
							<div class="col-9 row">
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonAgree1vs2Sc')"> {{_comparisonsService.Statistics.SCAgreements1 }}  / {{_comparisonsService.Statistics.RawStats.n1vs2 }} (list)</button>
								<button class="btn btn-outline-info col-3" (click)="SendToComplete('1And2','ComparisonAgree1vs2')" [disabled]="!checkCanComplete1()"> Complete</button>
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree1vs2Sc')"> {{_comparisonsService.Statistics.RawStats.scDisagreements1vs2 }}  / {{_comparisonsService.Statistics.RawStats.n1vs2 }} (list)</button>
								<button class="btn btn-outline-info col-3" (click)="LoadReconciliation(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree1vs2Sc')"> Reconcile</button>
							</div>
						</div>
						<div class="col-12 row"
							 *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
							<span class="col-3">
								{{_comparisonsService.currentComparison.contactName2}} versus
								{{_comparisonsService.currentComparison.contactName3}}
							</span>
							<div class="col-9 row">
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonAgree2vs3Sc')"> {{_comparisonsService.Statistics.SCAgreements2 }}  / {{_comparisonsService.Statistics.RawStats.n2vs3 }} (list)</button>
								<button (click)="SendToComplete('2And3','ComparisonAgree2vs3')" class="btn btn-outline-info col-3" [disabled]="!checkCanComplete2()"> Complete</button>

								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree2vs3Sc')">{{_comparisonsService.Statistics.RawStats.scDisagreements2vs3 }}  / {{_comparisonsService.Statistics.RawStats.n2vs3 }} (list)</button>
								<button (click)="LoadReconciliation(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree2vs3Sc')" class="btn btn-outline-info col-3"> Reconcile</button>
							</div>
						</div>
						<div class="col-12 row"
							 *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
							<span class=" col-3">
								{{_comparisonsService.currentComparison.contactName1}} versus
								{{_comparisonsService.currentComparison.contactName3}}
							</span>
							<div class="col-9 row"
								 *ngIf="_comparisonsService.currentComparison.contactName3 != ''">
								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonAgree1vs3Sc')"> {{_comparisonsService.Statistics.SCAgreements3 }} / {{_comparisonsService.Statistics.RawStats.n1vs3 }} (list)</button>
								<button (click)="SendToComplete('1And3','ComparisonAgree1vs3')" class="btn btn-outline-info col-3" [disabled]="!checkCanComplete3()"> Complete</button>

								<button class="btn btn-outline-info col-3" (click)="LoadComparisonList(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree1vs3Sc')"> {{_comparisonsService.Statistics.RawStats.scDisagreements1vs3 }}  / {{_comparisonsService.Statistics.RawStats.n1vs3 }} (list)</button>
								<button (click)="LoadReconciliation(_comparisonsService.currentComparison.comparisonId, 'ComparisonDisagree1vs3Sc')" class="btn btn-outline-info col-3"> Reconcile</button>
							</div>
						</div>
					</div>
				</ng-template>
			</kendo-tabstrip-tab>
		</div>
		<div *ngIf="CompleteSectionShow">
			<kendo-tabstrip-tab [selected]="tabSelected == 'confirm'" [title]="'Complete Agreed Coding'">
				<ng-template kendoTabContent>
					<div class="col-12 row card bg-light card-body rounded border-success">
						<div class="col-12 row">
							Do you want to use the data entered by
							<div *ngFor="let item of lstContacts">
								<p>&nbsp; {{item.contactName}} &nbsp; </p>
							</div>
							? (The codes will be identical, but they
							may differ in terms of additional text entered.)
							<select class="col-md-6 form-control" name="rev3"
									[disabled]="!HasWriteRights" [(ngModel)]="selectedCompleteUser">
								<option *ngFor="let member of lstContacts"
										[ngValue]="member" [selected]="member == selectedCompleteUser">
									{{member.contactName}}
								</option>
							</select>
							<div class="col-12 row">
								<button class="btn btn-outline-success" (click)="Complete(_comparisonsService.currentComparison)">&nbsp; Confirm&nbsp; </button>
								<button (click)="CloseConfirm()" class="btn btn-outline-dark">&nbsp; Cancel&nbsp; </button>
							</div>
						</div>
					</div>
				</ng-template>
			</kendo-tabstrip-tab>
		</div>
	</kendo-tabstrip>
</div>

