@{
    ViewData["Title"] = "Login";
}
<div style="height:100%;">
    <img src="\images\Klasifiki.png" class="center-block" style="margin:8px;" />
    <form method="post" action="DoLogin">
        Username:<input id="username" name="username" type="text" />
        Password:<input id="password" name="password" type="password" />
        <input type="submit" />
    </form>
</div>