@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Please login using EPPI-Reviewer credentials:"]</h2>
<form method="post">
    Username:<input id="username" name="username" type="text" />
    Password:<input id="password" name="password" type="password" />
    <input type="submit" />
</form>
