USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_TrainingInsert]    Script Date: 12/08/2020 11:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_TrainingInsert]
(
	@REVIEW_ID INT,
	@CONTACT_ID INT,
	@N_SCREENED INT = NULL,
	@NEW_TRAINING_ID INT output
)

As

SET NOCOUNT ON

	DECLARE @START_TIME DATETIME
	DECLARE @END_TIME DATETIME

	SELECT @START_TIME = MAX(TIME_STARTED) FROM TB_TRAINING
		WHERE REVIEW_ID = @REVIEW_ID

	SELECT @END_TIME = MAX(TIME_ENDED) FROM TB_TRAINING
		WHERE REVIEW_ID = @REVIEW_ID
		
	IF (@START_TIME IS NULL) OR (@START_TIME != @END_TIME) OR
	(
		(@START_TIME = @END_TIME) AND CURRENT_TIMESTAMP > DATEADD(HOUR, 1, @START_TIME) -- i.e. we run whenever something isn't already running and give up after 1 hours (i.e. try again, assuming there was an error)
	)
	BEGIN
		INSERT INTO TB_TRAINING(REVIEW_ID, CONTACT_ID, TIME_STARTED, TIME_ENDED)
		VALUES (@REVIEW_ID, @CONTACT_ID, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	   
	    SET @NEW_TRAINING_ID = @@IDENTITY
		update TB_REVIEW set SCREENING_MODEL_RUNNING = 1 where REVIEW_ID = @REVIEW_ID 
	END
	ELSE
	BEGIN
		SET @NEW_TRAINING_ID = 0
	END

/*

	DECLARE @TIME_WAIT INT = 60  -- we have to wait at least 10 minutes between 'runs'

	--IF @N_SCREENED > 1000 BEGIN SET @TIME_WAIT = 600 END -- SO WE HAVE TO WAIT 10 MINUTES IF THERE ARE MORE THAN 1000 ITEMS BEING TRAINED
	
	DECLARE @START_TIME DATETIME
	
	--SELECT @START_TIME = TIME_STARTED FROM TB_TRAINING
	--	WHERE REVIEW_ID = @REVIEW_ID
	--	GROUP BY TIME_STARTED, ITERATION
	--	HAVING ITERATION = MAX(ITERATION)
	SELECT @START_TIME = MAX(TIME_STARTED) FROM TB_TRAINING
		WHERE REVIEW_ID = @REVIEW_ID
		
	IF (@START_TIME IS NULL OR (CURRENT_TIMESTAMP > DATEADD(SECOND, @TIME_WAIT, @START_TIME)))
	BEGIN
		INSERT INTO TB_TRAINING(REVIEW_ID, CONTACT_ID, TIME_STARTED, TIME_ENDED)
		VALUES (@REVIEW_ID, @CONTACT_ID, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	   
	    SET @NEW_TRAINING_ID = @@IDENTITY
	END
	ELSE
	BEGIN
		SET @NEW_TRAINING_ID = 0
	END

*/
SET NOCOUNT OFF
GO

/****** Object:  StoredProcedure [dbo].[st_ReviewInfo]    Script Date: 12/08/2020 14:15:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_ReviewInfo]
(
	@REVIEW_ID INT
	
)

As
BEGIN
	declare @chk int = ( 
						 select count(REVIEW_ID) FROM TB_REVIEW
						 where REVIEW_ID = @REVIEW_ID and SHOW_SCREENING = 1 and SCREENING_MODEL_RUNNING = 1
						)
    if @chk = 1 
	BEGIN
		--we want to check if we need to flip SCREENING_MODEL_RUNNING back to 0
		declare @t_id int
		select @t_id = max(training_id) from TB_TRAINING where REVIEW_ID = @REVIEW_ID
		if @t_id is not null
		BEGIN
			select @chk = count(training_id) from TB_TRAINING 
				where REVIEW_ID = @REVIEW_ID
				AND TRAINING_ID = @t_id 
				AND 
					(
					TIME_STARTED != TIME_ENDED
					OR
					GETDATE() > DATEADD(HOUR, 1, TIME_STARTED)
					)
				if @chk > 0 
					UPDATE TB_REVIEW set SCREENING_MODEL_RUNNING = 0 where REVIEW_ID = @REVIEW_ID
		END
	END

	SELECT * FROM TB_REVIEW
	WHERE REVIEW_ID = @REVIEW_ID
END
GO
