USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ClassifierContactModels]    Script Date: 28/01/2022 08:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   procedure [dbo].[st_ClassifierContactModels]
(
	@CONTACT_ID INT
)

As

SET NOCOUNT ON
declare @chk int = (select count(contact_id) from TB_CONTACT where CONTACT_ID = @CONTACT_ID and IS_SITE_ADMIN = 1)
if (@chk = 1) --user is a site admin, current review might not have it as a member, so we need to do more work
 BEGIN
  declare @RID int = (select Review_id from ReviewerAdmin.dbo.TB_LOGON_TICKET 
						where [STATE] = 1 and CONTACT_ID = @CONTACT_ID
							and LAST_RENEWED > DATEADD(hour, -1, getdate()))
  if @RID is null return
  --select @rid
  declare @rids table (REVIEW_ID int)
  insert into @rids select @rid
  insert into @rids select REVIEW_ID from TB_REVIEW_CONTACT rc where CONTACT_ID = @CONTACT_ID and rc.REVIEW_ID != @RID
  select MODEL_ID, MODEL_TITLE, CM.REVIEW_ID, R.REVIEW_NAME, 
	A1.ATTRIBUTE_NAME ATTRIBUTE_ON, A2.ATTRIBUTE_NAME ATTRIBUTE_NOT_ON,
	 ATTRIBUTE_ID_NOT_ON, ATTRIBUTE_ID_ON,
		CONTACT_NAME, CM.CONTACT_ID, ACCURACY, AUC, [PRECISION], RECALL
		from tb_CLASSIFIER_MODEL CM
	INNER JOIN TB_ATTRIBUTE A1 ON A1.ATTRIBUTE_ID = CM.ATTRIBUTE_ID_ON
	INNER JOIN TB_ATTRIBUTE A2 ON A2.ATTRIBUTE_ID = CM.ATTRIBUTE_ID_NOT_ON
	INNER JOIN TB_CONTACT ON TB_CONTACT.CONTACT_ID = CM.CONTACT_ID
	INNER JOIN @rids rid on rid.REVIEW_ID = cm.REVIEW_ID
	inner join TB_REVIEW r on rid.REVIEW_ID = r.REVIEW_ID 
	--where RC.CONTACT_ID = @CONTACT_ID
	order by CM.REVIEW_ID, cm.MODEL_ID
 END

 ELSE
 BEGIN
	select MODEL_ID, MODEL_TITLE, CM.REVIEW_ID, R.REVIEW_NAME, 
	A1.ATTRIBUTE_NAME ATTRIBUTE_ON, A2.ATTRIBUTE_NAME ATTRIBUTE_NOT_ON,
	 ATTRIBUTE_ID_NOT_ON, ATTRIBUTE_ID_ON,
		CONTACT_NAME, CM.CONTACT_ID, ACCURACY, AUC, [PRECISION], RECALL
		from tb_CLASSIFIER_MODEL CM
	INNER JOIN TB_ATTRIBUTE A1 ON A1.ATTRIBUTE_ID = CM.ATTRIBUTE_ID_ON
	INNER JOIN TB_ATTRIBUTE A2 ON A2.ATTRIBUTE_ID = CM.ATTRIBUTE_ID_NOT_ON
	INNER JOIN TB_CONTACT ON TB_CONTACT.CONTACT_ID = CM.CONTACT_ID
	INNER JOIN TB_REVIEW_CONTACT RC ON RC.REVIEW_ID = CM.REVIEW_ID
	INNER JOIN TB_REVIEW R ON R.REVIEW_ID = RC.REVIEW_ID
	
	where RC.CONTACT_ID = @CONTACT_ID
	order by CM.REVIEW_ID, MODEL_ID
END
SET NOCOUNT OFF

GO
