USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ItemSourceDetails]    Script Date: 25/04/2022 11:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_ItemSourceDetails]
(
	@ITEM_ID BIGINT,
	@REVIEW_ID int
)

As

SET NOCOUNT ON

	SELECT SOURCE_NAME, TB_SOURCE.SOURCE_ID
	FROM TB_SOURCE
	INNER JOIN TB_ITEM_SOURCE ON TB_ITEM_SOURCE.SOURCE_ID = TB_SOURCE.SOURCE_ID
		AND TB_ITEM_SOURCE.ITEM_ID = @ITEM_ID and TB_SOURCE.REVIEW_ID = @REVIEW_ID


SET NOCOUNT OFF
GO