USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ReviewStatisticsCodeSetsReviewersComplete]    Script Date: 11/10/2023 11:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE or ALTER procedure [dbo].[st_ReviewStatisticsCodeSetsReviewersComplete]
(
	@REVIEW_ID INT,
	@SET_ID INT
)
with recompile
As

SET NOCOUNT ON

declare @t table (ITEM_ID bigint , ITEM_SET_ID bigint, CONTACT_ID int, primary key(ITEM_ID, ITEM_SET_ID))

insert into @t 
select distinct tis.ITEM_ID, tis.ITEM_SET_ID, tis.CONTACT_ID 
from TB_ITEM_REVIEW ir
inner join TB_ITEM_SET tis on ir.REVIEW_ID = @REVIEW_ID and tis.ITEM_ID = ir.ITEM_ID and ir.IS_DELETED = 0 and tis.IS_COMPLETED = 1 and tis.SET_ID = @SET_ID
 where REVIEW_ID = @REVIEW_ID 

SELECT SET_NAME, s.SET_ID, t.CONTACT_ID, CONTACT_NAME, COUNT(DISTINCT t.ITEM_ID) AS TOTAL
	FROM @t t inner join TB_CONTACT c on t.CONTACT_ID = c.CONTACT_ID
	inner join TB_SET s on s.SET_ID = @SET_ID
	GROUP BY s.SET_ID, SET_NAME, t.CONTACT_ID, CONTACT_NAME

--SELECT SET_NAME, TB_ITEM_SET.SET_ID, TB_ITEM_SET.CONTACT_ID, CONTACT_NAME, COUNT(DISTINCT TB_ITEM_SET.ITEM_ID) AS TOTAL
--FROM TB_ITEM_SET
--INNER JOIN TB_REVIEW_SET ON TB_REVIEW_SET.SET_ID = TB_ITEM_SET.SET_ID
--INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.REVIEW_ID = TB_REVIEW_SET.REVIEW_ID AND TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_SET.ITEM_ID
--INNER JOIN TB_SET ON TB_SET.SET_ID = TB_ITEM_SET.SET_ID
--INNER JOIN TB_CONTACT ON TB_CONTACT.CONTACT_ID = TB_ITEM_SET.CONTACT_ID
--WHERE TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID AND TB_ITEM_SET.IS_COMPLETED = 'TRUE' and IS_DELETED = 'FALSE'
--	AND TB_ITEM_SET.SET_ID = @SET_ID
--GROUP BY TB_ITEM_SET.SET_ID, SET_NAME, TB_ITEM_SET.CONTACT_ID, CONTACT_NAME

SET NOCOUNT OFF

GO

USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ReviewStatisticsCodeSetsComplete]    Script Date: 11/10/2023 14:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[st_ReviewStatisticsCodeSetsComplete]
(
	@REVIEW_ID INT
)
with recompile
As

SET NOCOUNT ON

declare @t1 table (SET_ID int primary key, SET_NAME nvarchar(255))

insert into @t1 select distinct s.SET_ID , s.SET_NAME 
	FROM TB_SET s
	inner join TB_REVIEW_SET rs on rs.SET_ID = s.SET_ID and rs.REVIEW_ID = @REVIEW_ID

declare @t2 table (ITEM_ID bigint primary key)

insert into @t2 select distinct ITEM_ID from TB_ITEM_REVIEW where REVIEW_ID = @REVIEW_ID and IS_DELETED = 'FALSE'

 select SET_NAME, t1.SET_ID, COUNT(DISTINCT t2.ITEM_ID) AS TOTAL
	From @t1 t1 inner join TB_ITEM_SET tis on tis.SET_ID = t1.SET_ID AND tis.IS_COMPLETED = 'TRUE'
	INNER JOIN @t2 t2 ON t2.ITEM_ID = tis.ITEM_ID 
	GROUP BY t1.SET_ID, SET_NAME


--SELECT SET_NAME, TB_ITEM_SET.SET_ID, COUNT(DISTINCT TB_ITEM_SET.ITEM_ID) AS TOTAL
--FROM TB_ITEM_SET
--INNER JOIN TB_REVIEW_SET ON TB_REVIEW_SET.SET_ID = TB_ITEM_SET.SET_ID
--	and TB_REVIEW_SET.REVIEW_ID = -1
--INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.REVIEW_ID = TB_REVIEW_SET.REVIEW_ID AND TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_SET.ITEM_ID
--INNER JOIN TB_SET ON TB_SET.SET_ID = TB_ITEM_SET.SET_ID
--WHERE TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID AND TB_ITEM_SET.IS_COMPLETED = 'TRUE' AND IS_DELETED = 'FALSE'
--GROUP BY TB_ITEM_SET.SET_ID, SET_NAME

SET NOCOUNT OFF
GO

USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ReviewStatisticsCodeSetsIncomplete]    Script Date: 11/10/2023 18:16:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[st_ReviewStatisticsCodeSetsIncomplete]
(
	@REVIEW_ID INT
)
--WITH RECOMPILE
As

SET NOCOUNT ON

declare @t1 table (SET_ID int primary key, SET_NAME nvarchar(255))

insert into @t1 select distinct s.SET_ID , s.SET_NAME 
	FROM TB_SET s
	inner join TB_REVIEW_SET rs on rs.SET_ID = s.SET_ID and rs.REVIEW_ID = @REVIEW_ID

declare @t2 table (ITEM_ID bigint primary key)

insert into @t2 select distinct ITEM_ID from TB_ITEM_REVIEW where REVIEW_ID = @REVIEW_ID and IS_DELETED = 'FALSE'

SELECT SET_NAME, SET_ID, COUNT(DISTINCT ITEM_ID) AS TOTAL
FROM 
(
	SELECT SET_NAME AS SET_NAME, IS1.SET_ID, IS1.ITEM_ID FROM 
	TB_ITEM_SET IS1
	INNER JOIN TB_REVIEW_SET ON TB_REVIEW_SET.SET_ID = IS1.SET_ID 
	INNER JOIN @t2 t2 ON t2.ITEM_ID = IS1.ITEM_ID
	INNER JOIN @t1 t1 ON t1.SET_ID = IS1.SET_ID AND IS1.IS_COMPLETED = 'FALSE'
	
	EXCEPT
	
	SELECT SET_NAME, IS2.SET_ID, IS2.ITEM_ID
	FROM TB_ITEM_SET IS2
	INNER JOIN @t2 t2 ON t2.ITEM_ID = IS2.ITEM_ID 
	INNER JOIN @t1 t1 ON t1.SET_ID = IS2.SET_ID AND IS2.IS_COMPLETED = 'TRUE'
) AS X

GROUP BY SET_ID, SET_NAME


--SELECT SET_NAME, SET_ID, COUNT(DISTINCT ITEM_ID) AS TOTAL
--FROM 
--(
--	SELECT SET_NAME AS SET_NAME, IS1.SET_ID, IS1.ITEM_ID FROM 
--	TB_ITEM_SET IS1
--	INNER JOIN TB_REVIEW_SET ON TB_REVIEW_SET.SET_ID = IS1.SET_ID  
--		And TB_REVIEW_SET.review_id = -1
--	INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.REVIEW_ID = TB_REVIEW_SET.REVIEW_ID AND TB_ITEM_REVIEW.ITEM_ID = IS1.ITEM_ID
--	INNER JOIN TB_SET ON TB_SET.SET_ID = IS1.SET_ID
--	WHERE TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID AND IS1.IS_COMPLETED = 'FALSE' AND IS_DELETED != 'TRUE'
	
--	EXCEPT
	
--	SELECT SET_NAME, IS2.SET_ID, IS2.ITEM_ID
--	FROM TB_ITEM_SET IS2
--	INNER JOIN TB_ITEM_REVIEW IR2 ON IR2.ITEM_ID = IS2.ITEM_ID AND IR2.REVIEW_ID = @REVIEW_ID AND IS_DELETED != 'TRUE' 
--		And IR2.review_id = -1
--	INNER JOIN TB_SET ON TB_SET.SET_ID = IS2.SET_ID
--	WHERE IS2.IS_COMPLETED = 'TRUE'
--) AS X

--GROUP BY SET_ID, SET_NAME


/*
SELECT SET_NAME, IS1.SET_ID, COUNT(DISTINCT IS1.ITEM_ID) AS TOTAL
FROM TB_ITEM_SET IS1
INNER JOIN TB_REVIEW_SET ON TB_REVIEW_SET.SET_ID = IS1.SET_ID
INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.REVIEW_ID = TB_REVIEW_SET.REVIEW_ID AND TB_ITEM_REVIEW.ITEM_ID = IS1.ITEM_ID
INNER JOIN TB_SET ON TB_SET.SET_ID = IS1.SET_ID
WHERE TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID AND IS1.IS_COMPLETED = 'FALSE'
AND NOT IS1.ITEM_ID IN
(
	SELECT IS2.ITEM_ID
	FROM TB_ITEM_SET IS2
	INNER JOIN TB_ITEM_REVIEW IR2 ON IR2.ITEM_ID = IS2.ITEM_ID AND IR2.REVIEW_ID = @REVIEW_ID
	WHERE IS2.IS_COMPLETED = 'TRUE' AND IS2.SET_ID = IS1.SET_ID
)
GROUP BY IS1.SET_ID, SET_NAME
*/

SET NOCOUNT OFF

GO

CREATE OR ALTER procedure [dbo].[st_ReviewStatisticsAllCodeSets]
(
	@REVIEW_ID INT
)
with recompile
As

SET NOCOUNT ON
--First, all sets in review
Select s.* from TB_SET s Inner Join TB_REVIEW_SET rs on rs.SET_ID = s.SET_ID and rs.REVIEW_ID = @REVIEW_ID order by rs.SET_ORDER

--Second, all people with coding records in the review
Select distinct c.CONTACT_ID, c.CONTACT_NAME from TB_REVIEW_SET rs  
	Inner join tb_item_set tis on rs.SET_ID = tis.SET_ID and rs.REVIEW_ID = @REVIEW_ID
	Inner join TB_ITEM_REVIEW ir on tis.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID and ir.IS_DELETED = 0
	inner join TB_CONTACT c on tis.CONTACT_ID = c.CONTACT_ID 

--Third, all coding data ordered in a way that allows to produce all figures as we read this BIG results set
Select s.SET_ID, ir.ITEM_ID, tis.IS_COMPLETED, tis.CONTACT_ID from TB_SET s 
	Inner Join TB_REVIEW_SET rs on rs.SET_ID = s.SET_ID and rs.REVIEW_ID = @REVIEW_ID
	Inner join tb_item_set tis on rs.SET_ID = tis.SET_ID
	Inner join TB_ITEM_REVIEW ir on tis.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID and ir.IS_DELETED = 0
	inner join TB_CONTACT c on tis.CONTACT_ID = c.CONTACT_ID
	order by s.SET_ID, ir.ITEM_ID, tis.IS_COMPLETED desc

SET NOCOUNT OFF
GO