Use Reviewer
GO

IF COL_LENGTH('dbo.TB_REVIEW', 'ENABLE_COMPARISON_IN_CODING_ONLY') IS NULL
BEGIN
	ALTER TABLE TB_REVIEW ADD ENABLE_COMPARISON_IN_CODING_ONLY Bit NOT NULL
	CONSTRAINT D_ENABLE_COMPARISON_IN_CODING_ONLY
    DEFAULT (0)
END
GO
USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ReviewInfoUpdate]    Script Date: 24/09/2024 11:42:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   procedure [dbo].[st_ReviewInfoUpdate]
(
	@REVIEW_ID int
,	@SCREENING_CODE_SET_ID int
,	@SCREENING_MODE nvarchar(10)
,	@SCREENING_RECONCILLIATION nvarchar(10)
,	@SCREENING_WHAT_ATTRIBUTE_ID bigint
,	@SCREENING_N_PEOPLE int
,	@SCREENING_AUTO_EXCLUDE bit
,	@MAG_ENABLED INT
,	@SHOW_SCREENING bit
,	@ENABLE_COMPARISON_IN_CODING_ONLY bit
) 

As

SET NOCOUNT ON

UPDATE TB_REVIEW
	SET SCREENING_CODE_SET_ID = @SCREENING_CODE_SET_ID
,		SCREENING_MODE = @SCREENING_MODE
,		SCREENING_RECONCILLIATION = @SCREENING_RECONCILLIATION
,		SCREENING_WHAT_ATTRIBUTE_ID = @SCREENING_WHAT_ATTRIBUTE_ID
,		SCREENING_N_PEOPLE = @SCREENING_N_PEOPLE
,		SCREENING_AUTO_EXCLUDE = @SCREENING_AUTO_EXCLUDE
,		MAG_ENABLED = @MAG_ENABLED
,		SHOW_SCREENING = @SHOW_SCREENING
,		ENABLE_COMPARISON_IN_CODING_ONLY = @ENABLE_COMPARISON_IN_CODING_ONLY
WHERE REVIEW_ID = @REVIEW_ID
	

SET NOCOUNT OFF
GO