USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ItemTimepointList]    Script Date: 19/02/2025 14:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_ItemTimepointList]
(
    @REVIEW_ID INT,
    @ITEM_ID BIGINT
)
As

SET NOCOUNT ON

    SELECT TB_ITEM_TIMEPOINT.ITEM_ID, ITEM_TIMEPOINT_ID, TIMEPOINT_VALUE, TIMEPOINT_METRIC,
        CASE
            WHEN TIMEPOINT_METRIC = 'seconds'	THEN TIMEPOINT_VALUE
            WHEN TIMEPOINT_METRIC = 'minutes'	THEN TIMEPOINT_VALUE * 60
            WHEN TIMEPOINT_METRIC = 'hours'		THEN TIMEPOINT_VALUE * 3600
            WHEN TIMEPOINT_METRIC = 'days'		THEN TIMEPOINT_VALUE * 86400
            WHEN TIMEPOINT_METRIC = 'weeks'		THEN TIMEPOINT_VALUE * 604800
            WHEN TIMEPOINT_METRIC = 'months'	THEN TIMEPOINT_VALUE * 2592000
            WHEN TIMEPOINT_METRIC = 'years'		THEN TIMEPOINT_VALUE * 31557600
        END AS TimepointVal
    
    FROM TB_ITEM_TIMEPOINT
        INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_TIMEPOINT.ITEM_ID
        WHERE REVIEW_ID = @REVIEW_ID
        AND TB_ITEM_TIMEPOINT.ITEM_ID = @ITEM_ID
        ORDER BY TimepointVal

SET NOCOUNT OFF
GO