USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_RobotApiJobFetchNextCreditTasksByRobotName]    Script Date: 12/05/2025 15:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[st_RobotApiJobFetchNextCreditTasksByRobotName]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[st_RobotApiJobFetchNextCreditTasksByRobotName]
GO



CREATE or ALTER   PROCEDURE [dbo].[st_RobotApiJobFetchNextCreditTasks] 
AS
BEGIN

	select l.*, rc.CONTACT_ID as ROBOT_CONTACT_ID, rc.CONTACT_NAME as [ROBOT_NAME], c.CONTACT_NAME from TB_ROBOT_API_CALL_LOG l
		inner join TB_CONTACT c on l.CONTACT_ID = c.CONTACT_ID
		inner join TB_ROBOT_ACCOUNT ra on ra.ROBOT_ID = l.ROBOT_ID
		inner join TB_CONTACT rc on ra.CONTACT_ID = rc.CONTACT_ID
		where (STATUS = 'Queued' OR STATUS = 'Paused' OR STATUS = 'Running')
		order by l.DATE_CREATED asc
END
GO

ALTER     PROCEDURE [dbo].[st_RobotApiTopQueuedJobs] 
AS
BEGIN

	SELECT top 5000 l.*, ra.CONTACT_ID as ROBOT_CONTACT_ID, rc.CONTACT_NAME as [ROBOT_NAME], c.CONTACT_NAME from TB_ROBOT_API_CALL_LOG l
		inner join TB_CONTACT c on c.CONTACT_ID = l.CONTACT_ID
		inner join TB_ROBOT_ACCOUNT ra on ra.ROBOT_ID = l.ROBOT_ID
		inner join TB_CONTACT rc on ra.CONTACT_ID = rc.CONTACT_ID
		where ([STATUS] != 'Finished' AND [STATUS] != 'Failed' AND [STATUS] != 'Failed(automated)'  AND [STATUS] != 'Cancelled(manually)')
		order by ROBOT_API_CALL_ID desc;
	
END

GO

ALTER   PROCEDURE [dbo].[st_RobotApiPastJobs] 
(
	@REVIEW_ID int,
	@CONTACT_ID int,
	@isSiteAdmin bit = 0
)
AS
BEGIN
	
	if @isSiteAdmin = 0
	begin
		SELECT l.*, rc.CONTACT_ID as ROBOT_CONTACT_ID, rc.CONTACT_NAME as [ROBOT_NAME], c.CONTACT_NAME from TB_ROBOT_API_CALL_LOG l
			inner join TB_CONTACT c on l.CONTACT_ID = c.CONTACT_ID
			inner join TB_ROBOT_ACCOUNT ra on ra.ROBOT_ID = l.ROBOT_ID
			inner join TB_CONTACT rc on ra.CONTACT_ID = rc.CONTACT_ID
			where 
			(REVIEW_ID = @REVIEW_ID OR l.CONTACT_ID = @CONTACT_ID)
			AND
			([STATUS] = 'Finished' OR [STATUS] = 'Failed' OR [STATUS] = 'Failed(automated)' OR [STATUS] = 'Cancelled(manually)')
			order by ROBOT_API_CALL_ID desc;
		SELECT e.* from TB_ROBOT_API_CALL_LOG l
			inner join TB_ROBOT_API_CALL_ERROR_LOG e on l.ROBOT_API_CALL_ID = e.ROBOT_API_CALL_ID
			where 
			(REVIEW_ID = @REVIEW_ID OR CONTACT_ID = @CONTACT_ID)
			AND
			([STATUS] = 'Finished' OR [STATUS] = 'Failed' OR [STATUS] = 'Failed(automated)' OR [STATUS] = 'Cancelled(manually)')
			order by l.ROBOT_API_CALL_ID desc;
	END
	else
	BEGIN
		declare @chk int = (SELECT count(*) from TB_CONTACT where CONTACT_ID = @CONTACT_ID and IS_SITE_ADMIN = 1)
		if @chk < 1 return;
		SELECT l.*, rc.CONTACT_ID as ROBOT_CONTACT_ID, rc.CONTACT_NAME as [ROBOT_NAME], c.CONTACT_NAME from TB_ROBOT_API_CALL_LOG l
			inner join TB_CONTACT c on l.CONTACT_ID = c.CONTACT_ID
			inner join TB_ROBOT_ACCOUNT ra on ra.ROBOT_ID = l.ROBOT_ID
			inner join TB_CONTACT rc on ra.CONTACT_ID = rc.CONTACT_ID
			where 
			([STATUS] = 'Finished' OR [STATUS] = 'Failed' OR [STATUS] = 'Failed(automated)' OR [STATUS] = 'Cancelled(manually)')
			order by ROBOT_API_CALL_ID desc;
		SELECT e.* from TB_ROBOT_API_CALL_LOG l
			inner join TB_ROBOT_API_CALL_ERROR_LOG e on l.ROBOT_API_CALL_ID = e.ROBOT_API_CALL_ID
			where 
			([STATUS] = 'Finished' OR [STATUS] = 'Failed' OR [STATUS] = 'Failed(automated)' OR [STATUS] = 'Cancelled(manually)')
			order by l.ROBOT_API_CALL_ID desc;
	END

END
GO
