USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_RobotCoderList]    Script Date: 20/05/2025 14:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE OR ALTER   PROCEDURE [dbo].[st_RobotCoderForSale] 
(
	@RobotId int
)
AS
BEGIN
	
	declare @toSplit varchar(2000) = (select FOR_SALE_IDs from TB_ROBOT_ACCOUNT where ROBOT_ID = @RobotId)

	Select * from sTB_FOR_SALE fs inner join dbo.fn_Split_int(@toSplit, ',') s on fs.FOR_SALE_ID = s.value
	ORDER by idx

END
GO