USE [Reviewer]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_REBUILD_AUTHORS]    Script Date: 19/06/2025 11:36:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- De-normalising Authors function ByS --

ALTER FUNCTION  [dbo].[fn_REBUILD_AUTHORS]

(

@id bigint,
@role tinyint = 0

)

RETURNS nvarchar(max)

   

    BEGIN

        declare @res nvarchar(max)

        declare @res2 nvarchar(max)

        DECLARE cr CURSOR FAST_FORWARD FOR SELECT [LAST] + ' ' + [FIRST] + ' ' + [SECOND]

        FROM [tb_ITEM_AUTHOR]  where item_id = @id AND ROLE = @role

        ORDER BY [RANK]

        open cr

        set @res = ''

        FETCH NEXT FROM cr INTO @res2

        WHILE @@FETCH_STATUS = 0

        BEGIN

                Set @res = @res  + RTRIM(@res2)

                FETCH NEXT FROM cr INTO @res2

                set @res = @res + '; '

                END
		CLOSE cr
	    DEALLOCATE cr

        return @res

    END;

-- END OF: De-normalising function ByS --
GO