USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_SearchItems]    Script Date: 24/06/2025 15:53:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[st_SearchFromCurrentPSlist]
(
	@SEARCH_ID int = null output
,	@CONTACT_ID nvarchar(50) = null
,	@REVIEW_ID nvarchar(50) = null
,	@SEARCH_TITLE varchar(4000) = null

)
AS
	--Check - do we have data to create?
	declare @trainingId int = (select max(TRAINING_ID) from TB_TRAINING where REVIEW_ID = @REVIEW_ID and TRUE_POSITIVES is not null);
	if (@trainingId is null) return;

	-- Step One: Insert record into tb_SEARCH
	EXECUTE st_SearchInsert @REVIEW_ID, @CONTACT_ID, @SEARCH_TITLE, 'Converted PS list', '', @NEW_SEARCH_ID = @SEARCH_ID OUTPUT;

	-- Step 2: insert actual results	
	INSERT INTO tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
	SELECT DISTINCT  ti.ITEM_ID, @SEARCH_ID, CAST(ROUND(ti.SCORE * 1000.0, 0) as int) FROM TB_ITEM_REVIEW ir
		INNER JOIN TB_TRAINING_ITEM ti on ti.TRAINING_ID = @trainingId and ti.ITEM_ID = ir.ITEM_ID
		and ir.REVIEW_ID = @REVIEW_ID	
	--the conversion above generates ITEM_RANK numbers between 0 and 1000, but to remain consistent to assumptions made in downstream functions, we need 0 to 999, so we correct it
	UPDATE TB_SEARCH_ITEM set ITEM_RANK = 999 where ITEM_RANK = 1000 and SEARCH_ID = @SEARCH_ID

	-- Step Three: Update the new search record in tb_SEARCH with the number of records added
	UPDATE tb_SEARCH SET HITS_NO = @@ROWCOUNT, IS_CLASSIFIER_RESULT = 1 WHERE SEARCH_ID = @SEARCH_ID
GO

USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_SearchVisualise]    Script Date: 24/06/2025 17:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_SearchVisualise]
(
	@SEARCH_ID INT
)

As

SET NOCOUNT ON

	DECLARE @VALS TABLE
(
	VAL INT
,	TITLE NVARCHAR(10)
)

declare @step int = 10;
if (select Answers from TB_SEARCH where SEARCH_ID = @SEARCH_ID) = 'Converted PS list' set @step = 100;

if @step = 10
begin
	INSERT INTO @VALS (VAL, TITLE)
	VALUES (0, '0-9'), (10, '10-19'), (20, '20-29'), (30, '30-39'), (40, '40-49'), (50, '50-59'), (60, '60-69'), (70, '70-79'), (80, '80-89'), (90, '90-99');
end
else 
begin
	--must be search created from a PS or similar, which goes from 0 to 999 (or 1000?)
	INSERT INTO @VALS (VAL, TITLE)
	VALUES (0, '0-99'), (100, '100-199'), (200, '200-299'), (300, '300-399'), (400, '400-499'), (500, '500-599'), (600, '600-699'), (700, '700-799'), (800, '800-899'), (900, '900-999');
end
SELECT VAL, TITLE,
	(SELECT COUNT(*) FROM TB_SEARCH_ITEM WHERE 
	[ITEM_RANK] >= VAL AND [ITEM_RANK] < VAL + @step AND SEARCH_ID = @SEARCH_ID) AS NUM
FROM @VALS;

SET NOCOUNT OFF
GO


USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ItemAttributeBulkAssignCodesFromMLsearchResults]    Script Date: 25/06/2025 11:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[st_ItemAttributeBulkAssignCodesFromMLsearchResults]
	-- Add the parameters for the stored procedure here
	@SearchID int,
	@revID int,
	@ParentAttributeID bigint,
	@SetID int,
	@SearchName nvarchar(4000),
	@ContactID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Phases: 1. create codes using st_AttributeSetInsert
    -- 2. fetch IDs (comma separated) for each bucket
    -- 3. assign items to new codes via st_ItemAttributeBulkInsert
	-- repeat 2 and 3 for each bucket.
	
	--stuff we'll need:
	declare @NEW_ATTRIBUTE_SET_ID bigint ,@NEW_ATTRIBUTE_ID_1 bigint
			,@NEW_ATTRIBUTE_ID_2 bigint
			,@NEW_ATTRIBUTE_ID_3 bigint
			,@NEW_ATTRIBUTE_ID_4 bigint
			,@NEW_ATTRIBUTE_ID_5 bigint
			,@NEW_ATTRIBUTE_ID_6 bigint
			,@NEW_ATTRIBUTE_ID_7 bigint
			,@NEW_ATTRIBUTE_ID_8 bigint
			,@NEW_ATTRIBUTE_ID_9 bigint
			,@NEW_ATTRIBUTE_ID_10 bigint
	declare @IDs varchar(MAX)		
	
	--1. create codes using st_AttributeSetInsert
	
	--first of all find the order...
	declare @order int = (select MAX(ATTRIBUTE_ORDER) from TB_ATTRIBUTE_SET where SET_ID = @SetID and PARENT_ATTRIBUTE_ID = @ParentAttributeID)
	IF @order = null set @order = 0
	set @SearchName = 'FROM: ' + @SearchName --used as code description
	
	--create codes & take IDs
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'0-9% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_1 OUTPUT
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'10-19% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_2 OUTPUT
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'20-29% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_3 OUTPUT
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'30-39% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_4 OUTPUT
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'40-49% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_5 OUTPUT
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'50-59% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_6 OUTPUT
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'60-69% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_7 OUTPUT
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'70-79% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_8 OUTPUT
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'80-89% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_9 OUTPUT
	set @order  = @order + 1
	EXECUTE [st_AttributeSetInsert] 
	   @SetID
	  ,@ParentAttributeID
	  ,1
	  ,@SearchName
	  ,@order
	  ,'90-99% range'
	  ,NULL
	  ,@ContactID
	  ,NULL
	  ,@NEW_ATTRIBUTE_SET_ID = @NEW_ATTRIBUTE_SET_ID OUTPUT
	  ,@NEW_ATTRIBUTE_ID = @NEW_ATTRIBUTE_ID_10 OUTPUT
	
	

	--before 2: figure out what needs doing
	declare @step int = 10;--default case, using an ML list with values from 0 to 99
	declare @currentMin int = 0;
	if (select Answers from TB_SEARCH where SEARCH_ID = @SearchID) = 'Converted PS list' set @step = 100;

	--2. fetch IDs (comma separated) for each bucket
	Declare @Items table (ItemID bigint primary key)
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		--3. Bulk insert
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_1,
			@IDs,
			'',
			@revID
	END
	--cleanup & move to the next interval (2 of 10) [1 of 10 was implicit in our starting conditions]
	DELETE from @Items;
	set @currentMin = @currentMin + @step;
	--REPEAT until all 10 codes are populated
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_2,
			@IDs,
			'',
			@revID
	END
	--cleanup & move to the next interval (3 of 10)
	DELETE from @Items;
	set @currentMin = @currentMin + @step;

	--REPEAT until all 10 codes are populated
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_3,
			@IDs,
			'',
			@revID
	END
	--cleanup & move to the next interval (4 of 10)
	DELETE from @Items;
	set @currentMin = @currentMin + @step;

	--REPEAT until all 10 codes are populated
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_4,
			@IDs,
			'',
			@revID
	END
	--cleanup & move to the next interval (5 of 10)
	DELETE from @Items;
	set @currentMin = @currentMin + @step;

	--REPEAT until all 10 codes are populated
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_5,
			@IDs,
			'',
			@revID
	END
	--cleanup & move to the next interval (6 of 10)
	DELETE from @Items;
	set @currentMin = @currentMin + @step;

	--REPEAT until all 10 codes are populated
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_6,
			@IDs,
			'',
			@revID
	END
	--cleanup & move to the next interval (7 of 10)
	DELETE from @Items;
	set @currentMin = @currentMin + @step;

	--REPEAT until all 10 codes are populated
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_7,
			@IDs,
			'',
			@revID
	END
	--cleanup & move to the next interval (8 of 10)
	DELETE from @Items;
	set @currentMin = @currentMin + @step;

	--REPEAT until all 10 codes are populated
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_8,
			@IDs,
			'',
			@revID
	END
	--cleanup & move to the next interval (9 of 10)
	DELETE from @Items;
	set @currentMin = @currentMin + @step;

	--REPEAT until all 10 codes are populated
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_9,
			@IDs,
			'',
		@revID
	END
	--cleanup & move to the next interval (10 of 10)
	DELETE from @Items;
	set @currentMin = @currentMin + @step;

	--FINAL REPEAT 
	Insert into @Items select ITEM_ID FROM TB_SEARCH_ITEM WHERE 
		[ITEM_RANK] >= @currentMin AND [ITEM_RANK] < @currentMin + @step AND SEARCH_ID = @SearchID
	set @IDs  = ''
	select @IDs = @IDs + ',' + CONVERT(nvarchar(100), ItemID) from @Items
	IF LEN(@IDs) > 2
	BEGIN
		SET @IDs = RIGHT(@IDs, LEN(@IDs)-1)
		exec st_ItemAttributeBulkInsert @SetID,
			1,
			@ContactID,
			@NEW_ATTRIBUTE_ID_10,
			@IDs,
			'',
			@revID
	END
	--cleanup
	DELETE from @Items
	--DONE
END
GO