USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_SearchFromCurrentPSlist]    Script Date: 02/07/2025 16:13:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[st_SearchFromCurrentPSlist]
(
	@SEARCH_ID int = null output
,	@CONTACT_ID nvarchar(50) = null
,	@REVIEW_ID nvarchar(50) = null
,	@SEARCH_TITLE varchar(4000) = null

)
AS
	--Check - do we have data to create?
	declare @trainingId int = (select max(TRAINING_ID) from TB_TRAINING where REVIEW_ID = @REVIEW_ID and TRUE_POSITIVES is not null);
	if (@trainingId is null) return;

	-- Step One: Insert record into tb_SEARCH
	EXECUTE st_SearchInsert @REVIEW_ID, @CONTACT_ID, @SEARCH_TITLE, 'Converted PS list', '', @NEW_SEARCH_ID = @SEARCH_ID OUTPUT;

	-- Step 2: insert actual results	
	INSERT INTO tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
	SELECT DISTINCT  ti.ITEM_ID, @SEARCH_ID, CAST(ROUND(ti.SCORE * 1000.0, 0) as int) FROM TB_ITEM_REVIEW ir
		INNER JOIN TB_TRAINING_ITEM ti on ti.TRAINING_ID = @trainingId and ti.ITEM_ID = ir.ITEM_ID
		and ir.REVIEW_ID = @REVIEW_ID

	declare @rows int = @@ROWCOUNT	
	--the conversion above generates ITEM_RANK numbers between 0 and 1000, but to remain consistent to assumptions made in downstream functions, we need 0 to 999, so we correct it
	UPDATE TB_SEARCH_ITEM set ITEM_RANK = 999 where ITEM_RANK = 1000 and SEARCH_ID = @SEARCH_ID

	-- Step Three: Update the new search record in tb_SEARCH with the number of records added
	UPDATE tb_SEARCH SET HITS_NO = @rows, IS_CLASSIFIER_RESULT = 1 WHERE SEARCH_ID = @SEARCH_ID

GO

