USE [Reviewer]
GO
IF COL_LENGTH('dbo.TB_TRAINING_FROM_SEARCH', 'SEARCH_ID') IS NULL
BEGIN
	ALTER TABLE dbo.TB_TRAINING_FROM_SEARCH ADD
		SEARCH_ID int null

	ALTER TABLE dbo.TB_TRAINING_FROM_SEARCH ADD CONSTRAINT
	FK_TB_TRAINING_FROM_SEARCH_TB_SEARCH FOREIGN KEY
	(
	SEARCH_ID
	) REFERENCES dbo.TB_SEARCH
	(
	SEARCH_ID
	) ON UPDATE  SET NULL 
	 ON DELETE  SET NULL 

	ALTER TABLE dbo.TB_TRAINING_FROM_SEARCH
	NOCHECK CONSTRAINT FK_TB_TRAINING_FROM_SEARCH_TB_SEARCH
END
GO

USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_TrainingNextItem]    Script Date: 05/08/2025 10:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_TrainingNextItem]
(
	@REVIEW_ID INT,
	@CONTACT_ID INT,
	@TRAINING_CODE_SET_ID INT,
	@SIMULATE bit = 0,
	@USE_LIST_FROM_SEARCH bit = 0
)

As

SET NOCOUNT ON

	DECLARE @CURRENT_TRAINING_ID INT, @CURRENT_TRAINING_FS_ID int
	Declare @ListedItems TABLE(TRAINING_ITEM_ID int, ITEM_ID bigint, RANK int, CODED_COUNT int null)

	--normal PS queue
	SELECT @CURRENT_TRAINING_ID = MAX(TRAINING_ID) FROM TB_TRAINING
			WHERE REVIEW_ID = @REVIEW_ID
			AND TIME_STARTED < TIME_ENDED
	--queue created from a search
	SELECT @CURRENT_TRAINING_FS_ID = MAX(TRAINING_FS_ID) FROM TB_TRAINING_FROM_SEARCH
			WHERE REVIEW_ID = @REVIEW_ID

	--To start, lets remove ALL stale locks - in two places (2nd place was added July 2025)
	--we need to add/remove locks in both lists always, as if one item is assigned to someone, it has to be assigned to that someone everywhere
	Update TB_TRAINING_ITEM SET CONTACT_ID_CODING = 0, WHEN_LOCKED = NULL
				WHERE TRAINING_ID = @CURRENT_TRAINING_ID AND CONTACT_ID_CODING > 0 and WHEN_LOCKED < DATEADD(hour, -13, GETDATE())
	Update TB_TRAINING_FROM_SEARCH_ITEM SET CONTACT_ID_CODING = 0, WHEN_LOCKED = NULL
				WHERE TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID AND CONTACT_ID_CODING > 0 and WHEN_LOCKED < DATEADD(hour, -13, GETDATE())

	
	-- IF/ELSE ADDED JULY 2025 - depending on what list we're using!!
	IF @USE_LIST_FROM_SEARCH = 0
	BEGIN 
		--GET the ITEM_ID you need to LOCK (for reuse) This isn't straightfoward as it needs to follow the rules implied in the Sreening tab settings!
	
		--insert into table var the items that current user might need to see (excluding the SCREENING_N_PEOPLE setting), that is:
		--those that are not locked by someone else  [AND (ti.CONTACT_ID_CODING = @CONTACT_ID OR ti.CONTACT_ID_CODING = 0)]
		--AND are not [AND tisSel.ITEM_SET_ID is NULL] (already completed OR coded by curr user) [and (tisSel.IS_COMPLETED = 1 OR tisSel.CONTACT_ID = @CONTACT_ID)]
		INSERT into @ListedItems 
			select TRAINING_ITEM_ID , ti.ITEM_ID , RANK , count(tisC.ITEM_SET_ID) as CODED_COUNT FROM
			TB_TRAINING_ITEM ti 
			LEFT OUTER JOIN TB_ITEM_SET tisSel on ti.ITEM_ID = tisSel.ITEM_ID and tisSel.SET_ID = @TRAINING_CODE_SET_ID 
				and (tisSel.IS_COMPLETED = 1 OR tisSel.CONTACT_ID = @CONTACT_ID)
			LEFT OUTER JOIN TB_ITEM_SET tisC on ti.ITEM_ID = tisC.ITEM_ID and tisC.SET_ID = @TRAINING_CODE_SET_ID
			where @CURRENT_TRAINING_ID = ti.TRAINING_ID AND tisSel.ITEM_SET_ID is NULL
			AND (ti.CONTACT_ID_CODING = @CONTACT_ID OR ti.CONTACT_ID_CODING = 0)
			GROUP BY TRAINING_ITEM_ID , ti.ITEM_ID , RANK
		END
	ELSE --added July 2025
	BEGIN
		--GET the ITEM_ID you need to LOCK (for reuse) This isn't straightfoward as it needs to follow the rules implied in the Sreening tab settings!
			
		--insert into table var the items that current user might need to see (excluding the SCREENING_N_PEOPLE setting), that is:
		--those that are not locked by someone else  [AND (ti.CONTACT_ID_CODING = @CONTACT_ID OR ti.CONTACT_ID_CODING = 0)]
		--AND are not [AND tisSel.ITEM_SET_ID is NULL] (already completed OR coded by curr user) [and (tisSel.IS_COMPLETED = 1 OR tisSel.CONTACT_ID = @CONTACT_ID)]
		INSERT into @ListedItems 
			select TRAINING_FS_ITEM_ID , ti.ITEM_ID , RANK , count(tisC.ITEM_SET_ID) as CODED_COUNT FROM
			TB_TRAINING_FROM_SEARCH_ITEM ti 
			LEFT OUTER JOIN TB_ITEM_SET tisSel on ti.ITEM_ID = tisSel.ITEM_ID and tisSel.SET_ID = @TRAINING_CODE_SET_ID 
				and (tisSel.IS_COMPLETED = 1 OR tisSel.CONTACT_ID = @CONTACT_ID)
			LEFT OUTER JOIN TB_ITEM_SET tisC on ti.ITEM_ID = tisC.ITEM_ID and tisC.SET_ID = @TRAINING_CODE_SET_ID
			where @CURRENT_TRAINING_FS_ID = ti.TRAINING_FS_ID AND tisSel.ITEM_SET_ID is NULL
			AND (ti.CONTACT_ID_CODING = @CONTACT_ID OR ti.CONTACT_ID_CODING = 0)
			GROUP BY TRAINING_FS_ITEM_ID , ti.ITEM_ID , RANK
		
	END
--SELECT * from @ListedItems
--SELECT * from @ListedItems where CODED_COUNT < (select SCREENING_N_PEOPLE from TB_REVIEW where REVIEW_ID = @REVIEW_ID)

	--So now we 

	-- NEXT, LOCK THE ITEM WE'RE GOING TO SEND BACK
	DECLARE @sendingBackTID int --this could be a TRAINING_ITEM_ID or TRAINING_FS_ITEM_ID, we need to then change it to an actual ITEM_ID
	DECLARE @maxCoders int = 0 
	SELECT @maxCoders = SCREENING_N_PEOPLE from TB_REVIEW where REVIEW_ID = @REVIEW_ID
	IF @maxCoders = 0 OR @maxCoders is null
	BEGIN --We don't care about SCREENING_N_PEOPLE
		select @sendingBackTID = MIN(TRAINING_ITEM_ID) FROM @ListedItems
	END
	ELSE
	BEGIN --We ignore items already screened by enough people, as per SCREENING_N_PEOPLE
		select @sendingBackTID = MIN(TRAINING_ITEM_ID) FROM @ListedItems where CODED_COUNT < @maxCoders
	END
	--remove ambiguity change @sendingBackTID to contain the actual ITEM_ID
	select @sendingBackTID = ITEM_ID from @ListedItems where TRAINING_ITEM_ID = @sendingBackTID
	
	IF @SIMULATE = 0 AND @sendingBackTID is not null AND @sendingBackTID > 0 --we ARE doing it!
	BEGIN
		--we need to do things twice, for both possible lists
		UPDATE TB_TRAINING_ITEM
			SET CONTACT_ID_CODING = @CONTACT_ID, WHEN_LOCKED = CURRENT_TIMESTAMP
			WHERE
			ITEM_ID = @sendingBackTID and TRAINING_ID = @CURRENT_TRAINING_ID
				
		--[SG July 2025] given that we're locking a new item, we can and SHOULD remove all locks assigned to the current user
		--after all, user can only see one item at the time, so having done the UPDATE above, we now know all pre-existing locks for this user are stale.
		Update TB_TRAINING_ITEM SET CONTACT_ID_CODING = 0, WHEN_LOCKED = NULL
			WHERE TRAINING_ID = @CURRENT_TRAINING_ID AND CONTACT_ID_CODING = @CONTACT_ID and ITEM_ID != @sendingBackTID 
		
		--2nd repeat, for new (July 2025) lists created from searches
		UPDATE TB_TRAINING_FROM_SEARCH_ITEM
			SET CONTACT_ID_CODING = @CONTACT_ID, WHEN_LOCKED = CURRENT_TIMESTAMP
			WHERE
			ITEM_ID = @sendingBackTID and TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID
		
		--as above, make sure this person has only one item locked
		Update TB_TRAINING_FROM_SEARCH_ITEM SET CONTACT_ID_CODING = 0, WHEN_LOCKED = NULL
			WHERE TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID AND CONTACT_ID_CODING = @CONTACT_ID and ITEM_ID != @sendingBackTID 
		
	END
	

-- FINALLY, SEND ITEM BACK
	IF @USE_LIST_FROM_SEARCH = 0
	BEGIN
		SELECT TI.TRAINING_ITEM_ID, ITEM_ID, [RANK], TRAINING_ID, CONTACT_ID_CODING, SCORE
			FROM TB_TRAINING_ITEM TI
			WHERE TI.ITEM_ID = @sendingBackTID and TRAINING_ID = @CURRENT_TRAINING_ID
	end
	ELSE
	BEGIN
		SELECT TI.TRAINING_FS_ITEM_ID as TRAINING_ITEM_ID, ITEM_ID, [RANK], TRAINING_FS_ID as TRAINING_ID, CONTACT_ID_CODING, SCORE
			FROM TB_TRAINING_FROM_SEARCH_ITEM TI
			WHERE TI.ITEM_ID = @sendingBackTID and TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID
		if (@SIMULATE = 1)
		BEGIN
		--to tell ReviewInfo about the search used to create this FS screening list
			SELECT * from TB_TRAINING_FROM_SEARCH fs
				left join TB_SEARCH s on fs.SEARCH_ID = s.SEARCH_ID
			where TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID
		END
	END

SET NOCOUNT OFF
GO
USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ScreeningCreate_List_FromSearch]    Script Date: 05/08/2025 13:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     procedure [dbo].[st_ScreeningCreate_List_FromSearch]
(
	@REVIEW_ID INT,
	@CONTACT_ID INT,
	@SEARCH_ID BIGINT,
	@CODE_SET_ID INT,
	@NEW_TRAINING_FS_ID int output
)

As

SET NOCOUNT ON
	-- ***** STEP 0 check that we have correct data
	declare @MaxSize int = (SELECT count(*) from TB_SEARCH s
								Inner join TB_SEARCH_ITEM si on s.SEARCH_ID = @SEARCH_ID and s.SEARCH_ID = si.SEARCH_ID and S.IS_CLASSIFIER_RESULT = 1
								AND s.REVIEW_ID = @REVIEW_ID);
	if (@MaxSize < 1 OR @MaxSize is null)
	BEGIN
		set @NEW_TRAINING_FS_ID = -1;
		return;
	END
	declare @IterationN int = 1 + (SELECT MAX(ITERATION) from TB_TRAINING_FROM_SEARCH where REVIEW_ID = @REVIEW_ID);
	if @IterationN is null set @IterationN = 1;

	DECLARE @TP INT
	DECLARE @TN INT

	-- ***** FIRST, GET THE STATS IN TERMS OF # ITEMS SCREENED TO POPULATE THE TRIANING TABLE (GIVES US THE GRAPH ON THE SCREENING TAB)
	SELECT @TP = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_ITEM_ATTRIBUTE
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 10
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID

	SELECT @TN = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_ITEM_ATTRIBUTE
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 11
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID


	-- ********** SECOND, create new line in TB_TRAINING_FROM_SEARCH
	
	INSERT Into TB_TRAINING_FROM_SEARCH ([CONTACT_ID]
           ,[REVIEW_ID]
           ,[DATE]
           ,[ITERATION]
           ,[TRUE_POSITIVES]
           ,[TRUE_NEGATIVES]
		   ,[SEARCH_ID])
     VALUES
           (@CONTACT_ID
           ,@REVIEW_ID
           ,GETDATE()
           ,@IterationN
           ,@TP
           ,@TN
		   ,@SEARCH_ID)
	set @NEW_TRAINING_FS_ID = SCOPE_IDENTITY();
	-- ********** THIRD, ENTER THE LIST OF ITEMS INTO TB_TRAINING_ITEM ACCORDING TO WHETHER WE'RE FILTERING BY AN ATTRIBUTE OR DOING THE WHOLE REVIEW
	declare @multiplier decimal(10,10);
	declare @MaxRank int = (Select max(ITEM_RANK) from TB_SEARCH_ITEM where SEARCH_ID = @SEARCH_ID)
	if (@MaxRank < 100) set @multiplier = 0.01;
	ELSE if (@MaxRank < 1000) set @multiplier = 0.001;
	ELSE if (@MaxRank < 10000) set @multiplier = 0.0001;
	ELSE if (@MaxRank < 100000) set @multiplier = 0.00001;
	ELSE if (@MaxRank < 1000000) set @multiplier = 0.000001;

	INSERT INTO TB_TRAINING_FROM_SEARCH_ITEM(TRAINING_FS_ID, ITEM_ID, CONTACT_ID_CODING, [RANK], SCORE)
		SELECT @NEW_TRAINING_FS_ID, SI.ITEM_ID, 0, 0, (CAST(SI.ITEM_RANK as decimal (20,10)) * @multiplier)
			FROM TB_SEARCH_ITEM SI
		INNER JOIN TB_ITEM_REVIEW IR ON IR.ITEM_ID = SI.ITEM_ID AND IR.REVIEW_ID = @REVIEW_ID and SI.SEARCH_ID = @SEARCH_ID
		WHERE NOT SI.ITEM_ID IN
			(SELECT ITEM_ID FROM TB_ITEM_SET WHERE IS_COMPLETED = 'TRUE' AND SET_ID = @CODE_SET_ID)
		ORDER BY SI.ITEM_RANK DESC
			
	

	/* SET THE RANKS TO INCREMENT */
	DECLARE @START_INDEX INT = 0
	SELECT @START_INDEX = MIN(TRAINING_FS_ITEM_ID) FROM TB_TRAINING_FROM_SEARCH_ITEM WHERE TRAINING_FS_ID = @NEW_TRAINING_FS_ID
	UPDATE TB_TRAINING_FROM_SEARCH_ITEM
		SET [RANK] = TRAINING_FS_ITEM_ID - @START_INDEX + 1
		WHERE TRAINING_FS_ID = @NEW_TRAINING_FS_ID


	-- FINALLY, MIGRATE ANY NON-STALE CODING LOCKS FROM THE PREVIOUS TRAINING RUN
	DECLARE @LAST_TRAINING_ID INT

	SELECT @LAST_TRAINING_ID = MAX(TRAINING_FS_ID) FROM TB_TRAINING_FROM_SEARCH
		WHERE REVIEW_ID = @REVIEW_ID AND TRAINING_FS_ID < (SELECT MAX(TRAINING_FS_ID) FROM TB_TRAINING_FROM_SEARCH WHERE REVIEW_ID = @REVIEW_ID)

	
	--get locks from previous list of FS type
	UPDATE A
		SET A.CONTACT_ID_CODING = B.CONTACT_ID_CODING,
		A.WHEN_LOCKED = B.WHEN_LOCKED
		FROM TB_TRAINING_FROM_SEARCH_ITEM A
		JOIN
		TB_TRAINING_FROM_SEARCH_ITEM B ON A.ITEM_ID = B.ITEM_ID AND CURRENT_TIMESTAMP < DATEADD(hour, 13, B.WHEN_LOCKED) AND
			B.TRAINING_FS_ID = @LAST_TRAINING_ID
		WHERE A.TRAINING_FS_ID = @NEW_TRAINING_FS_ID

	Declare @lastPStrainingId int = (select MAX(TRAINING_ID) FROM TB_TRAINING
		WHERE REVIEW_ID = @REVIEW_ID AND ITERATION is not null)
	--and again but for locks on the current list of PS type
	UPDATE A
		SET A.CONTACT_ID_CODING = B.CONTACT_ID_CODING,
		A.WHEN_LOCKED = B.WHEN_LOCKED
		FROM TB_TRAINING_FROM_SEARCH_ITEM A
		JOIN
		TB_TRAINING_ITEM B ON A.ITEM_ID = B.ITEM_ID AND CURRENT_TIMESTAMP < DATEADD(hour, 13, B.WHEN_LOCKED) AND
			B.TRAINING_ID = @lastPStrainingId
		WHERE A.TRAINING_FS_ID = @NEW_TRAINING_FS_ID
	

	-- delete the old list(s) of items to screen for this review
	DELETE TI
	FROM TB_TRAINING_FROM_SEARCH_ITEM TI
	INNER JOIN TB_TRAINING_FROM_SEARCH T ON T.TRAINING_FS_ID = TI.TRAINING_FS_ID
	WHERE T.REVIEW_ID = @REVIEW_ID AND T.TRAINING_FS_ID < @NEW_TRAINING_FS_ID

	

SET NOCOUNT OFF
GO
