USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_TrainingPreviousItem]    Script Date: 13/08/2025 10:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[st_TrainingPreviousItem]
(
	@REVIEW_ID INT,
	@CONTACT_ID INT,
	@ITEM_ID BIGINT,
	@USE_LIST_FROM_SEARCH bit = 0
)

As

SET NOCOUNT ON
	--WE go and fetch a specific training item, making sure we lock it and release any other lock for the same user, if successful
	DECLARE @CURRENT_TRAINING_ID INT, @CURRENT_TRAINING_FS_ID int
	declare @trainingIId int
-- FIRST, GET THE CURRENT TRAINING 'RUN' (CAN'T SEND TO THE STORED PROC, AS IT MAY HAVE CHANGED)
	--normal PS queue
	SELECT @CURRENT_TRAINING_ID = MAX(TRAINING_ID) FROM TB_TRAINING
			WHERE REVIEW_ID = @REVIEW_ID
			AND TIME_STARTED < TIME_ENDED
	--queue created from a search
	SELECT @CURRENT_TRAINING_FS_ID = MAX(TRAINING_FS_ID) FROM TB_TRAINING_FROM_SEARCH
			WHERE REVIEW_ID = @REVIEW_ID

	-- NEXT, TRY TO LOCK THE ITEM WE'RE GOING TO SEND BACK (BUT WE WON'T OVERRIDE SOMEONE ELSE'S LOCK)
	--[SG Edit: Feb 2023] we now unlock ALL OTHER items currently locked by the present user
	IF @USE_LIST_FROM_SEARCH = 0
	BEGIN
		 set @trainingIId = (select top 1 TRAINING_ITEM_ID from TB_TRAINING_ITEM 
									where ITEM_ID = @ITEM_ID AND CONTACT_ID_CODING = 0 AND TRAINING_ID = @CURRENT_TRAINING_ID)
		--if @trainingIId is not null and @trainingIId > 0
		--BEGIN
		--	UPDATE TB_TRAINING_ITEM
		--		SET CONTACT_ID_CODING = @CONTACT_ID, WHEN_LOCKED = CURRENT_TIMESTAMP
		--		WHERE TRAINING_ITEM_ID = @trainingIId
		
		--	IF @@ROWCOUNT > 0 set @DoneSomething = 1;
		--END
	END
	ELSE
	BEGIN
		set @trainingIId  = (select top 1 TRAINING_FS_ITEM_ID from TB_TRAINING_FROM_SEARCH_ITEM 
									where ITEM_ID = @ITEM_ID AND CONTACT_ID_CODING = 0 AND TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID)
		--if @trainingFSId is not null and @trainingFSId > 0
		--BEGIN
		--	UPDATE TB_TRAINING_FROM_SEARCH_ITEM
		--		SET CONTACT_ID_CODING = @CONTACT_ID, WHEN_LOCKED = CURRENT_TIMESTAMP
		--		WHERE TRAINING_FS_ITEM_ID = @trainingIId
		
		--	IF @@ROWCOUNT > 0 set @DoneSomething = 1;
		--END
	END


	IF @trainingIId is not null AND @trainingIId > 0
	BEGIN
		--Lock the item in both lists (if it exists)
		UPDATE TB_TRAINING_ITEM
			SET CONTACT_ID_CODING = @CONTACT_ID, WHEN_LOCKED = CURRENT_TIMESTAMP
			WHERE TRAINING_ID = @CURRENT_TRAINING_ID and ITEM_ID = @ITEM_ID
		UPDATE TB_TRAINING_FROM_SEARCH_ITEM
			SET CONTACT_ID_CODING = @CONTACT_ID, WHEN_LOCKED = CURRENT_TIMESTAMP
			WHERE TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID and ITEM_ID = @ITEM_ID

		--We have just locked our ITEM, so we know we can safely unlock all other items currently assigned to this user
		Update TB_TRAINING_ITEM SET CONTACT_ID_CODING = 0, WHEN_LOCKED = NULL
			WHERE CONTACT_ID_CODING = @CONTACT_ID AND TRAINING_ID = @CURRENT_TRAINING_ID and ITEM_ID != @ITEM_ID
		Update TB_TRAINING_FROM_SEARCH_ITEM SET CONTACT_ID_CODING = 0, WHEN_LOCKED = NULL
			WHERE CONTACT_ID_CODING = @CONTACT_ID AND TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID and ITEM_ID != @ITEM_ID
	
		-- FINALLY, SEND IT BACK, if we did manage to lock it for the current user.
		IF @USE_LIST_FROM_SEARCH = 0
		BEGIN
			SELECT TI.TRAINING_ITEM_ID, ITEM_ID, [RANK], TRAINING_ID, @CONTACT_ID, SCORE
				FROM TB_TRAINING_ITEM TI
				WHERE TRAINING_ID = @CURRENT_TRAINING_ID AND ITEM_ID = @ITEM_ID
		END
		ELSE
		BEGIN
			SELECT TI.TRAINING_FS_ITEM_ID as TRAINING_ITEM_ID, ITEM_ID, [RANK], TRAINING_FS_ID as TRAINING_ID, CONTACT_ID_CODING, SCORE
				FROM TB_TRAINING_FROM_SEARCH_ITEM TI
				WHERE TRAINING_FS_ID = @CURRENT_TRAINING_FS_ID and TI.ITEM_ID = @ITEM_ID 
		END
	END
SET NOCOUNT OFF
