USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ScreeningCreate_List_FromSearch]    Script Date: 15/08/2025 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     procedure [dbo].[st_ScreeningCreate_List_FromSearch]
(
	@REVIEW_ID INT,
	@CONTACT_ID INT,
	@SEARCH_ID BIGINT,
	@CODE_SET_ID INT,
	@NEW_TRAINING_FS_ID int output
)

As

SET NOCOUNT ON
	-- ***** STEP 0 check that we have correct data
	declare @MaxSize int = (SELECT count(*) from TB_SEARCH s
								Inner join TB_SEARCH_ITEM si on s.SEARCH_ID = @SEARCH_ID and s.SEARCH_ID = si.SEARCH_ID and S.IS_CLASSIFIER_RESULT = 1
								AND s.REVIEW_ID = @REVIEW_ID);
	if (@MaxSize < 1 OR @MaxSize is null)
	BEGIN
		set @NEW_TRAINING_FS_ID = -1;
		return;
	END
	declare @IterationN int = 1 + (SELECT MAX(ITERATION) from TB_TRAINING_FROM_SEARCH where REVIEW_ID = @REVIEW_ID);
	if @IterationN is null set @IterationN = 1;

	DECLARE @TP INT
	DECLARE @TN INT
	DECLARE @LOCAL_TP INT;
	DECLARE @LOCAL_TN INT;
	DECLARE @ITEMS_IN_LIST int;
	DECLARE @ITEM_IDS table (ITEM_ID bigint primary key)

	Insert into @ITEM_IDS SELECT distinct SI.ITEM_ID from TB_SEARCH_ITEM SI
		INNER JOIN TB_ITEM_REVIEW IR ON IR.ITEM_ID = SI.ITEM_ID AND IR.REVIEW_ID = @REVIEW_ID and SI.SEARCH_ID = @SEARCH_ID
		
	SELECT @ITEMS_IN_LIST = @@ROWCOUNT;

	-- ***** FIRST, GET THE STATS IN TERMS OF # ITEMS SCREENED TO POPULATE THE TRIANING TABLE (GIVES US THE GRAPH ON THE SCREENING TAB)
	SELECT @TP = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_ITEM_ATTRIBUTE
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 10
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID

	SELECT @TN = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_ITEM_ATTRIBUTE
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 11
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID
	
	--again, but only for items in the search results!
	SELECT @LOCAL_TP = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM @ITEM_IDS t
		INNER JOIN TB_ITEM_ATTRIBUTE on t.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID 
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 10
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID

	SELECT @LOCAL_TN = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM  @ITEM_IDS t
		INNER JOIN TB_ITEM_ATTRIBUTE on t.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID 
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 11
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID

	-- ********** SECOND, create new line in TB_TRAINING_FROM_SEARCH
	
	INSERT Into TB_TRAINING_FROM_SEARCH ([CONTACT_ID], [REVIEW_ID], [DATE], [ITERATION]
       , [TRUE_POSITIVES], [TRUE_NEGATIVES], [SEARCH_ID]
	   , [LOCAL_TP], [LOCAL_TN], [LOCAL_TOT])
	 VALUES
		   (@CONTACT_ID, @REVIEW_ID, GETDATE(), @IterationN
		   , @TP, @TN,  @SEARCH_ID
		   , @LOCAL_TP, @LOCAL_TN, @ITEMS_IN_LIST)
	set @NEW_TRAINING_FS_ID = SCOPE_IDENTITY();

	-- ********** THIRD, ENTER THE LIST OF ITEMS INTO TB_TRAINING_ITEM ACCORDING TO WHETHER WE'RE FILTERING BY AN ATTRIBUTE OR DOING THE WHOLE REVIEW
	declare @multiplier decimal(10,10);
	declare @MaxRank int = (Select max(ITEM_RANK) from TB_SEARCH_ITEM where SEARCH_ID = @SEARCH_ID)
	if (@MaxRank < 100) set @multiplier = 0.01;
	ELSE if (@MaxRank < 1000) set @multiplier = 0.001;
	ELSE if (@MaxRank < 10000) set @multiplier = 0.0001;
	ELSE if (@MaxRank < 100000) set @multiplier = 0.00001;
	ELSE if (@MaxRank < 1000000) set @multiplier = 0.000001;

	INSERT INTO TB_TRAINING_FROM_SEARCH_ITEM(TRAINING_FS_ID, ITEM_ID, CONTACT_ID_CODING, [RANK], SCORE)
		SELECT @NEW_TRAINING_FS_ID, SI.ITEM_ID, 0, 0, (CAST(SI.ITEM_RANK as decimal (20,10)) * @multiplier)
		FROM @ITEM_IDS t 
		INNER join TB_SEARCH_ITEM SI on t.ITEM_ID = SI.ITEM_ID and SI.SEARCH_ID = @SEARCH_ID
		ORDER BY SI.ITEM_RANK DESC
			
	

	/* SET THE RANKS TO INCREMENT */
	DECLARE @START_INDEX INT = 0
	SELECT @START_INDEX = MIN(TRAINING_FS_ITEM_ID) FROM TB_TRAINING_FROM_SEARCH_ITEM WHERE TRAINING_FS_ID = @NEW_TRAINING_FS_ID
	UPDATE TB_TRAINING_FROM_SEARCH_ITEM
		SET [RANK] = TRAINING_FS_ITEM_ID - @START_INDEX + 1
		WHERE TRAINING_FS_ID = @NEW_TRAINING_FS_ID


	-- FINALLY, MIGRATE ANY NON-STALE CODING LOCKS FROM THE PREVIOUS TRAINING RUN
	DECLARE @LAST_TRAINING_ID INT

	SELECT @LAST_TRAINING_ID = MAX(TRAINING_FS_ID) FROM TB_TRAINING_FROM_SEARCH
		WHERE REVIEW_ID = @REVIEW_ID AND TRAINING_FS_ID < (SELECT MAX(TRAINING_FS_ID) FROM TB_TRAINING_FROM_SEARCH WHERE REVIEW_ID = @REVIEW_ID)

	
	--get locks from previous list of FS type
	UPDATE A
		SET A.CONTACT_ID_CODING = B.CONTACT_ID_CODING,
		A.WHEN_LOCKED = B.WHEN_LOCKED
		FROM TB_TRAINING_FROM_SEARCH_ITEM A
		JOIN
		TB_TRAINING_FROM_SEARCH_ITEM B ON A.ITEM_ID = B.ITEM_ID AND CURRENT_TIMESTAMP < DATEADD(hour, 13, B.WHEN_LOCKED) AND
			B.TRAINING_FS_ID = @LAST_TRAINING_ID
		WHERE A.TRAINING_FS_ID = @NEW_TRAINING_FS_ID

	Declare @lastPStrainingId int = (select MAX(TRAINING_ID) FROM TB_TRAINING
		WHERE REVIEW_ID = @REVIEW_ID AND ITERATION is not null)
	--and again but for locks on the current list of PS type
	UPDATE A
		SET A.CONTACT_ID_CODING = B.CONTACT_ID_CODING,
		A.WHEN_LOCKED = B.WHEN_LOCKED
		FROM TB_TRAINING_FROM_SEARCH_ITEM A
		JOIN
		TB_TRAINING_ITEM B ON A.ITEM_ID = B.ITEM_ID AND CURRENT_TIMESTAMP < DATEADD(hour, 13, B.WHEN_LOCKED) AND
			B.TRAINING_ID = @lastPStrainingId
		WHERE A.TRAINING_FS_ID = @NEW_TRAINING_FS_ID
	

	-- delete the old list(s) of items to screen for this review
	DELETE TI
	FROM TB_TRAINING_FROM_SEARCH_ITEM TI
	INNER JOIN TB_TRAINING_FROM_SEARCH T ON T.TRAINING_FS_ID = TI.TRAINING_FS_ID
	WHERE T.REVIEW_ID = @REVIEW_ID AND T.TRAINING_FS_ID < @NEW_TRAINING_FS_ID

	

SET NOCOUNT OFF
GO


CREATE OR ALTER procedure [dbo].[st_ScreeningCreate_Dummy_FromSearchList]
(
	@REVIEW_ID INT,
	@CONTACT_ID INT,
	@NEW_TRAINING_FS_ID int output
)
as
	--sort-of stops proceedings / deletes any active FS screening list.
	declare @IterationN int = 1 + (SELECT MAX(ITERATION) from TB_TRAINING_FROM_SEARCH fs
		inner join TB_TRAINING_FROM_SEARCH_ITEM si on fs.TRAINING_FS_ID = si.TRAINING_FS_ID
		where REVIEW_ID = @REVIEW_ID);
	if @IterationN is null 
	BEGIN
		set @NEW_TRAINING_FS_ID = -1;
		return;
	END
	INSERT Into TB_TRAINING_FROM_SEARCH ([CONTACT_ID], [REVIEW_ID], [DATE], [ITERATION]
       , [TRUE_POSITIVES], [TRUE_NEGATIVES], [SEARCH_ID]
	   , [LOCAL_TP], [LOCAL_TN], [LOCAL_TOT])
	 VALUES
		   (@CONTACT_ID, @REVIEW_ID, GETDATE(), @IterationN
		   , 0, 0,  -1
		   , 0, 0, 0)
	set @NEW_TRAINING_FS_ID = SCOPE_IDENTITY();

	-- delete the old list(s) of items to screen for this review
	DELETE TI
	FROM TB_TRAINING_FROM_SEARCH_ITEM TI
	INNER JOIN TB_TRAINING_FROM_SEARCH T ON T.TRAINING_FS_ID = TI.TRAINING_FS_ID
	WHERE T.REVIEW_ID = @REVIEW_ID AND T.TRAINING_FS_ID < @NEW_TRAINING_FS_ID

GO