USE [Reviewer]
GO
IF COL_LENGTH('dbo.TB_TRAINING', 'HIDDEN') IS NULL
BEGIN
	ALTER TABLE dbo.TB_TRAINING ADD
		[HIDDEN] bit not NULL
		CONSTRAINT D_TB_TRAINING_HIDDEN
		DEFAULT 0
END
GO
/****** Object:  StoredProcedure [dbo].[st_TrainingList]    Script Date: 28/08/2025 16:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_TrainingList]
(
	@REVIEW_ID INT
)

As

SET NOCOUNT ON
	
	SELECT TRAINING_ID, TB_TRAINING.CONTACT_ID, TIME_STARTED, TIME_ENDED, ITERATION,
		N_TRAINING_INC, N_TRAINING_EXC, CONTACT_NAME, C, TRUE_POSITIVES, TRUE_NEGATIVES, FALSE_POSITIVES, FALSE_NEGATIVES, [HIDDEN]
	from TB_TRAINING
	INNER JOIN TB_CONTACT ON TB_CONTACT.CONTACT_ID = TB_TRAINING.CONTACT_ID
	WHERE REVIEW_ID = @REVIEW_ID
	
SET NOCOUNT OFF
GO

/****** Object:  StoredProcedure [dbo].[st_AttributeSet]    Script Date: 28/08/2025 16:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER procedure[dbo].[st_TrainingShowHideRecords]
(
   @ReviewId INT,
   @RecordsToHide varchar(max),
   @RecordsToShow varchar(max)
)

As

if DATALENGTH(@RecordsToHide) > 1
BEGIN
	update t set [HIDDEN] = 1 from TB_TRAINING t
	inner join dbo.fn_Split_int(@RecordsToHide, ',') s on t.TRAINING_ID = s.value and t.REVIEW_ID = @ReviewId
END

if DATALENGTH(@RecordsToShow) > 1
BEGIN
	update t set [HIDDEN] = 0 from TB_TRAINING t
	inner join dbo.fn_Split_int(@RecordsToShow, ',') s on t.TRAINING_ID = s.value and t.REVIEW_ID = @ReviewId
END
GO

