USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_SearchFromOpenAlexAutoUpdate]    Script Date: 04/09/2025 15:04:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[st_SearchFromOpenAlexAutoUpdate]
(
	@SEARCH_ID int = null output
	,@CONTACT_ID int 
	,@REVIEW_ID int
	,@SEARCH_TITLE varchar(4000) 
	,@MAG_AUTO_UPDATE_RUN_ID int
	,@ScoresToUse varchar(3) = 'A'
	,@IncExc char(4) = 'both' --'incl'|'excl'|'both'

)
AS
	--Check - do we have data to create?
	declare @check int = (select count(MAG_AUTO_UPDATE_RUN_ID) from TB_MAG_AUTO_UPDATE_RUN where REVIEW_ID = @REVIEW_ID and MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID);
	if (@check is null OR @check != 1) 
	BEGIN
	set @SEARCH_ID = -1;
		return;
	END

	declare @t table (paperId bigint, ITEM_ID bigint, primary key(paperId, ITEM_ID))
	--gather our source data
	if @IncExc = 'both'
	insert into @t select distinct rp.PaperId, IR.ITEM_ID from TB_MAG_AUTO_UPDATE_RUN_PAPER rp
		inner join tb_ITEM_MAG_MATCH imm on imm.REVIEW_ID = @REVIEW_ID and imm.PaperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
		inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = imm.ITEM_ID 
		where ir.REVIEW_ID = @REVIEW_id and ir.IS_DELETED = 'false' and
			(imm.AutoMatchScore >= 0.8 or imm.ManualTrueMatch = 'true') and (imm.ManualFalseMatch <> 'true' or imm.ManualFalseMatch is null)
	else if @IncExc = 'incl'
	insert into @t select distinct rp.PaperId, IR.ITEM_ID from TB_MAG_AUTO_UPDATE_RUN_PAPER rp
		inner join tb_ITEM_MAG_MATCH imm on imm.REVIEW_ID = @REVIEW_ID and imm.PaperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
		inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = imm.ITEM_ID 
		where ir.REVIEW_ID = @REVIEW_id and ir.IS_DELETED = 'false' and ir.IS_INCLUDED = 1 and
			(imm.AutoMatchScore >= 0.8 or imm.ManualTrueMatch = 'true') and (imm.ManualFalseMatch <> 'true' or imm.ManualFalseMatch is null)
	if @IncExc = 'excl'
	insert into @t select distinct rp.PaperId, IR.ITEM_ID from TB_MAG_AUTO_UPDATE_RUN_PAPER rp
		inner join tb_ITEM_MAG_MATCH imm on imm.REVIEW_ID = @REVIEW_ID and imm.PaperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
		inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = imm.ITEM_ID 
		where ir.REVIEW_ID = @REVIEW_id and ir.IS_DELETED = 'false' and ir.IS_INCLUDED = 0 and
			(imm.AutoMatchScore >= 0.8 or imm.ManualTrueMatch = 'true') and (imm.ManualFalseMatch <> 'true' or imm.ManualFalseMatch is null)
	
	--safety: make sure the same PaperId appears only once - we keep the oldest item, if this kind of duplicates exist (they shouldn't)
	DELETE from  @t where ITEM_ID in (
		SELECT t1.ITEM_ID from @t t1
		inner join @t t2 on t1.paperId = t2.paperId and t1.ITEM_ID > t2.ITEM_ID
	)
	-- Step One: Insert record into tb_SEARCH
	EXECUTE st_SearchInsert @REVIEW_ID, @CONTACT_ID, @SEARCH_TITLE, 'OA scores', '', @NEW_SEARCH_ID = @SEARCH_ID OUTPUT;
	
	
	-- Step 2: insert actual results
	--A, P, U, AP, AU, APU, PU
	if (@ScoresToUse = 'A')
		INSERT into tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
			SELECT ITEM_ID, @SEARCH_ID, CAST(ROUND(rp.ContReviewScore * 1000.0, 0) as int) from @t t
			Inner join TB_MAG_AUTO_UPDATE_RUN_PAPER rp on t.paperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
	else if (@ScoresToUse = 'P')
		INSERT into tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
			SELECT ITEM_ID, @SEARCH_ID, CAST(ROUND(rp.StudyTypeClassifierScore * 1000.0, 0) as int) from @t t
			Inner join TB_MAG_AUTO_UPDATE_RUN_PAPER rp on t.paperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
	else if (@ScoresToUse = 'U')
		INSERT into tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
			SELECT ITEM_ID, @SEARCH_ID, CAST(ROUND(rp.UserClassifierScore * 1000.0, 0) as int) from @t t
			Inner join TB_MAG_AUTO_UPDATE_RUN_PAPER rp on t.paperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
	else if (@ScoresToUse = 'AP')
		INSERT into tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
			SELECT ITEM_ID, @SEARCH_ID, CAST(ROUND((rp.ContReviewScore + rp.StudyTypeClassifierScore) * 500.0, 0) as int) from @t t
			Inner join TB_MAG_AUTO_UPDATE_RUN_PAPER rp on t.paperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
	else if (@ScoresToUse = 'AU')
		INSERT into tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
			SELECT ITEM_ID, @SEARCH_ID, CAST(ROUND((rp.ContReviewScore + rp.UserClassifierScore) * 500.0, 0) as int) from @t t
			Inner join TB_MAG_AUTO_UPDATE_RUN_PAPER rp on t.paperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
	else if (@ScoresToUse = 'PU')
		INSERT into tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
			SELECT ITEM_ID, @SEARCH_ID, CAST(ROUND((rp.UserClassifierScore + rp.StudyTypeClassifierScore) * 500.0, 0) as int) from @t t
			Inner join TB_MAG_AUTO_UPDATE_RUN_PAPER rp on t.paperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID
	else if (@ScoresToUse = 'APU')
		INSERT into tb_SEARCH_ITEM (ITEM_ID, SEARCH_ID, ITEM_RANK)
			SELECT ITEM_ID, @SEARCH_ID, CAST(ROUND((rp.ContReviewScore + rp.UserClassifierScore + rp.StudyTypeClassifierScore) * 1000.0 / 3, 0) as int) from @t t
			Inner join TB_MAG_AUTO_UPDATE_RUN_PAPER rp on t.paperId = rp.PaperId and rp.MAG_AUTO_UPDATE_RUN_ID = @MAG_AUTO_UPDATE_RUN_ID

	declare @rows int = @@ROWCOUNT	
	--the conversion above generates ITEM_RANK numbers between 0 and 1000, but to remain consistent to assumptions made in downstream functions, we need 0 to 999, so we correct it
	UPDATE TB_SEARCH_ITEM set ITEM_RANK = 999 where ITEM_RANK = 1000 and SEARCH_ID = @SEARCH_ID

	-- Step Three: Update the new search record in tb_SEARCH with the number of records added
	UPDATE tb_SEARCH SET HITS_NO = @rows, IS_CLASSIFIER_RESULT = 1 WHERE SEARCH_ID = @SEARCH_ID

