USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_TrainingFromSearchRenewCounts]    Script Date: 10/09/2025 16:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   procedure [dbo].[st_TrainingFromSearchRenewCounts]
(
	@REVIEW_ID int
	,@CONTACT_ID int
	,@CODE_SET_ID INT
	,@TRIGGERING_ITEM_ID bigint
	,@NEW_TRAINING_FS_ID int output
)
AS
SET NOCOUNT ON
	
	declare @LastFSid int = (Select max(TRAINING_FS_ID) from TB_TRAINING_FROM_SEARCH where REVIEW_ID = @REVIEW_ID);
	if @LastFSid is null OR @LastFSid < 1
	begin
		Set @NEW_TRAINING_FS_ID = -1;
		return;
	end
	
	DECLARE @TP INT;
	DECLARE @TN INT;
	DECLARE @LOCAL_TP INT;
	DECLARE @LOCAL_TN INT;
	DECLARE @ITEMS_IN_LIST int;
	DECLARE @SEARCH_ID INT;
	DECLARE @CurrentIteration int;
	SELECT @SEARCH_ID = SEARCH_ID, @CurrentIteration = ITERATION from TB_TRAINING_FROM_SEARCH where REVIEW_ID = @REVIEW_ID and TRAINING_FS_ID = @LastFSid;

	if @CODE_SET_ID is null OR @CODE_SET_ID < 1
		OR @SEARCH_ID is null OR @SEARCH_ID < 1
		OR @CurrentIteration is null OR @CurrentIteration < 1
	begin
		Set @NEW_TRAINING_FS_ID = -1;
		return;
	end

	if @TRIGGERING_ITEM_ID != 0 --auto-triggered, we may not need to do anything, so we'll check
	BEGIN
		--Check: is this item ALREADY coded by someone else? If it is, it has been "shown" to that other people already, so it almost certainly has already triggered this SP: we do NOT want
		DECLARE @codedCount int = (select count(ITEM_SET_ID) from tb_item_set where SET_ID = @CODE_SET_ID and ITEM_ID = @TRIGGERING_ITEM_ID and CONTACT_ID != @CONTACT_ID)
		
		-- ***** If this item is coded by someone else: RETURN
		if (@codedCount is not null AND @codedCount > 0) 
		begin
			Set @NEW_TRAINING_FS_ID = -2;
			RETURN;
		end
	END


	-- ***** FIRST, GET THE STATS IN TERMS OF # ITEMS SCREENED TO POPULATE THE TRAINING TABLE (GIVES US THE GRAPH ON THE SCREENING TAB)
	-- this excludes deleted (and shadow) items, so to match "coding records", at execution time
	SELECT @TP = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_ITEM_ATTRIBUTE
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 10
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID AND TB_ITEM_REVIEW.IS_DELETED = 0
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID

	SELECT @TN = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_ITEM_ATTRIBUTE
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 11
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID AND TB_ITEM_REVIEW.IS_DELETED = 0
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID

	--again, but only for items in the current list!
	--this DOES NOT exclude deleted (or shadow) items, as for this, we stick to the list EXACTLY
	SELECT @LOCAL_TP = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_TRAINING_FROM_SEARCH_ITEM fsi
		INNER JOIN TB_ITEM_ATTRIBUTE on fsi.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID and fsi.TRAINING_FS_ID = @LastFSid
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 10
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID

	SELECT @LOCAL_TN = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_TRAINING_FROM_SEARCH_ITEM fsi
		INNER JOIN TB_ITEM_ATTRIBUTE on fsi.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID and fsi.TRAINING_FS_ID = @LastFSid
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID AND TB_ATTRIBUTE_SET.ATTRIBUTE_TYPE_ID = 11
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
			AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
			AND TB_ITEM_SET.SET_ID = @CODE_SET_ID
	
	SELECT @ITEMS_IN_LIST = LOCAL_TOT from TB_TRAINING_FROM_SEARCH where TRAINING_FS_ID = @LastFSid;

	INSERT Into TB_TRAINING_FROM_SEARCH ([CONTACT_ID], [REVIEW_ID], [DATE], [ITERATION]
       , [TRUE_POSITIVES], [TRUE_NEGATIVES], [SEARCH_ID]
	   , [LOCAL_TP], [LOCAL_TN], [LOCAL_TOT])
	 VALUES
		   (@CONTACT_ID, @REVIEW_ID, GETDATE(), @CurrentIteration + 1
		   , @TP, @TN,  @SEARCH_ID
		   , @LOCAL_TP, @LOCAL_TN, @ITEMS_IN_LIST)
	set @NEW_TRAINING_FS_ID = SCOPE_IDENTITY();

	--we could delete items that have been coded, but that's not a good idea: if, after this happened someone deletes or un-completes the coding of some item
	--that should be in this list, then the items involved will not get re-included in the list, and will thus not get coded/completed again

	--instead, we just update the reference to the latest TRAINING_FS_ID
	UPDATE TB_TRAINING_FROM_SEARCH_ITEM set TRAINING_FS_ID = @NEW_TRAINING_FS_ID where TRAINING_FS_ID = @LastFSid;


SET NOCOUNT OFF
