USE [ReviewerAdmin]
GO
/****** Object:  StoredProcedure [dbo].[st_OnlineHelpDelete]    Script Date: 14/11/2025 11:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER        procedure [dbo].[st_OnlineHelpDelete]
(
	@CONTEXT nchar(100) null
)

As

	delete from TB_ONLINE_HELP
	where CONTEXT = @CONTEXT

SET NOCOUNT OFF
GO

USE [ReviewerAdmin]
GO
/****** Object:  StoredProcedure [dbo].[st_OnlineHelpCreateOrEdit]    Script Date: 14/11/2025 09:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER       procedure [dbo].[st_OnlineHelpCreateOrEdit]
(
	@CONTEXT nvarchar(100) null,
	@SECTION_NAME nvarchar(100),
	@HELP_HTML nvarchar(max),
	@PARENT_CONTEXT nvarchar(100)
)

As

select * from TB_ONLINE_HELP where CONTEXT = @CONTEXT
if @@ROWCOUNT = 0
begin
	-- this is a create
	-- we want to put something into the content field so it is easier to edit later
	if @HELP_HTML = ''
	begin
	set @HELP_HTML = 'Apologies, there currently is no help for this page/activity.<br />' +
				 'Please check this help page later: we are adding new Help content regularly.'
	end

	if @PARENT_CONTEXT = ''
	begin
		-- we are adding a new context
		insert into TB_ONLINE_HELP (CONTEXT, SECTION_NAME, HELP_HTML)
		values (@CONTEXT, @SECTION_NAME, @HELP_HTML)
	end
	else
	begin
		-- we are adding a context extension so we need to add the parent context 
		insert into TB_ONLINE_HELP (CONTEXT, SECTION_NAME, HELP_HTML, PARENT_CONTEXT)
		values (@CONTEXT, @SECTION_NAME, @HELP_HTML, @PARENT_CONTEXT)
	end
end
else
begin
	-- this is an edit
	update TB_ONLINE_HELP
	set HELP_HTML = @HELP_HTML,
	SECTION_NAME = @SECTION_NAME
	where CONTEXT = @CONTEXT

end


SET NOCOUNT OFF
GO