USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_WebDbGetAllAttributesInSet]    Script Date: 25/11/2025 15:51:51 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   procedure [dbo].[st_WebDbGetAllAttributesInSet]
(
	@SET_ID INT,
	@WEBDB_ID int
)

As

SELECT tas.ATTRIBUTE_SET_ID, tas.SET_ID, tas.ATTRIBUTE_ID, tas.PARENT_ATTRIBUTE_ID,
	tas.ATTRIBUTE_TYPE_ID, tas.ATTRIBUTE_ORDER, ATTRIBUTE_TYPE, 
	case 
		WHEN WEBDB_ATTRIBUTE_NAME is null then a.ATTRIBUTE_NAME
		else WEBDB_ATTRIBUTE_NAME
	END as ATTRIBUTE_NAME, 
	case 
		WHEN WEBDB_ATTRIBUTE_DESCRIPTION is null then tas.ATTRIBUTE_SET_DESC
		else WEBDB_ATTRIBUTE_DESCRIPTION
	END as ATTRIBUTE_SET_DESC, 
	CONTACT_ID, ATTRIBUTE_DESC, 
	Ext_URL, Ext_Type,
	ORIGINAL_ATTRIBUTE_ID, a.OLDEST_KNOWN_ATTRIBUTE_ID

FROM TB_WEBDB_PUBLIC_ATTRIBUTE wa
INNER JOIN TB_ATTRIBUTE a on wa.WEBDB_ID = @WEBDB_ID and a.ATTRIBUTE_ID = wa.ATTRIBUTE_ID
INNER JOIN TB_ATTRIBUTE_SET tas on tas.ATTRIBUTE_ID = a.ATTRIBUTE_ID and tas.SET_ID = @SET_ID and tas.PARENT_ATTRIBUTE_ID is not null
INNER JOIN TB_SET ON TB_SET.SET_ID = tas.SET_ID 
INNER JOIN TB_ATTRIBUTE_TYPE t ON t.ATTRIBUTE_TYPE_ID = tas.ATTRIBUTE_TYPE_ID

WHERE  dbo.fn_IsAttributeInTree(a.attribute_id) = 1

ORDER BY PARENT_ATTRIBUTE_ID, ATTRIBUTE_ORDER
GO

