USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_LogReviewJobUpdate]    Script Date: 18/11/2025 09:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF COL_LENGTH('dbo.tb_REVIEW_JOB', 'RESUME_PARAMETERS') IS NOT NULL
BEGIN
	ALTER TABLE dbo.tb_REVIEW_JOB DROP COLUMN RESUME_PARAMETERS
END
BEGIN
	ALTER TABLE dbo.tb_REVIEW_JOB ADD RESUME_PARAMETERS nvarchar(max) NULL
END
GO

ALTER   PROCEDURE [dbo].[st_LogReviewJobUpdate]
	-- Add the parameters for the stored procedure here
	@ReviewId int,
	@REVIEW_JOB_ID int,
	@CurrentState nvarchar(50),
	@Success bit null,
	@JobMessage nvarchar(4000),
	@ResumeParams nvarchar(max) = 'ignore'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.



	if @JobMessage is not null AND @JobMessage != '' 
		Update [tb_REVIEW_JOB] set
			   [END_TIME] = GETDATE()
			   ,[CURRENT_STATE] = @CurrentState
			   ,[SUCCESS] = @Success
			   ,[JOB_MESSAGE] = @JobMessage
			   ,RESUME_PARAMETERS = (CASE when (@ResumeParams = 'ignore') then RESUME_PARAMETERS else @ResumeParams end)
		WHERE REVIEW_ID = @ReviewId
			and REVIEW_JOB_ID = @REVIEW_JOB_ID
	ELSE
		Update [tb_REVIEW_JOB] set
			   [END_TIME] = GETDATE()
			   ,[CURRENT_STATE] = @CurrentState
			   ,[SUCCESS] = @Success
			   ,RESUME_PARAMETERS = (CASE when (@ResumeParams = 'ignore') then RESUME_PARAMETERS else @ResumeParams end)
		WHERE REVIEW_ID = @ReviewId
			and REVIEW_JOB_ID = @REVIEW_JOB_ID
     
END
GO

USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_SourceDeleteForever]    Script Date: 25/11/2025 09:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sergio
-- Create date: 20/7/09 -update May 2022
-- Description:	(Un/)Delete a source and all its Items
-- =============================================
ALTER PROCEDURE [dbo].[st_SourceDeleteForever] 
	-- Add the parameters for the stored procedure here
	@srcID int = 0,
	@revID int,
	@contactID int,
	@result int = 0 output 
AS
BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	--declare @start datetime = getdate()
	
	declare @JobId int
	--FIRST BLOCK: we can call this SP for 2 reasons:
	--(A) to try deleting a source, which will happen ONLY if there isn't an older deletion pending
	-- (A.1) if no older deletion is pending, we trigger the new job
	-- (A.2) if an older deletion is pending, but has been active in the last 10m, we return without doing nothing (it might still be active)
	-- (A.3) if an older deletion is pending, but has NOT been active in the last 10m, we resume the older job, overwriting the @srcID supplied as input
	--(B) to check if an older JOB is pending - it was triggered but didn't finish within the 10m timeout:
	-- (B.1) if so, it should be resumed (in all cases).
	-- (B.2) otherwise end here: nothing to do.
	--Thus, we first check in tb_REVIEW_JOB
	--@JobId becomes not null if there is an active deletion for this review

	BEGIN TRANSACTION PRE
	--see https://weblogs.sqlteam.com/dang/2007/10/28/conditional-insertupdate-race-condition/
	--for details on how this is dealing with concurrency problems. Aim is to avoid having two instances of this SP insert
	--SP is called whenever the list of duplicates is retrieved AND when we are asking to find new duplicates...
	
	--paired with the "lasting lock", the transaction prevents two instances to be triggered concurrently
	--without the lasting lock, the TRAN itself won't work, see link above for the details.
	--WHILE running a deletion job holds the source_id in the "SUCCESS" field (it's an INT), but as a negative int, because 1 means "Success".
	set @JobId = (select top 1 REVIEW_JOB_ID from tb_REVIEW_JOB WITH (TABLOCKX, HOLDLOCK)
				where REVIEW_ID = @revID AND JOB_TYPE = 'delete source' and CURRENT_STATE = 'running' order by REVIEW_JOB_ID desc)
	IF @JobId is not null --cases (B.1, B.2, A.2 or A.3)
	BEGIN
		--2 possibilities: (1) last activity was more than 10m ago, it has TIMED OUT, so we'll resume it 
		--(2) last activity (END_TIME) was less than 10m ago, we assume it is still working and do nothing.
		if (select END_TIME from tb_REVIEW_JOB where REVIEW_JOB_ID = @JobId) < DATEADD(minute, -10, getdate()) --CASES A.3 or B.1
		BEGIN
			update tb_REVIEW_JOB set END_TIME = GETDATE() where REVIEW_JOB_ID = @JobId --if this SP is triggered again within 10m, check above will NOT come in here.
			if (@srcID > 0) --A.3
			BEGIN 
				set @result = -2 --overriding @srcID supplied, we'll resume the deletion that never finished.
			END
			--cases A.3 and B.1 the @srcID we'll work on is the one for the pre-existing job that we need to resume
			set @srcID = (SELECT SUCCESS * -1 from tb_REVIEW_JOB where REVIEW_JOB_ID = @JobId) 
			
		END
		ELSE
		BEGIN
			set @result = -1 --OLDER deletion JOB is still running
			COMMIT TRANSACTION PRE --can't return before we commit the transaction
			return
		END
	END
	IF @srcID = 0
	BEGIN
		--case B.2
		--means that this was triggered ONLY to check if a job is already running, and that we did not find a job to resume, so we should stop here
		set @result = 0 --nothing happening
		COMMIT TRANSACTION PRE --can't return before we commit the transaction
		return
	END

	--ALL cases in which we should NOT start/resume a deletion have "returned" already, if we reach the following it's because we have something to do.
	--TO stay safe, IF @srcID = 0, we don't know what to do and end here
	IF @srcID < 1 OR @srcID is null
	BEGIN
		set @result = -10 --unspecified error, should not happen
		COMMIT TRANSACTION PRE --can't return before we commit the transaction
		return
	END
	--LAST check: make sure the source belongs to review...
	declare @check int = 0
	set @check = (select count(source_id) from TB_SOURCE where SOURCE_ID = @srcID and REVIEW_ID = @revID and IS_DELETED = 1)
	if (@check != 1) 
	BEGIN
		set @result = -11 --another unspecified error, should not happen, most likely, this source wasn't already marked as deleted.
		COMMIT TRANSACTION PRE --can't return before we commit the transaction
		return
	END

	--IF user supplied a @srcID and no older job needed resuming (we got the @srcID already), we need to create a new record in TB_REVIEW_JOB and get the @JobId
	IF @JobId is null OR @JobId = 0
	BEGIN
	--we put "Source_id * -1" in the "Success" field, as it's of Int type (tells us what source is being deleted).
		insert into tb_REVIEW_JOB (REVIEW_ID, CONTACT_ID, START_TIME,END_TIME, JOB_TYPE, CURRENT_STATE, SUCCESS, JOB_MESSAGE) 
			select @revID, @contactID, GETDATE(), GETDATE(), 'delete source', 'running', @srcID * -1, ''
		set @JobId = SCOPE_IDENTITY()
	END

	COMMIT TRANSACTION PRE --we've updated or inserted into tb_REVIEW_JOB, we can release the lock

	
	--IF we got all the way to here, we have work to do, at last!!

	Declare @tt TABLE
	(
		item_ID bigint PRIMARY KEY
	)
	declare @bsize int = 400 --max size of batch we'll delete
	declare @actualbsize int = @bsize --actual size of batch we'll delete
	declare @counter int = 0
	declare @delay nchar(8) = '00:00:04'--length of the pause after each batch

	

	--select DATEDIFF(millisecond, @start, getdate()) as 'prep'
	--set @start = GETDATE()

	while (@actualbsize > 0 AND @counter < 100000)
	BEGIN
		BEGIN TRY	--to be VERY sure this doesn't happen in part, we nest a transaction inside a try catch clause
			BEGIN TRANSACTION
				insert into @tt --First: get the ITEM_IDs we'll deal with, excluding those that appear in more than one review
				SELECT top (@bsize) ITEM_ID FROM
					(select ir.ITEM_ID, COUNT(ir.item_id) cnt from TB_ITEM_REVIEW ir 
						inner join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
						where tis.SOURCE_ID = @srcID -- cnt = 1
						group by ir.ITEM_ID) cc
						where cnt=1
				Set @actualbsize = @@ROWCOUNT
				--Second: delete the records in TB_ITEM_REVIEW for the items that are shared only in this review
				--ON 27/04/2022 we start doing this deletion on items that are NOT shared, before we explicitly did it only for shared items
				delete from TB_ITEM_REVIEW 
					where REVIEW_ID = @revID
						AND ITEM_ID in (select item_ID from @tt )

	
				--select DATEDIFF(millisecond, @start, getdate()) as 'ItemReview'
				--set @start = GETDATE()

				--Third: explicitly delete the records that can't be automatically deleted through the foreign key cascade actions
				-- the cnt=1 clause makes sure we don't touch data related to items that appear in other reviews.
				DELETE FROM TB_ITEM_DUPLICATES where ITEM_ID_OUT in (SELECT item_ID from @tt )	
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_DUPLICATES'
				--set @start = GETDATE()

				DELETE FROM TB_ITEM_LINK where ITEM_ID_SECONDARY in (SELECT item_ID from @tt)

				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_LINK'
				--set @start = GETDATE()

				DELETE FROM TB_ITEM_DOCUMENT where ITEM_ID in (SELECT item_ID from @tt)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_DOCUMENT'
				--set @start = GETDATE()

				DELETE From TB_ITEM_ATTRIBUTE where ITEM_ID in (SELECT item_ID from @tt) --and (ITEM_ARM_ID is not null AND ITEM_ARM_ID > 0)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_ATTRIBUTE'
				--set @start = GETDATE()

				DELETE From TB_ITEM_ARM where ITEM_ID in (SELECT item_ID from @tt)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_ARM'
				--set @start = GETDATE()

				DELETE From tb_ITEM_MAG_MATCH where ITEM_ID in (SELECT item_ID from @tt ) and REVIEW_ID = @revID
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'tb_ITEM_MAG_MATCH'
				--set @start = GETDATE()

				--ADDED on 27/04/2022 rewrite
				DELETE FROM TB_ITEM_SOURCE where ITEM_ID in (SELECT item_ID from @tt ) and SOURCE_ID = @srcID
				
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_SOURCE'
				--set @start = GETDATE()

				--Fourth: delete the items 
				DELETE  FROM TB_ITEM WHERE ITEM_ID in (SELECT item_ID from @tt)
				
				delete from @tt --we're adding to it at the top of the cycle
				
				set @counter = @counter+1
			COMMIT TRANSACTION
			update tb_REVIEW_JOB set END_TIME = GETDATE() where REVIEW_JOB_ID = @JobId
			
			--select DATEDIFF(millisecond, @start, getdate()), @counter as 'batch(r)'
			
			waitfor delay @delay
			
			--set @start = GETDATE()
		END TRY

		BEGIN CATCH
		--select 'caught!!!!!'
			IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
			set @result = -12 --exception
			--we do the "CAST" to ensure the message fits, can't afford an exception in here...
			update tb_REVIEW_JOB set JOB_MESSAGE = CAST(JOB_MESSAGE + Char(10)+ Char(13) + 'ERROR: ' + ERROR_MESSAGE()
														+ Char(10)+ Char(13) + 'LINE: ' + ERROR_LINE() as varchar(4000))
				where REVIEW_JOB_ID = @JobId
			return --we stop if something broke down
		END CATCH
	END --WHILE cycle

	--Fifth Items that are SHARED into multiple reviews, we delete them from TB_ITEM_SOURCE and TB_ITEM_REVIEW only
	delete from @tt
	insert into @tt 
	SELECT top (@bsize) ITEM_ID FROM
		(select ir.ITEM_ID, COUNT(ir.item_id) cnt from TB_ITEM_REVIEW ir 
			inner join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
			where tis.SOURCE_ID = @srcID -- cnt = 1
			group by ir.ITEM_ID) cc
			where cnt>1
	
	BEGIN TRY	--to be VERY sure this doesn't happen in part, we nest a transaction inside a try catch clause
		BEGIN TRANSACTION
			DELETE from TB_ITEM_REVIEW where ITEM_ID in (SELECT item_ID from @tt) and REVIEW_ID = @revID
			
			--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_REVIEW (shared items)'
			--set @start = GETDATE()

			DELETE from TB_ITEM_SOURCE where ITEM_ID in (SELECT item_ID from @tt) and SOURCE_ID = @srcID 
			
			--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_SOURCE (shared items)'
			--set @start = GETDATE()

			--Sixth: delete the source
			DELETE FROM TB_SOURCE WHERE SOURCE_ID = @srcID
			
			--select DATEDIFF(millisecond, @start, getdate()) as 'TB_SOURCE'
			--set @start = GETDATE()

			--we do the "CAST" to ensure the message fits, can't afford an exception at this step...
			update tb_REVIEW_JOB set END_TIME = GETDATE(), CURRENT_STATE = 'Ended', SUCCESS = 1, JOB_MESSAGE = cast('SOURCE_ID = ' + CAST(@srcID as varchar(100)) +  Char(10)+ Char(13) + JOB_MESSAGE as varchar(4000)) where REVIEW_JOB_ID = @JobId
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		--select 'caught!!!!!'
			IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
			set @result = -12 --exception
			
			--we do the "CAST" to ensure the message fits, can't afford an exception in here...
			update tb_REVIEW_JOB set JOB_MESSAGE = CAST(JOB_MESSAGE +  Char(10)+ Char(13) + 'ERROR: ' + ERROR_MESSAGE()
														+  Char(10)+ Char(13) +'LINE: ' + ERROR_LINE() as varchar(4000))
				where REVIEW_JOB_ID = @JobId
			return --we stop if something broke down
	END CATCH
	IF @result is null OR @result = 0 Set @result = 1 -- "-2" is for when we did delete a source, but not the one the user asked for, 1 is for when we deleted the expected source
END
GO

