USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_AttributeSetDelete]    Script Date: 26/02/2026 10:47:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[st_AttributeSetDelete]
(
	@ATTRIBUTE_SET_ID INT,
	@ATTRIBUTE_ID BIGINT,
	@PARENT_ATTRIBUTE_ID BIGINT,
	@ATTRIBUTE_ORDER INT,
	@REVIEW_ID INT
)

As

SET NOCOUNT ON

DECLARE @SET_ID INT

SELECT @SET_ID = tas.SET_ID FROM TB_ATTRIBUTE_SET tas
	inner join TB_REVIEW_SET rs on tas.SET_ID = rs.SET_ID and rs.REVIEW_ID = @REVIEW_ID --join on review, avoid cross review poisoning!
	WHERE ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID

IF(@SET_ID is null) return --avoid cross review poisoning

DELETE FROM TB_ITEM_ATTRIBUTE_TEXT
FROM TB_ITEM_ATTRIBUTE_TEXT
INNER JOIN TB_ITEM_ATTRIBUTE ON TB_ITEM_ATTRIBUTE.ITEM_ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE_TEXT.ITEM_ATTRIBUTE_ID
INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
	INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID
		AND TB_ATTRIBUTE_SET.ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID
		AND TB_ATTRIBUTE_SET.SET_ID = TB_ITEM_SET.SET_ID
	INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID
		AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID

DELETE FROM TB_ITEM_ATTRIBUTE_PDF
FROM TB_ITEM_ATTRIBUTE_PDF
INNER JOIN TB_ITEM_ATTRIBUTE ON TB_ITEM_ATTRIBUTE.ITEM_ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE_PDF.ITEM_ATTRIBUTE_ID
INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
	INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID
		AND TB_ATTRIBUTE_SET.ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID
		AND TB_ATTRIBUTE_SET.SET_ID = TB_ITEM_SET.SET_ID
	INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID
		AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID

DELETE FROM TB_ITEM_ATTRIBUTE
from TB_ITEM_ATTRIBUTE
INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
	INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID
		AND TB_ATTRIBUTE_SET.ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID
		AND TB_ATTRIBUTE_SET.SET_ID = TB_ITEM_SET.SET_ID
	INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID
		AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID

DELETE FROM TB_ITEM_OUTCOME_ATTRIBUTE
from TB_ITEM_OUTCOME_ATTRIBUTE
INNER JOIN TB_ITEM_OUTCOME ON TB_ITEM_OUTCOME.OUTCOME_ID = TB_ITEM_OUTCOME_ATTRIBUTE.OUTCOME_ID
	INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_OUTCOME_ATTRIBUTE.ATTRIBUTE_ID
		AND TB_ATTRIBUTE_SET.ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID
		AND TB_ATTRIBUTE_SET.SET_ID = @SET_ID
	INNER JOIN TB_ITEM_SET on TB_ITEM_SET.SET_ID = TB_ATTRIBUTE_SET.SET_ID and TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_OUTCOME.ITEM_SET_ID
	INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_SET.ITEM_ID
		AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		
DELETE FROM TB_ITEM_SET
WHERE NOT ITEM_SET_ID IN 
(
	SELECT DISTINCT ITEM_SET_ID  
    FROM TB_ITEM_ATTRIBUTE ia
    inner join tb_item_review ir on ia.ITEM_ID = ir.ITEM_ID 
    and ir.REVIEW_ID = @REVIEW_ID
    union
    select tio.item_set_id
    from TB_ITEM_OUTCOME tio
    inner join TB_ITEM_SET tis on tio.ITEM_SET_ID = tis.ITEM_SET_ID
    inner join TB_ITEM_REVIEW ir on tis.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
) and SET_ID = @SET_ID

	SELECT TB_ATTRIBUTE_SET.ATTRIBUTE_ID FROM TB_ATTRIBUTE_SET
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.SET_ID = TB_ATTRIBUTE_SET.SET_ID
		INNER JOIN TB_ITEM_ATTRIBUTE ON TB_ITEM_ATTRIBUTE.ITEM_SET_ID = TB_ITEM_SET.ITEM_SET_ID
			AND TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID = TB_ATTRIBUTE_SET.ATTRIBUTE_ID
		WHERE TB_ATTRIBUTE_SET.ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID

	IF (@@ROWCOUNT = 0)
	BEGIN

		DELETE FROM TB_ATTRIBUTE_SET WHERE ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID

		UPDATE TB_ATTRIBUTE_SET
				SET ATTRIBUTE_ORDER = ATTRIBUTE_ORDER -1
				WHERE PARENT_ATTRIBUTE_ID = @PARENT_ATTRIBUTE_ID
				AND ATTRIBUTE_ORDER > @ATTRIBUTE_ORDER
				AND SET_ID = @SET_ID

		SELECT ATTRIBUTE_ID FROM TB_ATTRIBUTE_SET WHERE ATTRIBUTE_ID = @ATTRIBUTE_ID

		IF (@@ROWCOUNT = 0)
		BEGIN
			DELETE FROM TB_ATTRIBUTE WHERE ATTRIBUTE_ID = @ATTRIBUTE_ID
		END

	END
	

SET NOCOUNT OFF
GO

ALTER     procedure [dbo].[st_AttributeSetDeleteWarning]
(
	@ATTRIBUTE_SET_ID BIGINT,
	@SET_ID INT,
	@NUM_ITEMS int OUTPUT,
	@NUM_OUTCOMES int OUTPUT,
	@NUM_ALLOCATIONS int = 0 OUTPUT,
	@NUM_VIS_MAPS int = 0 OUTPUT,
	@REVIEW_ID INT
)

As

SET NOCOUNT ON

	SELECT @NUM_ITEMS = COUNT(DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID) FROM TB_ITEM_ATTRIBUTE
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
		INNER JOIN TB_SET ON TB_SET.SET_ID = TB_ITEM_SET.SET_ID
		INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.SET_ID = TB_SET.SET_ID
			AND TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID
			AND TB_ATTRIBUTE_SET.ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID
			AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
	SELECT @NUM_OUTCOMES = COUNT(distinct tis.ITEM_ID) from TB_ITEM_OUTCOME_ATTRIBUTE ioa
		INNER JOIN TB_ITEM_OUTCOME tio on ioa.OUTCOME_ID = tio.OUTCOME_ID
		inner join TB_ATTRIBUTE_SET tas on ioa.ATTRIBUTE_ID = tas.ATTRIBUTE_ID and tas.ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID
		inner join TB_ITEM_SET tis on tio.ITEM_SET_ID = tis.ITEM_SET_ID and tas.SET_ID = tis.SET_ID

	SELECT @NUM_ALLOCATIONS = count(*) from TB_WORK_ALLOCATION w
	inner join TB_ATTRIBUTE_SET tas on w.ATTRIBUTE_ID = tas.ATTRIBUTE_ID and tas.ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID and w.REVIEW_ID = @REVIEW_ID
	
	-- added to check if the code is used in a visualisation
	declare @setId int
	set @setId = (select SET_ID from TB_ATTRIBUTE_SET where ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID)

	set @NUM_VIS_MAPS = 0
	declare @numVis int = 0
	declare @numVisMaps int = 0
	set @numVis = (select count(*) from TB_WEBDB_PUBLIC_SET wps
		inner join TB_REVIEW_SET rs on rs.REVIEW_SET_ID = wps.REVIEW_SET_ID
		where rs.SET_ID = @setId)
	if @numVis > 0
	begin
		-- we know that the code is in a coding tool that is used in a visualisation 
		-- so see if it is also mentioned in a pre-configured map
		declare @attributeId int
		set @attributeId = (select ATTRIBUTE_ID from TB_ATTRIBUTE_SET where ATTRIBUTE_SET_ID = @ATTRIBUTE_SET_ID)
		-- there could be multiple WEB_IDs in the visualisation so there could be multiple WEBDB_PUBLIC_ATTRIBUTE_IDs
		-- associated with the ATTRIBUTE_ID so I need to create a table of possible WEBDB_PUBLIC_ATTRIBUTE_IDs
		declare @webDbPublicAttributeIDs table (tv_webDbPublicAttributeID int)
		insert into @webDbPublicAttributeIDs
		select WEBDB_PUBLIC_ATTRIBUTE_ID from TB_WEBDB_PUBLIC_ATTRIBUTE where ATTRIBUTE_ID = @attributeId
		--select * from @webDbPublicAttributeIDs
		-- are any of these WEBDB_PUBLIC_ATTRIBUTE_IDs in TB_WEBDB_MAP ? 		
		set @numVisMaps = (select count(*) from TB_WEBDB_MAP wm
			inner join @webDbPublicAttributeIDs wpai on 
			wpai.tv_webDbPublicAttributeID = wm.COLUMNS_PUBLIC_ATTRIBUTE_ID
			or wpai.tv_webDbPublicAttributeID = wm.ROWS_PUBLIC_ATTRIBUTE_ID 
			or wpai.tv_webDbPublicAttributeID = wm.SEGMENTS_PUBLIC_ATTRIBUTE_ID)

		-- if the code is part of a coding tool that is in a visualisation but is not explicitly listed in a map then @NUM_VIS_MAPS = 1
		-- if the code is part of a coding tool that is in a visualisation and is explicitly listed in a map then @NUM_VIS_MAPS = 2
		set @NUM_VIS_MAPS = 1
		if @numVis > 0 and @numVisMaps > 0
		begin
			set @NUM_VIS_MAPS = 2
		end
	end

SET NOCOUNT OFF
GO
USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_OutcomeItemAttributeList]    Script Date: 26/02/2026 11:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_OutcomeItemAttributeList]
(
	@OUTCOME_ID INT
)

As

SET NOCOUNT ON

SELECT ITEM_OUTCOME_ATTRIBUTE_ID, OUTCOME_ID, a.ATTRIBUTE_ID, ADDITIONAL_TEXT, a.ATTRIBUTE_NAME
	FROM TB_ITEM_OUTCOME_ATTRIBUTE ioa
	inner join TB_ATTRIBUTE a on ioa.ATTRIBUTE_ID = a.ATTRIBUTE_ID
	WHERE OUTCOME_ID = @OUTCOME_ID and dbo.fn_IsAttributeInTree(ioa.ATTRIBUTE_ID) = 1

SET NOCOUNT OFF
GO
USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_MetaAnalysis]    Script Date: 26/02/2026 14:43:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_MetaAnalysis]
(
	@META_ANALYSIS_ID INT
	, @REVIEW_ID INT
)

As

SET NOCOUNT ON
	--we check our data makes sense, because we _might_ update data before returning it
	declare @chk int = (select count(*) from TB_META_ANALYSIS where REVIEW_ID = @REVIEW_ID and META_ANALYSIS_ID = @META_ANALYSIS_ID)
	if @chk != 1 return;


	--FIRST, we check if ATTRIBUTE_IDs present in the fields used to produce optional columns in the outcomes table are still present in their coding tool
	--We'll remove those that aren't before returning the up-to-date data
	Declare @AttsToCheck Table (AttId bigint, type smallint, isInTree bit)
	
	Insert into @AttsToCheck SELECT s.Value
		, 1
		, MAX(CASE 
			WHEN dbo.fn_IsAttributeInTree(s.Value) = 0 OR rs.REVIEW_SET_ID is null THEN 0
			ELSE 1
			END)--checking also if the ATTRIBUTE belongs to SET that appears in the review
		from dbo.fn_Split_int((select ATTRIBUTE_ID_ANSWER from TB_META_ANALYSIS where META_ANALYSIS_ID = @META_ANALYSIS_ID and REVIEW_ID = @REVIEW_ID), ',') s
		left join TB_ATTRIBUTE_SET tas on s.value = tas.ATTRIBUTE_ID
		left join TB_REVIEW_SET rs on tas.SET_ID = rs.SET_ID and rs.REVIEW_ID = @REVIEW_ID
		group by s.value
	Insert into @AttsToCheck SELECT s.Value
		, 2
		, MAX(CASE 
			WHEN dbo.fn_IsAttributeInTree(s.Value) = 0 OR rs.REVIEW_SET_ID is null THEN 0
			ELSE 1
			END)
		from dbo.fn_Split_int((select ATTRIBUTE_ID_QUESTION from TB_META_ANALYSIS where META_ANALYSIS_ID = @META_ANALYSIS_ID and REVIEW_ID = @REVIEW_ID), ',') s
		left join TB_ATTRIBUTE_SET tas on s.value = tas.ATTRIBUTE_ID
		left join TB_REVIEW_SET rs on tas.SET_ID = rs.SET_ID and rs.REVIEW_ID = @REVIEW_ID
		group by s.value
	Insert into @AttsToCheck SELECT s.Value
		, 3
		, MAX(CASE 
			WHEN dbo.fn_IsAttributeInTree(s.Value) = 0 OR rs.REVIEW_SET_ID is null THEN 0
			ELSE 1
			END)
		from dbo.fn_Split_int((select ATTRIBUTE_ID_OUTCOME_ANSW from TB_META_ANALYSIS where META_ANALYSIS_ID = @META_ANALYSIS_ID and REVIEW_ID = @REVIEW_ID), ',') s
		left join TB_ATTRIBUTE_SET tas on s.value = tas.ATTRIBUTE_ID
		left join TB_REVIEW_SET rs on tas.SET_ID = rs.SET_ID and rs.REVIEW_ID = @REVIEW_ID
		group by s.value
	Insert into @AttsToCheck SELECT s.Value
		, 4
		, MAX(CASE 
			WHEN dbo.fn_IsAttributeInTree(s.Value) = 0 OR rs.REVIEW_SET_ID is null THEN 0
			ELSE 1
			END)
		from dbo.fn_Split_int((select ATTRIBUTE_ID_OUTCOME_QST from TB_META_ANALYSIS where META_ANALYSIS_ID = @META_ANALYSIS_ID and REVIEW_ID = @REVIEW_ID), ',') s
		left join TB_ATTRIBUTE_SET tas on s.value = tas.ATTRIBUTE_ID
		left join TB_REVIEW_SET rs on tas.SET_ID = rs.SET_ID and rs.REVIEW_ID = @REVIEW_ID
		group by s.value
	declare @NewIdsList VARCHAR(MAX) = null
	
	if (select count(*) from @AttsToCheck where type = 1 and isInTree = 0) > 0
	BEGIN
		SELECT @NewIdsList = COALESCE(@NewIdsList + ',', '') + CAST(AttId as varchar(100)) 
			FROM @AttsToCheck where type = 1 and isInTree = 1
		UPDATE TB_META_ANALYSIS set ATTRIBUTE_ID_ANSWER = @NewIdsList where REVIEW_ID = @REVIEW_ID and META_ANALYSIS_ID = @META_ANALYSIS_ID
		set @NewIdsList = null
	END
	if (select count(*) from @AttsToCheck where type = 2 and isInTree = 0) > 0
	BEGIN
		SELECT @NewIdsList = COALESCE(@NewIdsList + ',', '') + CAST(AttId as varchar(100)) 
			FROM @AttsToCheck where type = 2 and isInTree = 1
		UPDATE TB_META_ANALYSIS set ATTRIBUTE_ID_QUESTION = @NewIdsList where REVIEW_ID = @REVIEW_ID and META_ANALYSIS_ID = @META_ANALYSIS_ID
		set @NewIdsList = null
	END

	if (select count(*) from @AttsToCheck where type = 3 and isInTree = 0) > 0
	BEGIN
		SELECT @NewIdsList = COALESCE(@NewIdsList + ',', '') + CAST(AttId as varchar(100)) 
			FROM @AttsToCheck where type = 3 and isInTree = 1
		UPDATE TB_META_ANALYSIS set ATTRIBUTE_ID_OUTCOME_ANSW = @NewIdsList where REVIEW_ID = @REVIEW_ID and META_ANALYSIS_ID = @META_ANALYSIS_ID
		set @NewIdsList = null
	END

	if (select count(*) from @AttsToCheck where type = 4 and isInTree = 0) > 0
	BEGIN
		SELECT @NewIdsList = COALESCE(@NewIdsList + ',', '') + CAST(AttId as varchar(100)) 
			FROM @AttsToCheck where type = 4 and isInTree = 1
		UPDATE TB_META_ANALYSIS set ATTRIBUTE_ID_OUTCOME_QST = @NewIdsList where REVIEW_ID = @REVIEW_ID and META_ANALYSIS_ID = @META_ANALYSIS_ID
	END

	SELECT META_ANALYSIS_ID, META_ANALYSIS_TITLE, TB_META_ANALYSIS.CONTACT_ID, REVIEW_ID,
	TB_META_ANALYSIS.ATTRIBUTE_ID, SET_ID, ATTRIBUTE_ID_INTERVENTION, ATTRIBUTE_ID_CONTROL,
	ATTRIBUTE_ID_OUTCOME, TB_META_ANALYSIS.META_ANALYSIS_TYPE_ID, META_ANALYSIS_TYPE_TITLE,
	ATTRIBUTE_ID_ANSWER, ATTRIBUTE_ID_QUESTION,	ATTRIBUTE_ID_OUTCOME_ANSW, ATTRIBUTE_ID_OUTCOME_QST,	
	GRID_SETTINGS,
	Randomised, RoB, RoBComment, RoBSequence, RoBConcealment, RoBBlindingParticipants, RoBBlindingAssessors, RoBIncomplete, RoBSelective, 
	 RoBNoIntention, RoBCarryover, RoBStopped, RoBUnvalidated, RoBOther, Incon, InconComment, InconPoint, InconCIs, InconDirection, 
	 InconStatistical, InconOther, Indirect, IndirectComment, IndirectPopulation, IndirectOutcome, IndirectNoDirect, IndirectIntervention, 
	 IndirectTime, IndirectOther, Imprec, ImprecComment, ImprecWide, ImprecFew, ImprecOnlyOne, ImprecOther, PubBias, PubBiasComment, 
	 PubBiasCommercially, PubBiasAsymmetrical, PubBiasLimited, PubBiasMissing, PubBiasDiscontinued, PubBiasDiscrepancy, PubBiasOther, 
	 UpgradeComment, UpgradeLarge, UpgradeVeryLarge, UpgradeAllPlausible, UpgradeClear, UpgradeNone, CertaintyLevel, CertaintyLevelComment,

	 SORTED_FIELD, SORT_DIRECTION,

	--A1.ATTRIBUTE_NAME AS INTERVENTION_TEXT,	a2.ATTRIBUTE_NAME AS CONTROL_TEXT, a3.ATTRIBUTE_NAME AS OUTCOME_TEXT,

	(SELECT REPLACE(ATTRIBUTE_NAME, '¬','-') + '¬' FROM TB_ATTRIBUTE
		INNER JOIN dbo.fn_Split_int(ATTRIBUTE_ID_ANSWER, ',') id ON id.value = TB_ATTRIBUTE.ATTRIBUTE_ID
		FOR XML PATH('')) AS ATTRIBUTE_ANSWER_TEXT,

	(SELECT REPLACE(ATTRIBUTE_NAME, '¬','-') + '¬' FROM TB_ATTRIBUTE
		INNER JOIN dbo.fn_Split_int(ATTRIBUTE_ID_QUESTION, ',') id ON id.value = TB_ATTRIBUTE.ATTRIBUTE_ID
		FOR XML PATH('')) AS ATTRIBUTE_QUESTION_TEXT,
	
	(SELECT REPLACE(ATTRIBUTE_NAME, '¬','-') + '¬' FROM TB_ATTRIBUTE
		INNER JOIN dbo.fn_Split_int(ATTRIBUTE_ID_OUTCOME_ANSW, ',') id ON id.value = TB_ATTRIBUTE.ATTRIBUTE_ID
		FOR XML PATH('')) AS ATTRIBUTE_ANSWER_TEXT_O,

	(SELECT REPLACE(ATTRIBUTE_NAME, '¬','-') + '¬' FROM TB_ATTRIBUTE
		INNER JOIN dbo.fn_Split_int(ATTRIBUTE_ID_OUTCOME_QST, ',') id ON id.value = TB_ATTRIBUTE.ATTRIBUTE_ID
		FOR XML PATH('')) AS ATTRIBUTE_QUESTION_TEXT_O
	FROM TB_META_ANALYSIS
	
	INNER JOIN TB_META_ANALYSIS_TYPE ON TB_META_ANALYSIS_TYPE.META_ANALYSIS_TYPE_ID =
		TB_META_ANALYSIS.META_ANALYSIS_TYPE_ID
	
	/*	
	don't need this any more (for old MA interface) ??
	left outer JOIN TB_ITEM_ATTRIBUTE IA1 ON IA1.ITEM_ATTRIBUTE_ID = TB_META_ANALYSIS.ATTRIBUTE_ID_INTERVENTION
	left outer JOIN TB_ATTRIBUTE A1 ON A1.ATTRIBUTE_ID = TB_META_ANALYSIS.ATTRIBUTE_ID_INTERVENTION 
	left outer JOIN TB_ITEM_ATTRIBUTE IA2 ON IA2.ITEM_ATTRIBUTE_ID = TB_META_ANALYSIS.ATTRIBUTE_ID_CONTROL
	left outer JOIN TB_ATTRIBUTE A2 ON A2.ATTRIBUTE_ID = TB_META_ANALYSIS.ATTRIBUTE_ID_CONTROL
	left outer JOIN TB_ITEM_ATTRIBUTE IA3 ON IA3.ITEM_ATTRIBUTE_ID = TB_META_ANALYSIS.ATTRIBUTE_ID_OUTCOME
	left outer JOIN TB_ATTRIBUTE A3 ON A3.ATTRIBUTE_ID = TB_META_ANALYSIS.ATTRIBUTE_ID_OUTCOME 
	*/
	WHERE REVIEW_ID = @REVIEW_ID and META_ANALYSIS_ID = @META_ANALYSIS_ID

SET NOCOUNT OFF
GO