USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_MagReviewMagInfo]    Script Date: 04/03/2026 12:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		James
-- Create date: 12/07/2019
-- Description:	Returns statistics about matching review items to MAG
-- =============================================
ALTER   PROCEDURE [dbo].[st_MagReviewMagInfo] 
	-- Add the parameters for the stored procedure here
	@REVIEW_ID int = 0, 
	@NInReviewIncluded int = 0 OUTPUT,
	@NInReviewExcluded int = 0 OUTPUT,
	@NMatchedAccuratelyIncluded int = 0 OUTPUT,
	@NMatchedAccuratelyExcluded int = 0 OUTPUT,
	@NRequiringManualCheckIncluded int = 0 OUTPUT,
	@NRequiringManualCheckExcluded int = 0 OUTPUT,
	@NNotMatchedIncluded int = 0 OUTPUT,
	@NNotMatchedExcluded INT = 0 OUTPUT,
	@NPreviouslyMatched int = 0 OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @All table (ItemId bigint primary key, included bit)--for all not deleted items
	insert into @All select distinct ITEM_ID, IS_INCLUDED from TB_ITEM_REVIEW where REVIEW_ID = @REVIEW_ID and IS_DELETED = 0;

	declare @anyMatch table (ItemId bigint primary key, included bit);--items with at least 1 match
	declare @noMatchData table (ItemId bigint primary key, included bit);--items with no match at all

	insert into @anyMatch select distinct ItemId, included from @All a 
		inner join tb_ITEM_MAG_MATCH mm on mm.ITEM_ID = a.ItemId and mm.REVIEW_ID = @REVIEW_ID;


	insert into @noMatchData select distinct ItemId, included from @All a 
		where a.ItemId not in (Select ItemId from @anyMatch);
	
	select @NInReviewIncluded = count(ItemId) from @All where included = 1;
	select @NInReviewExcluded = count(ItemId) from @All where included = 0;


	declare @definiteMatch table (ItemId bigint primary key, included bit);--items with a match that's considered valid - either manually set to truematch, or not set to falsematch and score > 0.8

	insert into @definiteMatch select distinct ItemId, included from @anyMatch a
	inner join tb_ITEM_MAG_MATCH mm on a.ItemId = mm.ITEM_ID and mm.REVIEW_ID = @REVIEW_ID
		AND ((mm.AutoMatchScore >= 0.8 or mm.ManualTrueMatch = 1) and (mm.ManualFalseMatch <> 1 or mm.ManualFalseMatch is null));

	declare @toCheckMatch table (ItemId bigint primary key, included bit)
	insert into @toCheckMatch select distinct ItemId, included from @anyMatch a
	inner join tb_ITEM_MAG_MATCH mm on a.ItemId = mm.ITEM_ID and mm.REVIEW_ID = @REVIEW_ID
		AND (mm.AutoMatchScore < 0.8 AND (mm.ManualFalseMatch != 1 OR mm.ManualFalseMatch is null))
		AND a.ItemId not in (Select ItemId from @definiteMatch);

	select @NMatchedAccuratelyIncluded = count(*) from @definiteMatch where included = 1;
	select @NMatchedAccuratelyExcluded = count(*) from @definiteMatch where included = 0;
	select @NRequiringManualCheckIncluded = count(*) from @toCheckMatch where included = 1;
	select @NRequiringManualCheckExcluded = count(*) from @toCheckMatch where included = 0;
	select @NNotMatchedIncluded = count(*) from @All a where a.ItemId not in (select Itemid from @definiteMatch UNION select Itemid from @toCheckMatch) and a.included = 1;
	select @NNotMatchedExcluded = count(*) from @All a where a.ItemId not in (select Itemid from @definiteMatch UNION select Itemid from @toCheckMatch) and a.included = 0;
	select @NPreviouslyMatched = count(distinct ir.ITEM_ID) from TB_ITEM_REVIEW ir
		inner join TB_MAG_CHANGED_PAPER_IDS cpi on cpi.ITEM_ID = ir.ITEM_ID and
		cpi.NewPaperId = -1
		where ir.REVIEW_ID = @REVIEW_ID and ir.IS_DELETED = 'false';
	SET NOCOUNT OFF;
END
GO


USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ItemListMaybeMagMatches]    Script Date: 06/03/2026 09:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[st_ItemListMaybeMagMatches]
(
      @REVIEW_ID INT,
      @SHOW_INCLUDED BIT = 'true',
      @ATTRIBUTE_SET_ID_LIST NVARCHAR(MAX) = '',
      
      @PageNum INT = 1,
      @PerPage INT = 3,
      @CurrentPage INT OUTPUT,
      @TotalPages INT OUTPUT,
      @TotalRows INT OUTPUT 
)
with recompile
As
begin
SET NOCOUNT ON

declare @RowsToRetrieve int
Declare @ID table (ItemID bigint primary key )

declare @anyMatch table (ItemId bigint primary key, included bit);

insert into @anyMatch select distinct ir.ITEM_ID, ir.IS_INCLUDED from TB_ITEM_REVIEW ir
inner join tb_ITEM_MAG_MATCH mm on mm.ITEM_ID = IR.ITEM_ID and mm.REVIEW_ID = @REVIEW_ID
	AND IR.REVIEW_ID = mm.REVIEW_ID and IR.IS_DELETED = 0;
declare @definiteMatch table (ItemId bigint primary key, included bit);

insert into @definiteMatch select distinct ItemId, included from @anyMatch a
inner join tb_ITEM_MAG_MATCH mm on a.ItemId = mm.ITEM_ID and mm.REVIEW_ID = @REVIEW_ID
AND ((mm.AutoMatchScore >= 0.8 or mm.ManualTrueMatch = 1) and (mm.ManualFalseMatch <> 1 or mm.ManualFalseMatch is null));

IF (@ATTRIBUTE_SET_ID_LIST = '')
BEGIN
		--store IDs to build paged results as a simple join
	INSERT INTO @ID select distinct ItemId from @anyMatch a
	inner join tb_ITEM_MAG_MATCH mm on a.ItemId = mm.ITEM_ID and mm.REVIEW_ID = @REVIEW_ID and a.included = @SHOW_INCLUDED
		AND (mm.AutoMatchScore < 0.8 AND (mm.ManualFalseMatch != 1 OR mm.ManualFalseMatch is null))
		AND a.ItemId not in (Select ItemId from @definiteMatch);

	SELECT @TotalRows = @@ROWCOUNT

END
ELSE /* FILTER BY A LIST OF ATTRIBUTES */
BEGIN
	  --store IDs to build paged results as a simple join
	INSERT INTO @ID select distinct ItemId from @anyMatch a
	inner join tb_ITEM_MAG_MATCH mm on a.ItemId = mm.ITEM_ID and mm.REVIEW_ID = @REVIEW_ID and a.included = @SHOW_INCLUDED
		AND (mm.AutoMatchScore < 0.8 AND (mm.ManualFalseMatch != 1 OR mm.ManualFalseMatch is null))
		AND a.ItemId not in (Select ItemId from @definiteMatch)
	INNER JOIN TB_ITEM_ATTRIBUTE ON TB_ITEM_ATTRIBUTE.ITEM_ID = a.ItemId
    INNER JOIN TB_ATTRIBUTE_SET ON TB_ATTRIBUTE_SET.ATTRIBUTE_ID = TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID
    INNER JOIN dbo.fn_Split_int(@ATTRIBUTE_SET_ID_LIST, ',') attribute_list ON attribute_list.value = TB_ATTRIBUTE_SET.ATTRIBUTE_SET_ID
    INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
	INNER JOIN TB_REVIEW_SET ON TB_REVIEW_SET.SET_ID = TB_ITEM_SET.SET_ID AND TB_REVIEW_SET.REVIEW_ID = @REVIEW_ID;

	SELECT @TotalRows = @@ROWCOUNT;
END
	set @TotalPages = @TotalRows/@PerPage

      if @PageNum < 1
      set @PageNum = 1

      if @TotalRows % @PerPage != 0
      set @TotalPages = @TotalPages + 1

      set @RowsToRetrieve = @PerPage * @PageNum
      set @CurrentPage = @PageNum;

      WITH SearchResults AS
      (
      SELECT DISTINCT (i.ITEM_ID), IS_DELETED, IS_INCLUDED, ir.MASTER_ITEM_ID,
            ROW_NUMBER() OVER(order by SHORT_TITLE, i.ITEM_ID) RowNum
      FROM TB_ITEM i
			INNER JOIN TB_ITEM_REVIEW ir on i.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
			INNER JOIN @ID id on id.ItemID = ir.ITEM_ID
            
      )
      Select SearchResults.ITEM_ID, II.[TYPE_ID], OLD_ITEM_ID, [dbo].fn_REBUILD_AUTHORS(II.ITEM_ID, 0) as AUTHORS,
                  TITLE, PARENT_TITLE, SHORT_TITLE, DATE_CREATED, CREATED_BY, DATE_EDITED, EDITED_BY,
                  [YEAR], [MONTH], STANDARD_NUMBER, CITY, COUNTRY, PUBLISHER, INSTITUTION, VOLUME, PAGES, EDITION, ISSUE, IS_LOCAL,
                  AVAILABILITY, URL, ABSTRACT, COMMENTS, [TYPE_NAME], IS_DELETED, IS_INCLUDED, [dbo].fn_REBUILD_AUTHORS(II.ITEM_ID, 1) as PARENTAUTHORS
                  , SearchResults.MASTER_ITEM_ID, DOI, KEYWORDS
                  --, ROW_NUMBER() OVER(order by authors, TITLE) RowNum
            FROM SearchResults
                  INNER JOIN TB_ITEM II ON SearchResults.ITEM_ID = II.ITEM_ID
                  INNER JOIN TB_ITEM_TYPE ON TB_ITEM_TYPE.[TYPE_ID] = II.[TYPE_ID]
            WHERE RowNum > @RowsToRetrieve - @PerPage
            AND RowNum <= @RowsToRetrieve
            ORDER BY RowNum

SELECT      @CurrentPage as N'@CurrentPage',
            @TotalPages as N'@TotalPages',
            @TotalRows as N'@TotalRows'

END
GO



ALTER   procedure [dbo].[st_ItemListMagNoMatches]
(
      @REVIEW_ID INT,
      @SHOW_INCLUDED BIT = 'true',
      
      @PageNum INT = 1,
      @PerPage INT = 3,
      @CurrentPage INT OUTPUT,
      @TotalPages INT OUTPUT,
      @TotalRows INT OUTPUT 
)
with recompile
As

SET NOCOUNT ON

	declare @RowsToRetrieve int
	Declare @ID table (ItemID bigint primary key )

	declare @All table (ItemId bigint primary key, included bit)
	insert into @All select distinct ITEM_ID, IS_INCLUDED from TB_ITEM_REVIEW where REVIEW_ID = @REVIEW_ID and IS_DELETED = 0 and IS_INCLUDED = @SHOW_INCLUDED;

	declare @anyMatch table (ItemId bigint primary key, included bit);
	declare @noMatchData table (ItemId bigint primary key, included bit);

	insert into @anyMatch select distinct ItemId, included from @All a 
		inner join tb_ITEM_MAG_MATCH mm on mm.ITEM_ID = a.ItemId and mm.REVIEW_ID = @REVIEW_ID;

	insert into @noMatchData select distinct ItemId, included from @All a 
		where a.ItemId not in (Select ItemId from @anyMatch);	

	declare @definiteMatch table (ItemId bigint primary key, included bit);

	insert into @definiteMatch select distinct ItemId, included from @anyMatch a
	inner join tb_ITEM_MAG_MATCH mm on a.ItemId = mm.ITEM_ID and mm.REVIEW_ID = @REVIEW_ID
		AND ((mm.AutoMatchScore >= 0.8 or mm.ManualTrueMatch = 1) and (mm.ManualFalseMatch <> 1 or mm.ManualFalseMatch is null));

	declare @toCheckMatch table (ItemId bigint primary key, included bit)
	insert into @toCheckMatch select distinct ItemId, included from @anyMatch a
	inner join tb_ITEM_MAG_MATCH mm on a.ItemId = mm.ITEM_ID and mm.REVIEW_ID = @REVIEW_ID
		AND (mm.AutoMatchScore < 0.8 AND (mm.ManualFalseMatch != 1 OR mm.ManualFalseMatch is null))
		AND a.ItemId not in (Select ItemId from @definiteMatch);

	--store IDs to build paged results as a simple join
	INSERT INTO @ID SELECT DISTINCT (a.ItemId)
	from @All a where a.ItemId not in (select Itemid from @definiteMatch UNION select Itemid from @toCheckMatch)
			
	SELECT @TotalRows = @@ROWCOUNT

	set @TotalPages = @TotalRows/@PerPage

	if @PageNum < 1
	set @PageNum = 1

	if @TotalRows % @PerPage != 0
	set @TotalPages = @TotalPages + 1

	set @RowsToRetrieve = @PerPage * @PageNum
	set @CurrentPage = @PageNum;

	WITH SearchResults AS
	(
	SELECT DISTINCT (i.ITEM_ID), IS_DELETED, IS_INCLUDED, ir.MASTER_ITEM_ID,
		ROW_NUMBER() OVER(order by SHORT_TITLE, i.ITEM_ID) RowNum
	FROM TB_ITEM i
		INNER JOIN TB_ITEM_REVIEW ir on i.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
		INNER JOIN @ID id on id.ItemID = ir.ITEM_ID
            
	)
	Select SearchResults.ITEM_ID, II.[TYPE_ID], OLD_ITEM_ID, [dbo].fn_REBUILD_AUTHORS(II.ITEM_ID, 0) as AUTHORS,
				TITLE, PARENT_TITLE, SHORT_TITLE, DATE_CREATED, CREATED_BY, DATE_EDITED, EDITED_BY,
				[YEAR], [MONTH], STANDARD_NUMBER, CITY, COUNTRY, PUBLISHER, INSTITUTION, VOLUME, PAGES, EDITION, ISSUE, IS_LOCAL,
				AVAILABILITY, URL, ABSTRACT, COMMENTS, [TYPE_NAME], IS_DELETED, IS_INCLUDED, [dbo].fn_REBUILD_AUTHORS(II.ITEM_ID, 1) as PARENTAUTHORS
				, SearchResults.MASTER_ITEM_ID, DOI, KEYWORDS
				--, ROW_NUMBER() OVER(order by authors, TITLE) RowNum
		FROM SearchResults
				INNER JOIN TB_ITEM II ON SearchResults.ITEM_ID = II.ITEM_ID
				INNER JOIN TB_ITEM_TYPE ON TB_ITEM_TYPE.[TYPE_ID] = II.[TYPE_ID]
		WHERE RowNum > @RowsToRetrieve - @PerPage
		AND RowNum <= @RowsToRetrieve
		ORDER BY RowNum


	SELECT      @CurrentPage as N'@CurrentPage',
				@TotalPages as N'@TotalPages',
				@TotalRows as N'@TotalRows'
GO
