USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_RobotOpenAIPromptEvaluationDataInsert]    Script Date: 10/03/2026 15:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or ALTER     procedure [dbo].[st_RobotOpenAIPromptEvaluationDataDeleteItemRecords]
(

	@OPENAI_PROMPT_EVALUATION_ID INT
,	@ITEM_ID BIGINT
)
As

SET NOCOUNT ON
	Delete from TB_OPENAI_PROMPT_EVALUATION_DATA where OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID and ITEM_ID = @ITEM_ID and ITERATION > 0
SET NOCOUNT OFF
GO
USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_UpdateOpenAiPromptEvaluation]    Script Date: 12/03/2026 12:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     procedure [dbo].[st_UpdateOpenAiPromptEvaluation]
(

	@OPENAI_PROMPT_EVALUATION_ID INT
,	@STATUS varchar(10)
)
As

SET NOCOUNT ON
	
DECLARE @TP INT, @TN INT, @FP INT, @FN INT

IF @STATUS = 'Failed'
BEGIN
	UPDATE TB_OPENAI_PROMPT_EVALUATION
		SET TITLE = CONCAT(TITLE, ' (FAILED)'),
		TP = 0, FP = 0, TN = 0, FN = 0
	WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID
END
ELSE
BEGIN

;	WITH GoldStandard AS (  
    -- Get the gold standard ATTRIBUTE_IDs for each ITEM_ID  
    SELECT ITEM_ID, ATTRIBUTE_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA  
    WHERE GOLD_STANDARD = 1   
      AND OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID AND ITEM_ID is not null
),  
  
LLMPredictions AS (  
    -- Get LLM predictions for each ITEM_ID and iteration  
    SELECT ITEM_ID, ATTRIBUTE_ID, ITERATION  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA  
    WHERE GOLD_STANDARD = 0   
      AND OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  
),  
  
AllATTRIBUTE_IDs AS (  
    -- Get all unique ATTRIBUTE_IDs in the dataset  
    SELECT DISTINCT ATTRIBUTE_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA   
    WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  
),  
  
AllITEM_IDs AS (  
    -- Get ALL unique ITEM_IDs in the dataset (both gold standard AND LLM)  
    SELECT DISTINCT ITEM_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA   
    WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  and ITEM_ID is not null
),  
  
AllIterations AS (  
    -- Get all unique iterations from LLM predictions  
    SELECT DISTINCT ITERATION  
    FROM LLMPredictions  
),  
  
AllCombinations AS (  
    -- Create all combinations of ITEM_ID, ATTRIBUTE_ID, and ITERATION  
    -- Using all items (not just LLM items) to ensure complete coverage  
    SELECT   
        i.ITEM_ID,   
        a.ATTRIBUTE_ID,   
        it.ITERATION  
    FROM AllITEM_IDs i  
    CROSS JOIN AllATTRIBUTE_IDs a  
    CROSS JOIN AllIterations it  
),  
  
ConfusionMatrix AS (  
    SELECT   
        ac.ITERATION,  
        ac.ATTRIBUTE_ID,  
        ac.ITEM_ID,  
        -- True Positive: Both gold standard and LLM have the ATTRIBUTE_ID  
        CASE WHEN g.ITEM_ID IS NOT NULL AND l.ITEM_ID IS NOT NULL THEN 1 ELSE 0 END AS TP,  
        -- True Negative: Neither gold standard nor LLM have the ATTRIBUTE_ID  
        CASE WHEN g.ITEM_ID IS NULL AND l.ITEM_ID IS NULL THEN 1 ELSE 0 END AS TN,  
        -- False Positive: LLM has it, gold standard doesn't  
        CASE WHEN g.ITEM_ID IS NULL AND l.ITEM_ID IS NOT NULL THEN 1 ELSE 0 END AS FP,  
        -- False Negative: Gold standard has it, LLM doesn't  
        CASE WHEN g.ITEM_ID IS NOT NULL AND l.ITEM_ID IS NULL THEN 1 ELSE 0 END AS FN  
    FROM AllCombinations ac  
    LEFT JOIN GoldStandard g   
        ON ac.ITEM_ID = g.ITEM_ID   
        AND ac.ATTRIBUTE_ID = g.ATTRIBUTE_ID  
    LEFT JOIN LLMPredictions l   
        ON ac.ITEM_ID = l.ITEM_ID   
        AND ac.ATTRIBUTE_ID = l.ATTRIBUTE_ID   
        AND ac.ITERATION = l.ITERATION 
 ),
  
IterationStats AS (  
    -- Sum up confusion matrix values per iteration  
    SELECT   
        --ITERATION,  
        SUM(TP) AS Total_TP,  
        SUM(TN) AS Total_TN,  
        SUM(FP) AS Total_FP,  
        SUM(FN) AS Total_FN  
    FROM ConfusionMatrix  
    --GROUP BY ITERATION  
)  
  
-- Calculate averages across all iterations  
SELECT   
    @TP = SUM(Total_TP),  
    @TN = SUM(Total_TN),  
    @FP = SUM(Total_FP),  
    @FN = SUM(Total_FN)  
FROM IterationStats;  
  
UPDATE TB_OPENAI_PROMPT_EVALUATION  
SET TP = @TP,  
    FP = @FP,  
    TN = @TN,  
    FN = @FN  
WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID;  

END

SET NOCOUNT OFF

GO
ALTER     procedure [dbo].[st_RobotOpenAIPromptEvaluationCreate]
(
	@REVIEW_ID INT
,	@TITLE nvarchar(4000)
,	@ROBOT_NAME NVARCHAR(255)
,	@REVIEW_SET_ID INT
,	@GOLD_STANDARD_ATTRIBUTE_ID bigint
,	@GOLD_STANDARD_ATTRIBUTE_NAME NVARCHAR(255)
,	@N_RECORDS INT
,	@N_CODES INT
,	@REVIEW_SET_HTML nvarchar(max)
,	@USE_PDFS bit
,	@N_ITERATIONS INT
,	@CONTACT_ID INT
,	@CONTACT_NAME NVARCHAR(255)
,	@ATTRIBUTES_WITH_PROMPTS varchar(max)
,	@NEW_OPENAI_PROMPT_EVALUATION_ID INT OUTPUT
)

As

SET NOCOUNT ON

	INSERT INTO TB_OPENAI_PROMPT_EVALUATION(REVIEW_ID, TITLE, REVIEW_SET_HTML, GOLD_STANDARD_ATTRIBUTE_ID, GOLD_STANDARD_ATTRIBUTE_NAME, N_RECORDS, N_ITERATIONS, REVIEW_SET_ID,
		N_CODES, ROBOT_NAME, CONTACT_ID, CONTACT_NAME, WHEN_RUN, USE_PDFS)
	VALUES(@REVIEW_ID, @TITLE, @REVIEW_SET_HTML, @GOLD_STANDARD_ATTRIBUTE_ID, @GOLD_STANDARD_ATTRIBUTE_NAME, @N_RECORDS, @N_ITERATIONS, @REVIEW_SET_ID,
		@N_CODES, @ROBOT_NAME, @CONTACT_ID, @CONTACT_NAME, GETDATE(), @USE_PDFS)

	SET @NEW_OPENAI_PROMPT_EVALUATION_ID = @@IDENTITY

	INSERT INTO TB_OPENAI_PROMPT_EVALUATION_DATA(OPENAI_PROMPT_EVALUATION_ID, ITEM_ID, ITERATION, ATTRIBUTE_ID, ATTRIBUTE_NAME, ADDITIONAL_TEXT, GOLD_STANDARD)
	select distinct @NEW_OPENAI_PROMPT_EVALUATION_ID, ia.ITEM_ID, 0, ia.ATTRIBUTE_ID, a.ATTRIBUTE_NAME, ia.ADDITIONAL_TEXT, 1 from tb_review_set rs
		  inner join tb_item_set iset on iset.SET_ID = rs.SET_ID and iset.IS_COMPLETED = 1
		  inner join TB_ITEM_ATTRIBUTE ia on ia.ITEM_SET_ID = iset.ITEM_SET_ID
		  inner join TB_ITEM_REVIEW ir on ir.REVIEW_ID = rs.REVIEW_ID
		  inner join TB_ATTRIBUTE a on a.ATTRIBUTE_ID = ia.ATTRIBUTE_ID
		  where REVIEW_SET_Id = @REVIEW_SET_ID and ir.IS_DELETED = 0 and ia.ITEM_ID in
		  (
			SELECT IA2.ITEM_ID FROM TB_ITEM_ATTRIBUTE IA2
			INNER JOIN TB_ITEM_SET ISET2 ON ISET2.ITEM_SET_ID = IA2.ITEM_SET_ID AND ISET2.IS_COMPLETED = 1
			WHERE IA2.ATTRIBUTE_ID = @GOLD_STANDARD_ATTRIBUTE_ID
		  )
	--Adding missing ATTRIBUTEs in case some valid ones do not belong to any ITEM in the gold standard set
	INSERT INTO TB_OPENAI_PROMPT_EVALUATION_DATA(OPENAI_PROMPT_EVALUATION_ID, ITEM_ID, ITERATION, ATTRIBUTE_ID, ATTRIBUTE_NAME, ADDITIONAL_TEXT, GOLD_STANDARD)
	select distinct @NEW_OPENAI_PROMPT_EVALUATION_ID, NULL, 0, a.ATTRIBUTE_ID, a.ATTRIBUTE_NAME, NULL, 1 from dbo.fn_Split_int(@ATTRIBUTES_WITH_PROMPTS, ',') s
	inner join TB_ATTRIBUTE a on s.value = a.ATTRIBUTE_ID
	inner join TB_ATTRIBUTE_SET tas on a.ATTRIBUTE_ID = tas.ATTRIBUTE_ID
	inner join TB_REVIEW_SET rs on tas.SET_ID = rs.SET_ID and rs.REVIEW_ID = @REVIEW_ID
	where a.ATTRIBUTE_ID not in (Select ATTRIBUTE_ID from TB_OPENAI_PROMPT_EVALUATION_DATA where OPENAI_PROMPT_EVALUATION_ID = @NEW_OPENAI_PROMPT_EVALUATION_ID)
	
SET NOCOUNT OFF
GO