USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_UpdateOpenAiPromptEvaluation]    Script Date: 16/03/2026 17:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     procedure [dbo].[st_UpdateOpenAiPromptEvaluation]
(
	@OPENAI_PROMPT_EVALUATION_ID INT
,	@STATUS varchar(10)
)
As

SET NOCOUNT ON
	
DECLARE @TP INT, @TN INT, @FP INT, @FN INT

IF @STATUS = 'Failed'
BEGIN
	UPDATE TB_OPENAI_PROMPT_EVALUATION
		SET TITLE = CONCAT(TITLE, ' (FAILED)'),
		TP = -1, FP = -1, TN = -1, FN = -1
	WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID
END
ELSE
BEGIN

;	WITH GoldStandard AS (  
    -- Get the gold standard ATTRIBUTE_IDs for each ITEM_ID  
    SELECT ITEM_ID, ATTRIBUTE_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA  
    WHERE GOLD_STANDARD = 1   
      AND OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID AND ITEM_ID is not null
),  
  
LLMPredictions AS (  
    -- Get LLM predictions for each ITEM_ID and iteration  
    SELECT ITEM_ID, ATTRIBUTE_ID, ITERATION  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA  
    WHERE GOLD_STANDARD = 0   
      AND OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  
),  
  
AllATTRIBUTE_IDs AS (  
    -- Get all unique ATTRIBUTE_IDs in the dataset  
    SELECT DISTINCT ATTRIBUTE_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA   
    WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  
),  
  
AllITEM_IDs AS (  
    -- Get ALL unique ITEM_IDs in the dataset (both gold standard AND LLM)  
    SELECT DISTINCT ITEM_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA   
    WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  and ITEM_ID is not null
),  
  
AllIterations AS (  
    -- Get all unique iterations from LLM predictions  
    SELECT DISTINCT ITERATION  
    FROM LLMPredictions  
),  
  
AllCombinations AS (  
    -- Create all combinations of ITEM_ID, ATTRIBUTE_ID, and ITERATION  
    -- Using all items (not just LLM items) to ensure complete coverage  
    SELECT   
        i.ITEM_ID,   
        a.ATTRIBUTE_ID,   
        it.ITERATION  
    FROM AllITEM_IDs i  
    CROSS JOIN AllATTRIBUTE_IDs a  
    CROSS JOIN AllIterations it  
),  
  
ConfusionMatrix AS (  
    SELECT   
        ac.ITERATION,  
        ac.ATTRIBUTE_ID,  
        ac.ITEM_ID,  
        -- True Positive: Both gold standard and LLM have the ATTRIBUTE_ID  
        CASE WHEN g.ITEM_ID IS NOT NULL AND l.ITEM_ID IS NOT NULL THEN 1 ELSE 0 END AS TP,  
        -- True Negative: Neither gold standard nor LLM have the ATTRIBUTE_ID  
        CASE WHEN g.ITEM_ID IS NULL AND l.ITEM_ID IS NULL THEN 1 ELSE 0 END AS TN,  
        -- False Positive: LLM has it, gold standard doesn't  
        CASE WHEN g.ITEM_ID IS NULL AND l.ITEM_ID IS NOT NULL THEN 1 ELSE 0 END AS FP,  
        -- False Negative: Gold standard has it, LLM doesn't  
        CASE WHEN g.ITEM_ID IS NOT NULL AND l.ITEM_ID IS NULL THEN 1 ELSE 0 END AS FN  
    FROM AllCombinations ac  
    LEFT JOIN GoldStandard g   
        ON ac.ITEM_ID = g.ITEM_ID   
        AND ac.ATTRIBUTE_ID = g.ATTRIBUTE_ID  
    LEFT JOIN LLMPredictions l   
        ON ac.ITEM_ID = l.ITEM_ID   
        AND ac.ATTRIBUTE_ID = l.ATTRIBUTE_ID   
        AND ac.ITERATION = l.ITERATION 
 ),
  
IterationStats AS (  
    -- Sum up confusion matrix values per iteration  
    SELECT   
        --ITERATION,  
        SUM(TP) AS Total_TP,  
        SUM(TN) AS Total_TN,  
        SUM(FP) AS Total_FP,  
        SUM(FN) AS Total_FN  
    FROM ConfusionMatrix  
    --GROUP BY ITERATION  
)  
  
-- Calculate averages across all iterations  
SELECT   
    @TP = SUM(Total_TP),  
    @TN = SUM(Total_TN),  
    @FP = SUM(Total_FP),  
    @FN = SUM(Total_FN)  
FROM IterationStats;  
  
UPDATE TB_OPENAI_PROMPT_EVALUATION  
SET TP = @TP,  
    FP = @FP,  
    TN = @TN,  
    FN = @FN  
WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID;  

END

SET NOCOUNT OFF

GO


CREATE OR ALTER PROCEDURE st_ItemsWithThisCodeCount
(
	@ReviewId int
	, @AttributeId bigint
	, @SetId int
	, @IncludedCount int output
	, @ExcludedCount int output
	, @DeletedOrShadowCount int output
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Items table (ItemId bigint primary key)
	insert into @Items 
		select distinct ia.ITEM_ID
		from TB_ITEM_ATTRIBUTE ia
		inner join TB_ITEM_SET tis on ia.ATTRIBUTE_ID = @AttributeId and ia.ITEM_SET_ID = tis.ITEM_SET_ID and tis.IS_COMPLETED = 1
		inner join TB_REVIEW_SET rs on tis.SET_ID = tis.SET_ID and rs.REVIEW_ID = @ReviewId
		inner join TB_ITEM_REVIEW ir on ia.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @ReviewId

	select @IncludedCount = count(item_id) from @Items i inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = i.ItemId and ir.REVIEW_ID = @ReviewId and ir.IS_DELETED = 0 and ir.IS_INCLUDED = 1
	select @ExcludedCount = count(item_id) from @Items i inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = i.ItemId and ir.REVIEW_ID = @ReviewId and ir.IS_DELETED = 0 and ir.IS_INCLUDED = 0
	select @DeletedOrShadowCount = count(item_id) from @Items i inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = i.ItemId and ir.REVIEW_ID = @ReviewId and ir.IS_DELETED = 1 
END
GO
