USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_RobotOpenAIPromptEvaluationResults]    Script Date: 19/03/2026 14:13:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [dbo].[st_RobotOpenAIPromptEvaluationResults] (
		@ReviewId INT
,		@ATTRIBUTE_ID BIGINT
,		@OPENAI_PROMPT_EVALUATION_ID INT
,		@LlmTrue bit
,		@GoldTrue bit

,		@PageNum INT = 1
,		@PerPage INT = 3
,		@CurrentPage INT OUTPUT
,		@TotalPages INT OUTPUT
,		@TotalRows INT OUTPUT
)

As

SET NOCOUNT ON

declare @RowsToRetrieve int
declare @confusion_matrix table (ITERATION INT, ATTRIBUTE_ID BIGINT, ITEM_ID bigint, TP bigint, TN BIGINT, FP BIGINT, FN BIGINT)
declare @T table(ITEM_ID bigint)

;	WITH GoldStandard AS (  
    -- Get the gold standard ATTRIBUTE_IDs for each ITEM_ID  
    SELECT ITEM_ID, ATTRIBUTE_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA  
    WHERE GOLD_STANDARD = 1   
      AND OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  
),  
  
LLMPredictions AS (  
    -- Get LLM predictions for each ITEM_ID and iteration  
    SELECT ITEM_ID, ATTRIBUTE_ID, ITERATION  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA  
    WHERE GOLD_STANDARD = 0   
      AND OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  
),  
  
AllATTRIBUTE_IDs AS (  
    -- Get all unique ATTRIBUTE_IDs in the dataset  
    SELECT DISTINCT ATTRIBUTE_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA   
    WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID  
),  
  
AllITEM_IDs AS (  
    -- Get ALL unique ITEM_IDs in the dataset (both gold standard AND LLM)  
    SELECT DISTINCT ITEM_ID  
    FROM TB_OPENAI_PROMPT_EVALUATION_DATA   
    WHERE OPENAI_PROMPT_EVALUATION_ID = @OPENAI_PROMPT_EVALUATION_ID and ITEM_ID Is not null
),  
  
AllIterations AS (  
    -- Get all unique iterations from LLM predictions  
    SELECT DISTINCT ITERATION  
    FROM LLMPredictions  
),  
  
AllCombinations AS (  
    -- Create all combinations of ITEM_ID, ATTRIBUTE_ID, and ITERATION  
    -- Using all items (not just LLM items) to ensure complete coverage  
    SELECT   
        i.ITEM_ID,   
        a.ATTRIBUTE_ID,   
        it.ITERATION  
    FROM AllITEM_IDs i  
    CROSS JOIN AllATTRIBUTE_IDs a  
    CROSS JOIN AllIterations it  
),  
  
ConfusionMatrix AS (  
    SELECT   
        ac.ITERATION,  
        ac.ATTRIBUTE_ID,  
        ac.ITEM_ID,  
        -- True Positive: Both gold standard and LLM have the ATTRIBUTE_ID  
        CASE WHEN g.ITEM_ID IS NOT NULL AND l.ITEM_ID IS NOT NULL THEN 1 ELSE 0 END AS TP,  
        -- True Negative: Neither gold standard nor LLM have the ATTRIBUTE_ID  
        CASE WHEN g.ITEM_ID IS NULL AND l.ITEM_ID IS NULL THEN 1 ELSE 0 END AS TN,  
        -- False Positive: LLM has it, gold standard doesn't  
        CASE WHEN g.ITEM_ID IS NULL AND l.ITEM_ID IS NOT NULL THEN 1 ELSE 0 END AS FP,  
        -- False Negative: Gold standard has it, LLM doesn't  
        CASE WHEN g.ITEM_ID IS NOT NULL AND l.ITEM_ID IS NULL THEN 1 ELSE 0 END AS FN  
    FROM AllCombinations ac  
    LEFT JOIN GoldStandard g   
        ON ac.ITEM_ID = g.ITEM_ID   
        AND ac.ATTRIBUTE_ID = g.ATTRIBUTE_ID  
    LEFT JOIN LLMPredictions l   
        ON ac.ITEM_ID = l.ITEM_ID   
        AND ac.ATTRIBUTE_ID = l.ATTRIBUTE_ID   
        AND ac.ITERATION = l.ITERATION  
)
insert into @confusion_matrix(ITERATION, ATTRIBUTE_ID, ITEM_ID, TP, TN, FP, FN)
SELECT ITERATION, ATTRIBUTE_ID, ITEM_ID, TP, TN, FP, FN FROM ConfusionMatrix where ATTRIBUTE_ID = @ATTRIBUTE_ID;

if @GoldTrue = 1 and @LlmTrue = 1
begin
	insert into @T(ITEM_ID) select distinct item_id from @confusion_matrix where TP = 1
end

if @GoldTrue = 0 and @LlmTrue = 0
begin
	insert into @T(ITEM_ID) select distinct item_id from @confusion_matrix where TN = 1
end

if @GoldTrue = 1 and @LlmTrue = 0
begin
	insert into @T(ITEM_ID) select distinct item_id from @confusion_matrix where FN = 1
end

if @GoldTrue = 0 and @LlmTrue = 1
begin
	insert into @T(ITEM_ID) select distinct item_id from @confusion_matrix where FP = 1
end

	SELECT @TotalRows = count(*) FROM @T

	set @TotalPages = @TotalRows/@PerPage

	if @PageNum < 1
	set @PageNum = 1

	if @TotalRows % @PerPage != 0
	set @TotalPages = @TotalPages + 1

	set @RowsToRetrieve = @PerPage * @PageNum
	set @CurrentPage = @PageNum;

      WITH SearchResults AS
      (
      SELECT DISTINCT I.ITEM_ID, 0 as ITEM_RANK,
            ROW_NUMBER() OVER(order by i.item_id) RowNum
      FROM @t I
      )
      Select SearchResults.ITEM_ID, II.[TYPE_ID], OLD_ITEM_ID, 
				  [dbo].fn_REBUILD_AUTHORS(II.ITEM_ID, 0) as AUTHORS,
                  TITLE, PARENT_TITLE, SHORT_TITLE, DATE_CREATED, CREATED_BY, DATE_EDITED, EDITED_BY,
                  [YEAR], [MONTH], STANDARD_NUMBER, CITY, COUNTRY, PUBLISHER, INSTITUTION, VOLUME, PAGES, EDITION, ISSUE, IS_LOCAL,
                  AVAILABILITY, URL, ABSTRACT, COMMENTS, [TYPE_NAME], ir.IS_DELETED, IR.IS_INCLUDED,
				  [dbo].fn_REBUILD_AUTHORS(II.ITEM_ID, 1) as PARENTAUTHORS,
                  ir.MASTER_ITEM_ID as MASTER_ITEM_ID, DOI, KEYWORDS, 0 as ITEM_RANK
                  --, ROW_NUMBER() OVER(order by authors, TITLE) RowNum
            FROM SearchResults
                  INNER JOIN TB_ITEM II ON SearchResults.ITEM_ID = II.ITEM_ID 
                  INNER JOIN TB_ITEM_TYPE ON TB_ITEM_TYPE.[TYPE_ID] = II.[TYPE_ID]
				  INNER JOIN TB_ITEM_REVIEW IR ON IR.ITEM_ID = II.ITEM_ID and IR.REVIEW_ID = @ReviewId
            WHERE RowNum > @RowsToRetrieve - @PerPage
            AND RowNum <= @RowsToRetrieve
                  ORDER BY RowNum desc
                
      --OPTION (OPTIMIZE FOR (@PerPage=700, @SEARCH_ID UNKNOWN, @REVIEW_ID UNKNOWN))
SELECT      @CurrentPage as N'@CurrentPage',
            @TotalPages as N'@TotalPages',
            @TotalRows as N'@TotalRows'


SET NOCOUNT OFF
GO

CREATE OR ALTER PROCEDURE st_ItemsWithThisCodeCount
(
	@ReviewId int
	, @AttributeSetId bigint
	, @SetId int
	, @IncludedCount int output
	, @ExcludedCount int output
	, @DeletedOrShadowCount int output
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Items table (ItemId bigint primary key)
	insert into @Items 
		select distinct ia.ITEM_ID
		from TB_ATTRIBUTE_SET tas
		Inner join TB_ITEM_ATTRIBUTE ia on tas.ATTRIBUTE_ID = ia.ATTRIBUTE_ID and tas.SET_ID = @SetId and tas.ATTRIBUTE_SET_ID = @AttributeSetId
		inner join TB_ITEM_SET tis on ia.ATTRIBUTE_ID = tas.ATTRIBUTE_ID and ia.ITEM_SET_ID = tis.ITEM_SET_ID and tis.IS_COMPLETED = 1
		inner join TB_REVIEW_SET rs on tis.SET_ID = tis.SET_ID and rs.REVIEW_ID = @ReviewId
		inner join TB_ITEM_REVIEW ir on ia.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @ReviewId

	select @IncludedCount = count(item_id) from @Items i inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = i.ItemId and ir.REVIEW_ID = @ReviewId and ir.IS_DELETED = 0 and ir.IS_INCLUDED = 1
	select @ExcludedCount = count(item_id) from @Items i inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = i.ItemId and ir.REVIEW_ID = @ReviewId and ir.IS_DELETED = 0 and ir.IS_INCLUDED = 0
	select @DeletedOrShadowCount = count(item_id) from @Items i inner join TB_ITEM_REVIEW ir on ir.ITEM_ID = i.ItemId and ir.REVIEW_ID = @ReviewId and ir.IS_DELETED = 1 
END
GO

