USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_RandomAllocateTrainTest]    Script Date: 27/03/2026 14:49:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER     PROCEDURE [dbo].[st_RandomAllocateTrainTest] (
	@REVIEW_ID INT,
	@CONTACT_ID INT,
	@ATTRIBUTE_ID_GOLD_STANDARD bigint,
	@ATTRIBUTE_ID_PLACE_BELOW bigint,
	@SET_ID_PLACE_BELOW int,
	@HOW_MANY_TO_TRAIN int
)
AS
SET NOCOUNT ON
	--FIRST - check that our destination SET/Attribute is in the right review
	declare @check int
	if @ATTRIBUTE_ID_PLACE_BELOW = 0
		 set @check = (Select count(*) from tb_REVIEW_SET rs 
			where rs.SET_ID = @SET_ID_PLACE_BELOW and rs.REVIEW_ID = @REVIEW_ID)
	else 
		set @check = (Select count(*) from tb_REVIEW_SET rs inner join
			TB_ATTRIBUTE_SET tas on rs.SET_ID = @SET_ID_PLACE_BELOW and rs.SET_ID = tas.SET_ID and tas.ATTRIBUTE_ID = @ATTRIBUTE_ID_PLACE_BELOW and rs.REVIEW_ID = @REVIEW_ID)
	if @check < 1 return;--we refuse to do anything if the place where we should add the new group codes isn't in the current review


	-- THEN, GET A LIST OF ALL THE ITEM_IDs THAT WE'RE WORKING WITH
	declare @IIds TABLE (idx BIGINT Primary Key)

	INSERT INTO @IIds(idx)
	SELECT DISTINCT TB_ITEM_ATTRIBUTE.ITEM_ID FROM TB_ITEM_ATTRIBUTE
		INNER JOIN TB_ITEM_REVIEW ON TB_ITEM_REVIEW.ITEM_ID = TB_ITEM_ATTRIBUTE.ITEM_ID AND TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = TB_ITEM_ATTRIBUTE.ITEM_SET_ID
		WHERE TB_ITEM_ATTRIBUTE.ATTRIBUTE_ID = @ATTRIBUTE_ID_GOLD_STANDARD
			AND TB_ITEM_REVIEW.IS_DELETED = 0
			AND TB_ITEM_SET.IS_COMPLETED = 1

	-- now check we have enough records
	SELECT @CHECK = @@ROWCOUNT --COUNT(*) from @IIds 
	IF @check < (@HOW_MANY_TO_TRAIN + 1)
	BEGIN
		RETURN;
	END

	-- ATTRIBUTE_IDs FOR OUR NEW ATTRIBUTES
	DECLARE @DUMMY_OUTPUT BIGINT = NULL -- WE'RE NOT INTERESTED IN THIS VALUE
	DECLARE @MAX_INDEX INT = 0 --used for the order of new attributes create
	DECLARE @ATTRIBUTE_ID_TRAIN BIGINT
	DECLARE @ATTRIBUTE_ID_TEST BIGINT
				
	set @MAX_INDEX  = 0
		
	SELECT @MAX_INDEX = MAX(ATTRIBUTE_ORDER) + 1 FROM TB_ATTRIBUTE_SET WHERE PARENT_ATTRIBUTE_ID = @ATTRIBUTE_ID_PLACE_BELOW AND SET_ID = @SET_ID_PLACE_BELOW
	IF (@MAX_INDEX IS NULL) SET @MAX_INDEX = 0
		
	EXECUTE st_AttributeSetInsert @SET_ID_PLACE_BELOW, @ATTRIBUTE_ID_PLACE_BELOW, 1, '', @MAX_INDEX, 'Train set', '',
		@CONTACT_ID, @NEW_ATTRIBUTE_SET_ID = @DUMMY_OUTPUT OUTPUT, @NEW_ATTRIBUTE_ID = @ATTRIBUTE_ID_TRAIN OUTPUT
		
	SET @MAX_INDEX = @MAX_INDEX + 1
	EXECUTE st_AttributeSetInsert @SET_ID_PLACE_BELOW, @ATTRIBUTE_ID_PLACE_BELOW, 1, '', @MAX_INDEX, 'Test set', '',
		@CONTACT_ID, @NEW_ATTRIBUTE_SET_ID = @DUMMY_OUTPUT OUTPUT, @NEW_ATTRIBUTE_ID = @ATTRIBUTE_ID_TEST OUTPUT
		
		
	-- NOW WE DO THE ACTUAL INPUTTING OF VALUES
	-- FIRST, WE HAVE TO CREATE ITEM_SET RECORDS FOR ALL OF THE ITEMS
		
	INSERT INTO TB_ITEM_SET(ITEM_ID, SET_ID, IS_COMPLETED, CONTACT_ID) 
		SELECT idx, @SET_ID_PLACE_BELOW, 'True', @CONTACT_ID FROM @IIds ids
		EXCEPT
		SELECT ITEM_ID, @SET_ID_PLACE_BELOW, 'True', @CONTACT_ID FROM TB_ITEM_SET WHERE TB_ITEM_SET.SET_ID = @SET_ID_PLACE_BELOW AND IS_COMPLETED = 'True'

	INSERT INTO TB_ITEM_ATTRIBUTE(ITEM_ID, ITEM_SET_ID, ATTRIBUTE_ID)
		SELECT TOP(@HOW_MANY_TO_TRAIN) IDX, TB_ITEM_SET.ITEM_SET_ID, @ATTRIBUTE_ID_TRAIN FROM @IIds ids
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_ID = ids.idx
		WHERE TB_ITEM_SET.SET_ID = @SET_ID_PLACE_BELOW AND TB_ITEM_SET.IS_COMPLETED = 1
		ORDER BY NEWID()

	INSERT INTO TB_ITEM_ATTRIBUTE(ITEM_ID, ITEM_SET_ID, ATTRIBUTE_ID)
		SELECT idx, TB_ITEM_SET.ITEM_SET_ID, @ATTRIBUTE_ID_TEST FROM @IIds ids
		INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_ID = ids.idx
		WHERE TB_ITEM_SET.SET_ID = @SET_ID_PLACE_BELOW AND TB_ITEM_SET.IS_COMPLETED = 1
		and not TB_ITEM_SET.ITEM_ID IN (
			SELECT ITEM_ID FROM TB_ITEM_ATTRIBUTE WHERE ATTRIBUTE_ID = @ATTRIBUTE_ID_TRAIN)

SET NOCOUNT OFF
GO
