USE [ReviewerAdmin]
GO

/****** Object:  StoredProcedure [dbo].[st_ApplyCreditToReview]    Script Date: 14/08/2026 10:17:29 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER     procedure [dbo].[st_ApplyCreditToReview]
(
	@CREDIT_PURCHASE_ID int,
	@REVIEW_ID int,
	@MONTHS_EXTENDED int,
	@PERSON_EXTENDING_CONTACT_ID int,
	@res int output 

)

As

SET NOCOUNT ON

	set @res = 0

	-- added JB 13/08/2026 for bug fix
	-- we need to check if there is sufficient credit to make this extension
	-- we already have a function (fn_CreditRemainingDetails) that calculates the remaining credit and
	declare @remaining_credit int
	set @remaining_credit = (Select tv_credit_remaining from dbo.fn_CreditRemainingDetails(@CREDIT_PURCHASE_ID))	


	declare @forSaleID int = (select FOR_SALE_ID from TB_FOR_SALE where TYPE_NAME = 'Shareable Review' and IS_ACTIVE = 1) -- review

	declare @reviewFee int = (select PRICE_PER_MONTH from TB_FOR_SALE where FOR_SALE_Id = @forSaleID)
	declare @amountToApply int = @MONTHS_EXTENDED * @reviewFee
	if @remaining_credit >= @amountToApply
	begin
		set @res = 1
		-- extend the review by the selected number of months
	
		-- is the review activated
		declare @monthsCredit int
		declare @oldExpiryDate date
		declare @newExpiryDate date
		declare @newExpiryEditID int

		set @monthsCredit = (select MONTHS_CREDIT from sTB_REVIEW
		where REVIEW_ID = @REVIEW_ID)

		declare @extensionTypeID int = (select EXTENSION_TYPE_ID from TB_EXTENSION_TYPES where EXTENSION_TYPE = 'Using credit purchase')

		if @monthsCredit > 0
		begin
			-- this is an unactivated review so increase the months of credit
			set @monthsCredit = @monthsCredit + @MONTHS_EXTENDED
			update sTB_REVIEW set MONTHS_CREDIT = @monthsCredit
			where REVIEW_ID = @REVIEW_ID
			set @oldExpiryDate = null
			set @newExpiryDate = null
		end
		else
		begin
			set @oldExpiryDate = (select EXPIRY_DATE from sTB_REVIEW
				where REVIEW_ID = @REVIEW_ID)
			if @oldExpiryDate is null
			begin
				-- this is a non-shareable review so make it shareable 
				update sTB_REVIEW set EXPIRY_DATE = DATEADD(MONTH,@MONTHS_EXTENDED,GETDATE())
				where REVIEW_ID = @REVIEW_ID
				set @newExpiryDate = DATEADD(MONTH,@MONTHS_EXTENDED,GETDATE())
			end
			else
			begin
				-- this is a shareable review so extend the expiry date
				if @oldExpiryDate <= getdate()
				begin
					-- it expired so add from today
					update sTB_REVIEW set EXPIRY_DATE = DATEADD(MONTH,@MONTHS_EXTENDED,GETDATE())
					where REVIEW_ID = @REVIEW_ID
					set @newExpiryDate = DATEADD(MONTH,@MONTHS_EXTENDED,GETDATE())
				end
				else
				begin
					-- not yet expired so add from old expiry date
					update sTB_REVIEW set EXPIRY_DATE = DATEADD(MONTH,@MONTHS_EXTENDED,@oldExpiryDate)
					where REVIEW_ID = @REVIEW_ID
					set @newExpiryDate = DATEADD(MONTH,@MONTHS_EXTENDED,@oldExpiryDate)
				end
			end
		end



		-- add the extension to TB_EXPIRY_EDIT_LOG
		insert into TB_EXPIRY_EDIT_LOG (DATE_OF_EDIT, TYPE_EXTENDED, ID_EXTENDED, OLD_EXPIRY_DATE, NEW_EXPIRY_DATE, 
			EXTENDED_BY_ID, EXTENSION_TYPE_ID, EXTENSION_NOTES)
		values (GETDATE(), 0, @REVIEW_ID, @oldExpiryDate, @newExpiryDate, @PERSON_EXTENDING_CONTACT_ID, @extensionTypeID,
			'Extended using a credit purchase')
		SET @newExpiryEditID = @@IDENTITY

		-- add entry into TB_CREDIT_EXTENSIONS
		insert into TB_CREDIT_EXTENSIONS (CREDIT_PURCHASE_ID, EXPIRY_EDIT_ID)
		values (@CREDIT_PURCHASE_ID, @newExpiryEditID)
	
	end


SET NOCOUNT OFF

GO

------------------------------------


USE [ReviewerAdmin]
GO

/****** Object:  StoredProcedure [dbo].[st_ApplyCreditToAccount]    Script Date: 14/08/2026 10:18:09 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER     procedure [dbo].[st_ApplyCreditToAccount]
(
	@CREDIT_PURCHASE_ID int,
	@CONTACT_ID int,
	@MONTHS_EXTENDED int,
	@PERSON_EXTENDING_CONTACT_ID int,
	@res int output
)

As

SET NOCOUNT ON

	-- extend the review by the selected number of months
	
	set @res = 0

	-- added JB 13/08/2026 for bug fix
	-- we need to check if there is sufficient credit to make this extension
	-- we already have a function (fn_CreditRemainingDetails) that calculates the remaining credit and
	declare @remaining_credit int
	set @remaining_credit = (Select tv_credit_remaining from dbo.fn_CreditRemainingDetails(@CREDIT_PURCHASE_ID))	
	declare @forSaleID int = (select MAX(FOR_SALE_ID) from TB_FOR_SALE where TYPE_NAME = 'Professional' and IS_ACTIVE = 1) -- account
	
	declare @accountFee int = (select PRICE_PER_MONTH from TB_FOR_SALE where FOR_SALE_Id = @forSaleID)
	declare @amountToApply int = @MONTHS_EXTENDED * @accountFee
	if @remaining_credit >= @amountToApply
	begin
		set @res = 1

		-- is the review activated
		declare @monthsCredit int
		declare @oldExpiryDate date
		declare @newExpiryDate date
		declare @newExpiryEditID int

		set @monthsCredit = (select MONTHS_CREDIT from sTB_CONTACT
		where CONTACT_ID = @CONTACT_ID)

		declare @extensionTypeID int = (select EXTENSION_TYPE_ID from TB_EXTENSION_TYPES where EXTENSION_TYPE = 'Using credit purchase')

		if @monthsCredit > 0
		begin
			-- this is an unactivated user account so increase the months of credit
			set @monthsCredit = @monthsCredit + @MONTHS_EXTENDED
			update sTB_CONTACT set MONTHS_CREDIT = @monthsCredit
			where CONTACT_ID = @CONTACT_ID
			set @oldExpiryDate = null
			set @newExpiryDate = null
		end
		else
		begin
			set @oldExpiryDate = (select EXPIRY_DATE from sTB_CONTACT
				where CONTACT_ID = @CONTACT_ID)
			if @oldExpiryDate <= getdate()
			begin
				-- it expired so add from today
				update sTB_CONTACT set EXPIRY_DATE = DATEADD(MONTH,@MONTHS_EXTENDED,GETDATE())
					where CONTACT_ID = @CONTACT_ID
				set @newExpiryDate = DATEADD(MONTH,@MONTHS_EXTENDED,GETDATE())
			end
			else
			begin
				-- not yet expired so add from old expiry date
				update sTB_CONTACT set EXPIRY_DATE = DATEADD(MONTH,@MONTHS_EXTENDED,@oldExpiryDate)
					where CONTACT_ID = @CONTACT_ID
				set @newExpiryDate = DATEADD(MONTH,@MONTHS_EXTENDED,@oldExpiryDate)
			end
		end

		-- add the extension to TB_EXPIRY_EDIT_LOG
		insert into TB_EXPIRY_EDIT_LOG (DATE_OF_EDIT, TYPE_EXTENDED, ID_EXTENDED, OLD_EXPIRY_DATE, NEW_EXPIRY_DATE, 
			EXTENDED_BY_ID, EXTENSION_TYPE_ID, EXTENSION_NOTES)
		values (GETDATE(), 1, @CONTACT_ID, @oldExpiryDate, @newExpiryDate, @PERSON_EXTENDING_CONTACT_ID, @extensionTypeID,
			'Extended using a credit purchase')
		SET @newExpiryEditID = @@IDENTITY

		-- add entry into TB_CREDIT_EXTENSIONS
		insert into TB_CREDIT_EXTENSIONS (CREDIT_PURCHASE_ID, EXPIRY_EDIT_ID)
		values (@CREDIT_PURCHASE_ID, @newExpiryEditID)
		
	end

SET NOCOUNT OFF

GO

USE [ReviewerAdmin]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CreditRemainingDetails]    Script Date: 21/08/2026 08:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     FUNCTION [dbo].[fn_CreditRemainingDetails]
(
	@CREDIT_PURCHASE_ID int
)
RETURNS @tv_credit_purchase table (tv_credit_purchase_id int, tv_credit_purchaser_id int, tv_date_purchased date, tv_credit_purchased int,
		tv_credit_remaining float, tv_notes nvarchar(max), tv_contact_name nvarchar(255), tv_email nvarchar(500))
AS
BEGIN
	
declare @reviewPrice int
	declare @accountPrice int
	declare @forSaleID int 
	set @forSaleID = (select MAX(FOR_SALE_ID) from TB_FOR_SALE where TYPE_NAME = 'Professional' and IS_ACTIVE = 1) -- account
	set @accountPrice = (select PRICE_PER_MONTH from TB_FOR_SALE where FOR_SALE_ID = @forSaleID)
	set @forSaleID = (select MAX(FOR_SALE_ID) from TB_FOR_SALE where TYPE_NAME = 'Shareable Review' and IS_ACTIVE = 1) -- review
	set @reviewPrice = (select PRICE_PER_MONTH from TB_FOR_SALE where FOR_SALE_ID = @forSaleID)

	--OLD part, dealing with extensions of Accounts and Reviews
	insert into @tv_credit_purchase (tv_credit_purchase_id, tv_credit_purchaser_id, tv_date_purchased, tv_credit_purchased, tv_notes)
	select CREDIT_PURCHASE_ID, PURCHASER_CONTACT_ID, DATE_PURCHASED, CREDIT_PURCHASED, NOTES from TB_CREDIT_PURCHASE 
	where CREDIT_PURCHASE_ID = @CREDIT_PURCHASE_ID

	declare @tv_credit_history table (tv_credit_extension_id int, tv_type_extended_id int, 
		tv_type_extended_name nvarchar(1000), tv_id_extended int,  
		tv_date_extended date, tv_new_date date, tv_old_date date, tv_true_old_date date, tv_months_extended int, tv_cost int,
		tv_log_notes nvarchar(max), tv_source int, tv_destination int, tv_amount_transferred int, tv_credit_purchase_id int)


	declare @totalUsed int = 0
	declare @remainingCredit float = 0.0
	declare @creditPurchased int = 0


	set @creditPurchased = (select tv_credit_purchased from @tv_credit_purchase
		where tv_credit_purchase_id = @CREDIT_PURCHASE_ID)
		
	insert into @tv_credit_history (tv_credit_extension_id, tv_type_extended_id, tv_id_extended, 
		tv_date_extended, tv_new_date, tv_old_date, tv_log_notes, tv_credit_purchase_id)
	select ce.CREDIT_EXTENSION_ID, eel.TYPE_EXTENDED, eel.ID_EXTENDED, eel.DATE_OF_EDIT, eel.NEW_EXPIRY_DATE, 
		eel.OLD_EXPIRY_DATE, eel.EXTENSION_NOTES, ce.CREDIT_PURCHASE_ID from TB_CREDIT_EXTENSIONS ce
	inner join TB_EXPIRY_EDIT_LOG eel on eel.EXPIRY_EDIT_ID = ce.EXPIRY_EDIT_ID
	where ce.CREDIT_PURCHASE_ID = @CREDIT_PURCHASE_ID
	order by CREDIT_EXTENSION_ID

	-- reviews or accounts
	update @tv_credit_history set tv_type_extended_name = 'Review' where tv_type_extended_id = 0
	update @tv_credit_history set tv_type_extended_name = 'Account' where tv_type_extended_id = 1
	update @tv_credit_history set tv_type_extended_name = 'Transfer' where tv_type_extended_id = 3

	-- get true old_date (i.e. whether the account/review was expired when it was extended)
	update @tv_credit_history set tv_true_old_date = tv_old_date
	update @tv_credit_history set tv_true_old_date = tv_date_extended where tv_date_extended > tv_old_date OR tv_old_date is null

	-- months extended
	update @tv_credit_history set tv_months_extended = (select DATEDIFF(MONTH, tv_true_old_date, tv_new_date))

	-- extract transfer data
	-- need to parse out the data from notes 000000130000001400000020 (S,D,A)
	update @tv_credit_history set tv_source = (SELECT SUBSTRING(tv_log_notes, 1, 8) where tv_type_extended_name = 'Transfer')
	update @tv_credit_history set tv_destination = (SELECT SUBSTRING(tv_log_notes, 9, 8) where tv_type_extended_name = 'Transfer')
	update @tv_credit_history set tv_amount_transferred = (SELECT SUBSTRING(tv_log_notes, 17, 8) where tv_type_extended_name = 'Transfer')


	-- add the total cost
	update @tv_credit_history set tv_cost = tv_months_extended * @accountPrice
	where tv_type_extended_name = 'Account'
	update @tv_credit_history set tv_cost = tv_months_extended * @reviewPrice
	where tv_type_extended_name = 'Review' 
	update @tv_credit_history set tv_cost = tv_amount_transferred 
	where tv_type_extended_name = 'Transfer' and tv_credit_purchase_id = tv_source
	update @tv_credit_history set tv_cost = -1 * tv_amount_transferred 
	where tv_type_extended_name = 'Transfer' and tv_credit_purchase_id = tv_destination

	set @totalUsed = (SELECT SUM(tv_cost)
		FROM @tv_credit_history)
	IF @totalUsed is null set @totalUsed = 0
	set @remainingCredit = @creditPurchased - @totalUsed


	update @tv_credit_purchase
	set tv_contact_name = (select CONTACT_NAME from sTB_CONTACT 
	where CONTACT_ID = (select tv_credit_purchaser_id from @tv_credit_purchase))

	update @tv_credit_purchase
	set tv_email = (select EMAIL from sTB_CONTACT 
	where CONTACT_ID = (select tv_credit_purchaser_id from @tv_credit_purchase))

	--NEW part dealing with credit spent on Robots
	declare @robotUsed float = (select SUM(COST) from sTB_ROBOT_API_CALL_LOG where CREDIT_PURCHASE_ID = @CREDIT_PURCHASE_ID)
	if @robotUsed is null set @robotUsed = 0

	set @remainingCredit = @remainingCredit - @robotUsed
	update @tv_credit_purchase set tv_credit_remaining = @remainingCredit
	where tv_credit_purchase_id = @CREDIT_PURCHASE_ID


	RETURN
END
GO