USE [Reviewer]
GO

IF COL_LENGTH('dbo.TB_ITEM_DOCUMENT', 'TXT_HASH') IS NULL
BEGIN
	ALTER TABLE dbo.TB_ITEM_DOCUMENT ADD
		TXT_HASH varbinary(20) NULL
	print 'Adding TXT_HASH'
END
ELSE print 'Did NOT add TXT_HASH'
GO
declare @chk int = (SELECT count(*)
		FROM sys.indexes 
		WHERE name='IX_TB_ITEM_DOCUMENT_TXT_HASH' AND object_id = OBJECT_ID('[dbo].[TB_ITEM_DOCUMENT]'))
If @chk != 1 
BEGIN
	print 'creating TXT_HASH index'
	CREATE NONCLUSTERED INDEX [IX_TB_ITEM_DOCUMENT_TXT_HASH]
		ON [dbo].[TB_ITEM_DOCUMENT] ([TXT_HASH])
END
else
BEGIN
	print 'TXT_HASH index alread exists'
END
GO