USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_SourceDelete]    Script Date: 16/09/2026 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[st_SourceGetAllDocsIDs] 
	@source_ID int,
	@REVIEW_ID int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--the cc trick is taken from st_SourceDeleteForever ensures we're looking ONLY at items that belong only to this source
	--so removes items that are shared into other reviews.
	select ITEM_DOCUMENT_ID, d.DOCUMENT_EXTENSION from 
			(select ir.ITEM_ID, COUNT(ir.item_id) cnt from TB_ITEM_REVIEW ir 
				inner join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
				where tis.SOURCE_ID = @source_ID -- cnt = 1
				group by ir.ITEM_ID) cc
			inner join TB_ITEM_DOCUMENT d on d.ITEM_ID = cc.ITEM_ID
				where cnt=1

	SET NOCOUNT OFF;
END
GO
USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_SourceFromReview_ID]    Script Date: 16/09/2026 15:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[st_SourceFromReview_ID] 
	-- Add the parameters for the stored procedure here
	@revID int = 0 
with recompile
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Select SOURCE_NAME, count(*) As 'Total_Items',
		sum(CASE WHEN (tb_item_review.IS_DELETED = 1 and tb_item_review.MASTER_ITEM_ID is null) then 1 else 0 END) as 'Deleted_Items',
		sum(CASE WHEN (
				tb_item_review.IS_DELETED = 1 and tb_item_review.is_included = 1 AND tb_item_review.MASTER_ITEM_ID is NOT null
			) then 1 else 0 END) as 'Duplicates',
		TB_SOURCE.IS_DELETED,
		TB_SOURCE.Source_ID,
		0 as TO_ORDER
		from TB_SOURCE inner join
		tb_item_source on TB_SOURCE.source_id = tb_item_source.source_id
		--inner join tb_item on tb_item_source.item_id = tb_item.Item_ID
		inner join tb_item_review on tb_item_source.Item_ID = tb_item_review.Item_ID
		left outer join TB_IMPORT_FILTER on TB_IMPORT_FILTER.IMPORT_FILTER_ID = TB_SOURCE.IMPORT_FILTER_ID
	where TB_SOURCE.review_ID = @RevID AND TB_ITEM_REVIEW.REVIEW_ID = @RevID
	group by SOURCE_NAME,
			 TB_SOURCE.Source_ID,
			 TB_SOURCE.IS_DELETED
	
	
	-- get sourceless items count in a second resultset
	--Select COUNT(ir.ITEM_REVIEW_ID) as 'SourcelessItems' from tb_item_review ir 
	--	left outer join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
	--	left outer join TB_SOURCE ts on tis.SOURCE_ID = ts.SOURCE_ID and ir.REVIEW_ID = ts.REVIEW_ID
	--where ir.REVIEW_ID = @revID and ts.SOURCE_ID is null
	UNION
	Select 'NN_SOURCELESS_NN' as SOURCE_NAME, count(ir.ITEM_REVIEW_ID) As 'Total_Items',
		sum(CASE WHEN (ir.IS_DELETED = 1 and ir.MASTER_ITEM_ID is null) then 1 else 0 END) as 'Deleted_Items',
		sum(CASE WHEN (
				ir.IS_DELETED = 1 and ir.is_included = 1 AND ir.MASTER_ITEM_ID is NOT null
			) then 1 else 0 END) as 'Duplicates',
		Case 
			when COUNT(ir.ITEM_ID) = Sum(
										case when ir.IS_DELETED = 1 then 1 else 0 end
										) 
			then 1 else 0 end
		 as IS_DELETED,
		-1 as Source_ID,
		1 as TO_ORDER
		from tb_item_review ir 
		where ir.REVIEW_ID = @revID 
			and ir.ITEM_ID not in 
				(
					Select ITEM_ID from TB_SOURCE s
					inner join TB_ITEM_SOURCE tis on s.SOURCE_ID = tis.SOURCE_ID and s.REVIEW_ID = @revID
				)
		order by TO_ORDER, TB_SOURCE.Source_ID

	select TOP 1 CAST(REPLACE(RESUME_PARAMETERS, 'SourceId: ', '') as int) as SOURCE_ID from tb_REVIEW_JOB
				where REVIEW_ID = @revID AND JOB_TYPE = 'delete source' and (CURRENT_STATE = 'Running' OR CURRENT_STATE like 'Cancelled%') order by REVIEW_JOB_ID desc
END
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_SourceDeleteForever_start] 
	@source_ID int,
	@REVIEW_ID int,
	@contactID int,
	@Result int = 0 output 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @JobId int;
	set @JobId = (select top 1 REVIEW_JOB_ID from tb_REVIEW_JOB WITH (TABLOCKX, HOLDLOCK)
				where REVIEW_ID = @REVIEW_ID AND JOB_TYPE = 'delete source' and (CURRENT_STATE = 'running' or CURRENT_STATE like 'Cancelled%')
				order by REVIEW_JOB_ID asc)
	IF @JobId is not null --there is one deletion already ongoing or ready to be resumed, so we refuse to proceed
	BEGIN
		set @Result = -1;--signals we refused to proceed
		return;
	END
	--can start the job, so we'll create the TB_REVIEW_JOB record
	insert into tb_REVIEW_JOB (REVIEW_ID, CONTACT_ID, START_TIME,END_TIME, JOB_TYPE, CURRENT_STATE, JOB_MESSAGE, RESUME_PARAMETERS) 
			select @REVIEW_ID, @contactID, GETDATE(), GETDATE(), 'delete source', 'running', '','SourceId: ' + CAST(@source_ID as varchar(20)) 
		set @Result = SCOPE_IDENTITY()
	SET NOCOUNT OFF;
END
GO
CREATE OR ALTER PROCEDURE [dbo].[st_SourceDeleteForeverInBatches] 
	-- Add the parameters for the stored procedure here
	@srcID int = 0,
	@revID int,
	@contactID int,
	@JobId int,
	@batchSize int = 20,
	@result int = 0 output 
AS
BEGIN

	--@result values: 
	--		-1: failed to validate source, not deleted!
	--		-2: exception, job is now marked as failed!
	--		1: finished deleting this batch, more items to be deleted remain
	--		0: finished deleting - the whole source is now gone
	declare @check int = 0;
	set @check = (select count(source_id) from TB_SOURCE where SOURCE_ID = @srcID and REVIEW_ID = @revID and IS_DELETED = 1);
	if (@check != 1) 
	BEGIN
		set @result = -1; --error, should not happen, most likely, this source wasn't already marked as deleted.
		return;
	END
	Declare @tt TABLE
	(
		item_ID bigint PRIMARY KEY
	)
	declare @actualbsize int = @batchSize --actual size of batch we'll delete
	insert into @tt --First: get the ITEM_IDs we'll deal with, excluding those that appear in more than one review
		SELECT top (@batchSize) ITEM_ID FROM
			(select ir.ITEM_ID, COUNT(ir.item_id) cnt from TB_ITEM_REVIEW ir 
				inner join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
				where tis.SOURCE_ID = @srcID -- cnt = 1
				group by ir.ITEM_ID) cc
				where cnt=1
	Set @actualbsize = @@ROWCOUNT
	if @actualbsize > 0
	BEGIN
		BEGIN TRY	--to be VERY sure this doesn't happen in part, we nest a transaction inside a try catch clause
			BEGIN TRANSACTION
				--Second: delete the records in TB_ITEM_REVIEW for the items that are shared only in this review
				--ON 27/04/2022 we start doing this deletion on items that are NOT shared, before we explicitly did it only for shared items
				delete from TB_ITEM_REVIEW 
					where REVIEW_ID = @revID
						AND ITEM_ID in (select item_ID from @tt )

	
				--select DATEDIFF(millisecond, @start, getdate()) as 'ItemReview'
				--set @start = GETDATE()

				--Third: explicitly delete the records that can't be automatically deleted through the foreign key cascade actions
				-- the cnt=1 clause makes sure we don't touch data related to items that appear in other reviews.
				DELETE FROM TB_ITEM_DUPLICATES where ITEM_ID_OUT in (SELECT item_ID from @tt )	
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_DUPLICATES'
				--set @start = GETDATE()

				DELETE FROM TB_ITEM_LINK where ITEM_ID_SECONDARY in (SELECT item_ID from @tt)

				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_LINK'
				--set @start = GETDATE()

				DELETE FROM TB_ITEM_DOCUMENT where ITEM_ID in (SELECT item_ID from @tt)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_DOCUMENT'
				--set @start = GETDATE()

				DELETE From TB_ITEM_ATTRIBUTE where ITEM_ID in (SELECT item_ID from @tt) --and (ITEM_ARM_ID is not null AND ITEM_ARM_ID > 0)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_ATTRIBUTE'
				--set @start = GETDATE()

				DELETE From TB_ITEM_ARM where ITEM_ID in (SELECT item_ID from @tt)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_ARM'
				--set @start = GETDATE()

				DELETE From tb_ITEM_MAG_MATCH where ITEM_ID in (SELECT item_ID from @tt ) and REVIEW_ID = @revID
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'tb_ITEM_MAG_MATCH'
				--set @start = GETDATE()

				--ADDED on 27/04/2022 rewrite
				DELETE FROM TB_ITEM_SOURCE where ITEM_ID in (SELECT item_ID from @tt ) and SOURCE_ID = @srcID
				
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_SOURCE'
				--set @start = GETDATE()

				--ADDED on 09/04/2026 
				DELETE FROM TB_ITEM_TIMEPOINT where ITEM_ID in (SELECT item_ID from @tt ) 
				--Fourth: delete the items 
				DELETE  FROM TB_ITEM WHERE ITEM_ID in (SELECT item_ID from @tt)
			COMMIT TRANSACTION;
			
			set @actualbsize = (select count(*) from TB_ITEM_SOURCE where SOURCE_ID = @srcID);
			if @actualbsize > 0
			BEGIN
				update tb_REVIEW_JOB set END_TIME = GetDATE() where REVIEW_JOB_ID = @JobId;
				set @result = 1;
				return;
			END
		END TRY

		BEGIN CATCH
		--select 'caught!!!!!'
			IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
			set @result = -2 --exception
			--we do the "CAST" to ensure the message fits, can't afford an exception in here...
			update tb_REVIEW_JOB set JOB_MESSAGE = CAST(JOB_MESSAGE + Char(10)+ Char(13) + 'ERROR: ' + ERROR_MESSAGE()
														+ Char(10)+ Char(13) + 'LINE: ' + cast(ERROR_LINE() as varchar(400)) as varchar(4000))
									, CURRENT_STATE = 'Failed'
									, SUCCESS = 0
									, END_TIME = GetDATE()
				where REVIEW_JOB_ID = @JobId
			return; --we stop if something broke down
		END CATCH
		
	END
	ELSE BEGIN --we had already finished items that are not shared, how about items in multiple reviews?
		insert into @tt 
		SELECT top (@batchSize) ITEM_ID FROM
			(select ir.ITEM_ID, COUNT(ir.item_id) cnt from TB_ITEM_REVIEW ir 
				inner join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
				where tis.SOURCE_ID = @srcID -- cnt = 1
				group by ir.ITEM_ID) cc
				where cnt>1
		Set @actualbsize = @@ROWCOUNT
		IF @actualbsize > 0
		BEGIN
			BEGIN TRY	--to be VERY sure this doesn't happen in part, we nest a transaction inside a try catch clause
				BEGIN TRANSACTION
					DELETE from TB_ITEM_REVIEW where ITEM_ID in (SELECT item_ID from @tt) and REVIEW_ID = @revID
			
					--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_REVIEW (shared items)'
					--set @start = GETDATE()

					DELETE from TB_ITEM_SOURCE where ITEM_ID in (SELECT item_ID from @tt) and SOURCE_ID = @srcID 
			
					--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_SOURCE (shared items)'
					--set @start = GETDATE()
			
				

				COMMIT TRANSACTION
				set @actualbsize = (select count(*) from TB_ITEM_SOURCE where SOURCE_ID = @srcID);
				if @actualbsize > 0
				BEGIN
					update tb_REVIEW_JOB set END_TIME = GetDATE() where REVIEW_JOB_ID = @JobId;
					set @result = 1;
					return;
				END
			END TRY
			BEGIN CATCH
				--select 'caught!!!!!'
					IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
					set @result = -2 --exception
			
					--we do the "CAST" to ensure the message fits, can't afford an exception in here...
					update tb_REVIEW_JOB set JOB_MESSAGE = CAST(JOB_MESSAGE + Char(10)+ Char(13) + 'ERROR: ' + ERROR_MESSAGE()
																+ Char(10)+ Char(13) + 'LINE: ' + cast(ERROR_LINE() as varchar(400)) as varchar(4000))
										, CURRENT_STATE = 'Failed'
										, SUCCESS = 0
										, END_TIME = GetDATE()
						where REVIEW_JOB_ID = @JobId
					return --we stop if something broke down
			END CATCH
		END
	END--finished block that deletes shared items, if any
	--both "item deleting blocks" (non shared, and shared items) return whenever there are still items to delete
	--so if we reach this point, it's because we only have the source to delete...
	BEGIN TRY	--to be VERY sure this doesn't happen in part, we nest a transaction inside a try catch clause
		BEGIN TRANSACTION
				
			DELETE FROM TB_SOURCE WHERE SOURCE_ID = @srcID

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		--select 'caught!!!!!'
			IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
			set @result = -2 --exception
			
			--we do the "CAST" to ensure the message fits, can't afford an exception in here...
			update tb_REVIEW_JOB set JOB_MESSAGE = CAST(JOB_MESSAGE + Char(10)+ Char(13) + 'ERROR: ' + ERROR_MESSAGE()
															+ Char(10)+ Char(13) + 'LINE: ' + cast(ERROR_LINE() as varchar(400)) as varchar(4000))
									, CURRENT_STATE = 'Failed'
									, SUCCESS = 0
									, END_TIME = GetDATE()
					where REVIEW_JOB_ID = @JobId
			return --we stop if something broke down
	END CATCH
	--if we didn't "return" until now, it's because we have finished the whole job!
	set @result = 0;
	update tb_REVIEW_JOB set END_TIME = GETDATE(), CURRENT_STATE = 'Ended', SUCCESS = 1, JOB_MESSAGE = cast('SOURCE_ID = ' + CAST(@srcID as varchar(100)) +  Char(10)+ Char(13) + JOB_MESSAGE as varchar(4000)) where REVIEW_JOB_ID = @JobId
END
GO