USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_GetAutoReconcileDataForRAIC]    Script Date: 30/09/2026 16:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   procedure [dbo].[st_GetAutoReconcileDataForRAIC]
(
	@ReviewId int = 0
)
As
	declare @IsInReview bit = 0, @ScreeningSetId int = 0, @ReviewSetId int = 0, @nofPeoplePerItem int = 0;

	declare @cid int = (SELECT CONTACT_ID from TB_CONTACT where 
		CONTACT_NAME = 'Auto-Reconcile User' and EMAIL = 'Auto-Reconcile_UserFAKE@ucl.ac.uk' and EXPIRY_DATE is null);
	if @reviewId > 0 and @cid is not null and @cid > 0
	begin
		declare @chk int = (Select count(*) from TB_REVIEW_CONTACT where CONTACT_ID = @cid and REVIEW_ID = @ReviewId);
		if @chk > 0 set @IsInReview = 1;
	end
	select @ScreeningSetId = SCREENING_CODE_SET_ID, @nofPeoplePerItem = SCREENING_N_PEOPLE from TB_REVIEW where REVIEW_ID = @ReviewId
	select @ReviewSetId = REVIEW_SET_ID from TB_REVIEW_SET where SET_ID = @ScreeningSetId and REVIEW_ID = @ReviewId
	select @cid [DUMMY_ID], @IsInReview [DUMMY_IS_IN_REVIEW], @ScreeningSetId [SCREENING_CODE_SET_ID], @ReviewSetId [REVIEW_SET_ID], @nofPeoplePerItem [SCREENING_N_PEOPLE];
GO
USE [ReviewerAdmin]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[st_ReviewAddContact]') AND type in (N'P', N'PC'))
BEGIN
	print 'dropping st_ReviewAddContact'
	DROP PROCEDURE [dbo].[st_ReviewAddContact]
END
GO