--THIS script is WORK-IN-PROGRESS, do not execute unless you know why you should...

USE [Reviewer]
GO
If IndexProperty(Object_Id('[dbo].[tb_COMPARISON_ITEM_ATTRIBUTE]'), 'IX_COMPARISON_ITEM_ATTRIBUTE_ITEM_ID', 'IndexID') Is Null
begin
	CREATE NONCLUSTERED INDEX [IX_COMPARISON_ITEM_ATTRIBUTE_ITEM_ID]
	ON [dbo].[tb_COMPARISON_ITEM_ATTRIBUTE] ([ITEM_ID])
END
If IndexProperty(Object_Id('[dbo].[TB_ITEM_ARM]'), 'IX_ITEM_ARM_ITEM_ID', 'IndexID') Is Null
begin
	CREATE NONCLUSTERED INDEX [IX_ITEM_ARM_ITEM_ID]
	ON [dbo].[TB_ITEM_ARM] ([ITEM_ID])
END
If IndexProperty(Object_Id('[dbo].[TB_ITEM_ATTRIBUTE_TEXT]'), 'IX_ITEM_ATTRIBUTE_TEXT_ITEM_ATTRIBUTE_ID', 'IndexID') Is Null
begin
	CREATE NONCLUSTERED INDEX [IX_ITEM_ATTRIBUTE_TEXT_ITEM_ATTRIBUTE_ID]
	ON [dbo].[TB_ITEM_ATTRIBUTE_TEXT] ([ITEM_ATTRIBUTE_ID])
END
If IndexProperty(Object_Id('[dbo].[TB_ITEM_LINK]'), 'IX_ITEM_LINK_ITEM_ID_SECONDARY', 'IndexID') Is Null
begin
	CREATE NONCLUSTERED INDEX [IX_ITEM_LINK_ITEM_ID_SECONDARY]
	ON [dbo].[TB_ITEM_LINK] ([ITEM_ID_SECONDARY])
END
If IndexProperty(Object_Id('[dbo].[TB_ITEM_DUPLICATES]'), 'IX_ITEM_DUPLICATES_ITEM_ID_OUT', 'IndexID') Is Null
begin
	CREATE NONCLUSTERED INDEX [IX_ITEM_DUPLICATES_ITEM_ID_OUT]
	ON [dbo].[TB_ITEM_DUPLICATES] ([ITEM_ID_OUT])
END
--If IndexProperty(Object_Id('[dbo].[TB_ITEM_TERM]'), 'IX_ITEM_TERM_ITEM_ID', 'IndexID') Is Null
--begin
----CREATE NONCLUSTERED INDEX [IX_ITEM_TERM_ITEM_ID]
----ON [dbo].[TB_ITEM_TERM] ([ITEM_ID])
--END
GO

---WORK in PROGRESS part
--for this to work, you need the latest source to contain 1K items or more!!
--YOU NEED to put the correct values for set id, att ID in the two calls to SPs (create search, bulk code)!!

declare @r int = 531 --33322 --531
declare @searchId int-- = 17907

--SELECT * from [TB_ITEM_DUPLICATES]

declare @inOut table (iin bigint, iout bigint)

insert into @inOut select top 5000 item_id, item_id + 5000 from TB_ITEM_REVIEW where REVIEW_ID = @r order by ITEM_ID

delete from TB_ITEM_DUPLICATEs where REVIEW_ID = @r
delete from TB_ITEM_DUPLICATES_TEMP where REVIEW_ID = @r

--ADDING DATA everywhere!!
insert into TB_ITEM_DUPLICATES select iin, 0.9, iout, @r, 0,0 from @inOut
insert into TB_ITEM_DUPLICATES_temp select 1, 0.9, 1, iin, @r, '00000000-0000-0000-0000-000000000000',0 from @inOut
insert into TB_ITEM_DUPLICATES_temp select 1, 0.9, 1, iout, @r, '00000000-0000-0000-0000-000000000000',0 from @inOut
insert into TB_ITEM_ARM select iin, 1, 'arm' from @inOut
insert into TB_ITEM_LINK select iin, iout, 'some link' from @inOut
insert into TB_ITEM_DOCUMENT select iin, 'title', null, 'pdf', 'fake text', null, null from @inOut
insert into TB_ITEM_DOCUMENT select iout, 'title', null, 'pdf', 'fake text', null, null from @inOut
insert into TB_ITEM_TERM select iin, @r, 'term', 0.9 from @inOut
insert into TB_ITEM_TERM select iout, @r, 'term', 0.9 from @inOut

DECLARE @RC int
DECLARE @SEARCH_ID int



EXECUTE @RC = [dbo].[st_SearchCodeSetCheck] 
   @SEARCH_ID OUTPUT
  ,1214
  ,@r
  ,'all items'
  ,1971--202097 --1971
  ,0
  ,1
  ,0


set @searchId = @SEARCH_ID


EXECUTE @RC = [dbo].[st_ItemAttributeBulkInsert] 
   1971 --202097 --1971
  ,1
  ,1214
  ,122087 --10735080 --122087
  ,''
  ,@searchId
  ,@r

insert into tb_ITEM_MAG_MATCH select iin, @r, 1, 0.9,null,null,null from @inOut

--DO the WORK
declare @srcID int = (select top(1) source_id from TB_SOURCE where REVIEW_ID = @r order by SOURCE_ID desc)
declare @revID int = @r


declare @start datetime = getdate()
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	declare @check int = 0
	--make sure source belongs to review...
	set @check = (select count(source_id) from TB_SOURCE where SOURCE_ID = @srcID and REVIEW_ID = @revID and IS_DELETED = 1)
	if (@check != 1) return

	Declare @tt TABLE
	(
		item_ID bigint PRIMARY KEY
	)
	declare @bsize int = 500 --max size of batch we'll delete
	declare @actualbsize int = 0 --actual size of batch we'll delete
	declare @counter int = 0
	declare @delay nchar(8) = '00:00:02'--length of the pause after each batch

	insert into @tt --First: get the ITEM_IDs we'll deal with excluding those that appear in more than one review
	SELECT top (@bsize) ITEM_ID FROM
		(select ir.ITEM_ID, COUNT(ir.item_id) cnt from TB_ITEM_REVIEW ir 
			inner join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
			where tis.SOURCE_ID = @srcID -- cnt = 1
			group by ir.ITEM_ID) cc
			where cnt=1
	Set @actualbsize = @@ROWCOUNT

	select DATEDIFF(millisecond, @start, getdate()) as 'prep'
	set @start = GETDATE()

	while (@actualbsize > 0 AND @counter < 100000)
	BEGIN
		BEGIN TRY	--to be VERY sure this doesn't happen in part, we nest a transaction inside a try catch clause
			BEGIN TRANSACTION

				--Second: delete the records in TB_ITEM_REVIEW for the items that are shared only in this review
				--ON 27/04/2022 we start doing this deletion on items that are NOT shared, before we explicitly did it only for shared items
				delete from TB_ITEM_REVIEW 
					where REVIEW_ID = @revID
						AND ITEM_ID in (select item_ID from @tt )

	
				--select DATEDIFF(millisecond, @start, getdate()) as 'ItemReview'
				--set @start = GETDATE()

				--Third: explicitly delete the records that can't be automatically deleted through the foreign key cascade actions
				-- the cnt=1 clause makes sure we don't touch data related to items that appear in other reviews.
				DELETE FROM TB_ITEM_DUPLICATES where ITEM_ID_OUT in (SELECT item_ID from @tt )	
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_DUPLICATES'
				--set @start = GETDATE()

				DELETE FROM TB_ITEM_LINK where ITEM_ID_SECONDARY in (SELECT item_ID from @tt)

				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_LINK'
				--set @start = GETDATE()

				DELETE FROM TB_ITEM_DOCUMENT where ITEM_ID in (SELECT item_ID from @tt)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_DOCUMENT'
				--set @start = GETDATE()

				DELETE From TB_ITEM_ATTRIBUTE where ITEM_ID in (SELECT item_ID from @tt) --and (ITEM_ARM_ID is not null AND ITEM_ARM_ID > 0)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_ATTRIBUTE'
				--set @start = GETDATE()

				DELETE From TB_ITEM_ARM where ITEM_ID in (SELECT item_ID from @tt)
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_ARM'
				--set @start = GETDATE()

				DELETE From tb_ITEM_MAG_MATCH where ITEM_ID in (SELECT item_ID from @tt ) and REVIEW_ID = @revID
	
				--select DATEDIFF(millisecond, @start, getdate()) as 'tb_ITEM_MAG_MATCH'
				--set @start = GETDATE()

				--ADDED on 27/04/2022 rewrite
				DELETE FROM TB_ITEM_SOURCE where ITEM_ID in (SELECT item_ID from @tt ) and SOURCE_ID = @srcID
				--select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_SOURCE'
				--set @start = GETDATE()

				--Fourth: delete the items 
				DELETE top(@bsize) FROM TB_ITEM WHERE ITEM_ID in (SELECT item_ID from @tt)
				delete from @tt
				insert into @tt --before finishing the cycle: get more ITEM_IDs we'll deal with excluding those that appear in more than one review
				SELECT top (@bsize) ITEM_ID FROM
					(select ir.ITEM_ID, COUNT(ir.item_id) cnt from TB_ITEM_REVIEW ir 
						inner join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
						where tis.SOURCE_ID = @srcID -- cnt = 1
						group by ir.ITEM_ID) cc
						where cnt=1
				Set @actualbsize = @@ROWCOUNT
				set @counter = @counter+1
			COMMIT TRANSACTION
			select DATEDIFF(millisecond, @start, getdate()), @counter as 'batch(r)'
				waitfor delay @delay
				set @start = GETDATE()
		END TRY

		BEGIN CATCH
		select 'caught!!!!!'
			IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
			return --we stop if something broke down
		END CATCH
	END --WHILE cycle

	--Fifth Items that are SHARED into multiple reviews, we delete them from TB_ITEM_SOURCE and TB_ITEM_REVIEW only
	delete from @tt
	insert into @tt 
	SELECT top (@bsize) ITEM_ID FROM
		(select ir.ITEM_ID, COUNT(ir.item_id) cnt from TB_ITEM_REVIEW ir 
			inner join TB_ITEM_SOURCE tis on ir.ITEM_ID = tis.ITEM_ID
			where tis.SOURCE_ID = @srcID -- cnt = 1
			group by ir.ITEM_ID) cc
			where cnt>1
	DELETE from TB_ITEM_REVIEW where ITEM_ID in (SELECT item_ID from @tt) and REVIEW_ID = @revID
	select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_REVIEW (shared items)'
	set @start = GETDATE()

	DELETE from TB_ITEM_SOURCE where ITEM_ID in (SELECT item_ID from @tt) and SOURCE_ID = @srcID 
	select DATEDIFF(millisecond, @start, getdate()) as 'TB_ITEM_SOURCE (shared items)'
	set @start = GETDATE()

	--Sixth: delete the source
	DELETE FROM TB_SOURCE WHERE SOURCE_ID = @srcID
	select DATEDIFF(millisecond, @start, getdate()) as 'TB_SOURCE'
	set @start = GETDATE()

	
END


--TB_ITEM 18416ms, TB_ITEM_ARM 1503ms

--ADDED index for ITEM_TERM...
--TB_ITEM 63786ms, TB_ITEM_ARM 1503ms ??WTF?
--NO CHANGE...
--TB_ITEM 1753ms, TB_ITEM_ARM 1750ms 
--NO CHANGE (not pre-deleted the source)...
--TB_ITEM 60247ms, TB_ITEM_ARM 1666ms 
--NO CHANGE (pre-deleted the source, waited a bit)...
--TB_ITEM 2150ms, TB_ITEM_ARM 1513ms
--NO CHANGE (not pre-deleted the source, waited a bit)...
--TB_ITEM 60714ms, TB_ITEM_ARM 1666ms uh? Pre-deletion makes a difference??
--NO CHANGE (deleted the source, un-deleted it, waited quite a bit)...
--TB_ITEM 3310ms, TB_ITEM_ARM ??66ms so, no... It's probably indexing catching up
--dropped previous index (deleted the source, un-deleted it, waited quite a bit)...
--TB_ITEM 2973ms, TB_ITEM_ARM 1600ms so, no... It's probably indexing catching up
--no change, but loading up rev99 (deleted the source, un-deleted it, waited quite a bit)...
--TB_ITEM 5354ms, TB_ITEM_ARM 1587ms so, no... It's probably indexing catching up

--MOVING on LIVE...
--TB_ITEM 234473ms (OUCH!)
--created index IX_COMPARISON_ITEM_ATTRIBUTE_ITEM_ID, moved to import of 1000 items (takes too long, otherwise)
--TB_ITEM: 10033ms
--DROPPED index IX_COMPARISON_ITEM_ATTRIBUTE_ITEM_ID
--TB_ITEM: 40500ms
--RE-created index IX_COMPARISON_ITEM_ATTRIBUTE_ITEM_ID, moved to import of 1000 items (takes too long, otherwise)
--TB_ITEM: 17517ms, TB_ITEM_DOC 4393, TB_ITEM_ARM 2157, TB_ITEM_MAG_MATCH 2173
--DROPPED index IX_COMPARISON_ITEM_ATTRIBUTE_ITEM_ID
--TB_ITEM: 20534ms, TB_ITEM_DOC 127, TB_ITEM_ARM 46, TB_ITEM_MAG_MATCH 30
--NO CHANGE
--TB_ITEM: 21407ms, TB_ITEM_DOC 127, TB_ITEM_ARM 47, TB_ITEM_MAG_MATCH 30
--NO CHANGE, without fiddling with items list or pre-deleting the source
--TB_ITEM: 19967ms, TB_ITEM_DOC 93, TB_ITEM_ARM 30, TB_ITEM_MAG_MATCH 16
--RE-created index IX_COMPARISON_ITEM_ATTRIBUTE_ITEM_ID
--TB_ITEM: 9450ms, TB_ITEM_DOC 220, TB_ITEM_ARM 13, TB_ITEM_MAG_MATCH 1394
--ADDED another 4 indexes (delete explicitly queries)
--TB_ITEM: 9140ms, TB_ITEM_DOC 126, TB_ITEM_ARM 46, TB_ITEM_MAG_MATCH 30
--DROPPED all 5 indexes
--TB_ITEM: 23140ms, TB_ITEM_DOC 344, TB_ITEM_ARM 143, TB_ITEM_MAG_MATCH 250
--RE-created all 5 indexes
--TB_ITEM: 22280ms, TB_ITEM_DOC 4314, TB_ITEM_ARM 2110, TB_ITEM_MAG_MATCH 2093
--NO CHANGE
--TB_ITEM: 9986ms, TB_ITEM_DOC 126, TB_ITEM_ARM 64, TB_ITEM_MAG_MATCH 30
--NO CHANGE
--TB_ITEM: 9673ms, TB_ITEM_DOC 106, TB_ITEM_ARM 17, TB_ITEM_MAG_MATCH 30
--BACK to 10K items does it really make a diff??
--TB_ITEM: 96330ms, TB_ITEM_DOC 1156, TB_ITEM_ARM 203, TB_ITEM_MAG_MATCH 467
--BACK to 1K items Added INDEX for ITEM_TERM
--TB_ITEM: 9627 ms, TB_ITEM_DOC 110, TB_ITEM_ARM 17, TB_ITEM_MAG_MATCH 30

--BACK in DEV!
--in batches of 500
--TB_ITEM: 22396 ouch. Each batch takes about 560-700 ms, first is 9560 ms
--AGAIN in batches of 500 RE-LOaded items list
--TB_ITEM: 56360!! Each batch takes about 580-3434 ms, first is 687 ms ??!?!
--AGAIN in batches of 500 not RE-LOaded items list, fixed bulk add coding call -removed the transaction, for the lulz
--TB_ITEM: 24030!! 
--AGAIN in batches of 500 not RE-LOaded items list, fixed bulk add coding call -removed the transaction, for the lulz -with 2s delay per cycle
--TB_ITEM: 64514 minus 44s = 20s!! So a tiny bit quicker, minus the delay. Otherways much slower.
--AGAIN as above
--TB_ITEM: 64460 minus 44s = 20s!! So a tiny bit quicker, minus the delay. Otherways much slower.

--BACK LIVE, for a source of 1K+ (removed ITEM_TERM index)
--TB_ITEM: 17876 minus 6s = 11s -> no change
--Batch size, down to 100 items
--TB_ITEM: 47827 minus 24s = 24s -> slower!!
--Batch size, up to 1000 items (2 batches)
--TB_ITEM: 13924 minus 4s = 9s -> normal again, despite no transaction and the pause...
--Batch size, down to 100 items put the transaction back, but inside the loop. AIM: check that other queries don't rack up...
--TB_ITEM: 49130 minus 24s = 25s -> slower!! But not stopping other queries, as each of the 12 cycles took 2470s max, this is better
--ONCE more, no change
--TB_ITEM: 50124 minus 24s = 26s -> slower!! But not stopping other queries, as each of the 12 cycles took 2500s max, this is better

--NEW COMMAND with WIDER cycle (DEV env)
--source of 10K+ batches of 500, 22 batches, 2s waitfor = 44s of delays. Total time = 1m16s. Actual time = 32s! Most batches took less than 1s, some more: first b 12027, b8 2736, b11 1706ms
--REPEAT same attempt
--source of 10K+ batches of 500, 22 batches, 2s waitfor = 44s of delays. Total time = 1m8s. Actual time = 24s! Most batches took less than 1s, some more: first b 1967, b18 2134, b11 1706ms

--MOVING LIVE source of 1180 items - 3 batches of 500 max
--source of 1K+ batches of 500, 3 batches, 2s waitfor = 6s of delays. Total time = 0m21s. Actual time = 15s! b1 6250, b2 4780
--REPEAT same attempt
--source of 1K+ batches of 500, 3 batches, 2s waitfor = 6s of delays. Total time = 0m18s. Actual time = 12s! b1 4623, b2 4250, b3 2153
--REPEAT same attempt
--source of 1K+ batches of 500, 3 batches, 2s waitfor = 6s of delays. Total time = 0m19s. Actual time = 13s! b1 5344, b2 4657, b3 2170
--REPEAT same attempt
--source of 1K+ batches of 500, 3 batches, 2s waitfor = 6s of delays. Total time = 0m19s. Actual time = 13s! b1 5187, b2 4280, b3 2187
--BIG source 10937 items
--source of 1K+ batches of 500, 22 batches, 2s waitfor = 44s of delays. Total time = 3m18s. Actual time = 154s! bmax 14094, bmin 5263, b typical 5.5s-6.2s














