USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_LogReviewJobUpdate]    Script Date: 18/11/2025 09:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF COL_LENGTH('dbo.tb_REVIEW_JOB', 'RESUME_PARAMETERS') IS NULL
BEGIN
	ALTER TABLE dbo.tb_REVIEW_JOB ADD RESUME_PARAMETERS nvarchar(max) NULL
END
GO

ALTER   PROCEDURE [dbo].[st_LogReviewJobUpdate]
	-- Add the parameters for the stored procedure here
	@ReviewId int,
	@REVIEW_JOB_ID int,
	@CurrentState nvarchar(50),
	@Success bit null,
	@JobMessage nvarchar(4000),
	@ResumeParams nvarchar(max) = 'ignore'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.



	if @JobMessage is not null AND @JobMessage != '' 
		Update [tb_REVIEW_JOB] set
			   [END_TIME] = GETDATE()
			   ,[CURRENT_STATE] = @CurrentState
			   ,[SUCCESS] = @Success
			   ,[JOB_MESSAGE] = @JobMessage
			   ,RESUME_PARAMETERS = (CASE when (@ResumeParams = 'ignore') then RESUME_PARAMETERS else @ResumeParams end)
		WHERE REVIEW_ID = @ReviewId
			and REVIEW_JOB_ID = @REVIEW_JOB_ID
	ELSE
		Update [tb_REVIEW_JOB] set
			   [END_TIME] = GETDATE()
			   ,[CURRENT_STATE] = @CurrentState
			   ,[SUCCESS] = @Success
			   ,RESUME_PARAMETERS = (CASE when (@ResumeParams = 'ignore') then RESUME_PARAMETERS else @ResumeParams end)
		WHERE REVIEW_ID = @ReviewId
			and REVIEW_JOB_ID = @REVIEW_JOB_ID
     
END
GO
