USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_OpenAlexOriginReport]    Script Date: 23/01/2026 14:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		SG
-- Create date: 13/01/2026
-- Description:	Where, if any, items with this code appear in OA searches
-- =============================================
ALTER     PROCEDURE [dbo].[st_OpenAlexOriginReport] 
	@ReviewId int 
	,@attributeid bigint 
AS
BEGIN
	declare @MatchedItems table (Item_id bigint primary key)
	declare @AllItems table (Item_id bigint primary key)
	declare @UnmatchedItemsT table (Item_id bigint primary key)
	declare @ItemsMatch table (Item_id bigint, PaperId bigint, primary key(Item_id, PaperId))
	declare @results table (item_id bigint, PaperId bigint null, IsInAU bit, MAG_AUTO_UPDATE_RUN_ID int null
		, ContReviewScore float null, UserClassifierScore float null, StudyTypeClassifierScore float null, DATE_RUN datetime null
		, IsInRS bit, MAG_RELATED_RUN_ID int null)

	insert into @AllItems --items with this code, ignoring deleted items and incomplete coding
		SELECT DISTINCT I.ITEM_ID FROM TB_ITEM_REVIEW I
		INNER join TB_ITEM_ATTRIBUTE tia on tia.ATTRIBUTE_ID = @attributeid and tia.ITEM_ID = I.ITEM_ID and I.REVIEW_ID = @ReviewId
		INNER Join TB_ITEM_SET tis on tia.ITEM_SET_ID = tis.ITEM_SET_ID and tis.IS_COMPLETED = 1

	insert into @MatchedItems 
		SELECT DISTINCT (I.ITEM_ID) FROM @AllItems I
		INNER JOIN tb_ITEM_MAG_MATCH IMM ON IMM.ITEM_ID = I.ITEM_ID and IMM.REVIEW_ID = @ReviewId 
		AND ((imm.AutoMatchScore >= 0.8 or imm.ManualTrueMatch = 'true') and (imm.ManualFalseMatch <> 'true' or imm.ManualFalseMatch is null))

	insert into @UnmatchedItemsT
		SELECT DISTINCT (I.ITEM_ID) FROM @AllItems I
		WHERE I.ITEM_ID not in (SELECT ITEM_ID from @MatchedItems)
	declare @UnmatchedItems int = (select @@ROWCOUNT)

	Insert into @ItemsMatch(Item_id, PaperId)
		SELECT DISTINCT I.ITEM_ID, PaperId FROM @MatchedItems I
		INNER JOIN tb_ITEM_MAG_MATCH IMM ON IMM.ITEM_ID = I.ITEM_ID and IMM.REVIEW_ID = @ReviewId
		WHERE  (imm.ManualTrueMatch = 'true')

	Insert into @ItemsMatch(Item_id, PaperId)
		SELECT DISTINCT I.ITEM_ID, PaperId FROM @MatchedItems I
		INNER JOIN tb_ITEM_MAG_MATCH IMM ON IMM.ITEM_ID = I.ITEM_ID and IMM.REVIEW_ID = @ReviewId
		WHERE  (imm.AutoMatchScore >= 0.8) AND I.Item_id not in (select Item_id from @ItemsMatch)
	
	--select * from @ItemsMatch


	--Add items found in AutoUpdate runs
	insert into @results (item_id, PaperId, IsInAU, MAG_AUTO_UPDATE_RUN_ID, IsInRS, ContReviewScore, UserClassifierScore, StudyTypeClassifierScore, DATE_RUN)
	select Item_id, rr.PaperId, 1, aur.MAG_AUTO_UPDATE_RUN_ID, 0, rr.ContReviewScore, rr.UserClassifierScore, rr.StudyTypeClassifierScore, aur.DATE_RUN
	from TB_MAG_AUTO_UPDATE au
		inner join TB_MAG_AUTO_UPDATE_RUN aur on au.REVIEW_ID = @ReviewId and au.MAG_AUTO_UPDATE_ID = aur.MAG_AUTO_UPDATE_ID
		inner join TB_MAG_AUTO_UPDATE_RUN_PAPER rr on aur.MAG_AUTO_UPDATE_RUN_ID = rr.MAG_AUTO_UPDATE_RUN_ID
		inner join @ItemsMatch im on rr.PaperId = im.PaperId

	--Add items found in Related Searches - Duplicates are allowed!
	insert into @results (item_id, PaperId, IsInRS, MAG_RELATED_RUN_ID, IsInAU)
	select im.Item_id, im.PaperId, 1, rr.MAG_RELATED_RUN_ID, 0 from TB_MAG_RELATED_RUN rr
		inner join TB_MAG_RELATED_PAPERS rp on rr.MAG_RELATED_RUN_ID = rp.MAG_RELATED_RUN_ID and rr.REVIEW_ID = @ReviewId
		inner join @ItemsMatch im on rp.PaperId = im.PaperId

	--add items with matches, but not in the searches
	insert into @results(item_id, PaperId, IsInAU, IsInRS)
		select Item_id, PaperId, 0, 0 from @ItemsMatch where Item_id not in (Select Item_id from @results)
	--add the unmatched
	insert into @results (item_id, IsInAU, IsInRS) select item_id,0,0 from @UnmatchedItemsT

	--select count(distinct item_id) 'auto updates', 1+3 expected from @results where IsInAU = 1
	--select count(distinct item_id) 'related search', 291+3 expected from @results where IsInRS = 1
	declare @AutoUpdates int = (select count(distinct item_id) from @results where IsInAU = 1)
	declare @RelatedSearches int = (select count(distinct item_id) from @results where IsInRS = 1)
	declare @Both int = (select count(distinct r1.item_id)  
		from @results r1
		inner join @results r2 on r1.item_id = r2.item_id and r1.IsInRS = 1 AND r2.IsInAU = 1)
	declare @MatchedOtherSources int = (Select count(distinct item_id)  from @results where PaperId is NOT null and IsInAU = 0 and IsInRS = 0)
	declare @totMatched int =  (Select count(distinct item_id)  from @MatchedItems)
	--declare @TotFromIR int = (select count(item_id) from TB_ITEM_REVIEW where REVIEW_ID = @ReviewId and IS_DELETED = 0)
	declare @WitnSomeMatch int = (select count(distinct IR.item_id) from TB_ITEM_REVIEW IR
									inner join tb_ITEM_MAG_MATCH MM on IR.REVIEW_ID = @ReviewId and IS_DELETED = 0 and MM.ITEM_ID = IR.ITEM_ID)

	Select @UnmatchedItems + @totMatched as [Computed Total]--, @TotFromIR as [TotalIR]
		--,@WitnSomeMatch [with some match]
		,@totMatched as [Matched], @UnmatchedItems as [Not Matched]
		,@AutoUpdates [In AutoUpdate results], @RelatedSearches [In Related Searches], @Both [in both], @MatchedOtherSources [Other]
		--, @totMatched - @AutoUpdates - @RelatedSearches+ @Both as [Check]
	--checks need to ensure each item appears 

	select distinct au.MAG_AUTO_UPDATE_ID, au.REVIEW_ID, au.USER_DESCRIPTION, au.ATTRIBUTE_ID, a.ATTRIBUTE_NAME
	,au.ALL_INCLUDED, cm.MODEL_TITLE, aur.STUDY_TYPE_CLASSIFIER, aur.USER_CLASSIFIER_MODEL_ID, aur.USER_CLASSIFIER_REVIEW_ID
	, aur.MAG_AUTO_UPDATE_RUN_ID, aur.DATE_RUN, aur.N_PAPERS, aur.MAG_VERSION
	, count(r.item_id) [ITEMS_COUNT] from @results r 
	inner join TB_MAG_AUTO_UPDATE_RUN aur
		on r.IsInAU = 1 and r.MAG_AUTO_UPDATE_RUN_ID = aur.MAG_AUTO_UPDATE_RUN_ID
	inner join TB_MAG_AUTO_UPDATE au on aur.MAG_AUTO_UPDATE_ID = au.MAG_AUTO_UPDATE_ID and au.REVIEW_ID = @ReviewId
	left outer join TB_ATTRIBUTE a on a.ATTRIBUTE_ID = au.ATTRIBUTE_ID
	left outer join tb_CLASSIFIER_MODEL cm on cm.MODEL_ID = aur.USER_CLASSIFIER_MODEL_ID
	group by au.MAG_AUTO_UPDATE_ID, au.REVIEW_ID, au.USER_DESCRIPTION, au.ATTRIBUTE_ID, a.ATTRIBUTE_NAME
	,au.ALL_INCLUDED, cm.MODEL_TITLE, aur.STUDY_TYPE_CLASSIFIER, aur.USER_CLASSIFIER_MODEL_ID, aur.USER_CLASSIFIER_REVIEW_ID
	, aur.MAG_AUTO_UPDATE_RUN_ID, aur.DATE_RUN, aur.N_PAPERS, aur.MAG_VERSION

	select distinct rr.MAG_RELATED_RUN_ID, rr.REVIEW_ID, rr.USER_DESCRIPTION, rr.ATTRIBUTE_ID, a.ATTRIBUTE_NAME, rr.ALL_INCLUDED, rr.DATE_FROM
	, rr.DATE_RUN, rr.STATUS, rr.USER_STATUS, rr.N_PAPERS, rr.MODE, rr.FILTERED
	, count(r.item_id) [ITEMS_COUNT] from @results r
	inner join TB_MAG_RELATED_RUN rr on r.IsInRS = 1 and r.MAG_RELATED_RUN_ID = rr.MAG_RELATED_RUN_ID and rr.REVIEW_ID = @ReviewId
	left join TB_ATTRIBUTE a on rr.ATTRIBUTE_ID = a.ATTRIBUTE_ID
	group by rr.MAG_RELATED_RUN_ID, rr.REVIEW_ID, rr.USER_DESCRIPTION, rr.ATTRIBUTE_ID, a.ATTRIBUTE_NAME, rr.ALL_INCLUDED, rr.DATE_FROM
	, rr.DATE_RUN, rr.STATUS, rr.USER_STATUS, rr.N_PAPERS, rr.MODE, rr.FILTERED

	SELECT s.*, C.CONTACT_ID, C.CONTACT_NAME
	FROM TB_MAG_SEARCH S
	INNER JOIN TB_CONTACT C ON C.CONTACT_ID = S.CONTACT_ID
	where REVIEW_ID = @ReviewId AND SEARCH_IDS_STORED = 1


	select distinct r.*, i.SHORT_TITLE, i.TITLE--, tis.*, s.*
		,CASE when (s.SOURCE_ID is null) then 'Manual creation' else s.SOURCE_NAME end as [SOURCE_NAME]
	from @results r 
	inner join tb_item i on r.item_id = i.ITEM_ID 
	left join TB_ITEM_SOURCE tis on i.ITEM_ID = tis.ITEM_ID
	left join TB_SOURCE s on s.SOURCE_ID = tis.SOURCE_ID and s.REVIEW_ID = @ReviewId
	WHERE (s.SOURCE_NAME is NOT NULL OR (s.SOURCE_NAME IS NULL AND tis.SOURCE_ID is NULL))
	order by SHORT_TITLE, r.Item_id
END
GO

USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_TrainingWriteDataToAzure]    Script Date: 27/01/2026 10:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[st_TrainingWriteDataToAzure]
(
	@REVIEW_ID INT,
	@SCREENING_INDEXED BIT = 'FALSE'
--,	@SCREENING_DATA_FILE NVARCHAR(50)
)

As

SET NOCOUNT ON

	DELETE FROM TB_SCREENING_ML_TEMP WHERE REVIEW_ID = @REVIEW_ID

	Declare @Items table(ITEM_ID bigint, INCLUDED varchar(2), [ORDER] smallint)

	Insert into @Items SELECT DISTINCT ir.ITEM_ID, '1', 0
	FROM TB_ITEM_ATTRIBUTE tia
	INNER JOIN TB_ITEM_REVIEW ir on tia.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
	INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = tia.ITEM_SET_ID
		AND TB_ITEM_SET.IS_COMPLETED = 1
	INNER JOIN TB_TRAINING_SCREENING_CRITERIA sc ON sc.ATTRIBUTE_ID = tia.ATTRIBUTE_ID AND sc.INCLUDED = 1 AND sc.REVIEW_ID = @REVIEW_ID

	Insert into @Items SELECT DISTINCT ir.ITEM_ID, '0', 1  
	FROM TB_ITEM_ATTRIBUTE tia
	INNER JOIN TB_ITEM_REVIEW ir on tia.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
	INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = tia.ITEM_SET_ID
		AND TB_ITEM_SET.IS_COMPLETED = 1
	INNER JOIN TB_TRAINING_SCREENING_CRITERIA sc ON sc.ATTRIBUTE_ID = tia.ATTRIBUTE_ID AND sc.INCLUDED = 0 AND sc.REVIEW_ID = @REVIEW_ID
	WHERE ir.ITEM_ID NOT in (select ITEM_ID from @Items)

	Insert into @items SELECT DISTINCT ir.ITEM_ID, '99', 2 
	FROM TB_ITEM_REVIEW ir
	INNER JOIN TB_ITEM I ON I.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID and ir.IS_DELETED = 0
		where ir.ITEM_ID NOT in (select ITEM_ID from @Items) AND ir.ITEM_ID NOT in
		(
			SELECT ITEM_ID FROM TB_ITEM_SET
				INNER JOIN TB_REVIEW ON TB_REVIEW.SCREENING_CODE_SET_ID = TB_ITEM_SET.SET_ID
				WHERE TB_ITEM_SET.IS_COMPLETED = 'TRUE' AND TB_REVIEW.REVIEW_ID = @REVIEW_ID
		)
	SELECT DISTINCT @REVIEW_ID REVIEW_ID, i.ITEM_ID, TITLE, ABSTRACT, KEYWORDS, i.INCLUDED 
		FROM @Items i inner join TB_ITEM ii on i.ITEM_ID = ii.ITEM_ID
		ORDER by [ORDER]

	--SELECT DISTINCT @REVIEW_ID REVIEW_ID, tia.ITEM_ID, TITLE, ABSTRACT, KEYWORDS, '1' INCLUDED 
	--FROM TB_ITEM_ATTRIBUTE tia
	--INNER JOIN TB_ITEM_REVIEW ir on tia.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
	--INNER JOIN TB_ITEM I ON I.ITEM_ID = tia.ITEM_ID
	--INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = tia.ITEM_SET_ID
	--	AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
	--INNER JOIN TB_TRAINING_SCREENING_CRITERIA ON TB_TRAINING_SCREENING_CRITERIA.ATTRIBUTE_ID =
	--	tia.ATTRIBUTE_ID AND TB_TRAINING_SCREENING_CRITERIA.INCLUDED = 'True'
	--WHERE TB_TRAINING_SCREENING_CRITERIA.REVIEW_ID = @REVIEW_ID
			
	--UNION ALL
	
	--SELECT DISTINCT @REVIEW_ID REVIEW_ID, tia.ITEM_ID, TITLE, ABSTRACT, KEYWORDS, '0' INCLUDED  
	--FROM TB_ITEM_ATTRIBUTE tia
	--INNER JOIN TB_ITEM_REVIEW ir on tia.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
	--INNER JOIN TB_ITEM I ON I.ITEM_ID = tia.ITEM_ID
	--INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = tia.ITEM_SET_ID
	--	AND TB_ITEM_SET.IS_COMPLETED = 'TRUE'
	--INNER JOIN TB_TRAINING_SCREENING_CRITERIA ON TB_TRAINING_SCREENING_CRITERIA.ATTRIBUTE_ID =
	--	tia.ATTRIBUTE_ID AND TB_TRAINING_SCREENING_CRITERIA.INCLUDED = 'False'
	--WHERE TB_TRAINING_SCREENING_CRITERIA.REVIEW_ID = @REVIEW_ID

	--UNION ALL
	
	--SELECT DISTINCT @REVIEW_ID REVIEW_ID, TB_ITEM_REVIEW.ITEM_ID, TITLE, ABSTRACT, KEYWORDS, '99' INCLUDED FROM TB_ITEM_REVIEW
	--INNER JOIN TB_ITEM I ON I.ITEM_ID = TB_ITEM_REVIEW.ITEM_ID
	--	where TB_ITEM_REVIEW.REVIEW_ID = @REVIEW_ID AND TB_ITEM_REVIEW.IS_DELETED = 'FALSE' AND not TB_ITEM_REVIEW.ITEM_ID in
	--	(
	--		SELECT ITEM_ID FROM TB_ITEM_SET
	--			INNER JOIN TB_REVIEW ON TB_REVIEW.SCREENING_CODE_SET_ID = TB_ITEM_SET.SET_ID
	--			WHERE TB_ITEM_SET.IS_COMPLETED = 'TRUE' AND TB_REVIEW.REVIEW_ID = @REVIEW_ID
	--	)


SET NOCOUNT OFF
GO

--declare @REVIEW_ID INT = 58292 -- 99--7 58292
--	DELETE FROM TB_SCREENING_ML_TEMP WHERE REVIEW_ID = @REVIEW_ID

--	Declare @Items table(ITEM_ID bigint, INCLUDED varchar(2), [ORDER] smallint, primary key(ITEM_ID, [ORDER]))

--	Insert into @Items SELECT DISTINCT ir.ITEM_ID, '1', 0
--	FROM TB_ITEM_ATTRIBUTE tia
--	INNER JOIN TB_ITEM_REVIEW ir on tia.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
--	INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = tia.ITEM_SET_ID
--		AND TB_ITEM_SET.IS_COMPLETED = 1
--	INNER JOIN TB_TRAINING_SCREENING_CRITERIA sc ON sc.ATTRIBUTE_ID = tia.ATTRIBUTE_ID AND sc.INCLUDED = 1 AND sc.REVIEW_ID = @REVIEW_ID
--	UNION ALL
--	SELECT DISTINCT ir.ITEM_ID, '0', 1  
--	FROM TB_ITEM_ATTRIBUTE tia
--	INNER JOIN TB_ITEM_REVIEW ir on tia.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID
--	INNER JOIN TB_ITEM_SET ON TB_ITEM_SET.ITEM_SET_ID = tia.ITEM_SET_ID
--		AND TB_ITEM_SET.IS_COMPLETED = 1
--	INNER JOIN TB_TRAINING_SCREENING_CRITERIA sc ON sc.ATTRIBUTE_ID = tia.ATTRIBUTE_ID AND sc.INCLUDED = 0 AND sc.REVIEW_ID = @REVIEW_ID
--	--WHERE ir.ITEM_ID NOT in (select ITEM_ID from @Items)
--	UNION ALL
--	SELECT DISTINCT ir.ITEM_ID, '99', 2 
--	FROM TB_ITEM_REVIEW ir
--	INNER JOIN TB_ITEM I ON I.ITEM_ID = ir.ITEM_ID and ir.REVIEW_ID = @REVIEW_ID and ir.IS_DELETED = 0
--		where --ir.ITEM_ID NOT in (select ITEM_ID from @Items) 
--		--AND 
--		ir.ITEM_ID NOT in
--		(
--			SELECT ITEM_ID FROM TB_ITEM_SET
--				INNER JOIN TB_REVIEW ON TB_REVIEW.SCREENING_CODE_SET_ID = TB_ITEM_SET.SET_ID
--				WHERE TB_ITEM_SET.IS_COMPLETED = 'TRUE' AND TB_REVIEW.REVIEW_ID = @REVIEW_ID
--		)

--	SELECT @REVIEW_ID REVIEW_ID, i.ITEM_ID, TITLE, ABSTRACT, KEYWORDS, i.INCLUDED 
--		FROM @Items i inner join TB_ITEM ii on i.ITEM_ID = ii.ITEM_ID
--		ORDER by [ORDER]