USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_LogReviewJob]    Script Date: 08/07/2024 13:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE or ALTER PROCEDURE [dbo].[st_LogReviewJobUpdate]
	-- Add the parameters for the stored procedure here
	@ReviewId int,
	@REVIEW_JOB_ID int,
	@CurrentState nvarchar(50),
	@Success bit,
	@JobMessage nvarchar(4000)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	Update [tb_REVIEW_JOB] set
           [END_TIME] = GETDATE()
           ,[CURRENT_STATE] = @CurrentState
           ,[SUCCESS] = @Success
           ,[JOB_MESSAGE] = @JobMessage
	WHERE REVIEW_ID = @ReviewId
		and REVIEW_JOB_ID = @REVIEW_JOB_ID
     
END
GO

USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ItemDuplicateGroupCheckOngoingLog]    Script Date: 08/07/2024 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE or ALTER PROCEDURE [dbo].[st_TrainingScreeningCheckOngoingLog] 
	-- Add the parameters for the stored procedure here
	(
		@revID int,
		@CONTACT_ID int,
		@LogNewJob bit = 0,
		@NewJobId int = 0 output,
		@NewTrainingId int = 0 output
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT, XACT_ABORT ON;
	--Based on the template of st_ItemDuplicateGroupCheckOngoingLog
	--see https://weblogs.sqlteam.com/dang/2007/10/28/conditional-insertupdate-race-condition/
	--for details on how this is dealing with concurrency problems. Aim is to avoid having two instances of this SP insert
	--SP is called whenever the list of duplicates is retrieved AND when we are asking to find new duplicates...
	
	--paired with the "lasting lock", the transaction prevents two instances to be triggered concurrently
	--without the lasting lock, the TRAN itself won't work, see link above for the details.
	BEGIN TRAN A

	--get the last job ID, and acquire an exclusive table lock
	declare @jobid int = (select top 1 REVIEW_JOB_ID from tb_REVIEW_JOB WITH (TABLOCKX, HOLDLOCK) where REVIEW_ID = @revID AND JOB_TYPE = 'PS training' order by REVIEW_JOB_ID desc )
	--TABLOCKX: exclusive table lock; HOLDLOCK: keep this lock on until the whole transaction is done.
	
	--how did the last job go?
	declare @state nvarchar(50) = ''
	IF @jobid is not null set @state = (select current_state from tb_REVIEW_JOB where REVIEW_JOB_ID = @jobid)
	ELSE set @state = 'Ended'
	if @state = 'Ended'
		BEGIN
			--EITHER never done for this review, or last run worked. 
			IF @LogNewJob = 1
			BEGIN
			--we insert the "PS training" line here, to make this properly ACID
			--to be "Atomic" we also have the transaction statement AND the lock hints on the first lookup for the @jobid
				insert into tb_REVIEW_JOB (REVIEW_ID, CONTACT_ID, START_TIME, END_TIME, JOB_TYPE, CURRENT_STATE) 
				VALUES (@revID, @CONTACT_ID, getdate(),getdate(), 'PS training', 'Starting')
				set @NewJobId = SCOPE_IDENTITY()
				insert into TB_TRAINING (REVIEW_ID, CONTACT_ID, TIME_STARTED, TIME_ENDED)
					VALUES (@revID, @CONTACT_ID, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
				set @NewTrainingId = SCOPE_IDENTITY()
			END	
			COMMIT TRAN A --Have to commit, before we can return!
			return 1
		END
	--From now on, we can assume @jobid is NOT NULL
	IF @state = 'Failed' 
	BEGIN
		--C# side will be told to start again...
		--so we insert the "PS training" line here, to make this properly ACID
		--to be "Atomic" we also have the transaction statement AND the lock hints on the first lookup for the @jobid
		insert into tb_REVIEW_JOB (REVIEW_ID, CONTACT_ID, START_TIME, END_TIME, JOB_TYPE, CURRENT_STATE) 
			VALUES (@revID, @CONTACT_ID, getdate(),getdate(), 'PS training', 'Starting')
			set @NewJobId = SCOPE_IDENTITY()
		insert into TB_TRAINING (REVIEW_ID, CONTACT_ID, TIME_STARTED, TIME_ENDED)
			VALUES (@revID, @CONTACT_ID, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
		set @NewTrainingId = SCOPE_IDENTITY()
		COMMIT TRAN A --Have to commit, before we can return!
		return -3 --this makes the "PS training" part start again.
	END
	IF @state = 'Running'
	BEGIN
		--PS training is running for this review, has it been running for too long?
		declare @ended datetime;
		set @ended = (select END_TIME from tb_REVIEW_JOB where REVIEW_JOB_ID = @jobid)
		declare @diff int = DateDiff(MINUTE, @ended, getdate())
		if @diff > 15 --this job has been inactive for 15 minutes, as PS updates END_TIME regularly, we can assume it was interrupted...
		BEGIN
			--has been marked as running, but hasn't done anything for 15m or more, we'll mark it as failed, check number of failures and return -3 to ask for a rerun or -4 to abort
			update tb_REVIEW_JOB set CURRENT_STATE = 'Failed', SUCCESS = 0, JOB_MESSAGE = 'Automated Failure: inactive for too long' where REVIEW_JOB_ID = @jobid
			--for safety, we'll check that  the last 10 executions were not failures, for this review.
			declare @check int =
							(
								select SUM(A.FAILURES) from
								(select top 10 CASE when CURRENT_STATE = 'Failed' then 1 else 0 end as FAILURES from tb_REVIEW_JOB where REVIEW_ID = @revID AND JOB_TYPE = 'PS training') as A
							)
			if @check >= 10 
			BEGIN
				COMMIT TRAN A --Have to commit, before we can return!
				return -4 --this is BAD, we tried 10 times in a row, never succeeded
			END
			else 
			BEGIN
				--we insert the "PS training" line here, to make this properly ACID
				--to be "Atomic" we also have the transaction statement AND the lock hints on the first lookup for the @jobid
				insert into tb_REVIEW_JOB (REVIEW_ID, CONTACT_ID, START_TIME, END_TIME, JOB_TYPE, CURRENT_STATE) 
				VALUES (@revID, @CONTACT_ID, getdate(),getdate(), 'PS training', 'Starting')
				set @NewJobId = SCOPE_IDENTITY()
				insert into TB_TRAINING (REVIEW_ID, CONTACT_ID, TIME_STARTED, TIME_ENDED)
					VALUES (@revID, @CONTACT_ID, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
				set @NewTrainingId = SCOPE_IDENTITY()
				COMMIT TRAN A --Have to commit, before we can return!
				return -3 --this makes the "PS training" part start again.
			END
		END
		COMMIT TRAN A --Have to commit, before we can return!
		return -2; --normal "this is still running" value.
	END
	--We should never reach this, but just in case, we should return something...
	COMMIT TRAN A --Have to commit, before we can return!
	return -4; --signalling that something is WRONG!
	SET NOCOUNT OFF
END
GO
