USE [Reviewer]
GO
/****** Object:  StoredProcedure [dbo].[st_ReportList]    Script Date: 17/05/2021 14:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or ALTER procedure [dbo].[st_Report]
(
	@REVIEW_ID INT
	, @REPORT_ID int
)

As

SET NOCOUNT ON

	SELECT REPORT_ID, REVIEW_ID, NAME, REPORT_TYPE, TB_REPORT.CONTACT_ID, CONTACT_NAME FROM TB_REPORT
		INNER JOIN TB_CONTACT ON TB_CONTACT.CONTACT_ID = TB_REPORT.CONTACT_ID
		WHERE REVIEW_ID = @REVIEW_ID AND REPORT_ID = @REPORT_ID
		ORDER BY CONTACT_ID, NAME

SET NOCOUNT OFF
GO
