<HeaderComponent PageTitle="LLM Prompt Evaluations" Context="LLM Prompt Evaluations"></HeaderComponent>

<button class="page-link rounded pt-1 pb-1 mt-2 float-right" style="position: absolute; right: 16px; z-index: 20;" (click)="BackToMain()">
  Close/back
</button>

<div class="border border-dark rounded mt-0 mx-0 mb-1 px-1 bg-light">
  <div class="row mx-0 mx-0">
    <div class="col-12 col-md-6 mx-0 px-1 mb-1">
      <div class="card container-fluid mt-1 bg-light border border-primary rounded px-1 mx-0 ">
        <div class="p-1 m-0 ">
          <div><b>Run new evaluation of LLM prompts</b></div>
          <div class="col-12 mx-0 px-1 row form-group pt-1 mt-1 mt-md-0">

            <div class="mx-0 px-1 col-12 col-md-4 my-auto text-md-right ">Name for your evaluation </div>
            <input class="form-control bg-white mx-0 px-1 col-12 col-md-8 my-auto" id="evaluationName" name="evaluationName"
                   required maxlength="100" #evaluationNameInput="ngModel" [(ngModel)]="evaluationNameText" type="text" />
            <div *ngIf="evaluationNameInput.dirty"
                 class="alert alert-danger small px-1 py-0">
              <ng-container [ngSwitch]="">
                <div *ngSwitchCase=1>Evaluation name is required.</div>
                <div *ngSwitchCase=2>Evaluation name must be at least 4 characters long.</div>
                <div *ngSwitchCase=4>You've already used this evaluation name.</div>
                <!-- no need for *ngSwitchDefault -->
              </ng-container>
            </div>
          </div>
          <div class="col-12 mx-0 px-1 row form-group pt-1 mt-1 mt-md-0">
            <div class="mx-0 px-1 col-12 col-sm-6 col-md-4 my-auto text-sm-right">Gold standard records have this code</div>
            <div ngbDropdown class="d-inline-block my-auto mx-0 px-1 col-12 col-sm-6 col-md-8 ">
              <button class="btn alert-primary col-12  dropdown-toggle" id="dropdownTree" (click)="isCollapsedSetSelectedGoldStandardEvaluationAttribute = !isCollapsedSetSelectedGoldStandardEvaluationAttribute; isCollapsed2SetSelectedGoldStandardEvaluationAttribute=false" [attr.aria-expanded]="!isCollapsedSetSelectedGoldStandardEvaluationAttribute" aria-controls="collapseCodeTree">{{selectedModelDropDown1}}&nbsp;</button>
              <div (click)="SetSelectedGoldStandardEvaluationAttribute(nodeSelected)" class="dropdown-menu" id="collapseCodeTree" [ngbCollapse]="!isCollapsedSetSelectedGoldStandardEvaluationAttribute">
                <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" (selectedNodeInTree)="CloseBMDropDown1()" [rootsOnly]=false></codesetSelector>
              </div>
            </div>
          </div>
          <div class="col-12 mx-0 px-1 row form-group pt-1 mt-1 mt-md-0">
            <div class="mx-0 px-1 col-12 col-sm-6 col-md-4 my-auto text-sm-right">Evaluate the prompts in this code set</div>
            <select class="col-12 col-sm-7 form-control mb-1" (change)="DropdownSelectCodingToolPromptEvaluation()"
                    name="codeSET" [(ngModel)]="selectedCodeSet">
              <option *ngFor="let item of AllCodeSets" name="codeSET"
                      [ngValue]="item" [selected]="item == selectedCodeSet">
                {{item.name}}
              </option>
            </select>

          </div>
          <div class="col-12 mx-0 px-1 row form-group pt-1 mt-1 mt-md-0">
            <div class="mx-0 px-1 col-12 col-sm-6 col-md-4 my-auto text-sm-right">Robot</div>
            <select class="col-12 col-sm-7 form-control mb-1" (change)="RobotChanged($event)">
              <option value="">Please select</option>
              <option [ngValue]="r.robotName" *ngFor="let r of RobotsList" [selected]="r.robotName == RobotSettings.robotName" [disabled]="r.isRetired">
                {{r.robotName}}
              </option>
            </select>
          </div>
          <div class="col-12 mx-0 px-1 row form-group pt-1 mt-1 mt-md-0">
            <div class="mx-0 px-1 col-12 col-sm-6 col-md-4 my-auto text-sm-right">Number of iterations</div>
            <div class="my-auto">
              <kendo-numerictextbox [(ngModel)]="n_iterations"
                                    [min]="1" [format]="'n0'"
                                    [max]="20"
                                    [step]="1"
                                    [autoCorrect]="true"
                                    class="border border-dark rounded"
                                    style="width: 100px;">

              </kendo-numerictextbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mx-0 px-1 mb-1">
      <div class="card container-fluid mt-1 bg-light border border-primary rounded px-1 mx-0">
        <div class="p-1 m-0 ">
          <div><b>Create train / test splits from gold standard data</b></div>
          <div class="mx-0 px-1 col-12 col-sm-6 col-md-4 my-auto text-sm-right">Split records with this code</div>
          <div ngbDropdown class="d-inline-block my-auto mx-0 px-1 col-12 col-sm-6 col-md-8 ">
            <button class="btn alert-primary col-12  dropdown-toggle" id="dropdownTree2" (click)="isCollapsedSetSelectedGoldStandardTrainTestAttribute = !isCollapsedSetSelectedGoldStandardTrainTestAttribute; isCollapsed2SetSelectedGoldStandardTrainTestAttribute=false" [attr.aria-expanded]="!isCollapsedSetSelectedGoldStandardTrainTestAttribute" aria-controls="collapseCodeTree">{{selectedModelDropDown2}}&nbsp;</button>
            <div (click)="SetSelectedGoldStandardTrainTestAttribute(nodeSelected)" class="dropdown-menu" id="collapseCodeTree2" [ngbCollapse]="!isCollapsedSetSelectedGoldStandardTrainTestAttribute">
              <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" (selectedNodeInTree)="CloseBMDropDown2()" [rootsOnly]=false></codesetSelector>
            </div>
          </div>
          <div class="mx-0 px-1 col-12 col-sm-6 col-md-4 my-auto text-sm-right">Create below here</div>
          <div ngbDropdown class="d-inline-block my-auto mx-0 px-1 col-12 col-sm-6 col-md-8 ">
            <button class="btn alert-primary col-12  dropdown-toggle" id="dropdownTree2" (click)="isCollapsedSetSelectedTrainTestBelowHereAttribute = !isCollapsedSetSelectedTrainTestBelowHereAttribute; isCollapsed2SetSelectedTrainTestBelowHereAttribute=false" [attr.aria-expanded]="!isCollapsedSetSelectedTrainTestBelowHereAttribute" aria-controls="collapseCodeTree">{{selectedModelDropDown3}}&nbsp;</button>
            <div (click)="SetSelectedTrainTestBelowHereAttribute(nodeSelected)" class="dropdown-menu" id="collapseCodeTree3" [ngbCollapse]="!isCollapsedSetSelectedTrainTestBelowHereAttribute">
              <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" (selectedNodeInTree)="CloseBMDropDown3()" [rootsOnly]=false></codesetSelector>
            </div>
          </div>
          <div class="col-12 mx-0 px-1 row form-group pt-1 mt-1 mt-md-0">
            <div class="mx-0 px-1 col-12 col-sm-6 col-md-4 my-auto text-sm-right">Number in train set</div>
            <div class="my-auto">
              <kendo-numerictextbox [(ngModel)]="n_in_train_set"
                                    [min]="5" [format]="'n0'"
                                    [max]="10000"
                                    [step]="1"
                                    [autoCorrect]="true"
                                    class="border border-dark rounded"
                                    style="width: 100px;">

              </kendo-numerictextbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<statusbar class="row card p-0 ml-1 mr-1 mt-1 mb-2 card-body"></statusbar>
