<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card container-fluid mt-1 bg-light border border-primary rounded m-1 p-1">
        <div class="col-12 mx-0 px-1 row form-group pt-1 mt-1 mt-md-0">
          <!--<label *ngIf="reviewSetsService.selectedNode" class="font-weight-bold col-md-6 row p-1 "> &nbsp; Current code: {{_reviewSetsService.selectedNode?.name}}</label>-->
          <div class="mx-0 px-1 col-12 col-sm-7 col-md-5 col-lg-5 my-auto text-sm-right  ">Simulate looking for records with this code</div>
          <div ngbDropdown class="d-inline-block mx-0 px-1 col-12 col-sm-5 col-md-5 col-lg-4">
            <button class="btn alert-primary col-12  dropdown-toggle" id="dropdownTree" (click)="isCollapsedPriorityScreening = !isCollapsedPriorityScreening; isCollapsed2PriorityScreening=false" [attr.aria-expanded]="!isCollapsedPriorityScreening" aria-controls="collapseCodeTree">{{selectedModelDropDown1}}&nbsp;</button>
            <div (click)="SetAttrOn(nodeSelected)" class="dropdown-menu" id="collapseCodeTree" [ngbCollapse]="!isCollapsedPriorityScreening">
              <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" (selectedNodeInTree)="CloseBMDropDown1()" [rootsOnly]=false></codesetSelector>
            </div>
          </div>
        </div>
        <div class="col-12 mx-0 px-1 row form-group pt-1 mt-1 mt-md-0">
          <div class="mx-0 px-1 col-12 col-sm-7 col-md-5 col-lg-5 my-auto text-sm-right">Distinguish from the ones with this code</div>
          <div ngbDropdown class="d-inline-block mx-0 my-auto px-1 col-12 col-sm-5 col-md-5 col-lg-4">
            <button class="btn btn-primary col-12  dropdown-toggle" id="dropdownTree2" (click)="isCollapsed2PriorityScreening = !isCollapsed2PriorityScreening; isCollapsedPriorityScreening=false" [attr.aria-expanded]="!isCollapsed2PriorityScreening" aria-controls="collapseCodeTree2">{{selectedModelDropDown2}}&nbsp;</button>
            <div (click)="SetAttrNotOn(nodeSelected)" class="dropdown-menu" id="collapseCodeTree2" [ngbCollapse]="!isCollapsed2PriorityScreening">
              <codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" (selectedNodeInTree)="CloseBMDropDown2()" [rootsOnly]=false></codesetSelector>
            </div>
          </div>
          <div *ngIf="SameCodesAreSelected" class="my-auto row mx-0 px-1 col-12 col-md-2 col-lg-3 ng-star-inserted">
            <div class="d-inline-block alert-danger rounded m-1 mx-md-auto p-1">Need to select two different codes!</div>
          </div>
        </div>
        <div class="col-12 mt-2 mb-2 justify-content-center">
          <button (click)="openConfirmationDialogPriorityScreening()" [disabled]="!CanPriorityScreening()"
                  type="button" class="btn btn-success" style="min-width:162px;max-width:300px;">
            Run priority screening simulation <fa-icon *ngIf="ClassifierServiceIsBusy" [icon]="faSpinner" [spin]="true" class="mt-1 ml-1"></fa-icon>
          </button>
          <button (click)="Close()" type="button" class="btn btn-outline-dark ml-1">
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card container-fluid mt-1 bg-light border border-primary rounded m-1 p-1">
        <div><b>Completed simulation runs</b></div>
        <div>
          <button title="Refresh list" (click)="refreshPriorityScreeningSimulationList()" class="btn btn-sm btn-outline-success ml-1 mr-0 my-0 pt-1 pb-0 px-2">
            Refresh list  <fa-icon [icon]="faArrowsRotate" class="my-0"></fa-icon>
          </button>
        </div>
        <div>
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th class="" width="10" style="min-width:50px">Name</th>
                <th class="" width="2"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of PriorityScreeningSimulationList">

                <td class="">
                  <button (click)="showSimulation(item)" class="btn btn-link">{{item.simulationName}}</button>
                </td>
                
                <td class="" style="min-width:65px;text-align:center">
                  <div class="p-0 "
                       style="border: 1px solid white; border-radius: 3px; float: right; cursor: pointer; position: relative; top: 15%; margin-left: 2px;"
                       title="Delete this simulation" (click)="confirmDeleteSimulation(item)">
                    <span class="k-icon k-i-trash alert-danger" size="small" style="position: relative; top:-2px;"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card container-fluid mt-1 bg-light border border-primary rounded m-1 p-1">
        <div>
          <figure class="figure col-12">
            <kendo-chart #VisualiseChart
                         *ngIf="simulationDataContainer && simulationDataContainer.length > 0 ">
              <kendo-chart-series>
                <kendo-chart-series-item *ngFor="let series of simulationDataContainer"
                                         type="scatterLine"
                                         [data]="series"
                                         [markers]="{ visible: false }"
                                         [tooltip]="{ visible: true }">
                </kendo-chart-series-item>
              </kendo-chart-series>
              <kendo-chart-x-axis>
                <kendo-chart-x-axis-item [title]="{ text: 'Number of items screened' }"
                                         [max]="simulationDataItemCount">
                </kendo-chart-x-axis-item>
              </kendo-chart-x-axis>
              <kendo-chart-y-axis>
                <kendo-chart-y-axis-item [title]="{ text: 'Cumulative number of includes found' }" [max]="simulationDataIncludedItemsCount">
                </kendo-chart-y-axis-item>
              </kendo-chart-y-axis>
            </kendo-chart>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card container-fluid mt-1 bg-light border border-primary rounded m-1 p-1">
        <div><b>Statistics</b></div>
        <table>
          <thead>
            <tr>
              <th>Simulation</th>
              <th>N included</th>
              <th>N screened</th>
              <th>N screened@100</th>
              <th>Simulated workload reduction</th>
              <th>Workload reduction %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let statistic of statistics">
              <td>{{ statistic.simulation }}</td>
              <td>{{ statistic.nIncludes }}</td>
              <td>{{ statistic.nScreened }}</td>
              <td>{{ statistic.nScreenedAt100 }}</td>
              <td>{{ statistic.workloadReduction }}</td>
              <td>{{ statistic.workloadReductionPercent }}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <br />
          <div>{{ summaryStatisticsAgg }}</div>
          <div>{{ workloadReductionStats }}</div>
          <div>{{ workloadReductionPercentStats }}</div>
        </div>
        <div>
          <button title="Download data" (click)="downloadData()" class="btn btn-sm btn-outline-success ml-1 mr-0 my-0 pt-1 pb-0 px-2">
            Download data
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
