<HeaderComponent class="row m-0 p-1" PageTitle=""></HeaderComponent>
<div class="card m-1">
    <div class="card-header bg-info "><h4 class="m-1 text-center">Welcome to EPPI-Reviewer Web (beta).</h4></div>
    <div class="card-body">
        <a href="https://eppi.ioe.ac.uk/cms/er4" target="_blank"><img class="float-right" src="../assets/EPPI-Reviewer logo v1.png" /></a>

        <p>
            This <b>Beta Application</b> provides an alternative interface to many common functionalities available in <b>EPPI-Reviewer 4</b>.</p>
        <p>
            It works in modern web browsers and no longer requires the Silverlight plugin so it can be used on different devices such as desktops, laptops and tablets.
            Since it operates on the same data as EPPI-Reviewer 4, you can work on the same review using <em>either</em> application.<br />
            Although we are continuously adding more functionality to this version you may still need to to use the older Silverlight application for some functions,
            until they are added to the new version.
        </p>
        <p>
            We encourage all users to provide feedback and suggestions by contacting
            <a href="mailto:EPPISupport@ucl.ac.uk" target="_blank">EPPISupport@ucl.ac.uk</a>.
        </p>
        <!--<p>
            <b>NOTE:</b> this application provides most of the functionalities available through the <em>Coding Only</em> user interface of EPPI-Reviewer 4.
            It is NOT a replacement for EPPI-Reviewer 4 and cannot be used without first setting up adequate <em>Coding Assignments</em> therein.
        </p>-->
        <NewReviewComp class="float-right"></NewReviewComp>
    </div>
</div>
<div class="card m-1 bg-light">
    <readonlyreviews class="pt-4 "></readonlyreviews>
</div>