<HeaderComponent class="row m-0 p-1"></HeaderComponent>
<div class="card m-1">
    <div class="card-header bg-info "><h4 class="m-1 text-center">Welcome to the EPPI-Reviewer Coding App.</h4></div>
    <div class="card-body">
        <a href="https://eppi.ioe.ac.uk/cms/er4" target="_blank"><img class="float-right" src="../assets/EPPI-Reviewer logo v1.png" /></a>
        <p>
            This is an <b>Experimental Application</b>. You should feel free to use it, provided that you are
            well aware that it is Work in Progress and that it might contain bugs and/or annoyances.
        </p>
        <p>
            We encourage all users to provide feedback and suggestions by contacting
            <a href="mailto:EPPISupport@ucl.ac.uk" target="_blank">EPPISupport@ucl.ac.uk</a>.
        </p>
        <p>
            <b>NOTE:</b> this application provides most of the functionalities available through the <em>Coding Only</em> user interface of EPPI-Reviewer 4.
            It is NOT a replacement for EPPI-Reviewer 4 and cannot be used without first setting up adequate <em>Coding Assignments</em> therein.
        </p>
    </div>
</div>
<div class="card m-1 bg-light">
    <readonlyreviews class="pt-4 "></readonlyreviews>
</div>