<HeaderComponent class="row m-0 p-1" PageTitle=""></HeaderComponent>
<div class="card m-1">
    <div class="card-header bg-info "><h4 class="m-1 text-center">Welcome to EPPI-Reviewer Web (beta).</h4></div>
    <div class="card-body">
        <a href="https://eppi.ioe.ac.uk/cms/er4" target="_blank"><img class="float-right" src="../assets/EPPI-Reviewer logo v1.png" /></a>

        <p>
            This <b>Beta Application</b> provides an alternative intreface to many common functionalities available in <b>EPPI-Reviewer 4</b>.</p>
        <p>
            It works in modern web browsers and so does not require the Silverlight plugin, but operates on the same data - so you can work on the same review using either this application,
            or the main EPPI-Reviewer 4 application.<br />
            We are adding more functionality to this version all the time, but at the present time for some features you will need to use the older Silverlight version.
        </p>
        <p>
            We encourage all users to provide feedback and suggestions by contacting
            <a href="mailto:EPPISupport@ucl.ac.uk" target="_blank">EPPISupport@ucl.ac.uk</a>.
        </p>
        <!--<p>
            <b>NOTE:</b> this application provides most of the functionalities available through the <em>Coding Only</em> user interface of EPPI-Reviewer 4.
            It is NOT a replacement for EPPI-Reviewer 4 and cannot be used without first setting up adequate <em>Coding Assignments</em> therein.
        </p>-->
        <NewReviewComp class="float-right"></NewReviewComp>
    </div>
</div>
<div class="card m-1 bg-light">
    <readonlyreviews class="pt-4 "></readonlyreviews>
</div>