<div class="card card-body bg-white p-0">
    <table class="col-12">
        <tr>
            <td style="width:33.33%">
                <img src="../assets/EPPI-Reviewer logo v1.png" height="45" class="ml-1" />
                <span class="small small align-bottom mb-2" style="position:relative;bottom:0.12em">Beta</span>
            </td>
            <th class="text-center" style="width:33.33%">
                <h4 class="text-dark font-weight-bold mt-1 ml-1">{{PageTitle}}</h4>
            </th>
            <td style="">
                <button class="page-link ml-2 pt-1 float-right mr-1" (click)="Logout()">
                    Logout
                </button>
                <div class="float-right pt-1 mr-1">
                    {{ReviewerIdentityServ.reviewerIdentity.name}}
                </div>
                <div *ngIf="Context" class="float-right row m-0 mt-1 p-0" >
                    <button class="btn btn-outline-info btn-sm ml-1 p-0 pr-1 pl-1" [disabled]=true (click)="ShowHideFeedback()"  style="zoom:0.8;">
                        Feedback
                    </button>
                    <button class="btn btn-outline-primary btn-sm ml-1 p-0 pr-1 pl-1 mr-1" (click)="ShowHideHelp()" style="zoom:0.8;">
                        Help
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div [@PanelAppear]="ActivePanel=='Help' && !IsServiceBusy && CurrentContextHelp !=='' ? 'visible' : 'hidden'"
     class="card card-body bg-white p-0 mb-0 mr-3 ml-3 col-12"  style="max-height:300px;overflow:auto;">
    <div *ngIf="ActivePanel=='Help'&& IsServiceBusy">Loading help...</div>
    <div *ngIf="ActivePanel=='Help' && !IsServiceBusy && CurrentContextHelp==''">Apologies, there currently is no help for this page/activity.</div>
    <div 
         [@HelpAppear]="ActivePanel=='Help' && !IsServiceBusy && CurrentContextHelp !=='' ? 'visible' : 'hidden'"
         class="alert alert-info border border-dark m-0 p-1"
         [innerHTML]='CurrentContextHelp'></div>
</div>
