<div class="card card-body bg-white p-0">
    <table class="col-12">
        <tr>
            <td style="width:33.33%">
                <img src="../assets/EPPI-Reviewer logo v1.png" height="45" class="ml-1" />
                <span class="small small align-bottom mb-2" style="position:relative;bottom:0.12em">Beta</span>
            </td>
            <th class="text-center" style="width:33.33%">
                <h4 class="text-dark font-weight-bold mt-1 ml-1">{{PageTitle}}</h4>
            </th>
            <td style="width:33.33%">
                <button class="page-link ml-2 pt-1 float-right mr-1" (click)="Logout()">
                    Logout
                </button>
                <div class="float-right pt-1 mr-1">
                    {{ReviewerIdentityServ.reviewerIdentity.name}}
                </div>
            </td>
        </tr>
    </table>
</div>
