<div class="containsAtoolbar row m-0 ">
    <div class="m-0 col pr-1">
        <kendo-toolbar>
            <kendo-toolbar-button [iconClass]="'fa fa-lg fa-arrow-circle-left text-primary'" (click)="Back()" [disabled]="!CanGoBackwards"></kendo-toolbar-button>
            <kendo-toolbar-button [iconClass]="'fa fa-lg fa-arrow-circle-right text-primary'" (click)="Forward()" [disabled]="!CanGoForward"></kendo-toolbar-button>

            <kendo-toolbar-button [text]="'Bring up-to-date'" (click)="AutoUpdateHome()" [disabled]="DisableButton('RelatedPapers')" aria-controls="collapseExample"></kendo-toolbar-button>
            <kendo-toolbar-button [text]="'Keep up-to-date'" (click)="KeepUpdated()" [disabled]="DisableButton('KeepUpdated')" aria-controls="collapseExample"></kendo-toolbar-button>
            <kendo-toolbar-button [text]="'Match records'" (click)="MatchingMAGItems()" [disabled]="DisableButton('matching')"></kendo-toolbar-button>
            <kendo-toolbar-button [text]="'Search and browse'" (click)="MagSearch()" [disabled]="DisableButton('MagSearch')"></kendo-toolbar-button>
            <!--<kendo-toolbar-button [text]="'MAG Simulations'" (click)="AdvancedFeatures()" [disabled]="DisableButton('Advanced')"></kendo-toolbar-button>-->
            <kendo-toolbar-button *ngIf="isSiteAdmin" [text]="'MAG Admin'" (click)="MagAdmin()" [disabled]="DisableButton('Admin')"></kendo-toolbar-button>
            <kendo-toolbar-button [text]="'Selected'" (click)="Selected()" [disabled]="!SelectedItems"></kendo-toolbar-button>
            <kendo-toolbar-button *ngIf="['SelectedPapers','PaperDetail','MagSearchPapersList','MagRelatedPapersRunList','BrowseTopic','MatchesIncluded','MatchesExcluded','MatchesIncludedAndExcluded','ReviewMatchedPapersWithThisCode','MagAutoUpdateRunPapersList'].includes(Context)" [text]="'Clear Selected'" (click)="ClearSelected()" [disabled]="!HasWriteRights || !SelectedItems"></kendo-toolbar-button>
            <kendo-toolbar-button *ngIf="['SelectedPapers','PaperDetail','MagSearchPapersList','MagRelatedPapersRunList','BrowseTopic','MatchesIncluded','MatchesExcluded','MatchesIncludedAndExcluded','ReviewMatchedPapersWithThisCode','MagAutoUpdateRunPapersList'].includes(Context)" [text]="'Import Selected'" (click)="ImportSelected()" [disabled]="!HasWriteRights || !SelectedItems"></kendo-toolbar-button>
            <kendo-toolbar-button [text]="'Show History'" (click)="ShowHistory()" [disabled]="DisableButton('History')"></kendo-toolbar-button>
        </kendo-toolbar>
    </div>
    <button class="col-auto page-link rounded mt-0 mb-auto py-1 px-2 "
            style="position:relative; right: 0; z-index:2000;" (click)="BackHome()">
        Close/back
    </button>
</div>