<div class="containsAtoolbar">
    <kendo-toolbar>
        <kendo-toolbar-button [text]="'Auto-Update Home'" (click)="AutoUpdateHome()" [disabled]="!HasWriteRights" aria-controls="collapseExample"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'MAG Simulations'" (click)="AdvancedFeatures()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Show History'" (click)="ShowHistory()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Matching MAG Items'" (click)="MatchingMAGItems()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Back'" (click)="Back()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Forward'" (click)="Forward()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Selected'" (click)="Selected()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Clear Selected'" (click)="ClearSelected()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
        <kendo-toolbar-button [text]="'Import Selected'" (click)="ImportSelected()" [disabled]="!HasWriteRights"></kendo-toolbar-button>
    </kendo-toolbar>
</div>

<router-outlet></router-outlet>