body {
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
}

.sortable {
    cursor: pointer;
}

.basic-container {
	padding: 5px;
}

.version-info {
	font-size: 8pt;
	float: right;
}

.BackgroundButtonClear {
	background-color: white;
}

.GreenIcon {
    color: green;
}
.RedIcon {
    color: red;
}
.RelevantTerm {
    color: white;
    background-color: green;
}

.IrrelevantTerm {
    color: white;
    background-color: red;
}
.RelevantTermER4 {
	color: blue;
	font-weight: bolder;
}

.IrrelevantTermER4 {
    color: red;
    font-weight: bolder;
}
.RelevantTermBW {
    font-weight: bolder;
}

.IrrelevantTermBW {
    font-weight: bolder;
    text-decoration: line-through;
    text-decoration-style: double;
}
.RelevantTermFainter {
    color: white;
    background-color: mediumseagreen;
}

.IrrelevantTermFainter {
	color: white;
	background-color: lightcoral;
}
/*for some reason, our custom modals come out with the wrong z-index in the part we should have access to
    the below seem to fix it, perhaps only the .modal entry is needed
*/
.modal-content {
    z-index:1056;
}
.modal {
  z-index: 1056;
}

body {
    height: 100%;
}

.ItemsTable > tbody > tr > td {
  vertical-align: middle;
  border-left: 1px solid white;
}

.ScreeningSet {
	color: #00BB00;
}

.AdminSet {
    color: #0000DD;
}

.ExcludeCode {
    color: #EE3333;
    /*color: forestgreen;*/
    /*pointer-events: none;*/
}

.tree-node {
	color: black;
	/*pointer-events: none;*/
}

.tree-node-disabled {
	pointer-events: none;
	color: black;
}



.hidden-item {
	display: none;
}

.tab-content {
	width: 100%;
}
.containsAtoolbar .k-button {
  border-color: #04070b;
  color: #04070b;
  background-color: #e1e4eb;
}
.containsAtoolbar .k-button.k-selected {
  border-color: #020206;
  color: #04070b;
  background-color: #d1d1d1;
}
.containsAtoolbar .k-button.k-selected-splitbutton {
  border-color: #020206;
  color: #04070b;
  background-color: #d1d1d1;
}
.k-tabstrip-items-wrapper .k-item {
  color: #808080 ;
}


.k-list .k-item.k-state-focused {
  box-shadow: inset 0 0 0 1px rgba(33,37,41,0.45) !important;
}
ul.k-tabstrip-items {
    border-color: rgba(33,37,41,0.45);
}

ul.k-tabstrip-items li.k-item.k-state-active {
    border-color: rgba(33,37,41,0.45);
}

.fullBordersInTabs .k-tabstrip > .k-content {
    border-color: rgba(33, 37, 41, 0.45);
}
.k-tabstrip > .k-content {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.k-loading-image {
    z-index:19;
}
.brightSwitch .k-switch-label-off {
  color: orange;
}
.brightSwitch .k-switch-off .k-switch-handle{
    background-color:orange;
}

.recTree .k-treeview-leaf.k-selected {
  color: darkblue;
  background-color: rgb(190, 235, 255);
}

.BlueTreeViewSelectable .k-treeview-leaf.k-selected {
  background-color: rgb(190, 235, 255);
  color: black;
  border: solid 1px white;
}

.BlueTreeViewSelectable .k-treeview-leaf {
  border: solid 1px #00000000;
}
.k-icon-24 {
  font-size: 24px; /* Sets icon size to 24px */
}

/*
    disable controls within a given element hack.
    see https://stackoverflow.com/questions/50385048/disable-all-button-and-links-in-a-div
    and 
    https://stackoverflow.com/questions/14072479/how-to-disable-keyboard-key-with-css
*/
.disableThisAndChildren {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  pointer-events: none;
  opacity: 0.3;
}

/*force the PDFtron iframe to use the available height*/
.iframe-container-75vh iframe {
    min-height:580px;
    height:80vh;
}


/*Very special properties for contents of tabs
    this hides/shows the tabs in a special way (not Telerik's own) because otherwise PDFTron can't work in FireFox (any version).
    See: https://groups.google.com/forum/#!topic/pdfnet-webviewer/pxbrn_apLKM
    and https://www.pdftron.com/documentation/web/faq/loading-errors/#getcomputedstyle-is-null for the details.
*/
.specialHideSystem > .k-content.k-state-active {
    height: auto;
    width: auto;
    position: inherit;
    top: auto;
}

.specialHideSystem > .k-content {
    /*background: aqua;*/
    display: block !important;
    height: 0;
    width: 0;
    position: absolute;
    top: -9000px;
}

.button-reset-stuff:hover {
	background: red;
	cursor:default;
}

.FlatDropdown {
  max-height: 60vh;
  overflow: auto;
}
.linear-fade {
  mask-image: linear-gradient( to top left, rgba(0, 0, 0, 0) 0em, rgba(0, 0, 0, 1) 1.15em);
  -webkit-mask-image: linear-gradient( to top left, rgba(0, 0, 0, 0) 0em, rgba(0, 0, 0, 1) 1.15em);
}



.tableFixHead {
  overflow: auto;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.light-yellow-bg {
  background-color: #fff3cd;
}
.GPTJobsErrorRow {
  background-color: #ffc0c0 !important;
  border-collapse: collapse;
}
.GPTJobsErrorRow td {
  border-bottom: 1px solid white;
}

