<div class="h-100 mh-100">
    <div class="row d-flex flex-wrap-reverse">
        <div class="col-sm-12 col-md-3 col-lg-3 h-100">
            <div class="row  justify-content-end bg-info float-right ml-2">
                <div class="form-check-label ml-2" for="exampleCheck1">Auto Advance?</div>
                <div class=""><input type="checkbox" class="ml-2 mt-2 mr-2" [(ngModel)]="CheckBoxAutoAdvanceVal" #CheckBoxAutoAdvance></div>
            </div>
            <reviewsets class="bg-light"></reviewsets>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 border border-info bg-light">
            
            <div class="d-flex justify-content-between">
                <h4>ITEM Details</h4>
                <button class="page-link" (click)="BackToMain()">
                    Close/back
                </button>
            </div>

            <div class="row  ml-1">
                <ul *ngIf="ItemListService.ItemList && !IsScreening" class="pagination justify-content-start">
                    <li>
                        <button [ngClass]="{disabled:!hasPrevious()}"
                                [disabled]="!hasPrevious()"
                                class="page-link" (click)="firstItem()">
                            First
                        </button>
                    </li>
                    <li>
                        <button [ngClass]="{disabled:!hasPrevious()}"
                                [disabled]="!hasPrevious()"
                                class="page-link" (click)="prevItem()">
                            Previous
                        </button>

                    </li>
                    <li>
                        <button [ngClass]="{disabled:!hasNext()}"
                                [disabled]="!hasNext()" class="page-link" (click)="nextItem()">
                            Next
                        </button>
                    </li>
                    <li>
                        <button [ngClass]="{disabled:!hasNext()}"
                                [disabled]="!hasNext()" class="page-link" (click)="lastItem()">
                            Last
                        </button>
                    </li>
                    <li class="col-md-6">
                        <div class="mt-2">Item {{MyHumanIndex()}} of {{ItemListService.ItemList.items.length}}</div>
                    </li>

                </ul>
                <ul *ngIf="IsScreening" class="pagination justify-content-start">
                    <li>
                        <button [ngClass]="{disabled:!HasPreviousScreening()}"
                                [disabled]="!HasPreviousScreening()"
                                class="page-link" (click)="prevScreeningItem()">
                            Previously Screened
                        </button>

                    </li>
                    <li>
                        <button [ngClass]="{disabled:!CanMoveToNextInScreening()}"
                                [disabled]="!CanMoveToNextInScreening()"
                                class="page-link" (click)="GetItem()">
                            Next In screening
                        </button>
                    </li>
                </ul>
            </div>
            <div *ngIf="item" class="ml-1">
                <div class="row"><b>ID:&nbsp;</b>{{item.itemId}}</div>
                <div class="row"><b>Title:&nbsp;</b>{{item.title}}</div>
                <div class="row"><b>Abstract:&nbsp;</b> {{item.abstract}}</div>
                <div class="row"><b>Authors:&nbsp;</b> {{item.authors}}</div>
                <div class="row"><b>Type:&nbsp;</b> {{item.typeName}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9 card card-body bg-light border-primary">
            <ItemDocListComp  [itemID]="itemID"></ItemDocListComp>
        </div>
    </div>
    <statusbar class="col-sm-12 card-body" resizable></statusbar>
</div>
