<div class="container col-12 p-0">
    <!--<HeaderComponent style="vertical-align:top;
    margin-bottom:2px; margin-left:12px; margin-right:12px; margin-top:-12px; padding:0px;
     width:99.6%;"></HeaderComponent>-->
    <HeaderComponent class="row p-1 m-0" style="vertical-align:top;" PageTitle="Item Details" [Context]="HelpAndFeebackContext"></HeaderComponent>
			<div class="h-100 mh-100 pr-0 ">
        
        <div class="row d-flex flex-wrap-reverse ml-1 mr-1 ">
			<div class="col-sm-12 pl-2 pr-2 align-self-end "
				 [ngClass]="{'col-md-5 col-lg-3' : !ShowOutComes
                 , 'col-md-6 col-lg-5' : ShowOutComes}">
				<div *ngIf="IsServiceBusy()" class="k-loading-image"></div>
				<div *ngIf="!ShowOutComes" class="containsAtoolbar mb-1 small h-100 rounded" style="background-color: #f5f6fa;">

					<button kendoButton [icon]="'plus'" class="small m-1" title="Add child code..."
							[disabled]="!HasWriteRights  || !CanCreateNewCode()" (click)="SetCreateNewCode()">
						<!--<i class="fa fa-plus" aria-hidden="true"></i>-->
					</button>
					<button kendoButton [icon]="'arrow-60-up'" class="small m-1" title="Move up Code/Tool..."
							[disabled]="!HasWriteRights  || !CanMoveNodeUp()" (click)="MoveUpNode()">
						<!--<i class="fa fa-plus" aria-hidden="true"></i>-->
					</button>
					<button kendoButton [icon]="'arrow-60-down'" class="small m-1" title="Move Down Code/Tool..."
							[disabled]="!HasWriteRights  || !CanMoveNodeDown()" (click)="MoveDownNode()"></button>
					<button kendoButton [icon]="'edit'" class="small m-1" title="Edit Code..."
							[disabled]="!HasWriteRights  || !CanEditCode()" (click)="EditCode()"></button>
				</div>
				<div class="col-12 bg-light" *ngIf="EditCodesPanel =='CreateNewCode'">
					<div class="col-12 small row px-0 py-1 m-0">
						Add child to:
						<div class="mx-1 border border-dark font-weight-bold "
							 [ngClass]="{'alert-danger' : !CanCreateNewCode(), 'alert-primary' : CanCreateNewCode()}">&nbsp;{{CurrentNode?.name}}&nbsp;</div>
					</div>
					<div *ngIf="!CanCreateNewCode()" class="col-12 small row px-0 py-1 m-0 alert-danger"><b>Note:&nbsp;</b> form is disabled - this code can't have children.</div>
					<CreateNewCodeComp [IsSmall]="true" (closeCreateNew)="SetCreateNewCode()"></CreateNewCodeComp>
				</div>
				<div class="col-12 bg-light" *ngIf="EditCodesPanel =='EditCode'">
					<div class="col-12 small row px-0 py-1 m-0">
						Current Code Name:
						<div class="mx-1 border border-dark font-weight-bold "
							 [ngClass]="{'alert-danger' : !CanEditCode(), 'alert-primary' : CanEditCode()}">&nbsp;{{CurrentNode?.name}}&nbsp;</div>
					</div>
					<div *ngIf="!CanEditCode()" class="col-12 small row px-0 py-1 m-0 alert-danger"><b>Note:&nbsp;</b> form is disabled - you can't edit this.</div>
					<EditCodeComp [IsSmall]="true" [UpdatingCode]="CurrentNode" (emitterCancel)="CancelActivity($event)"></EditCodeComp>
				</div>

				<ArmsComp #ArmsCmp class="card-text"></ArmsComp>
				<div [hidden]="ShowOutComes || ReviewerTermsService._ShowHideTermsList">
					<codesetTreeCoding #codesetTreeCoding class="bg-light"
									   [InitiateFetchPDFCoding]="ShouldFetchPDFCoding"
									   [ngClass]="{disableThisAndChildren:!CanChangeSelectedCode}">
					</codesetTreeCoding>
				</div>
				<div [hidden]="!ReviewerTermsService._ShowHideTermsList">
					<ReviewTermsListComp  [item]="item" class="bg-light">
					</ReviewTermsListComp>
				</div>
				<div *ngIf="ShowOutComes"
					 class="my-1 ml-0 pl-1 pr-0 container">
					<OutcomesComp #OutcomesCmp [item]="item"></OutcomesComp>
				</div>
			</div>
            <div class="col-sm-12 m-0 pr-0 pl-0"
                 [ngClass]="{'col-md-7 col-lg-9' : !ShowOutComes
                 , 'col-md-6 col-lg-7' : ShowOutComes}">
				<div class="ml-1 mt-0 mr-1 pl-0 pr-0 w-100 row">
					<itemDetailsPaginator [item]="item" Context="FullUI" [IsScreening]="IsScreening" (ItemChanged)="ItemChanged()" (GoToNextScreeningItemClicked)="GetItem()"
										  class="col-12 col-sm  pr-0 pl-0 ml-1 mr-1"></itemDetailsPaginator>
						<div class="pr-0 pl-0 col-12 col-sm pr-0">
							<button class="page-link rounded pt-1 pb-1 mb-1 float-right" (click)="BackToMain()">
								Close/back
							</button>
							<div class="row bg-info float-right mb-1 pb-1 ml-1 mr-1">
								<div class="form-check-label ml-2 mr-0 row" for="exampleCheck1">
									Auto Advance?
									<input type="checkbox" class="ml-2 mt-2 mr-2" [(ngModel)]="CheckBoxAutoAdvanceVal" #CheckBoxAutoAdvance>
								</div>
							</div>
							<div class="row float-right mb-1 pb-1 ml-0 mr-0">
								<button *ngIf="IsServiceBusy" 
										class="btn btn-sm btn-outline-success mx-1 my-0 py-1 px-2 ng-star-inserted" 
										(click)="RefreshTerms()">
									<i class="fa fa-refresh" aria-hidden="true"></i>
								</button>
								<div *ngIf="!IsServiceBusy" 
									 class="ml-2 mt-1 pl-1 " style="display:inline-block;position:absolute; top:0.30em;">
									<i class="fa fa-spinner fa-spin text-success mt-1 " style=""></i>
								</div>
							</div>
							<div class="row bg-info float-right mb-1 pb-1 ml-0 mr-0">
								<div class="form-check-label ml-2 mr-0 row" for="exampleCheck1">
										Show terms?
									<input type="checkbox" class="ml-2 mt-2 mr-2" [(ngModel)]="ShowHighlights" (click)="ShowHighlightsClicked()">
								</div>
							</div>
						</div>
				</div>
                <div *ngIf="ShowLiveComparison" class="my-1 ml-0 pl-1 pr-0 container">
                    <LiveComparisonComp></LiveComparisonComp>
                </div>
               
				<kendo-tabstrip #tabstripCoding (tabSelect)="onTabSelect($event)" class="specialHideSystem" [keepTabContent]="true">
					<kendo-tabstrip-tab [selected]="true" [title]="'Item Details'">
						<ng-template kendoTabContent>
							<itemDetailsComp #ItemDetailsCmp Context="CodingFull"
											 [item]="item" [CanEdit]="HasWriteRights" [IsScreening]="IsScreening" [ShowHighlights]="ShowHighlights" ShowDocViewButton="true"></itemDetailsComp>
						</ng-template>
					</kendo-tabstrip-tab>
			
					<kendo-tabstrip-tab [title]="'Arms and Timepoints'">
						<ng-template kendoTabContent>
							<div *ngIf="item">
								<armDetailsComp #ArmDetailsComp [item]="item"></armDetailsComp>
								<timePointsComp #TimePointsComp [item]="item"></timePointsComp>
							</div>
						</ng-template>
					</kendo-tabstrip-tab>
					<kendo-tabstrip-tab [title]="'PDF'" [disabled]="!HasDocForView">
						<ng-template kendoTabContent>
							<div *ngIf="item" style="min-height:600px;">
								<div *ngIf="IsServiceBusy4PDF()" class="k-loading-image"></div>
								<pdftroncontainer #pdftroncontainer [ItemID]="itemID"></pdftroncontainer>
							</div>
						</ng-template>
					</kendo-tabstrip-tab>
					<kendo-tabstrip-tab [title]="'Coding Record'">
						<ng-template kendoTabContent>
							<codingRecordComp [item]="item"></codingRecordComp>
						</ng-template>
					</kendo-tabstrip-tab>
					<!--<kendo-tabstrip-tab [title]="'Study timepoints'">
		<ng-template kendoTabContent>
			<div *ngIf="item" style="min-height:600px;">
				<timePointsComp #timepointscontainer [item]="item"></timePointsComp>
			</div>
		</ng-template>
	</kendo-tabstrip-tab>-->
				</kendo-tabstrip>
            </div>


        </div>
        <statusbar class="row card p-0 ml-1 mr-1 mt-1 mb-2 card-body" resizable></statusbar>
</div>
</div>