<div class="h-100 mh-100">
    <div class="row d-flex border border-info">
        <div class="col-md-3 h-100">
            <reviewsets></reviewsets>
        </div>
        <div class="col-md-9 border border-info">
            <h4>ITEM Details.</h4>
            <button 
                    class="page-link" (click)="BackToMain()">
                XClose/backX
            </button>
            <div class="row">
                <ul *ngIf="ItemListService.ItemList" class="pagination justify-content-start">
                    <li>
                        <button [ngClass]="{disabled:!hasPrevious()}"
                                [disabled]="!hasPrevious()"
                                class="page-link" (click)="firstItem()">
                            First
                        </button>
                    </li>
                    <li>
                        <button [ngClass]="{disabled:!hasPrevious()}"
                                [disabled]="!hasPrevious()"
                                class="page-link" (click)="prevItem()">
                            Previous
                        </button>

                    </li>
                    <li>
                        <button [ngClass]="{disabled:!hasNext()}"
                                [disabled]="!hasNext()" class="page-link" (click)="nextItem()">
                            Next
                        </button>
                    </li>
                    <li>
                        <button [ngClass]="{disabled:!hasNext()}"
                                [disabled]="!hasNext()" class="page-link" (click)="lastItem()">
                            Last
                        </button>
                    </li>
                    <li class="col-md-6">
                        <div class="mt-2">Item {{MyHumanIndex()}} of {{ItemListService.ItemList.items.length}}</div>
                    </li>

                </ul>
            </div>
            <button (click)="SetCoding()">Set Coding</button>
            <div *ngIf="item">
                <div class="row"><b>ID:&nbsp;</b>{{item.itemId}}</div>
                <div class="row"><b>Title:&nbsp;</b>{{item.title}}</div>
                <div class="row"><b>Abstract:&nbsp;</b> {{item.abstract}}</div>
                <div class="row"><b>Authors:&nbsp;</b> {{item.authors}}</div>
                <div class="row"><b>Type:&nbsp;</b> {{item.typeName}}</div>
            </div>
        </div>
    </div>
</div>
