<div *ngIf="!isExpanded" class="">
    <button [disabled]="!CanWrite()" (click)="Expand()"
            class="btn btn-outline-primary m-1">
        Edit Review
    </button>
</div>
<div *ngIf="isExpanded" class="container col-12 pr-0 pl-0 border border-dark rounded bg-light" style="overflow:auto;">
    <table class="font-weight-bold">
        <tr>
            <td style="min-width:150px;" width="500">
                <div class="container" style="width:99%">
                    <div class="mr-1">Review name</div>
                    <input class="mb-1 w-100" type="text" style="width:99%"
                           id="reviewName" name="ReviewName"
                           [(ngModel)]="reviewN"
                           required />
                </div>
            </td>
            </tr>
            <tr>
            <td style="padding-left:15px">
                <div>
                    <button [disabled]="!CanEditReview()" (click)="SaveReview()"
                            class="btn btn-primary m-1">
                        Save
                    </button>
                    <button (click)="CloseEditReview()" class="btn btn-outline-info m-1">Cancel</button>
                </div>
            </td>

        </tr>

    </table>
</div>

