<div class="container col-12 p-0">
    <!--<HeaderComponent style="vertical-align:top;
    margin-bottom:2px; margin-left:12px; margin-right:12px; margin-top:-12px; padding:0px;
     width:99.6%;"></HeaderComponent>-->
    <HeaderComponent class="row p-1 m-0" style="vertical-align:top;" PageTitle="Item Details" [Context]="HelpAndFeebackContext"></HeaderComponent>
    <div class="h-100 mh-100 pr-0 ">
        <div *ngIf="IsServiceBusy()" class="k-loading-image" style="height:100vh;position: fixed; top: 0%;"></div>

        <div class="row d-flex flex-wrap-reverse ml-1 mr-1 ">
          <div class="col-sm-12 pl-1 pr-1 align-self-end "
               [ngClass]="{'col-md-5 col-lg-3' : !ShowOutComes
                 , 'col-md-6 col-lg-5' : ShowOutComes}">
            <div *ngIf="leftPanel ==''" class="containsAtoolbar mb-1 small h-100 rounded" style="background-color: #f5f6fa;">

              <button kendoButton [icon]="'plus'" class="small my-1 ml-1 mr-1" title="Add child code..."
                      [disabled]="!HasWriteRights  || !CanCreateNewCode()" (click)="SetCreateNewCode()">
              </button>
              <button kendoButton [icon]="'arrow-double-60-up'" class="small my-1 ml-1" title="Move To Top..."
                      [disabled]="!HasWriteRights  || !CanMoveNodeUp()" (click)="MoveUpNodeFull()">
              </button>
              <button kendoButton [icon]="'arrow-60-up'" class="small my-1 ml-1" title="Move up Code/Tool..."
                      [disabled]="!HasWriteRights  || !CanMoveNodeUp()" (click)="MoveUpNode()">
              </button>
              <button kendoButton [icon]="'arrow-60-down'" class="small my-1 ml-1" title="Move Down Code/Tool..."
                      [disabled]="!HasWriteRights  || !CanMoveNodeDown()" (click)="MoveDownNode()"></button>
              <button kendoButton [icon]="'arrow-double-60-down'" class="small my-1 ml-1 mr-1" title="Move To Bottom..."
                      [disabled]="!HasWriteRights  || !CanMoveNodeDown()" (click)="MoveDownNodeFull()"></button>
              <button kendoButton [icon]="'edit'" class="small my-1 mr-1 ml-1" title="Edit Code..."
                      [disabled]="!HasWriteRights  || !CanEditCode()" (click)="EditCode()"></button>

              <button kendoButton [icon]="'custom-format'" class="small my-1 ml-1" [selected]="HotKeysOn == true"
                      title="Hot keys. Toggle to turn on/off. Press Alt + the code number to code."
                      [disabled]="!HasWriteRights" (click)="HotKeysOn=!HotKeysOn"></button>
            </div>
            
            <div class="col-12 bg-light" *ngIf="EditCodesPanel =='CreateNewCode'">
              <div class="col-12 small row px-0 py-1 m-0">
                Add child to:
                <div class="mx-1 border border-dark font-weight-bold "
                     [ngClass]="{'alert-danger' : !CanCreateNewCode(), 'alert-primary' : CanCreateNewCode()}">&nbsp;{{CurrentNode?.name}}&nbsp;</div>
              </div>
              <div *ngIf="!CanCreateNewCode()" class="col-12 small row px-0 py-1 m-0 alert-danger"><b>Note:&nbsp;</b> form is disabled - this code can't have children.</div>
              <CreateNewCodeComp [IsSmall]="true" (closeCreateNew)="SetCreateNewCode()"></CreateNewCodeComp>
            </div>
            <div class="col-12 bg-light" *ngIf="EditCodesPanel =='EditCode'">
              <div class="col-12 small row px-0 py-1 m-0">
                Current Code Name:
                <div class="mx-1 border border-dark font-weight-bold "
                     [ngClass]="{'alert-danger' : !CanEditCode(), 'alert-primary' : CanEditCode()}">&nbsp;{{CurrentNode?.name}}&nbsp;</div>
              </div>
              <div *ngIf="!CanEditCode()" class="col-12 small row px-0 py-1 m-0 alert-danger"><b>Note:&nbsp;</b> form is disabled - you can't edit this.</div>
              <EditCodeComp [IsSmall]="true" [UpdatingCode]="CurrentNodeAsSetAttribute" (emitterCancel)="CancelActivity($event)"></EditCodeComp>
            </div>

            <ArmsComp #ArmsCmp [hidden]="leftPanel !==''" class="card-text"></ArmsComp>
            <div [hidden]="leftPanel !==''">
              <codesetTreeCoding #codesetTreeCoding class="bg-light"
                                 [InitiateFetchPDFCoding]="ShouldFetchPDFCoding"
                                 [ngClass]="{disableThisAndChildren:!CanChangeSelectedCode}"
                                 [HotKeysOn]="HotKeysOn">
              </codesetTreeCoding>
            </div>
            <div *ngIf="leftPanel =='Highlights'">
              <ReviewTermsListComp [item]="item" class="bg-light">
              </ReviewTermsListComp>
            </div>
            <div *ngIf="leftPanel =='OutComes'"
                 class="my-1 ml-0 pl-1 pr-0 container">
              <OutcomesComp #OutcomesCmp [item]="item"></OutcomesComp>
            </div>
          </div>
            <div class="col-sm-12 m-0 pr-0 pl-0"
                 [ngClass]="{'col-md-7 col-lg-9' : !ShowOutComes
                 , 'col-md-6 col-lg-7' : ShowOutComes}">
                <div class="ml-1 mt-0 mr-1 pl-0 pr-0 w-100 row">
                    <itemDetailsPaginator [item]="item" Context="FullUI" [IsScreening]="IsScreening" (ItemChanged)="ItemChanged()" (GoToNextScreeningItemClicked)="GetItem()"
                                          class="col-12 col-sm  pr-0 pl-0 ml-1 mr-1"></itemDetailsPaginator>
                    <div class="pr-0 pl-0 col-12 col-sm pr-0">
                        <button class="page-link rounded pt-1 pb-1 mb-1 float-right" (click)="BackToMain()">
                            Close/back
                        </button>
                        <div class="row bg-info float-right mb-1 ml-1 mr-1">
                            <div class="form-check-label ml-2 mr-0 row" for="exampleCheck1">
                              <div>Auto Advance?</div>
                                <input type="checkbox" class="ml-2 my-auto mr-2" [(ngModel)]="CheckBoxAutoAdvanceVal" #CheckBoxAutoAdvance>
                            </div>
                        </div>
                        <div class="row float-right mb-1 pb-1 ml-0 mr-0">
                          <button  title="Refresh Terms"
                                  class="btn btn-sm btn-outline-success mx-1 my-0 py-0 px-2"
                                  (click)="RefreshTerms()">
                            <fa-icon *ngIf="!IsServiceBusyTerms()" [icon]="faArrowsRotate" class="my-0"></fa-icon>
                            <fa-icon *ngIf="IsServiceBusyTerms()" [icon]="faSpinner" [spin]="true" class="text-success mt-1 "></fa-icon>
                          </button>
                        </div>
                        <div class="row bg-info float-right mb-1 ml-0 mr-0">
                            <div class="form-check-label ml-2 mr-0 row" for="exampleCheck1">
                              <div>Show terms?</div>
                                <input type="checkbox" class="ml-2 my-auto mr-2" [(ngModel)]="ShowHighlights" (click)="ShowHighlightsClicked()">
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="ShowLiveComparison" class="my-1 ml-0 pl-1 pr-0 container">
                    <LiveComparisonComp [item]="item"></LiveComparisonComp>
                </div>

                <kendo-tabstrip #tabstripCoding (tabSelect)="onTabSelect($event)" class="specialHideSystem" [keepTabContent]="true">
                    <kendo-tabstrip-tab [selected]="true" [title]="'Item Details'">
                        <ng-template kendoTabContent>
                            <itemDetailsComp #ItemDetailsCmp Context="CodingFull"
                                             [item]="item" [CanEdit]="HasWriteRights" [IsScreening]="IsScreening" [ShowHighlights]="ShowHighlights" [ShowDocViewButton]="true"></itemDetailsComp>
                        </ng-template>
                    </kendo-tabstrip-tab>

                    <kendo-tabstrip-tab [title]="'Links Arms Timepoints'">
                        <ng-template kendoTabContent>
                            <div *ngIf="item">
                                <ItemLinksComp [item]="item"></ItemLinksComp>
                                <armDetailsComp #ArmDetailsComp [item]="item"></armDetailsComp>
                                <timePointsComp #TimePointsComp [item]="item"></timePointsComp>
                            </div>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'PDF'" [disabled]="!HasDocForView">
                        <ng-template kendoTabContent>
                            <div *ngIf="item" style="min-height:600px;">
                                <div *ngIf="IsServiceBusy4PDF()" class="k-loading-image"></div>
                                <pdftroncontainer #pdftroncontainer [ItemID]="itemID"></pdftroncontainer>
                            </div>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'Coding Record'">
                        <ng-template kendoTabContent>
                            <codingRecordComp [item]="item"></codingRecordComp>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab *ngIf="ShowMagTab" [title]="'OpenAlex'">
                        <ng-template kendoTabContent>
                            <microsoftAcademicComp [item]="item"></microsoftAcademicComp>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <!--<kendo-tabstrip-tab [title]="'Study timepoints'">
                    <ng-template kendoTabContent>
                        <div *ngIf="item" style="min-height:600px;">
                            <timePointsComp #timepointscontainer [item]="item"></timePointsComp>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>-->
                </kendo-tabstrip>
            </div>


        </div>
        <statusbar class="row card p-0 ml-1 mr-1 mt-1 mb-2 card-body" resizable></statusbar>
    </div>
</div>
