<HeaderComponent></HeaderComponent>
<button class="page-link pt-0 pb-1 mb-1 float-right" style="position:absolute; right: 0; z-index:2000;" (click)="BackToMain()">
    Close/back
</button>
<kendo-splitter orientation="horizontal">
    <kendo-splitter-pane>
        <kendo-tabstrip (tabSelect)="onTabSelect($event)" [keepTabContent]="true">
            <kendo-tabstrip-tab [title]="'Manage Sources'" [selected]="true">
                <ng-template kendoTabContent>
                    Here We put the old "source" management features
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Import Items'">
                <ng-template kendoTabContent>
                    <div class="flex-row">
                        <ImportReferencesFile></ImportReferencesFile>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'PubMed'">
                <ng-template kendoTabContent>
                    pubmed here...
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </kendo-splitter-pane>
    <kendo-splitter-pane size="30%">
        <div class="pane-content">
            
            <div>SOURCES in Review:</div>
            <div *ngIf="ReviewSources.length == 0">
                No Sources in review.
            </div>
            <table *ngIf="ReviewSources.length > 0" class="table-striped table table-bordered small">
                <tbody>
                    <tr>
                        <th class="p-0" style="min-width:100px;">Name</th>
                    </tr>
                    <tr *ngFor="let ROsource of ReviewSources" class="p-0"
                        [hidden]="HideManuallyCreatedItems(ROsource)">
                        <td class="p-1 align-middle"><div class="btn btn-link btn-sm p-0 ml-2" (click)="SelectSource(ROsource)">{{ROsource.source_Name}}</div></td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </kendo-splitter-pane>
</kendo-splitter>
<statusbar class="row card p-0 ml-1 mr-1 mt-1 mb-2 card-body" resizable></statusbar>