
    <div class="small col-12 rounded mb-1 alert-info">
        Currently selected code:
        <span class="mx-1 border border-dark font-weight-bold"
                                      [ngClass]="{'alert-danger' : CurrentSelectedCode == 'No valid selection', 'alert-primary' : CurrentSelectedCode !== 'No valid selection'}">
            &nbsp;{{CurrentSelectedCode}}&nbsp;
        </span>
        <span *ngIf="CurrentSelectedCode !== 'No valid selection' && CanWritePDFCoding !== 'yes'"
              class="mx-1 border rounded border-dark alert-danger font-weight-bold">&nbsp;{{CanWritePDFCoding}}&nbsp;</span>
    </div>
    <app-webviewer style="height:100%; width:100%"> </app-webviewer>
