@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <b><a href="https://eppi.ioe.ac.uk" target="_blank">EPPI-Centre</a></b><br />
    Social Science Research Unit<br />
    UCL Institute of Education, University College London<br />
    18 Woburn Square<br />
    London<br />
    WC1H 0NR<br />
    <br />
    tel: +44 (0)20 7612 6271 - for information about our methods and training<br />
    tel: +44 (0)20 7612 6816 - for information about our health promotion work<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:EPPISupport@ucl.ac.uk">EPPISupport@ucl.ac.uk</a><br />
</address>
