@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    Hello, this is a "Proof of concept" demonstrative utility.
    You can retrieve references and see what various machine learning systems think about them.
    
</div>
<div class="row">
    You can search PubMeD directly (will yeild up to 10,000 results).
    <form method="post" action="~/FindCitations/Fetch">
        <textarea method="post" name="SearchString" cols="80" rows="8"></textarea>
        <input type="hidden" name="SearchMethod" value="PubMedSearch" />
        <br />
        <button type="submit" class="btn" value="Fetch">Search PubMed</button>
    </form>
</div>
<div class="row">
    You can insert a list of PubMeD IDs (comma separated) in the box below and click retrieve.
    <form method="post" action="~/FindCitations/Fetch">
        <textarea method="post" name="SearchString" cols="80" rows="8"></textarea>
        <input type="hidden" name="SearchMethod" value="PubMedIDs" />
        <br />
        <button type="submit" class="btn" value="Fetch">Search for these PubMed IDs</button>
    </form>
</div>
