@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    Hello, this is a "Proof of concept" demonstrative utility.
    You can insert a list of PubMeD IDs (comma separated) in the box below and click retrieve, to start.
    <form method="post" action="~/FindByPubMedIDs/Fetch">
        <textarea  method="post" name="IdsText" cols="80" rows="8"></textarea>
        <input type="submit" value="Fetch" />
    </form>
</div>
