<div class="px-0 mx-1 my-0">
  <div class="row px-1 mx-0 border-bottom">
    <div>Always add coding in the Robot's name</div>
    <input class="m-1" type="checkbox" [(ngModel)]="RobotSettings.onlyCodeInTheRobotName" />
  </div>
  <div class="row px-1 mx-0 border-bottom">
    <div>Always lock the coding produced by the Robot</div>
    <input class="m-1" type="checkbox" [(ngModel)]="RobotSettings.lockTheCoding" />
  </div>
  <div class="row px-1 mx-0 alert-dark rounded">
    <div>Don't ask again, for this session</div>
    <input class="m-1" type="checkbox" [(ngModel)]="RobotSettings.rememberTheseChoices" />
  </div>
</div>

