@{
    ViewData["Title"] = "Home Page";
}

@*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@
<head>
</head>
<app>
    <p>
        Loading...
    </p>
    <p>Please note that this app <b>cannot work in Internet Explorer</b>.</p>
    <p>Supported browsers include all fairly recent versions of Edge, FireFox, Safari (including iOS) and Chrome.</p>
</app>
<script src="~/dist/vendor.js" asp-append-version="true"></script>


@section scripts {

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/lib/license-key.js"></script>
    @*<script src="/lib/core/pdf/PDFNet.js"></script>*@
    <script src="/lib/webviewer.min.js"></script>
    @*<script src="~/scripts/jquery-1.10.2.js"></script>*@

    <!-- #region datatables files -->
    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />*@
    @*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@

    <!--#endregion -->
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
