<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Security update</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Message from Security logon ticket check</label>
                <div class="input-group">
                    {{modalMsg}}
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="isAdmin" class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close but stay on page for development reasons</button>
    </div>
</ng-template>


<div class="col-sm-12 card bg-light">
    <div class="card-body">
        <table>
            <tr style="white-space:pre-line;">

                <td class="{{statusClass}}">
                    Status:  {{ReviewerIdentityServ.currentStatus | FilterPipe:  }}
                </td>
                <td *ngIf="getDaysLeftAccount() > 14"> You are {{ReviewerIdentityServ.reviewerIdentity.name}}</td>
                <td class="bg-warning" data-toggle="tooltip" data-placement="top" title="Your Account will expire {{ReviewerIdentityServ.reviewerIdentity.daysLeftAccount == 0 ? 'today!' : 'tomorrow!'}}" *ngIf="getDaysLeftAccount() == 1 || getDaysLeftAccount() == 0">You are {{ReviewerIdentityServ.reviewerIdentity.name}}</td>
                <td class="bg-light" data-toggle="tooltip" data-placement="top" title="Your Account will expire in {{ReviewerIdentityServ.reviewerIdentity.daysLeftAccount}} days!" *ngIf="getDaysLeftAccount() < 14 && getDaysLeftAccount() > 1">You are {{ReviewerIdentityServ.reviewerIdentity.name}}</td>
                <td class="bg-danger" *ngIf="getDaysLeftAccount() < 0"> User: {{ReviewerIdentityServ.reviewerIdentity.name}} (Expired)</td>
                <td *ngIf="getDaysLeftReview() > 14"> Review Name: {{ReviewInfoService.ReviewInfo.reviewName}}</td>
                <td class="bg-warning" data-toggle="tooltip" data-placement="top" title="Your Review will expire {{ReviewerIdentityServ.reviewerIdentity.daysLeftReview == 0 ? ' today!' : ' tomorrow!'}}" *ngIf="getDaysLeftReview() == 1  && getDaysLeftReview() == 0">Review Name: {{ReviewInfoService.ReviewInfo.reviewName}}</td>
                <td class="bg-light" data-toggle="tooltip" data-placement="top" title="Your Review will expire in {{ReviewerIdentityServ.reviewerIdentity.daysLeftReview}} days!" *ngIf="getDaysLeftReview() < 14 && getDaysLeftReview() > 1">Review Name: {{ReviewInfoService.ReviewInfo.reviewName}}</td>
                <td class="bg-danger" *ngIf="getDaysLeftReview() < 0"> Review Name: {{ReviewInfoService.ReviewInfo.reviewName}} (Expired)</td>
            </tr>
        </table>
    </div>
</div>


