@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            

            <ul class="nav nav-primary">
                <li class="nav-section">


                    <table width="100%">
                        <tr>
                            <td style="text-align:center;padding:16px">
                                <span style="font-family:verdana;font-size:14px;color:#727275;">
                                    <b>EPPI-Centre tools<br />for research analysis<br />and knowledge translation</b>
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align:left;padding:15px">
                                <span style="font-family:verdana;font-size:12px;color:#727275;">
                                    <a href="https://eppi.ioe.ac.uk/cms/er4" target="_blank"><b>EPPI-Reviewer</b></a> is our
                                    online tool for research synthesis and has been developed for all types of systematic review.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding:15px">
                                <span style="font-family:verdana;font-size:12px;color:#727275;">
                                    <a href="https://eppi.ioe.ac.uk/EPPI-Vis/Login/Index" target="_blank"><b>EPPI-Vis</b></a> is our
                                    publicly available online webdatabase for exploring and visualising EPPI-Reviewer data.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding:15px">
                                <span style="font-family:verdana;font-size:12px;color:#727275;">
                                    <a href="https://eppi.ioe.ac.uk/cms/Default.aspx?tabid=3790" target="_blank"><b>EPPI-Mapper</b></a> is our
                                    tool for creating visual 'maps' of research evidence.
                                    It is available for all EPPI-Reviewer users at no charge.
                                </span>
                            </td>
                        </tr>


                        <tr>
                            <td style="text-align:left;padding:15px">
                                <span style="font-family:verdana;font-size:12px;color:#727275;">
                                    <b>EPPI-Reviewer</b>, <b>EPPI-Vis</b> and <b>EPPI-Mapper</b> are developed and maintained by the EPPI-Centre
                                    at the Social Science Research Unit of the UCL Institute of Education, University of London, UK.
                                    To find out more about the work of the EPPI-Centre as well as information about how to do systematic reviews,
                                    please visit our website <a href="https://eppi.ioe.ac.uk/" target="_blank"><b>eppi.ioe.ac.uk</b></a>.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;padding:10px">
                                <span style="font-family:verdana;font-size:14px;color:#0082c8;font-weight:600">ORGANISATIONS</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;padding:10px">
                                <a href="http://eppi.ioe.ac.uk/" target="_blank"><img src="https://eppi.ioe.ac.uk/cms/Portals/35/Skins/ePPI/EPPI-Centre 100x51.gif" border="0"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;padding:10px">
                                <a href="http://www.ucl.ac.uk/" target="_blank"><img alt="UCL" border="0" height="45" hspace="40" src="https://eppi.ioe.ac.uk/cms/portals/35/UCL.gif" width="147"></a>
                            </td>
                        </tr>
                    </table>



                </li>
                <li class="nav-item">
                    <!--<div id="treeView" style="overflow: auto;height: 100%;max-height: 75vh;font-size: 14px;color: #000000;font-family: Lato,sans-serif;"></div>-->
                </li>
            </ul>

        </div>
    </div>
</div>


<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <table>
                    <tr>
                        <td>
                            <h4 class="page-title">EPPI-Vis&nbsp;&nbsp;(beta)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="text-section">Visualising and Exploring review data</h4>
                        </td>
                    </tr>
                </table>                              
            </div>
            <br />
            <div class="row mt--2">

                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header">
                            <div class="card-title">About EPPI-Vis</div>
                            
                        </div>
                        <div class="card-body">
                            <div class="card-category">

                                <p>EPPI-Vis is the EPPI-Centre's online webdatabase application for visualising and exploring EPPI-Reviewer data. 
                                It has been created to support knowledge translation of your review findings to the public in a user-friendly layout.</p>
                                <p>Users can conduct searches and view reference coding in your review to generate tables and visualisations. Digging deeper into
                                the reports and visuals gives access to the individual references and supports export of those references.</p>
                                <p>As a review owner you can restrict the references and coding you wish to have visible to the public. You can also make the database
                                public or password protected.</p>
                                <p><b>EPPI-Vis</b> is free to EPPI-Reviewer users so please contact us at <b>eppisupport@ucl.ac.uk</b> for more details on 
                                creating a webdatabase for your systematic revew.</p>
                                <p><b>Please note: EPPI-Vis is presently a beta application and still undergoing development.</b></p>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-header">
                            <div class="card-title">Access</div>
                        </div>
                        <div class="card-body">
                            <div class="card-category">

                                <p>Enter the ID number of the database you wish to access and click <b>Access</b>.</p>
                                <p>Some databases require a username and password.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



                <!--<div class="d-flex justify-content-center">
                    <form method="post" asp-controller="Login" asp-action="DoLogin" >
                        <div class="row">
                            @*<img src="~/images/Klasifiki.png" class="center-block" style="margin:8px;" />*@
                        </div>
                        <div class="row">
                            <div class="col-2 align-self-center">
                                ID:
                            </div>
                            <input class="p-2 col-8 align-self-center m-1" id="id" name="id" type="text" />
                        </div>
                        <div class="row">
                            <div class="align-self-center">
                                Username:
                            </div>
                            <input class="p-2 align-self-center m-1" id="username" name="username" type="text" />
                        </div>

                        <div class="row">
                            <div class="align-self-center">
                                Password:
                            </div>
                            <input class="p-2 align-self-center m-1" id="password" name="password" type="password" />

                        </div>
                        <input class="btn btn-link align-self-center m-1" type="submit" value="Login" />
                    </form>
                </div>-->
