<!-- Editable table -->
<div class="card">
	<h5 class="m-1 p-1 font-weight-bold">
		Arms
		<button class="btn btn-outline-primary btn-sm px-1 py-0 m-0 mb-1 float-right"
				(click)="ShowArms = !ShowArms">
			{{ShowArmsBtnText}}
		</button>
	</h5>



	<div class="card-body" style="max-height:360px;overflow:auto;">
		<div id="table" class="small table table-striped bg-light" *ngIf="ShowArms">
			<form #ArmsForm="ngForm" class="table-add float-left mb-3 mr-2 col-12 col-md-6 row">
				Create new study arm:
				<input #titleModel="ngModel" name="n1"
					   required minlength="3"
					   pattern="^(?!\s*$).+" class="form-control"
					   type="text" [(ngModel)]="title" />
				<div *ngIf="titleModel.invalid && (titleModel.dirty || titleModel.touched)"
					 class="alert alert-danger p-1 mb-1">

					<div *ngIf="titleModel.errors.pattern">
						Arm name cannot be empty
					</div>

					<div *ngIf="titleModel.errors.required">
						Arm name is required
					</div>
					<div *ngIf="titleModel.errors.minlength">
						Arm name must be at least 3 characters long
					</div>

				</div>
				<div class="col-md-12 row">
					<button [disabled]="!HasWriteRights || titleModel.invalid || titleModel =='' || editTitle == true"
							class="btn btn-success mt-1 p-1 m-1" (click)="add(title)">
						Add New Study Arm
					</button>
					<button *ngIf="
							editTitle == true
							&& titleModel !=''"
							[disabled]="!editTitle"
							class="btn btn-warning mt-1 p-1 m-1"
							(click)="updateList(currentArm)">
						Update study arm
					</button>
					<button [disabled]="!HasWriteRights || titleModel =='' && editTitle == false"
							class="btn btn-danger mt-1 p-1 m-1"
							(click)="Clear()">
						Cancel
					</button>
				</div>
			</form>
				<!---->
				<table class="table table-bordered table-responsive-md table-striped text-center">
					<tr>
						<th class="text-center">Arm Title</th>
						<th class="text-center" style="max-width: 10px;">Edit</th>
						<th class="text-center" style="max-width: 10px;">Remove</th>
					</tr>
					<tr *ngFor="let arm of armsList; let key = index">
						<td style="width: 150px;">{{arm.title}}</td>
						<td style="width: 15px; white-space:nowrap;">
							<span class="table-remove">
								<button (click)="editTitle=true; setArm(arm, key)"
										[disabled]="!HasWriteRights"
										type="button" rounded="true" size="sm" class="btn btn-outline-info p-1 m-1">
									Edit
								</button>
							</span>
						</td>
						<td style="width: 15px; white-space:nowrap;">
							<span class="table-remove">
								<button type="button" rounded="true" size="sm" class="btn btn-outline-danger p-1 m-1"
										[disabled]="!HasWriteRights" (click)="removeWarning(key)">
									Remove
								</button>
							</span>
						</td>
					</tr>
				</table>
				
			</div>
	</div>

</div>
<!-- Editable table -->