<HeaderComponent PageTitle="Build Model" Context="buildmodel"></HeaderComponent>
<button class="page-link rounded pt-1 pb-1 mb-1 float-right" style="position:absolute; right: 0; z-index:2000;" (click)="BackToMain()">
    Close/back
</button>

<div class="container col-md-12 form p-0 ">
	<p hidden>{{selectedNode?.name}}</p>
	<div class="col-md-12 row card p-0 m-0">
		<div class="card container-fluid mt-1 bg-light border border-primary rounded m-1 p-1">
			<div class="col-md-12 row form-group pt-1 mt-1 mt-md-0">
				<!--<label *ngIf="reviewSetsService.selectedNode" class="font-weight-bold col-md-6 row p-1 "> &nbsp; Current code: {{_reviewSetsService.selectedNode?.name}}</label>-->
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 ">Learn to apply this code:</div>
				<div ngbDropdown class="d-inline-block col-12 col-sm-6 col-md-4">
					<button class="btn alert-primary col-12  dropdown-toggle" id="dropdownTree" (click)="isCollapsed = !isCollapsed; isCollapsed2=false" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseCodeTree">{{selectedModelDropDown1}}&nbsp;</button>
					<div (click)="SetAttrOn(nodeSelected)" class="dropdown-menu" id="collapseCodeTree" [ngbCollapse]="!isCollapsed">
						<codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" (selectedNodeInTree)="CloseBMDropDown1()" [rootsOnly]="!CanOnlySelectRoots()"></codesetSelector>
					</div>
				</div>
			</div>
			<div class="col-md-12 row form-group">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">Distinguish from this code:</div>
				<div ngbDropdown class="d-inline-block col-12 col-sm-6 col-md-4">
					<button class="btn btn-primary col-12  dropdown-toggle" id="dropdownTree2" (click)="isCollapsed2 = !isCollapsed2; isCollapsed=false" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseCodeTree2">{{selectedModelDropDown2}}&nbsp;</button>
					<div (click)="SetAttrNotOn(nodeSelected)" class="dropdown-menu" id="collapseCodeTree2" [ngbCollapse]="!isCollapsed2">
						<codesetSelector [IsMultiSelect]="false" [WhatIsSelectable]="'SetAttribute'" [MaxHeight]="500" (selectedNodeInTree)="CloseBMDropDown2()" [rootsOnly]="!CanOnlySelectRoots()"></codesetSelector>
					</div>
				</div>
			</div>
			<div class="col-md-12 row form-group">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">Name for your model:</div>
				<div class=" col-12 col-sm-6 col-md-4">
					<input id="modelName" name="modelName" #modelName="ngModel" required minlength="4" [(ngModel)]="modelNameText" type="text" class="form-control bg-light form-control col-md-12" />

					<div *ngIf="modelName.invalid && (modelName.dirty || modelName.touched)"
						 class="alert alert-danger">

						<div *ngIf="modelName.errors.required">
							Model Name is required.
						</div>
						<div *ngIf="modelName.errors.minlength">
							Model Name must be at least 4 characters long.
						</div>

					</div>
					<div *ngIf="selectedModelDropDown1 == selectedModelDropDown2 && selectedModelDropDown1 != ''"
							class="alert alert-danger">
						Two different codes must be selected in the drop downs
					</div>
					</div>
				</div>
			<div class="row col-md-12">
				<div class="col-md-3">
					<button class="btn btn-outline-danger" 
							(click)="openConfirmationDialogDeleteModels()" 
							>
						Delete Model
					</button>
				</div>
				<div class="col-md-6 row font-weight-bold">
					<div class="col-md-6">
						<button [disabled]="!CanBuildModel()" (click)="BuildModel(modelName)" class="btn btn-primary p-2 m-2"> Build Model</button>
					</div>
					<div class="col-md-6">
						<button (click)="IamVerySorryRefresh()" class="btn btn-info p-2 m-2"> Refresh Models</button>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>

		<div class="col-md-12">
			<kendo-grid [data]="DataSource" [height]="410"
						[sort]="sort"
						(sortChange)="sortChange($event)"
						(remove)="removeHandler($event)">

				<kendo-grid-column [sortable]="false" field="add" width="50"
								   [headerStyle]="{'text-align': 'center'}"
								   [style]="{'text-align': 'center'}">
					<ng-template kendoGridHeaderTemplate let-dataItem>
						<input style="zoom: 1.2;"
							   type="checkbox"
							   name="selectAll"
							   (change)="selectAllSearchesChange($event)"
							   [checked]="allSearchesSelected" />
					</ng-template>
					<ng-template kendoGridCellTemplate let-dataItem>
						<input style="zoom: 1.2;" (click)="checkboxClicked(dataItem)"
							   type="checkbox"
							   field="selected"
							   [checked]="dataItem.add" />
					</ng-template>
				</kendo-grid-column>
				<kendo-grid-column field="modelTitle" title="Title">
				</kendo-grid-column>
				<kendo-grid-column field="attributeOn" title="Att On">
				</kendo-grid-column>
				<kendo-grid-column field="attributeNotOn" title="Att Not On">
				</kendo-grid-column>
				<kendo-grid-column field="accuracy" title="Accuracy">
				</kendo-grid-column>
				<kendo-grid-column field="auc" title="AUC">
				</kendo-grid-column>
				<kendo-grid-column field="precision" title="Precision">
				</kendo-grid-column>
				<kendo-grid-column field="recall" title="Recall">
				</kendo-grid-column>
			</kendo-grid>
		</div>
	</div>
</div>
<statusbar class="row card p-0 ml-1 mr-1 mt-1 mb-2 card-body" resizable></statusbar>