<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <!--<add key="oldSMTP" value="ssrusmtp.inst.ioe.ac.uk" />-->
    <add key="SMTP" value="***REMOVED***" />
    <add key="SMTPUser" value="***REMOVED***" />
    <add key="mailFrom" value="EPPISupport@ucl.ac.uk" />
    <add key="SMTPAuthentic" value="***REMOVED***" />
    <!--<add key="DomainRoot4Redirect" value="eppi.ioe.ac.uk"/>-->
    <add key="DomainRoot4Redirect" value="eppi.ioe.ac.uk" /><!--in production value should be "eppi.ioe.ac.uk" use only lower case!-->
    <add key="CochraneOAuthBaseUrl" value="https://test-login.cochrane.org/" />
    <!--test env value:!-->
    <add key="CochraneOAuthSS" value="***REMOVED***" />
    <add key="AzureSearchMAGApi-key" value="***REMOVED***" />
    <add key="AzureSearchBaseURL" value="https://eppimag.search.windows.net/indexes/mag-index/" />
    <add key="MAGStorageAccount" value="eppimag" />
    <add key="MAGStorageAccountKey" value="***REMOVED***" />
    <add key="MagDataLakeTenantId" value="***REMOVED***" />
    <add key="MagDataLakeClientId" value="***REMOVED***" />
    <add key="MagDataLakeSecretKey" value="***REMOVED***" />
    <add key="MagDataLakeStorageAccount" value="erdatalake" />
    <add key="MagDataLakeDataLakeAccount" value="academic" />

  <!-- keys relating to running the ContReview workflow-->
    <add key="interactive" value="True" />
    <add key="make_train_set" value="True" />
    <add key="make_inference_set" value="True" />
    <add key="review_run_version" value="v1" />
    <add key="overwrite_raw_processed_data" value="True" />
    <add key="mag_account_name" value="eppimag" />
    <add key="mag_container" value="mag-2020-03-13" />
    <add key="gold_account_name" value="eppimag" />
    <add key="gold_container" value="experiments" />
    <add key="gold_standard_file" value="AllReviews.tsv" />
    <add key="training_set_storage_account_name" value="eppimag" />
    <add key="training_set_container" value="experiments" />
    <add key="training_set_folder" value="experiment-v2" />
    <add key="trained_model_filename" value="per_paper_tfidf.pickle" />
    <add key="new_papers_account_name" value="eppimag" />
    <add key="new_papers_container" value="experiments" />
    <add key="new_papers_file" value="experiment-v2/NewPapers.tsv" />
    <add key="acceptance_threshold" value="0.1" />
    <add key="results_storage_container" value="experiments" />
    <add key="results_file_name" value="recomentations.csv" />
    <add key="pre_filter_threshold" value="0.5" />
    
  <!-- more sensitive keys that Nava originally had in keyvault, but SDK isn't working with VS2015-->
    <add key="mag_account_key" value="***REMOVED***" />
    <add key="gold_account_key" value="***REMOVED***" />
    <add key="training_set_storage_key" value="***REMOVED***" />
    <add key="new_papers_account_key" value="***REMOVED***" />
    
    <add key="tenantID" value="***REMOVED***" />
    <add key="appClientId" value="***REMOVED***" />
    <add key="appClientSecret" value="***REMOVED***" />
    <add key="subscriptionId" value="***REMOVED***" />
    <add key="resourceGroup" value="***REMOVED***" />
    <add key="dataFactoryName" value="***REMOVED***" />
    <add key="pipelineName" value="***REMOVED***" />
    
    <!-- RobotReviewer keys-->
    <add key="RobotReviewerEndpoint" value="***REMOVED***" />

    <!-- See: 
    https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#if-your-app-targets-a-net-framework-version-earlier-than-47
    and
    https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-elementhttps://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element
    -->
    <add key="AppContext.SetSwitch:Switch.System.Net.DontEnableSchUseStrongCrypto" value="false" />
  </appSettings>
  <connectionStrings>
    <!--="Data Source=(Data Source=db-epi);Initial Catalog=ReViewer;Integrated Security=True"-->
    <add name="WcfHostWeb.Properties.Settings.ER4ConnectionString" connectionString="Data Source=db-epi;Initial Catalog=Reviewer;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WcfHostWeb.Properties.Settings.ER4ConnectionStringAz" connectionString="Data Source=db-epi2;Initial Catalog=Reviewer;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WcfHostWeb.Properties.Settings.ER4ConnectionString1" connectionString="Data Source=localhost;Initial Catalog=Reviewer;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WcfHostWeb.Properties.Settings.ADMConnectionString" connectionString="Data Source=db-epi;Initial Catalog=ReviewerAdmin;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WcfHostWeb.Properties.Settings.ADMConnectionStringAz" connectionString="Data Source=db-epi2;Initial Catalog=ReviewerAdmin;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WcfHostWeb.Properties.Settings.ADMConnectionString1" connectionString="Data Source=localhost;Initial Catalog=ReviewerAdmin;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WcfHostWeb.Properties.Settings.MAGConnectionString" connectionString="Data Source=db-epi;Initial Catalog=AcademicController;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WcfHostWeb.Properties.Settings.MAGConnectionStringAz" connectionString="Data Source=db-epi2;Initial Catalog=AcademicController;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WcfHostWeb.Properties.Settings.MAGConnectionString1" connectionString="Data Source=localhost;Initial Catalog=AcademicController;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfPortalBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpsBinding_IWcfPortal" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxBytesPerRead="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IWcfPortal" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxBytesPerRead="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <customBinding />
    </bindings>
    <services>
      <service behaviorConfiguration="WcfPortalBehavior" name="BusinessLibrary.Compression.CompressedHost">
        <endpoint address="" binding="basicHttpBinding" contract="Csla.Server.Hosts.Silverlight.IWcfPortal" bindingConfiguration="BasicHttpBinding_IWcfPortal">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="WcfPortalBehavior" name="BusinessLibrary.Compression.sCompressedHost">
        <endpoint address="" binding="basicHttpBinding" contract="Csla.Server.Hosts.Silverlight.IWcfPortal" bindingConfiguration="HttpsBinding_IWcfPortal">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="EppiReviewer4.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
