<!--<HeaderComponent class="row p-1 m-0" style="vertical-align:top;" PageTitle="Microsoft Academic Browser" Context="MAGBrowser"></HeaderComponent>
<button class="page-link rounded pt-1 pb-1 mb-1 float-right"
        style="position:absolute; right: 0; z-index:2000;" (click)="Back()">
    Close/back
</button>
<MAGHeaderBar Context="MAGBrowser"></MAGHeaderBar>-->


<div *ngIf="IsServiceBusy" class="k-loading-image" style="position: fixed; top: 2%;"></div>

<div *ngIf="_magBrowserService.currentMagPaper.paperId > 0"
     class="alert-lighter border border-dark p-2 m-2 card small">
    
    <div class="container col-12">
        <div class="row" style="vertical-align:top">
            <h5 class="col-12 px-2"><b>{{_magBrowserService.currentMagPaper.originalTitle}}</b></h5>
                <b class="px-2">{{_magBrowserService.currentMagPaper.fullRecord}}</b>
            
            
            <div class="col-10 px-2">
                <table>
                    <tr>
                        <td>
                            <p>
                                Paper Id:&nbsp;{{_magBrowserService.currentMagPaper.paperId}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <div *ngIf="IsCurrentPaperSelected(_magBrowserService.currentMagPaper.paperId) == false">
                                <button class="btn btn-primary btn-sm text-white" (click)="AddCurrentPaperToSelectedList()" 
                                        [disabled]="_magBrowserService.currentMagPaper.linkedITEM_ID > 0">
                                    Selected papers&nbsp;<span class="k-icon k-i-plus"></span>
                                </button>
                            </div>
                            <div *ngIf="IsCurrentPaperSelected(_magBrowserService.currentMagPaper.paperId) == true ">
                                <button class="btn btn-warning btn-sm text-white" (click)="RemoveCurrentPaperToSelectedList()"
                                        [disabled]="_magBrowserService.currentMagPaper.linkedITEM_ID > 0">
                                    Selected papers&nbsp;<span class="k-icon k-i-minus"></span>
                                </button>
                            </div>
                        </td>
                        <td style="padding-left:10px">
                            <div class="text-white">
                                <a class="btn btn-primary btn-sm text-white" href="https://alpha.openalex.org/works?filter=ids.openalex%3AW{{_magBrowserService.currentMagPaper.paperId}}" target="_blank">
                                    View in OpenAlex
                                </a>
                            </div>
                        </td>
                        <td style="padding-left:10px">
                            <div>
                                <a class="btn btn-dark btn-sm text-white" data-toggle="collapse"
                                   href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    more details <span class="k-icon k-i-arrow-chevron-down"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="collapse multi-collapse" id="collapseExample">
                    <div class="card card-footer">
                        <div class="row col-12 p-0">

                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <p>
                                            <b>Abstract:</b>
                                        <p>{{_magBrowserService.currentMagPaper.abstract}}</p>
                                        <b>Doi: </b><a href="{{DOILink(_magBrowserService.currentMagPaper.doi)}}" target="_blank">{{_magBrowserService.currentMagPaper.doi}}</a><br />
                                        <b>Pdf links:</b>
                                        <div *ngFor="let item of GetPDFLinks()">
                                            <a href="{{item}}" target="_blank">
                                                {{extractHostname(item)}}
                                            </a>
                                        </div>
                                        <br />
                                        <b>Website links:</b>
                                        <div *ngFor="let item of GetWebLinks()">
                                            <a href="{{item}}" target="_blank">
                                                {{extractHostname(item)}}
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row border border-dark card small p-2 m-2">
    <div class=""><b>Current List : </b> {{ListType}}</div>
</div>
<div class="col-12 px-2">
    <div class="col-12 row p-2 m-0 border border-dark rounded">
        
        <div [title]="'TOPICS'" class="col-sm-12 col-lg-3 p-0" style=" max-height:75vh; overflow:auto;">
            <div *ngIf="_magTopicsService.ShowingParentAndChildTopics" class=""><h3>{{ClickedOnTopic}}</h3></div>
            <div *ngIf="_magTopicsService.ShowingChildTopicsOnly" class="h-100">
                <div class="h-100 mb-2 card col-12 small table table-border table-striped">
                    <div *ngIf="_magTopicsService.WPChildTopics.length == 0" class="alert alert-light">
                        No Topic
                    </div>
                    <div class="row">
                        <div *ngFor="let item of _magTopicsService.WPChildTopics">
                            <div (click)="GetParentAndChildRelatedPapers(item)" class="alert-info m-1 px-1 rounded page-link"
                                 [ngStyle]="{ 'font-size.em': item.fontSize,'background-color': 'WhiteSmoke', 'color': 'black'}">
                                {{item.displayName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="_magTopicsService.ShowingParentAndChildTopics"  class="">
                <h5 class="font-weight-light">Parent Topics</h5>

                <div class=" mb-2 card col-12 small table table-border  table-striped">
                    <div *ngIf="_magTopicsService.WPParentTopics.length == 0" class="alert alert-light">
                        No Topic
                    </div>
                    <div *ngFor="let item of _magTopicsService.WPParentTopics">
                        <div (click)="GetParentAndChildRelatedPapers(item)" class="alert-info m-1 px-1 rounded page-link"
                             [ngStyle]="{ 'font-size.em': item.fontSize,'background-color': 'WhiteSmoke', 'color': 'black'}">
                            {{item.displayName }}
                        </div>

                    </div>
                </div>
                <h5 class="font-weight-light">Child Topics</h5>
                <div class=" card col-12 small table table-border table-striped">
                    <div *ngIf="_magTopicsService.WPChildTopics.length == 0" class="alert-light m-1">
                        No Topic
                    </div>
                    <div class="row">
                        <div *ngFor="let item of _magTopicsService.WPChildTopics">
                            <div (click)="GetParentAndChildRelatedPapers(item)" class="alert-info m-1 px-1 rounded page-link"
                                 [ngStyle]="{ 'font-size.em': item.fontSize,'background-color': 'WhiteSmoke', 'color': 'black'}">
                                {{item.displayName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-9 p-0">
            <kendo-tabstrip #tabSelectedPapers class="ml-2 mt-2" [keepTabContent]="true">
                <kendo-tabstrip-tab [selected]="true" [title]="'References'">
                    <ng-template kendoTabContent>

                        <div  style="min-height:500px; max-height:65vh; overflow:auto;">

                            <div>
                                <div style="max-height:50vh; overflow:auto;">
                                    <table class="card-footer col-12 table-sm table table-border table-striped">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            <tr style="cursor: pointer;" *ngFor="let item of _magBrowserService.MAGList.papers">
                                                <td (click)="GetMagPaperRef(item, _magBrowserService.MAGList.papers)" title="Open this paper details">
                                                    {{item.shortRecord}}
                                                </td>
                                                <td title="'Select/Unselect reference'">

                                                  <button [disabled]="!CanSelectMagItem(item)" class="btn btn-sm btn-outline-default mx-1 my-0 pb-1 px-1 " (click)="InOutReview(item, _magBrowserService.MAGList.papers)">
                                                    <span [class]="IsCurrentPaperSelected(item.paperId) == true  ? 'k-icon k-i-minus' : 'k-icon k-i-plus'"> </span>
                                                  </button>

                                                  <!--<button [disabled]="!CanSelectMagItem(item)" (click)="InOutReview(item, _magBrowserService.MAGList.papers)"
                                                          [class]="IsCurrentPaperSelected(item.paperId) == true  ? 'k-icon k-i-minus' : 'k-icon k-i-plus'">
                                                  </button>-->

                                                </td>
                                                <td title="Model score"
                                                    *ngIf="_magBrowserService.MAGList.papers == _magBrowserService.MAGOriginalList.papers && ListType.startsWith('Auto update results')">
                                                  {{item.similarityScore.toFixed(3)}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="IsServiceBusy && _magBrowserService.MAGList && _magBrowserService.MAGList.papers && 
                                     _magBrowserService.MAGList.papers.length == 0">Loading items...</div>
                                <div *ngIf="_magBrowserService && _magBrowserService.MAGList.papers.length == 0"
                                     class="p-2 font-weight-bold text-center text-info mt-1">No items to display</div>
                                <div class="col-12 row mt-1 border-top">
                                    <MAGpaginatorComp *ngIf="_magBrowserService.currentMagPaper.paperId > 0" class="row ml-1 pt-1 mr-1 pr-1 " Purpose="References"></MAGpaginatorComp>
                                    <MAGpaginatorComp *ngIf="_magBrowserService.currentMagPaper.paperId <= 0" class="row ml-1 pt-1 mr-1 pr-1 "  Purpose="Orig"></MAGpaginatorComp>
                                    <!--<div *ngIf="_magTopicsService.ShowingChildTopicsOnly" class="my-auto">
                                        <select (change)="UpdatePageSize($event.target.value)" >
                                            <option [value]="20">20</option>
                                            <option [value]="50">50</option>
                                            <option [value]="100">100</option>
                                        </select>
                                    </div>-->
                                </div>

                            </div>
                        </div>

                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Cited By'" [disabled]="DoesNotHaveCitations">
                    <ng-template kendoTabContent>
                        <div [title]="'Add/remove citation'" style="min-height:500px; overflow:auto;">
                            <div style="max-height:50vh; overflow:auto;">
                                <table class="card-footer col-12 table-sm table table-border table-striped">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor: pointer;" *ngFor="let item of _magBrowserService.MagCitationsByPaperList.papers">
                                            <td (click)="GetMagPaperRef(item, _magBrowserService.MagCitationsByPaperList.papers )">{{item.fullRecord}}</td>
                                            <td>
                                              <button [disabled]="!CanSelectMagItem(item)" class="btn btn-sm btn-outline-default mx-1 my-0 pb-1 px-1 " (click)="InOutReview(item, _magBrowserService.MagCitationsByPaperList.papers)">
                                                <span [class]="IsCurrentPaperSelected(item.paperId) == true  ? 'k-icon k-i-minus' : 'k-icon k-i-plus'"> </span>
                                              </button>

                                              <!--<button [disabled]="!CanSelectMagItem(item)" (click)="InOutReview(item, _magBrowserService.MagCitationsByPaperList.papers)"
                                                      [class]="IsCurrentPaperSelected(item.paperId) == true ? 'k-icon k-i-minus' : 'k-icon k-i-plus'">
                                              </button>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 row mt-1 border-top">
                                <MAGpaginatorComp *ngIf="_magBrowserService.MagCitationsByPaperList.pagecount > 1" class="row ml-1 pt-1 mr-1 pr-1 " Purpose="CitedBy"></MAGpaginatorComp>
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab  [title]="SelectedPapersTitle" [disabled]="HideSelectedPapers">
                    <ng-template kendoTabContent>
                        <div [title]="'Add/remove selected paper'" style="min-height:500px; overflow:auto;">
                            <div style="max-height:55vh; overflow:auto;">
                                <table class="card-footer col-12 table-sm table table-border table-striped ">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor: pointer;" *ngFor="let item of _magBrowserService.selectedPapers">
                                            <td (click)="GetMagPaperRef(item,_magBrowserService.selectedPapers)">{{item.fullRecord}}</td>
                                            <td>
                                              <button [disabled]="!CanSelectMagItem(item)" class="btn btn-sm btn-outline-default mx-1 my-0 pb-1 px-1 " (click)="InOutReview(item, _magBrowserService.selectedPapers)">
                                                <span [class]="IsCurrentPaperSelected(item.paperId) == true  ? 'k-icon k-i-minus' : 'k-icon k-i-plus'"> </span>
                                              </button>


                                                <!--<button [disabled]="!CanSelectMagItem(item)" (click)="InOutReview(item, _magBrowserService.selectedPapers)"
                                                        [class]="IsCurrentPaperSelected(item.paperId) == true  ? 'k-icon k-i-minus' : 'k-icon k-i-plus'">
                                                </button>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--<MAGpaginatorComp class="row ml-1 pt-1 mr-1 pr-1 border-top porder-info"></MAGpaginatorComp>-->
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Current list'">
                    <ng-template kendoTabContent>
                        <div [title]="'Add/remove current reference'" style="min-height:500px; overflow:auto;">
                            <div style="max-height:50vh; overflow:auto;">
                                <table class="card-footer col-12 table-sm table table-border table-striped">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor: pointer;" *ngFor="let item of _magBrowserService.MAGOriginalList.papers">
                                            <td (click)="GetMagPaperRef(item,_magBrowserService.MAGOriginalList.papers)">
                                                {{item.shortRecord}}
                                            </td>
                                            <td>
                                              <button [disabled]="!CanSelectMagItem(item)"
                                                      class="btn btn-sm btn-outline-default mx-1 my-0 pb-1 px-1 " (click)="InOutReview(item, _magBrowserService.MAGOriginalList.papers)">
                                                <span [class]="IsCurrentPaperSelected(item.paperId) == true  ? 'k-icon k-i-minus' : 'k-icon k-i-plus'"> </span>
                                              </button>



                                              <!--<button [disabled]="!CanSelectMagItem(item)"
                                                      (click)="InOutReview(item, _magBrowserService.MAGOriginalList.papers)"
                                                      [class]="IsCurrentPaperSelected(item.paperId) == true ? 'k-icon k-i-minus' : 'k-icon k-i-plus'">
                                              </button>-->
                                            </td>
                                            <td title="Model score"
                                                *ngIf="ListType.startsWith('Auto update results')">
                                              {{item.similarityScore.toFixed(3)}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="IsServiceBusy && _magBrowserService.MAGOriginalList && _magBrowserService.MAGOriginalList.papers && _magBrowserService.MAGOriginalList.papers.length == 0">
                                Loading items...
                            </div>
                            <div *ngIf="_magBrowserService && _magBrowserService.MAGOriginalList.papers.length == 0"
                                 class="p-2 font-weight-bold text-center text-info mt-1">No items to display</div>
                            <div class="col-12 row">
                                <MAGpaginatorComp class="row ml-1 pt-1 mr-1 pr-1 border-top porder-info" Purpose="Orig"></MAGpaginatorComp>
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>
    </div>
</div>
<!--<statusbar></statusbar>-->
