
<br>
<table class="table table-bordered table-striped">
    <tr>
        <th>Your search was: </th>
        <td style="min-width:75%;">
            @{
                if (Model.SearchMethod == "PubMedSearch")
                {<span>a PubMed search</span>}
                else if (Model.SearchMethod == "PubMedIDs")
                {<span>a search via PubMedIDs</span>}
            }
        </td>
    </tr>
    <tr>
        <th >Your search string was:</th>
        <td>
            @Model.SearchString
        </td>
    </tr>
    <tr>
        <th>Your search returned:</th>
        <td> <b>@Model.Results.Count.ToString()</b> results</td>
    </tr>
</table>

