<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" defaultResponseMode="File" >
      <remove statusCode="404" />
      <error statusCode="404" path="Index.html" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".res" />
      <mimeMap fileExtension=".res" mimeType="application/octet-stream" />
      <remove fileExtension=".pexe" />
      <mimeMap fileExtension=".pexe" mimeType="application/x-pnacl" />
      <remove fileExtension=".nmf" />
      <mimeMap fileExtension=".nmf" mimeType="application/octet-stream" />
      <remove fileExtension=".mem" />
      <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>
  </system.webServer>
</configuration>
