<div class="container-fluid " resizable>
    <HeaderComponent></HeaderComponent>
    <div class="row flex-row">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-3">

            <div class="card col-md-8 row">
                <div class="card-header font-weight-bold text-xl-left bg-primary">Review Stats</div>
                <table  class="table table-striped"  *ngIf="codesetStatsServ.ReviewStats">
                    <thead>
                        <tr>
                            <th> Included  </th>
                            <th> Excluded  </th>
                            <th> Deleted   </th>
                            <th> Duplicates </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ codesetStatsServ.ReviewStats.itemsIncluded}}   </td>
                            <td>{{ codesetStatsServ.ReviewStats.itemsExcluded}}   </td>
                            <td>{{ codesetStatsServ.ReviewStats.itemsDeleted}}    </td>
                            <td>{{ codesetStatsServ.ReviewStats.duplicateItems}}  </td>
                        </tr>
                    </tbody>
                </table>
            </div>


           
            <div class="card col-md-8  row">
                <div class="card-header font-weight-bold text-xl-left bg-primary">CODESET COUNTS</div>
                <table id="user-table2" datatable="ng"  [dtTrigger]="dtTrigger" class="table table-striped alpha"  *ngIf="codesetStatsServ.CompletedCodesets">
                    <thead>
                        <tr>
                            <!--<th> ID </th>-->
                            <th> CodeSet Name  </th>
                            <th> Count Complete  </th>
                            <th> Count Incomplete</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of codesetStatsServ._tmpCodesets">
                            <!--<td>{{item.ind}}</td>-->
                            <td>{{ item.setName }}</td>
                            <td>
                                {{ item.countCompleted}}
                                &nbsp;  <img class="thumbnail" src="../../../../wwwroot/dist/assets/CodingComplete.021b46d052f733d172173075d51240b7.png" onclick="alert('Do something')" />
                            </td>
                            <td>
                                {{ item.countIncomplete}}
                                &nbsp;
                                <img class="thumbnail" src="../../../../wwwroot/dist/assets/CodingNotComplete.7db387280369934345f4aa3854483cde.png" onclick="alert('Do something else')" />

                            </td>

                        </tr>
                    </tbody>
                </table>

                <div class="card card-body bg-light mt-2">
                    {{MyInfoMessage()}}
                  
                </div>
                <statusbar class="col-sm-12 card-body" resizable></statusbar>
            </div>
                </div>

    </div>
</div>





<!--<div class="container-fluid">


    <table datatable class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Foo</td>
                <td>Bar</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Someone</td>
                <td>Youknow</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Iamout</td>
                <td>Ofinspiration</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Yoda</td>
                <td>Skywalker</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Patrick</td>
                <td>Dupont</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Barack</td>
                <td>Obama</td>
            </tr>
            <tr>
                <td>7</td>
                <td>François</td>
                <td>Holland</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Michel</td>
                <td>Popo</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Chuck</td>
                <td>Norris</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Simon</td>
                <td>Robin</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Louis</td>
                <td>Lin</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Zelda</td>
                <td>Link</td>
            </tr>
        </tbody>
    </table>


</div>-->
