

    <div class="modal-header bg-primary">
        <h3 id="modal-basic-title"><b>Searches</b></h3>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 font-italic"><h5> Find Documents: </h5></div>
				<div class="col-md-8">
					<div ngbDropdown class="d-inline-block col-md-12">
						<button class="btn btn-secondary col-md-12" id="dropdownBasic1" ngbDropdownToggle>{{selectedSearchDropDown}}</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button (click)="nextDropDownList(1, 'With this code')" class="dropdown-item">With this code</button>
							<button (click)="nextDropDownList(2, 'Without this code')" class="dropdown-item">Without this code</button>
							<button (click)="nextDropDownList(3, 'With these internal IDs (comma separated)')" class="dropdown-item">With these internal IDs (comma separated)</button>
							<button (click)="nextDropDownList(4, 'With these imported IDs (comma separated)')" class="dropdown-item">With these imported IDs (comma separated)</button>
							<button (click)="nextDropDownList(5, 'That have at least one code from this set')" class="dropdown-item">That have at least one code from this set</button>
							<button (click)="nextDropDownList(6, 'That dont have any codes from this set')" class="dropdown-item">That don't have any codes from this set</button>
							<button (click)="nextDropDownList(7,'Containing this text')" class="dropdown-item">Containing this text</button>
							<button (click)="nextDropDownList(8,'With at least one document uploaded')" class="dropdown-item">With at least one document uploaded</button>
							<button (click)="nextDropDownList(9, 'Without any documents uploaded')" class="dropdown-item">Without any documents uploaded</button>
							<button (click)="nextDropDownList(10,'Without an abstract')" class="dropdown-item">Without an abstract</button>
						</div>
					</div>

					<div *ngIf="(selectedSearchDropDown == 'With this code'
						 && _eventEmitter.nodeSelected == false)
						 ||  (selectedSearchDropDown == 'Without this code'
						 && _eventEmitter.nodeSelected == false)">
						<codesets class="col-md-8"></codesets>
					</div>

						<div *ngIf="_eventEmitter.nodeSelected" class="btn-warning col-md-12 h-50" 
							 style=" text-align: center">
							<b class="font-italic">
								{{_eventEmitter.nodeName}}
							</b>
						</div>
					
					<div *ngIf="showDropDown2" ngbDropdown class="d-inline-block col-md-12">
						<button class="btn btn-info col-md-12" id="dropdownBasic2" ngbDropdownToggle></button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<div>
								<div (click)="test()" class="dropdown-item" *ngFor="let item of dropDownList">
									&nbsp; {{item.name}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="showTextBox" class="d-inline-block col-md-12 m-3">
					<div>
						<b class="col-md-4 font-italic">Comma-Separated list of IDs:</b>
						<input class="col-md-8 bg-light border-dark" type="text" name="CommaIDs"><br>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-12">
				<table class="table table-responsive  table-striped table-light card-body">
					<tr>
						<td>
							<input type="radio" value="Included" name="a" [(ngModel)]="search"><b>&nbsp; Included </b>
						</td>
						<td>
							<input type="radio" value="Excluded" name="a" [(ngModel)]="search"><b>&nbsp; Excluded</b>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4 ml-auto"></div>-
		</div>
	</div>
    <div class="modal-footer bg-primary">
        <button type="button" class="btn btn-dark" (click)="activeModal.dismiss('Cancel click')">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-secondary" 
                (click)="callSearches()">Search</button>
    </div>

