
<p *ngIf="IsServiceBusy"><em>Loading...</em></p>
<p *ngIf="(!nodes || nodes.length == 0) && !IsServiceBusy"><em>Review Contains no Coding Tools...</em></p>
<!--style="max-height: 800px; height:680px"   ng-style="_eventEmitter.testVar == 'true' ? {'width':'250px'} : {'width':'500px'}"-->
<div class="bg-light" *ngIf="nodes && nodes.length > 0 " [ngStyle]="{'max-height.px': MaxHeight}" style="overflow-y:auto;">
  <kendo-treeview #tree
                  [nodes]="nodes"
                  class="text-wrap text-break"
                  textField="name"
                  (selectionChange)="onSelectionChange($event)"
                  kendoTreeViewExpandable
                  kendoTreeViewHierarchyBinding
                  childrenField="attributes">
    <ng-template kendoTreeViewNodeTemplate let-data>
      <span *ngIf="data.nodeType == 'ReviewSet'" class="ml-0 mr-1">
        <img *ngIf="data.codingIsFinal" title="Normal Mode: single data entry for all users" src="../assets/person.png" class="mr-1" />
        <img *ngIf="!data.codingIsFinal" title="Comparison Mode: independent multi-user entry" src="../assets/team.png" class="mr-1" />
        <img *ngIf="!data.allowEditingCodeset" title="You can't edit this Coding Tool" src="../assets/CodeSetLocked.png" class="mr-1" />
      </span>
      <span [ngClass]="{'ScreeningSet' : data.subTypeName == 'Screening',
                            'AdminSet' : data.subTypeName == 'Administration',
                            'ExcludeCode' : data.subTypeName == 'Exclude'
                            }" class="mx-1">{{data.name}}</span>
    </ng-template>
  </kendo-treeview>
</div>

<div class="mt-2" *ngIf="SelectedCodeDescription != ''">
	<div class="card card-title mb-0 font-weight-bold">Code description:</div>
	<div class="card card-body mt-0 p-1 bg-white" style="max-height:150px; overflow-y:scroll" [innerHTML]="SelectedCodeDescription">
	</div>
</div>
