<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ER-Web-API.dll" shutdownTimeLimit="40" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <handlerSettings>
          <handlerSetting name="shutdownDelay" value="1000" />
        </handlerSettings>
      </aspNetCore>
	  <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
    </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: ea7d26b7-c6c3-42d9-a2a4-5ef588066ef8-->